<% provide(:title, 'About') %>
<% provide(:description, 'Learn about the story of Dr. Renjie Chang and how she invented NeuEve.') %>
<% provide(:last_modified, 'November 22, 2019') %>

<section class="mh-full-screen dark-overlay py-7 d-flex align-items-center justify-content-center">
    <%= image_tag "lifestyle/2_swans_neueve.jpg", class: "bg-image" %>
    <div class="overlay-content w-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 text-white">
                    <h6 class="text-uppercase text-white letter-spacing-5 mb-3"> About us</h6>
                    <h1 class="display-3 font-weight-bold text-shadow mb-5">We are NeuEve</h1>
                    <p class="text-lg">
                        We want to live in a world where kindness, love and helping others can make a big impact.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 about-text-column bg-gray-100">
                <div class="about-text">
                    <h6 class="text-uppercase text-muted letter-spacing-5 mb-1">Origin Story</h6>
                    <h2 class="mb-4">The Challenge</h2>
                    <p class="text-muted">
                        NeuEve's founders: <u>Dr. Renjie Chang</u> and <u><%= link_to "Kevin Tao", kevin_tao_path %></u>
                    </p>
                    <p class="text-lg text-muted">
                        As a gynecologist, it’s very common for friends to seek out Renjie for free medical advice.</p>
                    <p class="text-lg text-muted">
                        When Renjie and her friends started going through menopause, one problem stood out to her as
                        very important and unaddressed.</p>
                    <p class="text-lg text-muted">
                        Her friends reluctantly shared their stories of memories of
                        once passionate romance, physical and emotional pain, and fears of loss.</p>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column">
                <%= image_tag "Dr-Renjie-Chang-Founder-NeuEve.jpg", class: "bg-image" %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 about-text-column order-lg-2">
                <div class="about-text">
                    <h6 class="text-uppercase text-muted letter-spacing-5 mb-1">Origin Story</h6>
                    <h2 class="mb-4">The Invention</h2>
                    <p class="text-lg text-muted">
                        Renjie was not the kind of person that can be happy with only saying supportive words. She always preferred action.
                    </p>
                    <p class="text-lg text-muted">
                        She buried herself for weeks underground in her lab surrounded with medical science journals and natural ingredients.
                    </p>
                    <p class="text-lg text-muted">
                        Despite the increasing worries of her husband and her son, she did not emerge until she had a prototype of the very first batch of NeuEve.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column order-lg-1">
                <%= image_tag "product/general/NeuEve_GreenBkgrd.jpg", class: "bg-image" %>
            </div>
        </div>
    </div>
</section>

<section class="py-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h6 class="text-uppercase text-muted letter-spacing-5 mb-1">Principles</h6>
                <h2 class="mb-4">What We Stand For</h2>
            </div>
            <div class="col-lg-6 ml-lg-auto">
                <div class="row">
                    <div class="col-sm-6 mb-4">
                        <h4>Love</h4>
                        <p class="text-muted">We invented NeuEve to promote love.</p>
                        <p class="text-muted">Love means trust, and trust means taking a chance.</p>
                        <p class="text-muted">Our <%= link_to '100% Satisfaction Guarantee', satisfaction_path %> is our way of taking a chance to show that we love and trust you.</p>
                        <p class="text-muted">Love also means support in good times and bad, so we created a private <%= link_to 'Pelvic Health support group', 'https://www.facebook.com/groups/pelvichealthallies' %> for you.</p>


                    </div>
                    <div class="col-sm-6 mb-4">
                        <h4>Science</h4>
                        <p class="text-muted">We believe that science is the power to help others and make a difference.</p>
                        <p class="text-muted">We support the scientific community:</p>
                        <ul>
                            <li>
                                <p class="text-muted">We give out scholarships to grad students for women's health.
                                    [<%= link_to '1','https://www.neueve.com/blog/meet-ana-palmeire-de-oliveira-winner-of-the-neueve-award-for-best-contribution-in-vulvo-vaginitis-research/' %>,
                                    <%= link_to '2','https://www.neueve.com/blog/meet-julian-marschalek-winner-of-the-neueve-award-for-best-contribution-in-vulvo-vaginitis-research/' %>]</p>
                            </li>
                            <li>
                                <p class="text-muted">We revived all of the content of a
                                    <%= link_to 'medical journal','https://www.neueve.com/blog/immunome-research-archive/' %>
                                    that went offline and out of print.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 mb-4">
                        <h4>Doing What is Right</h4>
                        <p class="text-muted">Ethics are the core of who we are.</p>
                        <p class="text-muted">We invented NeuEve because other products contain hormones and harmful chemicals.</p>
                        <p class="text-muted">
                            In the women's health products space, many companies and their shareholders don't seem to care about anything other than making money.</p>
                        <p class="text-muted">We're changing that.</p>
                        <p class="text-muted">We are <%= link_to 'certified cruelty free','https://www.neueve.com/blog/cruelty-free-certified/' %> and we are members of 1% for the Planet.</p>
                        <div class="row">
                            <div class="col-6 text-center">
                                <%= link_to image_tag('LeapingBunny-Logo.png', :class => '', :height => '100',
                                                      alt: 'Leaping Bunny Seal'), 'https://www.neueve.com/blog/cruelty-free-certified/' %>
                            </div>
                            <div class="col-6 text-center">
                                <%= image_tag("OnePercentFTP.png", :class => '', :height => '100',
                                              alt: '1% for the Planet Seal') %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
