<% provide(:title, 'About') %>
<% provide(:description, 'Learn about the story of Dr. Renjie Chang and how she invented NeuEve.') %>
<% provide(:last_modified, 'November 20, 2019') %>

<section class="mh-full-screen dark-overlay py-7 d-flex align-items-center justify-content-center"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-5/img/photo/photo-1534126511673-b6899657816a.0a721385.jpg" alt="" class="bg-image">
    <div class="overlay-content w-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 text-white">
                    <h6 class="text-uppercase text-white letter-spacing-5 mb-3"> About us</h6>
                    <h1 class="display-3 font-weight-bold text-shadow mb-5">We are Sell</h1>
                    <p class="text-lg">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item active">About Us</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">About Us</h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">


                    <div class="card mb-3" style="">
                        <div class="card-body">
                            <h5 class="card-title">NeuEve Return Policy</h5>
                            <p class="card-text">For health reasons, NeuEve vaginal products are not able to be restocked. We <strong>cannot</strong>
                                accept returns for NeuEve vaginal suppositories, NeuEve vaginal cream, or NeuEve vaginal applicators.</p>
                            <%= link_to 'NeuEve Return Policy + Satisfaction Guarantee Policy Details', satisfaction_path, class: 'card-link' %>
                        </div>
                    </div>

                    <h3>
                        Questions?
                    </h3>
                    <p>
                        See our <%= link_to 'frequently asked questions and answers here.', faq_path %>
                    </p>
                    <h4>Email:</h4>
                    <p>
                        Customer Service: <%= mail_to "help@neueve.com" %>
                    </p>
                    <p>
                        Medical Questions: <%= mail_to "medicalhelp@neueve.com" %>
                    </p>
                    <p>
                        Press Inquiries: <%= mail_to "press@neueve.com" %>
                    </p>
                    <p>
                        Partnerships (Wholesale Opportunities and Strategic Partnerships): <%= mail_to "partners@neueve.com" %>
                    </p>
                    <h4>Address:</h4>
                    <p>
                        965 W Chicago Ave, Chicago, IL 60642
                    </p>
                    <h4>Phone Number (we do NOT accept orders over the phone):</h4>
                    <p>
                        224-578-2854 - This is Kevin's personal cell phone, please only call during normal business hours for urgent
                        matters! Thanks! Texting is preferred!
                    </p>
                    <h4>Business hours (Central Standard Time):</h4>
                    <ul>
                        <li>Monday: 11am - 5pm</li>
                        <li>Tuesday: 10am - 5pm</li>
                        <li>Wednesday: 10am - 5pm</li>
                        <li>Thursday: 10am - 5pm</li>
                        <li>Friday: 10am - 5pm</li>
                    </ul>
                    <h4>Unsubscribe from Monthly Shipments:</h4>
                    <%= link_to 'Click here to unsubscribe', "https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=TERMWE8J86S96" %>
                    from automatic monthly shipments

                    <div align="center">
                        <%= link_to image_tag('amazon-5-stars.jpg', :size => "95x42"), 'http://amzn.to/2g6tUUf', target: '_blank' %>
                        <br>
                        <%= link_to 'Lavax, Inc. has 94% positive ratings on Amazon', 'http://amzn.to/2g6tUUf', target: '_blank' %>
                    </div>

                    <h3>Our Company</h3>
                    <p>
                        <%= link_to 'Lavax, Inc.', 'http://amzn.to/2g6tUUf' %> is an Illinois-based research, development, manufacturer and
                        distributor of all-natural,
                        environmentally-friendly personal health care products. We are a small, family-owned company, established nearly 14
                        years ago in Palatine, IL. Our goal is to utilize cutting edge science and technology to develop innovative health
                        care products to improve human lives. To date, our research projects have won three grants from National Institutes
                        of
                        Health and two Grand Challenge Exploration Awards from Bill & Melinda Gates Foundation.
                    <p>
                        All of our all-natural products have been developed by our team of scientists. We test our products on ourselves; we
                        wouldn't be selling them to the market if we weren't extremely satisfied with the results. All the formulas have
                        been
                        thoroughly tested and found to deliver immediate and powerful results, time after time.
                    <p>

                    <h3>Our Founder <br></h3>

                    <h4>Renjie Chang, M.D., M.S., Founder & President</h4>
                    <p>
                        Dr. Chang started the company in 1999, determined to apply the knowledge and skills she had learned from a long
                        career
                        in the field of Obstetrics and Gynecology and in the pharmaceutical industry. In the past three decades, she worked
                        as
                        an OB-GYN in the Peking Union Hospital in China, a faculty member of OB-GYN at University of Oklahoma Health
                        Sciences
                        Center, and a drug developer at the Abbott Laboratories in Chicago. She established Lavax, Inc. to develop an
                        innovative vaginal microbicide for preventing sexually transmitted disease with grants from NIH and Gates
                        Foundation.
                        While developing the sophisticated drug, she invented the all-natural NeuEve suppository as a spin-off. This
                        innovative technology has made conceptual breakthrough in women’s personal care: reversing vaginal atrophy without
                        using hormone. A patent has filed to protect its composition of natural ingredients. Because this product is a
                        cosmetic for personal care, not a drug, it can be marketed to benefit consumers much sooner.
                    <p>
                        Two Gates Foundation Grants won by Dr. Renjie Chang:
                    </p>
                    <ol>
                        <li>
                            <%= link_to 'Novel Method Protecting Infants from HIV in Breast Milk', 'https://gcgh.grandchallenges.org/grant/novel-method-protecting-infants-hiv-breast-milk' %>

                        </li>
                        <li>
                            <%= link_to 'A Novel Female-Controlled Antiviral Contraceptive', 'https://gcgh.grandchallenges.org/grant/novel-female-controlled-antiviral-contraceptive' %>

                        </li>
                    </ol>

                    <p>
                        <br>
                        <%= image_tag 'chang-lab-photo.jpg', alt: 'Dr. Renjie Chang working hard to innovate and help women.' %>
                        <br>

                    <h3>Our Team<br></h3>

                    <h4>Kevin Tao, Chief Digital Officer</h4>
                    <p>
                        Kevin Tao worked as a software developer for 6 years at Cancer IQ, Groupon and IMC Financial Markets. He graduated
                        from Duke University with a Bachelor's Degree in Biomedical Engineering. Kevin originally created this site while
                        teaching himself Ruby on Rails. His duties include marketing, answering customer support messages, helping write
                        content for this site and blog, and business development and outreach to influencers. He is passionate about making
                        a difference in people's lives and doing right by the customer.
                    </p>
                    <p>
                        <br>
                        <%= image_tag 'Kevin_Tao_NeuEve.jpg', size: "600x400", alt: 'Kevin Tao, Chief Digital Officer of NeuEve' %>
                        <br>
                    </p>
                    <p>
                        <%= link_to "More on Kevin Tao", kevin_tao_path %>
                    </p>

                    <h3>NeuEve on Social Media</h3>
                    <h4>Pelvic Health Allies</h4>
                    <p>Join <%= link_to "Pelvic Health Allies", "https://www.facebook.com/groups/PelvicHealthAllies", target: '_blank' %>, a
                        private support group we created on Facebook to discuss pelvic health issues!</p>

                    <li><%= link_to 'YouTube', 'https://www.youtube.com/user/neueve' %></li>
                    <li><%= link_to 'Facebook', 'https://www.facebook.com/neuevesuppositories' %></li>
                    <li><%= link_to 'LinkedIn', 'https://www.linkedin.com/company/neueve' %></li>
                    <li><%= link_to 'Pinterest', 'https://www.pinterest.com/neuevehealth/' %></li>


                </div>
            </div>
        </div>
    </div>
</section>
