<% provide(:title, 'Applicator for Vaginal Suppositories by NeuEve') %>
<% provide(:description, 'The NeuEve applicator is reusable and helps insert NeuEve vaginal suppositories. $5.95, FREE SHIPPING on orders >$70.') %>
<% provide(:last_modified, 'October 1, 2018') %>

<br>
<div class="jumbotron">
    <h1>Applicator for Vaginal Suppositories</h1>
</div>

<table class='table table-bordered table-striped'>
    <tr align="center" class="mobile-only">
        <td style="background-color: #ffffff">
            <div align="center">
                <%= image_tag('vaginal-suppository-applicator-NeuEve.jpg', :size => '600x450',
                              alt: 'NeuEve Vaginal Suppository Applicator') %>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td style="background-color: #ffffff" class="non-mobile-only">
            <div align="center">
                <%= image_tag('vaginal-suppository-applicator-NeuEve.jpg', :class => 'img_pair',
                              alt: 'NeuEve Vaginal Suppository Applicator') %>
            </div>
        </td>
        <td style="vertical-align:middle">
            <div itemscope itemtype="http://schema.org/Product" align="center">
                <strong>
                    <div itemprop="name">Suppository Applicator, Reusable</div>
                    <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                    <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
                </strong>
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">$5.95</span>
          <meta itemprop="priceCurrency" content="USD"/>
        </span>
                <br>

                <div class="formbutton">
                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="2R7PRXENKU33G">
                        <%= submit_tag 'Add to Cart',
                                       :class => 'btn btn-large btn-warning add-to-cart',
                                       :id => 'suppository-applicator',
                                       :name => 'submit' %>
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>

                <span class="stamped-product-reviews-badge stamped-main-badge" data-id="4000"></span>
                <hr>

                3.8 Stars on <%= link_to image_tag('amazon-4-stars.png', :size => "95x42"),
                                         create_url('https://www.amazon.com/',
                                                    ['NeuEve®-Vaginal-Suppository-Applicator-Reusable',
                                                     'product-reviews',
                                                     'B00PTOCZVY'],
                                                    {
                                                            ie: 'UTF8',
                                                            reviewerType: 'all_reviews',
                                                            showViewpoints: 0,
                                                            sortBy: 'helpful',
                                                            pageNumber: 1,
                                                            filterByStar: 'positive',
                                                            _encoding: 'UTF8',
                                                            tag: 'neu08-20',
                                                            linkCode: 'll2',
                                                            linkId: 'f0c33165cffe5d4b2714588f8de7638f',
                                                            camp: 1789,
                                                            creative: 9325
                                                    }, 'R2UP18KU9MF9WO'),
                                         :class => 'amazon-review',
                                         :id => 'applicator',
                                         :target => '_blank' %><br>


                <%= link_to 'Amazon Reviews of NeuEve Applicator'.html_safe,
                            create_url('https://www.amazon.com/',
                                       ['NeuEve®-Vaginal-Suppository-Applicator-Reusable',
                                        'product-reviews',
                                        'B00PTOCZVY'],
                                       {
                                               ie: 'UTF8',
                                               reviewerType: 'all_reviews',
                                               showViewpoints: 0,
                                               sortBy: 'helpful',
                                               pageNumber: 1,
                                               filterByStar: 'positive',
                                               _encoding: 'UTF8',
                                               tag: 'neu08-20',
                                               linkCode: 'll2',
                                               linkId: 'f0c33165cffe5d4b2714588f8de7638f',
                                               camp: 1789,
                                               creative: 9325
                                       }, 'R2UP18KU9MF9WO'),
                            :class => 'amazon-review',
                            :id => 'applicator',
                            :target => '_blank'
                %>

            </div>
        </td>
    </tr>
</table>

<h3>
    Description:
</h3>
<ul>
    <li>Using an applicator can help deliver the suppository deeper and avoid the suppository melt in the hand. Many
        customers use an applicator to help inserting suppositories.
    </li>
    <li>It is designed specially for delivering the NeuEve brand vaginal suppositories.
        It is not guaranteed to work for other brand of suppository unless the size matches.
    </li>
    <li>The internal diameter is 11mm or 3.5/8 inches.</li>
    <li>Washable and reusable.</li>
    <li>Made of plastic</li>
    <li>It is designed for delivering suppositories, not for cream or tablet.</li>
    <li>Rinse after each use</li>

</ul>
<h3>
    Instructions:
</h3>
<ol>
    <li>
        Empty bowels and bladder.
    </li>
    <li>
        Wash your hands with soap and hot water.
    </li>
    <li>
        Remove the wrapper from the suppository.
    </li>
    <li>
        Place the suppository briefly into warm water just to moisten it.
    </li>
    <li>
        Place the flat end of the suppository into the applicator.
    </li>
    <li>
        Use vaginal moisturizer, cream or lubricant on both your vagina and the applicator to ease insertion.
    </li>
    <li>
        Lie on your back, raise knees and gently insert the applicator into the vagina as far as it will comfortably go.
    </li>
    <li>
        Press the plunger gently to release the suppository.
    </li>
    <li>
        Rinse after each using.
    </li>
</ol>
<p>
    Tip: Use vaginal moisturizer, cream or lubricant to ease insertion.
</p>
<h3>
    Who Shouldn't Use the NeuEve Applicator?
</h3>
<p>
    <strong>For women over 65 or had cancer treatment, we do not recommend the NeuEve applicator.</strong>
</p>
<p>
    We suggest you to use <%= link_to 'NeuEve Cream', cream_path %> for about 1 month and then
    the <%= link_to 'NeuEve Silk', silk_path %> for about 1-4 months to ease
    dryness. You can use your fingers to insert the suppositories.
</p>
<p>
    Fingers are more gentle and easier to get a painless insertion. After your dryness is largely relieved, they can
    start using an applicator, if you want, for better delivery of the suppository.
</p>

<%= link_to '', {}, name: 'reviews' %>
<div id="stamped-main-widget"
     data-product-id="4000"
     data-name="NeuEve Applicator"
     data-url="https://www.neueve.com/applicator"
     data-image-url="https://d3ilh7i74k3q3i.cloudfront.net/assets/vaginal-suppository-applicator-NeuEve-dc186f574b89b333841a2b03e1f549cc06bd1901acfd256776d8d1079d284af3.jpg"
     data-description="Makes the use of vaginal suppositories easier. Prevents melting in fingers. Washable and reusable. Rinse after each use. It is designed specially for delivering the NeuEve brand vaginal suppositories. It is not guaranteed to work for other brand of suppository unless the size matches. The internal diameter is 3.5/8 inch."
     data-product-sku="applicator">
</div>

<div align="center">
    <%= image_tag("hormone-free-trans.gif", :size => "160x160", :class => 'seal',
                  alt: 'Hormone Free Seal') %>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <%= image_tag("no-chemical-logo-trans.gif", :size => "160x160", :class => 'seal',
                  alt: 'No Chemical Seal') %>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <%= image_tag("LeapingBunny-Logo.png", :size => "160x160", :class => "seal",
                  alt: 'Leaping Bunny Seal') %>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <%= image_tag("made-in-usa-logo-vector-400x400.png", :size => "160x160", :class => "seal",
                  alt: 'Made in USA Seal') %>
</div>