<% provide(:title, 'Bacterial Vaginosis & Vaginal Odor') %>

<div class="jumbotron">
  <h1>Bacterial Vaginosis & Vaginal Odor</h1>
</div>


<table class='table table-bordered table-striped table-condensed'>
  <thead>
  <tr>
    <th colspan="2" style="font-size:23px;">
      NeuEve BV Clear Starter Kit
    </th>
  </tr>
  </thead>
  <tr align="center">
    <td style="background-color: #ffffff">
      <div align="center">
        <%= image_tag('http://i.imgur.com/cbd6Llu.jpg', :class => 'img_pair') %>
      </div>
    </td>
    <td style="vertical-align:middle">
      <div itemscope itemtype="http://schema.org/Product" align="center">
        <strong>
          <div itemprop="name">NeuEve BV Clear Starter Kit<br>3 suppositories / pack</div>
          <meta itemprop="category"
                content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
          <meta itemprop="description"
                content="Natural suppositories for clearing bacterial vaginosis (BV). Gynecologist-tested."/>
        </strong>
                <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="price">$29.95</span>
                    <meta itemprop="priceCurrency" content="USD"/>
                </span>

        <br>


        <div class="formbutton">
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="7RQ4AK4HQGNEU">
            <%= submit_tag 'Add to Cart',
                           :class => 'btn btn-large btn-warning add-to-cart',
                           :id => 'bv-clearing-kit',
                           :name => 'submit' %>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                 height="1">
          </form>
        </div>

        <br>

        5.0 Stars on <%= link_to image_tag('http://i.imgur.com/JEp6f2al.jpg', :size => "95x42"),
                                 'http://www.amazon.com/NeuEve-Suppository-BV-Clearing-Kit/product-reviews/B00UDHYKAQ/?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=neu06-20&linkId=IIFD4NNFQPOWWBNE',
                                 :class => 'amazon-review',
                                 :id => 'bv-clearing-kit',
                                 :target => '_blank' %>

        <br>

        <%= link_to 'Amazon Reviews of NeuEve BV Clear Starter Kit'.html_safe,
                    'http://www.amazon.com/NeuEve-Suppository-BV-Clearing-Kit/product-reviews/B00UDHYKAQ/?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=neu06-20&linkId=IIFD4NNFQPOWWBNE',
                    :class => 'amazon-review',
                    :id => 'bv-clearing-kit',
                    :target => '_blank'
        %>
      </div>
    </td>
  </tr>
  <thead>
  <tr>
    <th colspan="2" style="font-size:23px;">
      NeuEve Gold Formula for Advanced BV Care
    </th>
  </tr>
  </thead>
  <tr align="center">
    <td style="background-color: #ffffff">
      <div align="center">
        <%= image_tag('http://i.imgur.com/t0d6R6d.jpg', :class => 'img_pair') %>
      </div>
    </td>
    <td style="vertical-align:middle">
      <div itemscope itemtype="http://schema.org/Product" align="center">
        <strong>
          <div itemprop="name">NeuEve Gold Formula for Advanced BV Care<br>4 suppositories / pack</div>
          <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
          <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
        </strong>
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">$51.95</span>
          <meta itemprop="priceCurrency" content="USD"/>
        </span>
        <br>

        <div class="formbutton">
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="BW3C5YD36UAS8">
            <%= submit_tag 'Add to Cart',
                           :class => 'btn btn-large btn-warning add-to-cart',
                           :id => 'gold-formula',
                           :name => 'submit' %>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>

        <br>

        5.0 Stars on <%= link_to image_tag('http://i.imgur.com/JEp6f2al.jpg', :size => "95x42"),
                                 'http://www.amazon.com/NeuEve-Suppository-Gold-formula-6/product-reviews/B00CM1T35I/?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=neu06-20&linkId=APHTOV4XRXLJH5X5',
                                 :class => 'amazon-review',
                                 :id => 'gold-formula',
                                 :target => '_blank' %><br>


        <%= link_to 'Amazon Reviews of NeuEve Gold'.html_safe,
                    'http://www.amazon.com/NeuEve-Suppository-Gold-formula-6/product-reviews/B00CM1T35I/?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=neu06-20&linkId=APHTOV4XRXLJH5X5',
                    :class => 'amazon-review',
                    :id => 'gold-formula',
                    :target => '_blank' %>

      </div>
    </td>
  </tr>
</table>

<br>
<ul>
  <li>
    Natural remedy of vaginal odor, foul smell, and other symptoms associated with bacterial vaginosis (BV). All
    natural, organic, green, and food-grade ingredients. No drugs, no antiseptics, no chemicals, no preservatives,
    no herbs, and no hormones.
  </li>
  <br>
  <li>
    Research found that douches and antiseptics (e.g., vinegar, boric acid, borax, hydrogen peroxide, and baking
    soda) may not clear vaginal odor; they can cause more vaginal odor and BV by disrupting vaginal ecology. NeuEve
    clears odor, foul smell and BV naturally, rapidly and safely by restoring vaginal ecology. The result is long
    lasting.
  </li>
  <br>
  <li>
    Great for recurrent and tenacious vaginal odor and BV that other products cannot clear; NeuEve is the only
    product available that can clear BV and stop BV from coming back for good.
  </li>
  <br>
  <li>
    Tired of the false promise offered by other products and frequent recurrence of BV? Try NeuEve BV Clear Starter Kit.
  </li>
  <br>
  <li>
    Say "goodbye" to vaginal odor, foul smell and BV for good!
  </li>
  <br>
  <li>
    We are so confident that your vaginal odor, foul smell and BV will be cleared that we offer you 100% customer
    satisfaction guarantee or your money back.
  </li>
  <br>
  <li>
    Gold formula is the strongest NeuEve formula for BV care. It can clear BV more effectively than the BV Clear Starter
    Kit. However, due to increasing in strength, some women may be sensitive to it. If you are a first-time user of
    NeuEve, please try the milder NeuEve BV Clear Starter Kit first as it can clear BV for more than 80% of women.
  </li>
  <br>
  <li>
    If you have tried the NeuEve BV Clear Starter Kit and it does not clear BV for you, you can try this Gold formula.
    Note: the NeuEve Gold formula can only clear BV-associated symptoms, nothing else. After using the Gold formula, if
    symptoms persist, please visit a gynecologist for a checkup. Your condition might not be BV as other things, like
    yeast and trichomoniasis and certain STIs can also cause odor. However, if your BV is confirmed by a gynecologist,
    use the Gold formula can help you clear BV more effectively than other products.
  </li>
  <br>
  <li>
    Clear recurrent and tenacious BV, relieve odor. For BV relief, use after the BV Clear Starter Kit. If you are
    post-menopausal or older than 50, combining the use of NeuEve cream helps relieve itching and burning.
  </li>
  <br>
  <li>
    For BV recovery, use 1-in-3 days. In most case, BV may be cleared with 1-2 suppositories. Once BV clears, using one
    NeuEve Gold formula after menses, it helps stop BV from coming back for the month.
  </li>
</ul>
<br>

<h3>
  What is bacterial vaginosis?
</h3>
<p>
  Bacterial vaginosis (BV) is a syndrome (a set of signs and symptoms) caused
  by the over growth of certain bacteria in the vagina. One of the most noticeable
  symptoms is unpleasant vaginal odor. Some textbooks say BV is an infection, but in
  reality, BV is not a true infection but an upset of the vaginal normal ecology. Ecology
  is the interactions among organisms and their environment. To help you understand the
  vaginal ecology, let us look at the ecology of a river as an example. Under the normal
  condition when the river has sufficient water, there are many fish in it. If the water level
  of the river is running low, the number of fish would decrease and amphibians would
  thrive. This creates an ecological shift. During an episode of BV the good bacterium,
  Lactobacillus, decreases and the unwanted harmful bacteria increase. The cause for
  such an ecological shift is not clear. Suspected factors include antibiotic use, douching,
  hormone reduction due to menopause or pregnancy, and a change of sexual partner. BV
  is the most common vaginal discomfort in women of childbearing age.
<h3>
  What are the signs of BV?
</h3>
<p>
  Women with BV may have an abnormal vaginal discharge with an unpleasant
  odor. Some women report a strong fish-like odor, especially after sex. The discharge can
  be white (milky) or gray. It may also be foamy or watery. Other symptoms may include
  burning when urinating, itching around the outside of the vagina, and irritation. These
  symptoms may also be caused by another type of infection, so it is important to see a
  doctor. Some women with BV have no symptoms at all.
<p>
<h3>
  How is BV treated by a doctor?
</h3>
<p>
  BV is treated with antibiotic medicines prescribed by doctors. These may
  include metronidazole and clindamycin. However, these antibiotics often do not work.
  Continuous use can cause side effects, such as yeast infection.
<h3>
  Why antibiotics for BV often do not work?
</h3>
<p>
  Current treatment options for BV are antibiotics such as metronidazole and
  clindamycin, which are often ineffective. They either do not clear the odor or the odor
  comes right back after the antibiotics are stopped. The reason is that the root cause of
  BV is not a true bacterial infection. Rather, it is an imbalance between “good” and “bad”
  bacteria. Let us use the river ecology again as an example. Killing the “amphibians”
  (bad bacteria) by antibiotics does not increase the number of fish (good bacteria) if the
  water level in the river is low. Therefore, any method that does not address the root
  cause of BV, the vaginal ecological imbalance, is not effective for clearing BV.
</p>
<h3>
  Why home remedies for BV do not work?
</h3>
<p>
  The most common home remedy for BV is douching. Research found that
  douching often causes severe BV with more vaginal odor because it further disrupts
  vaginal ecology. This forces women to buy more douches and become trapped in a cycle
  of douching. Douching is the worst thing for managing vaginal odor. If you want to
  avoid BV never douche.
</p>
<p>
  Another common home remedy for BV is oral or vaginal Lactobacillus capsules
  (probiotic formula) or yogurt that contains lactobacilli. Theoretically, adding more
  “good” bacteria into the vagina should help restore the balance between the “good” and
  “bad” bacteria. Unfortunately, in reality it does not work. The right vaginal ecology
  cannot be restored without addressing the most important ecological factor ─ the
  environment. Let us use the river ecology example again. Putting more live fish (good
  bacteria) into a dried river to outnumber amphibians (bad bacteria) will result in more
  dead fish.
</p>
<p>
  Other home remedies for BV include apple cider vinegar, hydrogen peroxide,
  boric acid, borax, garlic, folic acid, vitamin C pills, etc. All these products are fully or
  partially antiseptic. They may temporarily reduce the number of vaginal bacteria, but
  once the application stops, the “bad” bacteria grow right back.
</p>
<p>
  Since BV sometime recovers by itself, these so called BV remedies, including the
  antibiotics prescribed by doctors, occasionally show effects. This is actually a placebo
  effect. Overall, there are no effective products that can truly clear BV and vaginal odor
  without addressing its root cause.
</p>

<h3>
  NeuEve: a breakthrough innovation to clear BV and vaginal odor
</h3>
<p>
  The patented NeuEve suppository is designed by Dr. Chang, a gynecologist,
  and is made with all FDA-approved natural and safe ingredients. It can clear BV and
  eliminate vaginal odor by a mechanism called ecological restoration. A major reason
  for vaginal ecological imbalance is caused by the lack of available nutrients for the
  “good” bacteria. By supplementing the right combination of nutrients (prebiotics) for the
  “good” bacteria, the dominance of the “good” bacteria can be restored. This results in
  the elimination of BV rapidly with a long-lasting effect. Due to the scientific design for
  ecological restoration that addresses the root cause of BV, the NeuEve suppository is the
  only available product on the market today that can both clear BV effectively and stop
  BV from ever coming back.
</p>

<h3>
  The NeuEve BV Clear Starter Kit
</h3>

<p>
  Each NeuEve BV Clear Starter Kit contains 3 suppositories. Use one every 3 days.
  To avoid leakage after application, insert the suppository at the bedtime. After inserting
  the first suppository, you may notice the odor diminishing within the first 24 hours. By
  continuing to use the two additional suppositories, you ensure the clearance of BV and
  vaginal odor. If you have had only one episode of BV, one BV Clearing Kit may be
  enough for you. However, if you have had recurrent BV for years, after BV is cleared up
  with one kit, you can use NeuEve suppositories regularly after each menses. This will
  stop BV from ever coming back.
</p>

<h3>
  Advantages of NeuEve BV Clear Starter Kit
</h3>

<ul>
  <li>
    All natural, organic, green and food-grade safe ingredients of plant source.
  </li>
  <li>
    Free of drugs, herbs, chemicals, preservatives and artificial fragrances.
  </li>
  <li>
    Fast relief of vaginal odor and other symptoms associated with BV.
  </li>
  <li>
    Regular use can stop BV from ever coming back.
  </li>
  <li>
    Long lasting effect.
  </li>
  <li>
    No side effects.
  </li>
  <li>
    100% satisfaction guarantee or your money back.
  </li>
</ul>

<h3>

  Scientific breakthrough in BV clearance

</h3>

<p>
  Antimicrobials (antibiotics and antiseptics) are not effective. Overuse can cause drug resistance and yeast
  infection as they do not address the root cause of BV. NeuEve clears BV by ecological restoration and is the only
  product on the market that can clear BV and stop BV from ever coming back. It is made with all natural, food-grade
  ingredients without any chemicals and preservatives.
</p>

<p>
  <strong>Tip:</strong> A BV Clearing Kit is effective for most women. If you have tenacious BV, one BV Clearing Kit may
  still work. In
  case it is not sufficient, you can try the NeuEve Gold formula, which can clear BV more effectively. After BV is
  cleared, applying the NeuEve Gold formula once a month can stop BV from coming back.
</p>

<p>
  <strong>Note:</strong> The BV Clearing Kit only helps clear symptoms associated with BV. If symptoms persist, things
  other than BV such as yeast, trichomoniasis, and certain STIs may be involved. You need to visit a gynecologist to
  have a checkup.
</p>

<h3>
  What customers said about NeuEve:
</h3>

<p class="testimonial">
  “I am using your product for BV. The result is absolutely wonderful!!! I seem to

  be clearing exceptionally well. BV has been a longstanding problem for me and I went

  from product to product for years. Thanks a million for creating this wonderful product. I

  will be sharing the information and my success with my primary care physician.”

  <br><br>

  “I have had this awful smell for many years and tried everything possible but

  nothing worked, not even prescription drugs. This product really works.”

  <br><br>

  “This thing works. The bad odor is gone and I feel really good.”

  <br><br>

  “I have had BV for many years and have seen several OB/GYN doctors and taken

  different drugs, but nothing worked. Your product is a godsend. Only one suppository

  and the odor is gone. I thank you, thank you, and thank you!!!”

  <br><br>
</p>

<table class='table table-bordered table-striped'>


  <thead>
  <tr>
    <th colspan="2" style="font-size:23px;">
      NeuEve BV Clear Starter Kit
    </th>
  </tr>
  </thead>
  <tr align="center">
    <td style="background-color: #ffffff">
      <div align="center">
        <%= image_tag('http://i.imgur.com/cbd6Llu.jpg', :class => 'img_pair') %>
      </div>
    </td>
    <td style="vertical-align:middle">
      <div itemscope itemtype="http://schema.org/Product" align="center">
        <strong>
          <div itemprop="name">NeuEve BV Clear Starter Kit<br>3 suppositories / pack</div>
          <meta itemprop="category"
                content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
          <meta itemprop="description"
                content="Natural suppositories for clearing bacterial vaginosis (BV). Gynecologist-tested."/>
        </strong>
                <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="price">$29.95</span>
                    <meta itemprop="priceCurrency" content="USD"/>
                </span>

        <br>


        <div class="formbutton">
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="7RQ4AK4HQGNEU">
            <%= submit_tag 'Add to Cart',
                           :class => 'btn btn-large btn-warning add-to-cart',
                           :id => 'bv-clearing-kit',
                           :name => 'submit' %>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                 height="1">
          </form>
        </div>

        <br>

        5.0 Stars on <%= link_to image_tag('http://i.imgur.com/JEp6f2al.jpg', :size => "95x42"),
                                 'http://www.amazon.com/NeuEve-Suppository-BV-Clearing-Kit/product-reviews/B00UDHYKAQ/?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=neu06-20&linkId=IIFD4NNFQPOWWBNE',
                                 :class => 'amazon-review',
                                 :id => 'bv-clearing-kit',
                                 :target => '_blank' %>

        <br>

        <%= link_to 'Amazon Reviews of NeuEve BV Clear Starter Kit'.html_safe,
                    'http://www.amazon.com/NeuEve-Suppository-BV-Clearing-Kit/product-reviews/B00UDHYKAQ/?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=neu06-20&linkId=IIFD4NNFQPOWWBNE',
                    :class => 'amazon-review',
                    :id => 'bv-clearing-kit',
                    :target => '_blank'
        %>
      </div>
    </td>
  </tr>

  <thead>
  <tr>
    <th colspan="2" style="font-size:23px;">
      NeuEve Gold Formula for Advanced BV Care
    </th>
  </tr>
  </thead>
  <tr align="center">
    <td style="background-color: #ffffff">
      <div align="center">
        <%= image_tag('http://i.imgur.com/t0d6R6d.jpg', :class => 'img_pair') %>
      </div>
    </td>
    <td style="vertical-align:middle">
      <div itemscope itemtype="http://schema.org/Product" align="center">
        <strong>
          <div itemprop="name">NeuEve Gold Formula for Advanced BV Care<br>4 suppositories / pack</div>
          <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
          <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
        </strong>
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">$51.95</span>
          <meta itemprop="priceCurrency" content="USD"/>
        </span>
        <br>

        <div class="formbutton">
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="BW3C5YD36UAS8">
            <%= submit_tag 'Add to Cart',
                           :class => 'btn btn-large btn-warning add-to-cart',
                           :id => 'gold-formula',
                           :name => 'submit' %>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>

        <br>

        5.0 Stars on <%= link_to image_tag('http://i.imgur.com/JEp6f2al.jpg', :size => "95x42"),
                                 'http://www.amazon.com/NeuEve-Suppository-Gold-formula-6/product-reviews/B00CM1T35I/?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=neu06-20&linkId=APHTOV4XRXLJH5X5',
                                 :class => 'amazon-review',
                                 :id => 'gold-formula',
                                 :target => '_blank' %><br>


        <%= link_to 'Amazon Reviews of NeuEve Gold'.html_safe,
                    'http://www.amazon.com/NeuEve-Suppository-Gold-formula-6/product-reviews/B00CM1T35I/?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=neu06-20&linkId=APHTOV4XRXLJH5X5',
                    :class => 'amazon-review',
                    :id => 'gold-formula',
                    :target => '_blank' %>

      </div>
    </td>
  </tr>

  <tr>
    <th colspan="4">
      Shipping is $5.95. Free shipping on all orders over $70!<br><br>
      Shipping to Canada and Mexico is $8.95 USD, and only $3 USD for orders over $70.<br>
      Shipping internationally is $15 USD, and only $9 USD for orders over $70.
    </th>
  </tr>

  <tr>
    <td colspan="4">
      <div align="center">
        <%= image_tag("http://i.imgur.com/oMW7Oke.png", :size => "300x300", :class => "applicator") %>
        <br>

        We offer a 100% customer satisfaction guarantee on all of our products.
        <br>
        We are so confident our products will make a noticeable difference in your wellness that if any product
        <br>
        does not meet your highest expectations, return the product within 30 days for a full credit or
        exchange.
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIG1QYJKoZIhvcNAQcEoIIGxjCCBsICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCNQO19e7zmuCo3HnXXWJA5JVqigmiwdLTAf7NTDGxHean0xO0aAB+aRUZLySr74Aboij9+eyfyMYrGchLRNn46sS+qUdLqIZjHeGOkjZ/9Wy1tLUm8jdbpyF7xwRafRL+QCsw43RD7/CGmp6DV38m3GuweE9WkhC+KPAz8E+1poDELMAkGBSsOAwIaBQAwUwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAjD5FE/JprhLYAwijyzIAUj7bvH2yqeTnC7Y2tbGxgrRAC8wg/obPOD9E5lTMpWT6lpaEkasbjA2TV7oIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTQwNDA2MTY0MjE2WjAjBgkqhkiG9w0BCQQxFgQUcA4WEKohTDQDLhYo0noKzOsJLo4wDQYJKoZIhvcNAQEBBQAEgYAq2tAYAimkXzzmVHa+lxuzo4LBSwoD8Xx+x0OtgZJBv1dYfr76Bco/H58PJSH1vaMCviT9c5q+gQOpxZz6M+XmypPsFtH2jV5eKE/WU1YADwld96YvS9r+fVLptBVYGYTIeI1lDiSV6PJM/JIBfa7EVLeK6aWa0nkmi5ThXbEmoA==-----END PKCS7-----
">
          <%= submit_tag 'View Your Shopping Cart', :class => 'btn btn-large btn-info view-cart', :name =>
                                                          'submit' %>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
               height="1">
        </form>
      </div>
    </td>
  </tr>
</table>


<br>

<br>

<em>
  Disclaimer: The statements and products referred to throughout this site have not been evaluated by the FDA. They
  are
  not intended to diagnose, treat, cure or prevent any disease.
</em>
<br><br>

<div>
  <em>NeuEve has never been tested on animals, and does not contain any animal products.</em><br>
</div>
<div align="center">
  <%= image_tag("http://i.imgur.com/QK8GxTM.png", :size => "160x160", :class => "seal") %>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <%= image_tag("http://i.imgur.com/DioMTQHl.gif", :size => "160x160", :class => "seal") %>
</div>


<img src="http://ir-na.amazon-adsystem.com/e/ir?t=neu06-20&l=ur2&o=1" width="1" height="1" border="0" alt=""
     style="border:none !important; margin:0px !important;"/>