<% provide(:title, 'Natural Remedies for Recurrent Bacterial Vaginosis'.html_safe) %>
<% provide(:description, 'Fast All-Natural Remedy for BV for $42.95. NeuEve works quickly to rebalances your vaginal ecology. Satisfaction is 100% guaranteed.') %>
<% provide(:last_modified, 'December 11, 2018') %>

<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item active">BV Clear</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">Natural Relief for BV</h1>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="mx-auto">
            <div class="row align-items-center">
                <div class="col-md-8 pb-3">
                    <div class="row pb-2">
                        <div class="col-12 detail-carousel">
                            <div data-slider-id="1" class="owl-carousel detail-slider">
                                <div class="item">
                                    <%= image_tag('product/bv_clear/NeuEve_BV_Clear_Field.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve BV Clear is a 100% all-natural vaginal suppository.'
                                        ) %>
                                </div>
                                <div class="item">
                                    <%= image_tag('product/bv_clear/NeuEve_BV_Clear_Orange.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve BV Clear is a 100% all-natural vaginal suppository. 1% of revenues are donated to help the environment.'
                                        ) %>
                                </div>
                                <div class="item">
                                    <%= image_tag('product/general/NeuEve_Single_Suppository.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve suppositories are made from organic coconut oil and palm oil'
                                        ) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pr-0">
                            <div data-slider-id="1" class="owl-thumbs">
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/bv_clear/NeuEve_BV_Clear_Field.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve BV Clear is a 100% all-natural vaginal suppository. It does not contain any boric acid.'
                                        ) %>
                                </button>
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/bv_clear/NeuEve_BV_Clear_Orange.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve BV Clear is a 100% all-natural vaginal suppository. 1% of revenues are donated to help the environment.'
                                        ) %>
                                </button>
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/general/NeuEve_Single_Suppository.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve suppositories are made from organic coconut oil and palm oil'
                                        ) %>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 align-middle text-center">
                    <div class="" itemscope itemtype="http://schema.org/Product">
                        <strong>
                            <div itemprop="name">NeuEve BV Clear<br>3 suppositories</div>
                            <meta itemprop="category"
                                  content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                            <meta itemprop="description"
                                  content="Natural suppositories for clearing bacterial vaginosis (BV). Gynecologist-tested."/>
                        </strong>

                        <div class="row pt-2">
                                <div class="col-12 pb-2">
                                    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <span itemprop="price">$42.95</span>
                                        <meta itemprop="priceCurrency" content="USD"/>
                                    </span>
                                    <br>
                                    <div class="formbutton">
                                        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="hosted_button_id" value="7RQ4AK4HQGNEU">
                                            <%= button_tag(type: 'submit',
                                                           class: 'btn btn-large btn-warning add-to-cart',
                                                           id: 'bv-clearing-kit',
                                                           name: 'submit') do %>
                                                <svg class="svg-icon"><use xlink:href="#add-to-cart-1"></use></svg>
                                                Add to Cart
                                            <% end %>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-12">
                                    $39.95 / mo
                                    <div class="formbutton">
                                        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="hosted_button_id" value="N2UB5H7CFVVN8">
                                            <%= button_tag(type: 'submit',
                                                           class: 'btn btn-large btn-warning subscribe',
                                                           id: 'bv-clearing-kit',
                                                           name: 'submit') do %>
                                                <i class="fas fa-sync-alt svg-icon"></i>
                                                Subscribe

                                            <% end %>
                                        </form>
                                    </div>
                                    <div class="text-sm">(Min. 3 Months)</div>
                                </div>
                            </div>


                        <span class="stamped-product-reviews-badge stamped-main-badge" data-id="5000"></span>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-md-8 pb-3">
                    <%= image_tag('product/bv_clear/NeuEve_BV_Clear_4pack.jpg', :class => 'img_pair img-fluid',
                                  alt: 'NeuEve BV Clear is a 100% all-natural vaginal suppository and a natural remedy
                                  for bacterial vaginosis. It uses essential oils and vitamins to rebalance the natural pH.'
                        ) %>
                </div>
                <div class="col-md-4 text-center">
                    <div itemscope itemtype="http://schema.org/Product" align="center">
                        <strong>
                            <div itemprop="name">Four Boxes of BV Clear</div>

                            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                            <meta itemprop="description" content="Natural suppositories for clearing bacterial vaginosis (BV). Gynecologist-tested."/>
                        </strong>
                        12 suppositories
                        <br>
                        <div>
                            Bulk Discount:
                        </div>
                <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <strike>$172</strike> <i class="fas fa-long-arrow-alt-right"></i> <span itemprop="price">$152</span>
                  <meta itemprop="priceCurrency" content="USD"/>
                </span>

                        <div>
                            Save $20!
                        </div>
                        <br>

                        <div class="formbutton">
                            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="TLWZFYM497GXY">
                                <%= button_tag(type: 'submit',
                                               class: 'btn btn-large btn-warning add-to-cart',
                                               id: 'bv-clearing-kit',
                                               name: 'submit') do %>
                                    <svg class="svg-icon">
                                        <use xlink:href="#add-to-cart-1"></use>
                                    </svg>
                                    Add 4 Boxes to Cart
                                <% end %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-3 mx-auto col-lg-8 justify-content-center">
                <p>Free Shipping in the United States</p>
                <p>Shipping to Canada is $5 USD</p>
                <p>Due to COVID issues, we are NOT shipping outside US and Canada</p>
                <p>Note: Please check your PayPal account to make sure your shipping address is up to date.</p>
                <p>We always ship in discreet packaging.</p>
            </div>
        </div>
    </div>
</section>

<%= render 'layouts/order_now_bv' %>