<% provide(:title, 'Natural Remedies for Recurrent Bacterial Vaginosis'.html_safe) %>
<% provide(:description, 'Fast All-Natural Remedy for BV for $34.95. NeuEve works quickly to rebalances your vaginal ecology. Satisfaction is 100% guaranteed.') %>
<% provide(:last_modified, 'March 28, 2018') %>

<div class="jumbotron">
  <h1>Want relief for Recurrent BV?</h1>
</div>

<table class='table table-bordered table-striped table-condensed'>
  <thead>
  <tr>
    <th colspan="2" style="font-size:23px;" class="non-mobile-only">
      NeuEve BV Clear Starter Kit
    </th>
      <th colspan="1" style="font-size:23px;" class="mobile-only">
          NeuEve BV Clear Starter Kit
      </th>
  </tr>
  </thead>
    <tr align="center" class="mobile-only">
        <td style="background-color: #ffffff">
            <div align="center">
                <%= image_tag('bv_clearing_kit_NeuEve.jpg', :size => '600x450',
                              alt: 'NeuEve BV Clear Kit is a 100% all-natural vaginal suppository. It helps alleviate fishy vaginal odor and bacterial vaginosis.') %>
            </div>
        </td>
    </tr>
  <tr align="center">
    <td style="background-color: #ffffff" class="non-mobile-only">
      <div align="center">
        <%= image_tag('bv_clearing_kit_NeuEve.jpg', :class => 'img_pair',
                      alt: 'NeuEve BV Clear Kit is a 100% all-natural vaginal suppository. It helps alleviate fishy vaginal odor and bacterial vaginosis.') %>
      </div>
    </td>
    <td style="vertical-align:middle">
      <div itemscope itemtype="http://schema.org/Product" align="center">
        <strong>
          <div itemprop="name">NeuEve BV Clear Starter Kit<br>4 suppositories</div>
          <meta itemprop="category"
                content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
          <meta itemprop="description"
                content="Natural suppositories for clearing bacterial vaginosis (BV). Gynecologist-tested."/>
        </strong>
                <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="price">$34.95</span>
                    <meta itemprop="priceCurrency" content="USD"/>
                </span>

        <br>


        <div class="formbutton">
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="7RQ4AK4HQGNEU">
            <%= submit_tag 'Add to Cart',
                           :class => 'btn btn-large btn-warning add-to-cart',
                           :id => 'bv-clearing-kit',
                           :name => 'submit' %>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                 height="1">
          </form>
        </div>

        <br>
          3.3 Stars on <%= link_to image_tag('amazon-4-stars.png', :size => "95x42"),
                                   create_url('https://www.amazon.com/',
                                              ['NeuEve-Suppository-Clear-Starter-Kit',
                                               'product-reviews',
                                               'B00UDHYKAQ'],
                                              {
                                                      ie:'UTF8',
                                                      reviewerType:'all_reviews',
                                                      showViewpoints:0,
                                                      sortBy:'helpful',
                                                      pageNumber:1,
                                                      filterByStar:'positive',
                                                      _encoding:'UTF8',
                                                      tag:'neu08-20',
                                                      linkCode:'ll2',
                                                      linkId:'164b5e362a9613f2ba7b6068436f65a9',
                                                      camp:1789,
                                                      creative: 9325
                                              }, 'R27AT6BW48A8FZ'),
                                   :class => 'amazon-review',
                                   :id => 'bv-clearing-kit',
                                   :target => '_blank' %><br>


          <%= link_to 'Amazon Reviews of NeuEve BV Clear Starter Kit'.html_safe,
                      create_url('https://www.amazon.com/',
                                 ['NeuEve-Suppository-Clear-Starter-Kit',
                                  'product-reviews',
                                  'B00UDHYKAQ'],
                                 {
                                         ie:'UTF8',
                                         reviewerType:'all_reviews',
                                         showViewpoints:0,
                                         sortBy:'helpful',
                                         pageNumber:1,
                                         filterByStar:'positive',
                                         _encoding:'UTF8',
                                         tag:'neu08-20',
                                         linkCode:'ll2',
                                         linkId:'164b5e362a9613f2ba7b6068436f65a9',
                                         camp:1789,
                                         creative: 9325
                                 }, 'R27AT6BW48A8FZ'),
                      :class => 'amazon-review',
                      :id => 'bv-clearing-kit',
                      :target => '_blank'
          %>
      </div>
    </td>
  </tr>
  <thead>
  <tr>
    <th colspan="2" style="font-size:23px;" class="non-mobile-only">
      NeuEve Gold Formula for Advanced BV Care
    </th>
      <th colspan="2" style="font-size:23px;" class="mobile-only">
          NeuEve Gold Formula for Advanced BV Care
      </th>
  </tr>
  </thead>
    <tr align="center" class="mobile-only">
        <td style="background-color: #ffffff">
            <div align="center">
                <%= image_tag('gold_NeuEve_vaginal_suppository.jpg', :size => '600x450',
                              alt: 'NeuEve Gold Formula is a 100% all-natural vaginal suppository. It helps alleviate chronic recurrent bacterial vaginosis.') %>
            </div>
        </td>
    </tr>
  <tr align="center">
    <td style="background-color: #ffffff" class="non-mobile-only">
      <div align="center">
        <%= image_tag('gold_NeuEve_vaginal_suppository.jpg', :class => 'img_pair',
                      alt: 'NeuEve Gold Formula is a 100% all-natural vaginal suppository. It helps alleviate chronic recurrent bacterial vaginosis.') %>
      </div>
    </td>
    <td style="vertical-align:middle">
      <div itemscope itemtype="http://schema.org/Product" align="center">
        <strong>
          <div itemprop="name">NeuEve Gold Formula for Advanced BV Care<br>4 suppositories</div>
          <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
          <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
        </strong>
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">$51.95</span>
          <meta itemprop="priceCurrency" content="USD"/>
        </span>
        <br>

        <div class="formbutton">
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="BW3C5YD36UAS8">
            <%= submit_tag 'Add to Cart',
                           :class => 'btn btn-large btn-warning add-to-cart',
                           :id => 'gold-formula',
                           :name => 'submit' %>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>

        <br>

        3.5 Stars on <%= link_to image_tag('amazon-4-stars.png', :size => "95x42"),
                                                      create_url('https://www.amazon.com/',
                                                                 ['NeuEve-Suppository-Gold-formula-6',
                                                                  'product-reviews',
                                                                  'B00CM1T35I'],
                                                                 {
                                                                         ie:'UTF8',
                                                                         reviewerType:'all_reviews',
                                                                         showViewpoints:0,
                                                                         sortBy:'helpful',
                                                                         pageNumber:1,
                                                                         filterByStar:'positive',
                                                                         _encoding:'UTF8',
                                                                         tag:'neu08-20',
                                                                         linkCode:'ur2',
                                                                         linkId:'HSNLHLCPIAWK6RZM',
                                                                         camp:1789,
                                                                         creative: 9325
                                                                 }, 'R34NC759R1IWN8'),
                                                      :class => 'amazon-review',
                                                      :id => 'gold-formula',
                                                      :target => '_blank' %><br>


          <%= link_to 'Amazon Reviews of NeuEve Gold'.html_safe,
                      create_url('https://www.amazon.com/',
                                 ['NeuEve-Suppository-Gold-formula-6',
                                  'product-reviews',
                                  'B00CM1T35I'],
                                 {
                                         ie:'UTF8',
                                         reviewerType:'all_reviews',
                                         showViewpoints:0,
                                         sortBy:'helpful',
                                         pageNumber:1,
                                         filterByStar:'positive',
                                         _encoding:'UTF8',
                                         tag:'neu08-20',
                                         linkCode:'ur2',
                                         linkId:'HSNLHLCPIAWK6RZM',
                                         camp:1789,
                                         creative: 9325
                                 }, 'R34NC759R1IWN8'),
                      :class => 'amazon-review',
                      :id => 'gold-formula',
                      :target => '_blank' %>


      </div>
    </td>
  </tr>
</table>

<%= render 'layouts/order_now_bv' %>