<% provide(:title, 'Order Now') %>

<div class="jumbotron">
  <h1>Buy NeuEve</h1>
</div>

<font size="3%">
  <p>
    <strong>
      Before purchasing, please read the <%= link_to "legal disclaimer", disclaimer_path %>.
    </strong>
  </p>
</font>

<h3>
  Purchase NeuEve below:
</h3>

<p>
  NeuEve Silver Formula
</p>
<table border="1">
  <tr>
    <th colspan="1">$29 for 1 Month Supply (6 Suppositories)</th>

  </tr>

  <tr>
    <td><%= image_tag "https://dl.dropboxusercontent.com/u/29513364/Silver-6-front.JPG", :size => "500x500" %></td>
  </tr>

  <tr>
    <th colspan="1">$49 for 2 Month Supply (12 Suppositories)</th>

  </tr>

  <tr>
    <td><%= image_tag "https://dl.dropboxusercontent.com/u/29513364/Silver-12-front.JPG", :size => "500x500" %></td>

  </tr>


  <tr>


  </tr>
</table>

<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="SFRQJ5UTTF6WL">
  <table>
    <tr>
      <td><input type="hidden" name="on0" value="Quantity">Quantity</td>
    </tr>
    <tr>
      <td><select name="os0">
        <option value="1 Month Supply (6 Suppositories)">1 Month Supply (6 Suppositories) $29 USD</option>
        <option value="2 Month Supply (12 Suppositories)">2 Month Supply (12 Suppositories) $49 USD</option>
      </select></td>
    </tr>
  </table>
  <input type="hidden" name="currency_code" value="USD">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>



<p>
  NeuEve Gold Formula
</p>
<table border="1">
  <tr>
    <th colspan="1">$49 for 1 Month Supply (6 Suppositories)</th>

  </tr>
  <tr>
    <td><%= image_tag "https://dl.dropboxusercontent.com/u/29513364/Gold-6-trim%20Front.JPG", :size => "500x500" %></td>
  </tr>


  <tr>
    <th colspan="1">$89 for 2 Month Supply (12 Suppositories)</th>
  </tr>
  <tr>
    <td><%= image_tag "https://dl.dropboxusercontent.com/u/29513364/Gold-12-trim%20Front-2.JPG", :size => "500x500" %></td>
  </tr>

</table>
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="75RVDYC2E2Y22">
  <table>
    <tr>
      <td><input type="hidden" name="on0" value="Quantity">Quantity</td>
    </tr>
    <tr>
      <td><select name="os0">
        <option value="1 Month Supply (6 Suppositories)">1 Month Supply (6 Suppositories) $49 USD</option>
        <option value="2 Month Supply (12 Suppositories)">2 Month Supply (12 Suppositories) $89 USD</option>
      </select></td>
    </tr>
  </table>
  <input type="hidden" name="currency_code" value="USD">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>





<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIG1QYJKoZIhvcNAQcEoIIGxjCCBsICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYApiYQ4v0BTE6tN9kSCtQf/JI5K4ehKpJNGnz2HHH5KBmhGqYES8rm4WkOwVrzPDRcmSGfz4QRNh6Ulw9PmB5TO3Py3Z0a1+i02cyac7SL6k3KI4JmirBv/5JsCoiYEOG+eHy+f+X8b3jbJvW1idb6kDr8PfsMejbdmen6hRjxABDELMAkGBSsOAwIaBQAwUwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAhHetW88VElHYAwEfaj1tVjKVwxspSPVGvfBT6sp+1RvWoUyu1KCH0ZlFWDR447QKb7Efia1Qa1+p2KoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTMwMTExMTkyNTEzWjAjBgkqhkiG9w0BCQQxFgQUcA4WEKohTDQDLhYo0noKzOsJLo4wDQYJKoZIhvcNAQEBBQAEgYAbK3vmR/El4VfXFoZH5+afwLlMtAK87wFGLmgYGSxK8BpbEIyj9isQVws8vVu1/VioMxia4ONGCOTcsv2ilTM5hEL4usEH2zRTvDGQqinmgyHorSPKg5ugqDfJSORKwJowMIKhz+QeGZfsXXfZg1iRZfG4neAprHSuQuVDTzQkGQ==-----END PKCS7-----
">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_viewcart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

