<% provide(:title, 'BV Clear Suppositories for Vaginal Odor'.html_safe) %>
<% provide(:description, 'Fast All-Natural Remedy for BV for $42.95. NeuEve works quickly to rebalances your vaginal ecology. Satisfaction is 100% guaranteed.') %>
<% provide(:last_modified, 'August 20, 2020') %>


<section class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 pt-4 order-2 order-lg-1">
                <div class="row">
                    <!-- TODO: Figure out the right way to code the images here-->

                    <div class="d-none d-md-block col-md-2 pr-0">
                        <div class="owl-thumbs" data-slider-id="1">
                            <button class="owl-thumb-item detail-thumb-item mb-3 active"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/sell/1-4/img/photo/kyle-loftus-596319-detail-1.jpg" alt="Modern Jacket 0"></button>
                            <button class="owl-thumb-item detail-thumb-item mb-3"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/sell/1-4/img/photo/kyle-loftus-596319-detail-2.jpg" alt="Modern Jacket 1"></button>
                            <button class="owl-thumb-item detail-thumb-item mb-3"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/sell/1-4/img/photo/kyle-loftus-596319-detail-3.jpg" alt="Modern Jacket 2"></button>
                            <button class="owl-thumb-item detail-thumb-item mb-3"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/sell/1-4/img/photo/kyle-loftus-594535-unsplash-detail-3.jpg" alt="Modern Jacket 3"></button>
                            <button class="owl-thumb-item detail-thumb-item mb-3"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/sell/1-4/img/photo/kyle-loftus-594535-unsplash-detail-4.jpg" alt="Modern Jacket 4"></button>
                        </div>
                    </div>
                    <div class="col-12 col-md-10 detail-carousel">
                        <div class="ribbon ribbon-info">Free Shipping</div>
                        <div class="ribbon ribbon-primary">Satisfaction Guaranteed</div>
                        <div class="owl-carousel detail-slider owl-theme owl-dots-modern owl-loaded owl-drag" data-slider-id="1">


                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(-1572px, 0px, 0px); transition: all 0s ease 0s; width: 5764px;">
                                    <div class="owl-item cloned" style="width: 524px;">
                                        <div class="item">
                                            <a href="img/photo/kyle-loftus-596319-detail-3.jpg" data-footer="Modern Jacket 3 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
                                                <img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/sell/1-4/img/photo/kyle-loftus-596319-detail-3.jpg" alt="Modern Jacket 3">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 524px;">
                                        <div class="item">
                                            <a href="img/photo/kyle-loftus-594535-unsplash-detail-3.jpg" data-footer="Modern Jacket 4 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
                                                <img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/sell/1-4/img/photo/kyle-loftus-594535-unsplash-detail-3.jpg" alt="Modern Jacket 4">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 524px;">
                                        <div class="item">
                                            <a href="img/photo/kyle-loftus-594535-unsplash-detail-4.jpg" data-footer="Modern Jacket 5 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
                                                <img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/sell/1-4/img/photo/kyle-loftus-594535-unsplash-detail-4.jpg" alt="Modern Jacket 5">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 524px;">
                                        <div class="item">
                                            <a href="img/photo/kyle-loftus-596319-detail-1.jpg" data-footer="Modern Jacket 1 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
                                                <img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/sell/1-4/img/photo/kyle-loftus-596319-detail-1.jpg" alt="Modern Jacket 1">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 524px;">
                                        <div class="item">
                                            <a href="img/photo/kyle-loftus-596319-detail-2.jpg" data-footer="Modern Jacket 2 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
                                                <img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/sell/1-4/img/photo/kyle-loftus-596319-detail-2.jpg" alt="Modern Jacket 2">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 524px;">
                                        <div class="item">
                                            <a href="img/photo/kyle-loftus-596319-detail-3.jpg" data-footer="Modern Jacket 3 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
                                                <img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/sell/1-4/img/photo/kyle-loftus-596319-detail-3.jpg" alt="Modern Jacket 3">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 524px;">
                                        <div class="item">
                                            <a href="img/photo/kyle-loftus-594535-unsplash-detail-3.jpg" data-footer="Modern Jacket 4 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
                                                <img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/sell/1-4/img/photo/kyle-loftus-594535-unsplash-detail-3.jpg" alt="Modern Jacket 4">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 524px;">
                                        <div class="item">
                                            <a href="img/photo/kyle-loftus-594535-unsplash-detail-4.jpg" data-footer="Modern Jacket 5 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
                                                <img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/sell/1-4/img/photo/kyle-loftus-594535-unsplash-detail-4.jpg" alt="Modern Jacket 5">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 524px;">
                                        <div class="item">
                                            <a href="img/photo/kyle-loftus-596319-detail-1.jpg" data-footer="Modern Jacket 1 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
                                                <img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/sell/1-4/img/photo/kyle-loftus-596319-detail-1.jpg" alt="Modern Jacket 1">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 524px;">
                                        <div class="item">
                                            <a href="img/photo/kyle-loftus-596319-detail-2.jpg" data-footer="Modern Jacket 2 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
                                                <img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/sell/1-4/img/photo/kyle-loftus-596319-detail-2.jpg" alt="Modern Jacket 2">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 524px;">
                                        <div class="item">
                                            <a href="img/photo/kyle-loftus-596319-detail-3.jpg" data-footer="Modern Jacket 3 - Caption text" data-toggle="lightbox" data-gallery="product-gallery">
                                                <img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/sell/1-4/img/photo/kyle-loftus-596319-detail-3.jpg" alt="Modern Jacket 3">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-nav disabled">
                                <button type="button" role="presentation" class="owl-prev">
                                    <span aria-label="Previous">‹</span></button>
                                <button type="button" role="presentation" class="owl-next">
                                    <span aria-label="Next">›</span></button>
                            </div>
                            <div class="owl-dots disabled"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-5 pl-lg-4 order-1 order-lg-2">
                <ul class="breadcrumb undefined">
                    <li class="breadcrumb-item">
                        <%= link_to 'Home', root_path %>
                    </li>
                    <li class="breadcrumb-item active">
                        BV Clear
                    </li>
                </ul>
                <h1 class="mb-4">BV Clear</h1>
                <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
                    <ul class="list-inline mb-2 mb-sm-0">
                        <li class="list-inline-item h4 font-weight-light mb-0">$42.95</li>
                        <li class="list-inline-item text-muted font-weight-light">
                            <del></del>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center">
                        <!-- TODO: Add reviews code here-->
                        <ul class="list-inline mr-2 mb-0">
                            <li class="list-inline-item mr-0"><i class="fa fa-star text-primary"></i></li>
                            <li class="list-inline-item mr-0"><i class="fa fa-star text-primary"></i></li>
                            <li class="list-inline-item mr-0"><i class="fa fa-star text-primary"></i></li>
                            <li class="list-inline-item mr-0"><i class="fa fa-star text-primary"></i></li>
                            <li class="list-inline-item mr-0"><i class="fa fa-star text-gray-300"></i></li>
                        </ul><span class="text-muted text-uppercase text-sm">25 reviews</span>
                    </div>
                </div>
                <p class="mb-4 text-muted">
                    A fast, OB/GYN-approved and all-natural method of beating bacterial vaginosis - for good.
                </p>
                <p class="mb-4 text-muted">
                    Vaginal suppositories for pre-menopausal or early-menopausal women who don’t experience age-associated vaginal dryness.
                </p>
                <ul class="mb-4 text-muted">
                    <li class="mb-3">Clears recurrent and chronic bacterial vaginosis, leaving you feeling comfortable, confident, and ready to rule the world
                    </li>
                    <li class="mb-3">Ends vaginal itching, odor and discharge without any pesky side-effects
                    </li>
                    <li class="mb-3">pH balancing to promote friendly bacteria and foster a healthy, happy vagina
                    </li>
                    <li class="mb-3">No antibiotics and uses all-natural, food grade ingredients - if you wouldn’t put it in your mouth, why use it down below?
                    </li>
                    <li class="mb-3">Each pack contains three suppositories
                    </li>
                </ul>

                <!-- TODO: Figure out Payment code here-->

                <form action="#">
                    <div class="row">
                        <div class="col-sm-6 col-lg-12 detail-option mb-3">
                            <h6 class="detail-option-heading">Size <span>(required)</span></h6>
                            <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="size_0"> Small
                                <input class="input-invisible" type="radio" name="size" value="value_0" id="size_0" required="">
                            </label>
                            <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="size_1"> Medium
                                <input class="input-invisible" type="radio" name="size" value="value_1" id="size_1" required="">
                            </label>
                            <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="size_2"> Large
                                <input class="input-invisible" type="radio" name="size" value="value_2" id="size_2" required="">
                            </label>
                        </div>
                        <div class="col-sm-6 col-lg-12 detail-option mb-3">
                            <h6 class="detail-option-heading">Type <span>(required)</span></h6>
                            <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="material_0"> Hoodie
                                <input class="input-invisible" type="radio" name="material" value="value_0" id="material_0" required="">
                            </label>
                            <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="material_1"> College
                                <input class="input-invisible" type="radio" name="material" value="value_1" id="material_1" required="">
                            </label>
                        </div>
                        <div class="col-12 detail-option mb-3">
                            <h6 class="detail-option-heading">Colour <span>(required)</span></h6>
                            <ul class="list-inline mb-0 colours-wrapper">
                                <li class="list-inline-item">
                                    <label class="btn-colour" for="colour_Blue" style="background-color: #668cb9"> </label>
                                    <input class="input-invisible" type="radio" name="colour" value="value_Blue" id="colour_Blue" required="">
                                </li>
                                <li class="list-inline-item">
                                    <label class="btn-colour" for="colour_White" style="background-color: #fff"> </label>
                                    <input class="input-invisible" type="radio" name="colour" value="value_White" id="colour_White" required="">
                                </li>
                                <li class="list-inline-item">
                                    <label class="btn-colour" for="colour_Violet" style="background-color: #8b6ea4"> </label>
                                    <input class="input-invisible" type="radio" name="colour" value="value_Violet" id="colour_Violet" required="">
                                </li>
                                <li class="list-inline-item">
                                    <label class="btn-colour" for="colour_Red" style="background-color: #dd6265"> </label>
                                    <input class="input-invisible" type="radio" name="colour" value="value_Red" id="colour_Red" required="">
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-6 detail-option mb-5">
                            <label class="detail-option-heading font-weight-bold">Items <span>(required)</span></label>
                            <input class="form-control detail-quantity" name="items" type="number" value="1">
                        </div>
                    </div>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <button class="btn btn-dark btn-lg mb-1" type="submit"> <i class="fa fa-shopping-cart mr-2"></i>Add to Cart</button>
                        </li>
                        <li class="list-inline-item"><a class="btn btn-outline-secondary mb-1" href="#"> <i class="far fa-heart mr-2"></i>Add to wishlist</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</section>


<section class="mt-5">
    <div class="container">
        <ul role="tablist" class="nav nav-tabs flex-column flex-sm-row">
            <li class="nav-item"><a data-toggle="tab" href="#what" role="tab" class="nav-link detail-nav-link active">What is BV Clear?</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#difference" role="tab" class="nav-link detail-nav-link">How are we different from other BV treatments?</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#ingredients" role="tab" class="nav-link detail-nav-link">Ingredients</a></li>
        </ul>
        <div class="tab-content py-4">
            <div id="what" role="tabpanel" class="tab-pane active px-3">
                <p class="text-muted">
                BV Clear is an effective and natural way to get you feeling - and smelling - back to normal. Invented by a gynecologist, it clears persistent and one-off episodes of bacterial vaginosis (BV) faster than you can say “healthy vagina”.
                </p>
                <p class="text-muted">
                Our 100% natural and easy to insert vaginal suppositories quickly target the imbalance of bacteria in the vagina that causes BV, relieving you of those hideous symptoms of itching, odor, and discharge for good. Yippee!
                </p>
                <p class="text-muted">
                Surveys of our customers have shown 62% of women found relief from the symptoms of BV within just 24 hours, while 91% reported relief from BV after just one pack of BV Clear*.
                </p>
                <p class="text-muted">
                If you are post-menopausal, use our <%= link_to "Silk", silk_path %> range.
                </p>
                <p class="text-muted text-sm font-italic">
                *From a survey of 98 customers of whom 25 had new BV and 73 had recurrent BV.
                </p>

            </div>
            <div id="difference" role="tabpanel" class="tab-pane">
                <p class="text-muted">
                    We don’t want to blow our own trumpet too much, but BV Clear is the only product on the market that
                    can stop BV in its tracks.
                </p>
                <p class="text-muted">
                    It’s all down to the way BV Clear deals with friendly bacteria. Antibiotic treatments such as
                    metronidazole eliminate all naturally-occurring bacteria in the vagina. You might think this sounds
                    like a good thing, but these treatments wipe out everything, including the friendly lactobacilli
                    that keep you clean and healthy down below. So, when you stop using antibiotics, BV may well come
                    back, or side-effects such as yeast infections may appear.
                </p>
                <p class="text-muted">
                    BV Clear works instead to foster a healthy balance of bacteria in your vagina. It restores friendly
                    <em>lactobacilli</em> to routine levels and your body to its natural state of equilibrium. You’ll stay BV
                    free for the long-haul.
                </p>
                <p class="text-muted">
                    Want to celebrate the defeat of BV? You’re in luck: unlike antibiotic treatments, BV Clear has no
                    harmful side-effects when combined with alcohol. It’s also 100% natural and made from food-grade
                    ingredients, which means it’s safe even if you’re breastfeeding, and for your sexual partner.
                </p>
            </div>
            <div id="ingredients" role="tabpanel" class="tab-pane">
                <p class="text-muted">
                    Our ingredients are 100% natural: sustainable palm oil, organic coconut oil, organic beeswax,
                    sunflower wax, organic tapioca starch, potato starch, evening primrose oil, organic sea buckthorn
                    fruit oil, organic lavender essential oil, organic orange oil, organic d-a-tocopherol (vitamin E),
                    and a proprietary blend of nutrients.
                </p>
                <p class="text-muted">
                    NeuEve has <%= link_to "never been tested on animals", "https://www.neueve.com/blog/cruelty-free-certified/" %> and does not contain any animal products.
                </p>
            </div>
        </div>
    </div>
</section>




<section class="mt-5">
    <div class="container">
        <h2>What causes BV and how does BV Clear work?</h2>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <h3>The healthy vagina
                </h3>
                <%= image_tag 'https://via.placeholder.com/320' %>
                <p>
                    A healthy vagina is home to a delicate balance of bacteria, including friendly lactobacilli, and exists in a natural state of equilibrium.

                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <h3>What causes BV?
                </h3>
                <%= image_tag 'https://via.placeholder.com/320' %>
                <p>
                    There are plenty of things to blame for BV. Your period, antibiotics, over-washing, and even semen; all can disrupt your vagina’s natural balance. Lactobacilli are replaced by unfriendly bacteria, causing itching, a strong, fishy odor, and grey, watery discharge.

                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <h3>What does BV Clear do?
                </h3>
                <%= image_tag 'https://via.placeholder.com/320' %>
                <p>
                    BV Clear beats BV by restoring balance to your vagina. Carefully selected nutrients support the re-growth of lactobacilli and - as if by magic - the symptoms of BV disappear. Goodbye discomfort, hello healthy, happy vagina!

                </p>
            </div>
        </div>
    </div>
</section>


<section class="mt-5">
    <div class="container">
        <h2>How many packs of BV Clear do I need?</h2>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <%= image_tag 'https://via.placeholder.com/320' %>
                <p>
                    (pic of 1 Box of BV Clear)
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    Mild BV: You’ve never had BV before and haven’t tried any other treatments.
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    = BV-free by day nine
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <%= image_tag 'https://via.placeholder.com/320' %>
                <p>
                    (pic of 2 Boxes of BV Clear)
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    Moderate BV: Your BV is recurrent and you’ve tried one other treatment, such as boric acid, tea tree oils, acid gels, or probiotic suppositories.                 </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    = BV-free by day 12
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <%= image_tag 'https://via.placeholder.com/320' %>
                <p>
                    (pic of 3 Boxes of BV Clear)
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    Severe BV: Your BV is recurrent and you’ve tried multiple treatments - including antibiotics, douching, and/or those mentioned above
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    = BV-free by day 12
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <%= image_tag 'https://via.placeholder.com/320' %>
                <p>
                    (Drawing of Maintenance)
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    Once you’ve beaten BV, we recommend a suppository each week - excluding the week of your period - for a further three months.
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    This’ll keep your vagina in tip-top condition and can help prevent further episodes of BV.
                </p>
            </div>
        </div>
    </div>
</section>

