<% provide(:title, 'BV Clear Suppositories for Vaginal Odor'.html_safe) %>
<% provide(:description, 'Fast All-Natural Remedy for Bacterial Vaginosis for $42.95. NeuEve works quickly to rebalances your vaginal ecology. Satisfaction is 100% guaranteed.') %>
<% provide(:last_modified, 'Dec 10, 2020') %>


<section class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 pt-4 order-1 order-lg-1">
                <div class="row">
                    <div class="col-md-2 col-sm-12 pr-0 order-2 order-md-1">
                        <div class="owl-thumbs" data-slider-id="1">
                            <button class="owl-thumb-item detail-thumb-item mb-3">
                                <%= image_tag("product/bv_clear/NeuEve_BV_Clear_Purple_V.jpg", class: 'img-fluid') %>
                            </button>
                            <button class="owl-thumb-item detail-thumb-item mb-3">
                                <%= image_tag("product/bv_clear/NeuEve_BV_Clear_Red_V.jpg", class: 'img-fluid') %>
                            </button>
                            <button class="owl-thumb-item detail-thumb-item mb-3">
                                <%= image_tag("product/general/NeuEve_3_Suppositories_Lavender.jpg", class: 'img-fluid') %>
                            </button>
                            <button class="owl-thumb-item detail-thumb-item mb-3">
                                <%= image_tag("product/bv_clear/NeuEve_BV_Clear_White_V.jpg", class: 'img-fluid') %>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-10 detail-carousel order-1 order-md-2 pb-2">
                        <div class="ribbon ribbon-info">Free Shipping</div>
                        <div class="ribbon ribbon-primary">Satisfaction Guaranteed</div>
                        <div class="ribbon ribbon-dark">100% Plant-Based 🌱</div>
                        <div class="owl-carousel detail-slider" data-slider-id="1">
                            <div class="item">
                                <!-- todo write some footer captions that make sense -->
                                <%= link_to(image_url('product/bv_clear/NeuEve_BV_Clear_Purple_V.jpg'),
                                            'data-footer'=> "",
                                            'data-toggle'=>"lightbox",
                                            'data-gallery'=>'product-gallery') do %>
                                    <%= image_tag("product/bv_clear/NeuEve_BV_Clear_Purple_V.jpg", class: 'img-fluid') %>
                                <% end %>
                            </div>
                            <div class="item">
                                <%= link_to(image_url('product/bv_clear/NeuEve_BV_Clear_Red_V.jpg'),
                                            'data-footer'=> "",
                                            'data-toggle'=>"lightbox",
                                            'data-gallery'=>'product-gallery') do %>
                                    <%= image_tag("product/bv_clear/NeuEve_BV_Clear_Red_V.jpg", class: 'img-fluid') %>
                                <% end %>
                            </div>
                            <div class="item">
                                <%= link_to(image_url('product/general/NeuEve_3_Suppositories_Lavender.jpg'),
                                            'data-footer'=> "",
                                            'data-toggle'=>"lightbox",
                                            'data-gallery'=>'product-gallery') do %>
                                    <%= image_tag("product/general/NeuEve_3_Suppositories_Lavender.jpg", class: 'img-fluid') %>
                                <% end %>
                            </div>
                            <div class="item">
                                <%= link_to(image_url('product/bv_clear/NeuEve_BV_Clear_White_V.jpg'),
                                            'data-footer'=> "",
                                            'data-toggle'=>"lightbox",
                                            'data-gallery'=>'product-gallery') do %>
                                    <%= image_tag("product/bv_clear/NeuEve_BV_Clear_White_V.jpg", class: 'img-fluid') %>
                                <% end %>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-5 pl-lg-4 order-2 order-lg-2">
                <ul class="breadcrumb undefined">
                    <li class="breadcrumb-item">
                        <%= link_to 'Home', root_path %>
                    </li>
                    <li class="breadcrumb-item active">
                        BV Clear
                    </li>
                </ul>
                <h1 class="mb-4">BV Clear</h1>
                <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
                    <ul class="list-inline mb-2 mb-sm-0">
                        <li class="list-inline-item h4 font-weight-light mb-0">$42.95</li>
                        <li class="list-inline-item text-muted font-weight-light">
                            <del></del>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center">
                        <span class="stamped-product-reviews-badge stamped-main-badge text-muted text-uppercase text-sm" data-id="5000"></span>
                    </div>
                </div>
                <p class="mb-4 ">
                    A fast, OB/GYN-approved and all-natural method of beating bacterial vaginosis - for good.
                </p>
                <p class="mb-4 ">
                    Vaginal suppositories for pre-menopausal or early-menopausal women who don’t experience age-associated vaginal dryness.
                </p>
                <ul class="mb-4 ">
                    <li class="mb-3">Clears recurrent and chronic bacterial vaginosis, leaving you feeling comfortable, confident, and ready to rule the world
                    </li>
                    <li class="mb-3">Ends vaginal itching, odor and discharge without any pesky side-effects
                    </li>
                    <li class="mb-3">pH balancing to promote friendly bacteria and foster a healthy, happy vagina
                    </li>
                    <li class="mb-3">No antibiotics and uses all-natural, food grade ingredients - if you wouldn’t put it in your mouth, why use it down below?
                    </li>
                    <li class="mb-3">Each pack contains three suppositories
                    </li>
                </ul>

                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <div class="row">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="K364VJV56U4CA">
                        <input type="hidden" name="on0" value="Quantity">
                        <div class="col-sm-6 col-lg-12 detail-option mb-3">
                            <h6 class="detail-option-heading">
                                Quantity <span>(required)</span>
                            </h6>
                            <div>
                                <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="size_0">
                                    1 Pack
                                    <input class="input-invisible" type="radio" name="os0" value="1 Pack" id="size_0" required="">
                                </label>
                                - $42.95
                            </div>
                            <div>
                                <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="size_1">
                                    2 Packs
                                    <input class="input-invisible" type="radio" name="os0" value="2 Packs" id="size_1" required="">
                                </label>
                                - $83 <del>$86</del>
                            </div>
                            <div>
                                <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="size_2">
                                    3 Packs
                                    <input class="input-invisible" type="radio" name="os0" value="3 Packs" id="size_2" required="">
                                </label>
                                - $120 <del>$129</del>
                            </div>
                            <div>

                                <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="size_3">
                                    4 Packs
                                    <input class="input-invisible" type="radio" name="os0" value="4 Packs" id="size_3" required="">
                                </label>
                                - $156 <del>$172</del>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="currency_code" value="USD">
                    <ul class="list-inline">
                        <li class="list-inline-item">

                            <%= button_tag(type: 'submit',
                                           class: 'btn btn-warning add-to-cart mb-1',
                                           id: 'bv-clearing-kit',
                                           name: 'submit') do %>
                                <svg class="svg-icon"><use xlink:href="#add-to-cart-1"></use></svg>
                                Add to Cart
                            <% end %>
                        </li>
                    </ul>

                </form>


                <div class="row pt-4">
                    <h6 class="col-12 detail-option-heading">
                        Subscribe and Save
                    </h6>
                </div>

                <div class="row">
                    <div class="col-12">
                        $39.95/mo
                        <div class="formbutton">
                            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="N2UB5H7CFVVN8">
                                <%= button_tag(type: 'submit',
                                               class: 'btn btn-warning subscribe',
                                               id: 'bv-clearing-kit-sub',
                                               name: 'submit') do %>
                                    <i class="fas fa-sync-alt svg-icon"></i>
                                    Subscribe
                                <% end %>
                            </form>
                        </div>
                        <div class="text-sm">(Min. 3 Months)</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="mt-5">
    <div class="container">
        <ul role="tablist" class="nav nav-tabs flex-column flex-sm-row">
            <li class="nav-item"><a data-toggle="tab" href="#what" role="tab" class="nav-link detail-nav-link active">What is BV Clear?</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#difference" role="tab" class="nav-link detail-nav-link">How are we different?</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#ingredients" role="tab" class="nav-link detail-nav-link">Ingredients</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#instructions" role="tab" class="nav-link detail-nav-link">Instructions</a></li>
        </ul>
        <div class="tab-content py-4">
            <div id="what" role="tabpanel" class="tab-pane active px-3">
                <p class="">
                BV Clear is an effective and natural way to get you feeling - and smelling - back to normal. Invented by a gynecologist, it clears persistent and one-off episodes of bacterial vaginosis (BV) faster than you can say “healthy vagina”.
                </p>
                <p class="">
                Our 100% natural and easy to insert vaginal suppositories quickly target the imbalance of bacteria in the vagina that causes BV, relieving you of those hideous symptoms of itching, odor, and discharge for good. Yippee!
                </p>
                <p class="">
                Surveys of our customers have shown 62% of women found relief from the symptoms of BV within just 24 hours, while 91% reported relief from BV after just one pack of BV Clear*.
                </p>
                <br>
                <br>
                <p class="font-weight-bold">
                If you have any of the following conditions / medications:
                </p>
                <ul class="">
                    <li>post-menopausal</li>
                    <li>breastfeeding</li>
                    <li>oral birth control pills</li>
                    <li>hormonal IUD</li>
                    <li>hysterectomy</li>
                    <li>cancer therapy</li>
                    <li>lichen sclerosus</li>
                    <li>Sjogren's syndrome</li>
                </ul>
                <p class="font-weight-bold">
                    Then: please <%= link_to "read this article", 'https://help.neueve.com/kb/bacterial-vaginosis/which-formula-is-right-for-clearing-my-bv' %> to choose the right product.
                </p>
                <p class=" text-sm font-italic">
                *From a survey of 98 customers of whom 25 had new BV and 73 had recurrent BV.
                </p>

            </div>
            <div id="difference" role="tabpanel" class="tab-pane px-3">
                <p class="">
                    We don’t want to blow our own trumpet too much, but BV Clear is the only product on the market that
                    can stop BV in its tracks.
                </p>
                <p class="">
                    It’s all down to the way BV Clear deals with friendly bacteria. Antibiotic treatments
                    eliminate all naturally-occurring bacteria in the vagina. You might think this sounds
                    like a good thing, but these treatments wipe out everything, including the friendly lactobacilli
                    that keep you clean and healthy down below. So, when you stop using antibiotics, BV may well come
                    back, or side-effects such as yeast infections may appear.
                </p>
                <p class="">
                    BV Clear works instead to foster a healthy balance of bacteria in your vagina. It restores friendly
                    <em>lactobacilli</em> to routine levels and your body to its natural state of equilibrium. You’ll stay BV
                    free for the long-haul.
                </p>
                <p class="">
                    Want to celebrate the defeat of BV? You’re in luck: unlike antibiotic treatments, BV Clear has no
                    harmful side-effects when combined with alcohol. It’s also 100% natural and made from food-grade
                    ingredients, which means it’s safe even if you’re breastfeeding, and for your sexual partner.
                </p>
            </div>
            <div id="ingredients" role="tabpanel" class="tab-pane px-3">
                <p class="">
                    Our ingredients are 100% natural: sustainable palm oil, organic coconut oil, organic beeswax,
                    sunflower wax, organic tapioca starch, potato starch, evening primrose oil, organic sea buckthorn
                    fruit oil, organic lavender essential oil, organic orange oil, organic d-a-tocopherol (vitamin E),
                    and a proprietary blend of nutrients.
                </p>
                <p class="">
                    NeuEve has <%= link_to "never been tested on animals", "https://www.neueve.com/blog/cruelty-free-certified/" %> and does not contain any animal products.
                </p>
            </div>
            <div id="instructions" role="tabpanel" class="tab-pane px-3">
                <p class="">
                    Each BV Clear box includes three easy-to-insert vaginal suppositories.
                </p>
                <h4 class="pt-3">
                    How to use BV Clear
                </h4>
                <p class="">
                    Depending on the severity of your BV, the days on which you take the suppositories will differ:
                </p>

                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col" rowspan="2">You are using:</th>
                        <th scope="colgroup" colspan="13">Days to take each suppository:</th>
                        <th scope="col" rowspan="2">BV should clear by:</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">One pack for mild BV</th>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Day 9</td>
                    </tr>
                    <tr>
                        <th scope="row">Two packs for moderate BV</th>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td></td>
                        <td>Day 12</td>
                    </tr>
                    <tr>
                        <th scope="row">Three packs for severe BV</th>
                        <td><i class='fas fa-check'></i></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td>Day 14</td>
                    </tr>
                    </tbody>
                </table>



                <h4 class="pt-3">For best results and rapid clearance of BV:</h4>
                <ul class="">
                    <li>
                        Do not use during your period; instead, wait until your period finishes before starting BV
                        Clear.
                    </li>
                    <li>
                        Avoid sex while using BV Clear. Semen disrupts your vagina’s natural balance and may cause BV to
                        return. If you do have sex, use non-latex condoms as BV Clear may weaken latex condoms, causing
                        them to tear.
                    </li>
                    <li>
                        If you’re pregnant, speak to your health professional before using BV Clear.
                    </li>
                    <li>
                        If, after three packs, your BV is still not cleared, we suggest visiting a gynecologist for a
                        lab test. This’ll confirm it is BV, not a yeast or other infection. If this indicates it is BV,
                        reach out to us at <%= link_to "help@neueve.com", "mailto:help@neueve.com" %>: we’ve formulated extra-strength
                        suppositories that have been successful in clearing stubborn BV.
                    </li>
                </ul>

                <h4 class="pt-3">How to insert a suppository</h4>

                <ul class="">
                    <li>
                        Remove the suppository from the packaging
                    </li>
                    <li>
                        Lie on your back, raise your knees and gently insert the suppository with a finger. Push it into
                        the vagina as far as it will comfortably go.
                    </li>
                    <li>
                        Relax, read a book, or stare at the ceiling in this same position for 15 minutes, or until the
                        suppository melts. This will help absorption into the vagina.
                    </li>
                </ul>

                <h4 class="pt-3">A quick note on that tingly feeling you might be experiencing:</h4>
                <p class="">
                    A mild burning or tingling sensation, discharge or spotting are normal reactions to BV Clear and are
                    more likely if you’re breastfeeding or using birth control pills. You’ll find these symptoms
                    disappear when you finish your course of suppositories.
                </p>

            </div>
        </div>
    </div>
</section>




<section class="mt-5">
    <div class="container">
        <h2>What causes BV and how does BV Clear work?</h2>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <h3>The healthy vagina
                </h3>
                <%= image_tag 'illustration/NeuEve_Healthy_Vagina_Illus.jpg', class:'img-fluid' %>
                <p>
                    A healthy vagina is home to a delicate balance of bacteria, including friendly lactobacilli, and exists in a natural state of equilibrium.

                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <h3>What causes BV?
                </h3>
                <%= image_tag 'illustration/NeuEve_What_Causes_BV_Illus.jpg', class:'img-fluid' %>
                <p>
                    There are plenty of things to blame for BV. Your period, antibiotics, over-washing, and even semen; all can disrupt your vagina’s natural balance. Lactobacilli are replaced by unfriendly bacteria, causing itching, a strong, fishy odor, and grey, watery discharge.

                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <h3>What does BV Clear do?
                </h3>
                <%= image_tag 'illustration/NeuEve_BV_Clear_Illus.jpg', class:'img-fluid' %>
                <p>
                    BV Clear beats BV by restoring balance to your vagina. Carefully selected nutrients support the re-growth of lactobacilli and - as if by magic - the symptoms of BV disappear. Goodbye discomfort, hello healthy, happy vagina!

                </p>
            </div>
        </div>
    </div>
</section>


<section class="mt-5">
    <div class="container">
        <h2>How many packs of BV Clear do I need?</h2>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <%= image_tag 'product/bv_clear/BV_Clear_1_Box.jpg', class:'img-fluid' %>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    Mild BV: You’ve never had BV before and haven’t tried any other treatments.
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    = BV-free by day nine
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <%= image_tag 'product/bv_clear/BV_Clear_2_Box.jpg', class:'img-fluid' %>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    Moderate BV: Your BV is recurrent and you’ve tried one other treatment, such as boric acid, tea tree oils, acid gels, or probiotic suppositories.                 </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    = BV-free by day 12
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <%= image_tag 'product/bv_clear/BV_Clear_3_Box.jpg', class:'img-fluid' %>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    Severe BV: Your BV is recurrent and you’ve tried multiple treatments - including antibiotics, douching, and/or those mentioned above
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    = BV-free by day 12
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <%= image_tag 'illustration/NeuEve_BV_maintenance.jpg', class:'img-fluid' %>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    Once you’ve beaten BV, we recommend a suppository each week - excluding the week of your period - for a further three months.
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    This’ll keep your vagina in tip-top condition and can help prevent further episodes of BV.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="mt-4">

    <div class="bg-gray-100 text-dark-700 py-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 service-column">
                    <svg class="svg-icon service-icon">
                        <use xlink:href="#delivery-time-1"></use>
                    </svg>
                    <div class="service-text">
                        <h6 class="text-uppercase">Free Shipping</h6>
                        <p class="text-muted font-weight-light text-sm mb-0">Fulfilled Every Morning at 9am (except Sundays) via USPS from Chicago, IL</p>
                    </div>
                </div>
                <div class="col-lg-4 service-column">
                    <%= link_to(satisfaction_path, class: 'text-gray-700') do %>
                        <i class="far fa-smile-beam svg-icon service-icon"></i>
                    <% end %>
                    <div class="service-text">
                        <h6 class="text-uppercase"><%= link_to 'Satisfaction Guaranteed', satisfaction_path, class: 'text-gray-900' %></h6>
                        <p class="text-muted font-weight-light text-sm mb-0">Full Refund (except S&H) If No Progress After 30
                            Days</p>
                        <p class="text-muted font-weight-light text-sm mb-0">For Health Reasons, No Returns Accepted</p>
                        <p class="text-muted font-weight-light text-sm mb-0"><%= link_to 'Full details', satisfaction_path %></p>
                    </div>
                </div>
                <div class="col-lg-4 service-column">
                    <%= link_to(contact_path, class: 'text-gray-700') do %>
                        <svg class="svg-icon service-icon">
                            <use xlink:href="#customer-support-1"></use>
                        </svg>
                    <% end %>
                    <div class="service-text">
                        <h6 class="text-uppercase"><%= link_to "We're Here For You", contact_path, class: 'text-gray-900' %></h6>
                        <p class="text-muted font-weight-light text-sm mb-0">We're available M-F, 10-5, CST</p>
                        <p class="text-muted font-weight-light text-sm mb-0">
                            <a href="#" data-reamaze-lightbox="contact" data-reamaze-lightbox-anchored="true">Live Chat</a>
                        </p>
                        <p class="text-muted font-weight-light text-sm mb-0">Email:
                            <a href="mailto:help@neueve.com">help@neueve.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="mt-4">
    <div class="container">
        <h2>Video Testimonials</h2>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7wriYw1Z6ro?modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p class="p-3">
                    "My symptoms were gone in less than 24 hours"
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4pMzwcFCreY?modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p class="p-3">
                    "After I used this I had no more fishy odor left. It was very effective. I didn't have to not drink alcohol. It doesn't taste gross like antibiotics does."
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eQ3Y3WH3bcQ?modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p class="p-3">
                    "After I used the third one, my odor and discharge cleared up"
                </p>
            </div>
        </div>

    </div>
</section>

<section class="pb-5">
    <div class="container">
        <h2>Reviews</h2>
        <div class="py-4">
            <div class="text-content text-lg">
                <%= link_to '', {}, name: 'reviews' %>
                <div id="stamped-main-widget"
                     data-product-id="5000"
                     data-name="NeuEve BV Clear"
                     data-url="https://www.neueve.com/bv_clear"
                     data-image-url="https://d3ilh7i74k3q3i.cloudfront.net/assets/product/bv_clear/BV_Clear_1_Box-e101d477b25bd541ff79dfc8309fc71ed56bf1af7aae18f07d6da8d5b0e1da37.jpg"
                     data-description="Natural vaginal suppositories developed by a gynecologist, for balancing the natural pH and ending recurrent BV."
                     data-product-sku="bv-clear-kit">
                </div>
            </div>
        </div>
    </div>
</section>


<%= render 'layouts/satisfaction_snippet' %>


<%= render 'layouts/disclaimer' %>


<!-- NeuEve BV Clear Structured Data -->
<script>

    function addEventListenerStamped(el, eventName, handler) {

        if (el.addEventListener) { el.addEventListener(eventName, handler); }
        else { el.attachEvent('on' + eventName, function () { handler.call(el); }); }

    }

    addEventListenerStamped(document, 'stamped:reviews:loaded', function(e) {
        var ratingCount = jQueryStamped('meta[itemprop="reviewCount"]').attr('content');
        var ratingValue = jQueryStamped('meta[itemprop="ratingValue"]').attr('content');

        var richSnippet = {
            "@context": "https://schema.org/",
            "@type": "Product",
            "sku": "bv-clearing-kit",
            "mpn": "bv-clearing-kit",
            "gtin": "091131112755",
            "image": [
                "https://www.neueve.com/assets/product/bv_clear/NeuEve_BV_Clear_White-019809926c0658d6739460b6f224bb92c11bd63b3a958ef972f4cf6d8a122806.jpg",
                "https://d3ilh7i74k3q3i.cloudfront.net/assets/product/bv_clear/NeuEve_BV_Clear_Field-e21e9cb14a6e9027dba98a399f4e7f6cd500f803d4dcaa69afb00cf965f48f3a.jpg",
                "https://d3ilh7i74k3q3i.cloudfront.net/assets/product/bv_clear/NeuEve_BV_Clear_Orange-38fe7ade533adce776d4e40c80c2b23bdd9e7a6c6259bf7c46cf311441596f11.jpg",
                    "https://d3ilh7i74k3q3i.cloudfront.net/assets/product/general/NeuEve_3_Suppositories_Lavender-600c42b2fc219b5c7c3b47070734fd9c8d9f1f7f8c84e2885d2acdb753596d0e.jpg"
            ],
            "name": "NeuEve BV Clear",
            "description": "A fast, OB/GYN-approved and all-natural method of beating bacterial vaginosis - for good." +
                           "\n"+
                           "Clears recurrent and chronic bacterial vaginosis, leaving you feeling comfortable, confident, and ready to rule the world" +
                           "\n" +
                           "Ends vaginal itching, odor and discharge without any pesky side-effects" +
                           "\n" +
                           "pH balancing to promote friendly bacteria and foster a healthy, happy vagina" +
                           "\n" +
                           "No antibiotics and uses all-natural, food grade ingredients - if you wouldn’t put it in your mouth, why use it down below?" +
                           "\n" +
                           "Each pack contains three suppositories",
            "brand": {
                "@type": "Brand",
                "name": "NeuEve"
            },
            "offers": {
                "@type": "Offer",
                "url": "https://www.neueve.com/bv_clear",
                "itemCondition": "https://schema.org/NewCondition",
                "availability": "https://schema.org/InStock",
                "price": "42.95",
                "priceCurrency": "USD",
                "priceValidUntil": "<%= (Date.today + 1.year).iso8601 %>",
                "shippingDetails": {
                    "@type": "OfferShippingDetails",
                    "shippingRate": {
                        "@type": "MonetaryAmount",
                        "value": "0.0",
                        "currency": "USD"
                    },
                    "shippingDestination": {
                        "@type": "DefinedRegion",
                        "addressCountry": "US"
                    },
                    "deliveryTime": {
                        "@type": "ShippingDeliveryTime",
                        "handlingTime": {
                            "@type": "QuantitativeValue",
                            "minValue": "0",
                            "maxValue": "1"
                        },
                        "transitTime": {
                            "@type": "QuantitativeValue",
                            "minValue": "1",
                            "maxValue": "5"
                        },
                        "cutOffTime": "23:59-05:00",
                        "businessDays": {
                            "@type": "OpeningHoursSpecification",
                            "dayOfWeek": ["https://schema.org/Monday", "https://schema.org/Tuesday",
                                "https://schema.org/Wednesday", "https://schema.org/Thursday",
                                "https://schema.org/Friday"]
                        }
                    },
                    "shippingSettingsLink": "https://www.neueve.com/satisfaction"
                }
            },
            "review": [{
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "4",
                    "bestRating": "5"
                },
                "author": {
                    "@type": "Person",
                    "name": "Kate"
                },
                "name": "Great product but is it a lifelong necessity?",
                "reviewBody" : "Let me start off by saying this, I was super tired of taking antibiotics only to find out as soon as I finished them, the BV was back. This is a new issue for me, only happening in the last year. I do love this product but it’s got me thinking a few things: how costly this journey has become and will I need to use this product forever? If you’re like me, we’ve all researched and there’s not really a “cure” for this. I also take vaginal health probiotics and use condoms with my partner, so to say it’s only NeuEve that is fixing my issue, would be misleading. Will I have to use condoms forever? I don’t really want to, but having BV is far worse than using them. All in all, I am a satisfied customer, but I wish there was a permanent fix, that didn’t require weekly suppositories.",
                "datePublished" : "2020-07-30"
            },{
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5",
                    "bestRating": "5"
                },
                "author": {
                    "@type": "Person",
                    "name": "Kimmie"
                },
                "name": "MUST TRY!! Its amazing!",
                "reviewBody" : "Oh my gosh this is awesome! I was diagnosed with BV for the first time and didn't want to take antibiotics because it can cause yeast infections. So I started popping 90 billion cultures of womens probiotics for a couple weeks then ordered this and after 1 use, GONE! :) I had thick white discharge with a not so great smell and the smell was gone immediately. I will say as the suppositories melt there is some leakage but nothing crazy. Also what comes out will be oily, obviously but get up in there after a day or 2 and scoop out any excess. I promise it will not smell bad at all! Then put some coconut oil inside you, the lactic acid keeps the environment favorable for good bacteria. It's been 4 days and still no smell or discharge. I really only needed 1 but I used another after sex because semen changes your ph. Please do not douche! I was trapped in a cycle of douching and after being diagnosed 2 weeks ago I've stopped, tried these, take probiotics daily and use coconut oil and it's amazing in there now. I actually let my husbands fingers back up there for the first time last night. So get this now!!",
                "datePublished" : "2018-11-26"
            },{
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5",
                    "bestRating": "5"
                },
                "author": {
                    "@type": "Person",
                    "name": "N."
                },
                "name": "The final solution 🤗",
                "reviewBody": "I had a reoccurring bv issue for about 8 months. Tried antibiotics and pretty much every natural cure out there..vitamin C, borax, apple cider vinegar but it returned." +
                              "\n" +
                              "I first tried the silver they weren't strong enough it returned....then the gold I used two boxes... one tab every week then one every two weeks. It's been gone for a few months and I am so very happy and thankful. It's a rough ride and such an unbalancing upsetting feeling when you can't heal yourself." +
                              "\n" +
                              "I have to say although it says not to use with antibiotics...because it is more of a ph issue. For me on the gold try...I used just a few days of antibiotic and then the tab ..because I found the antibiotic could set me back to basic acidity in 3 days and the Nueve right after established the balance I needed. Everyone is different so what works for you might also be different. Just stick to it and know in your heart you will beat it and you will...two thumbs up NuEve🤗" +
                              "\n" +
                              "A sided benefit noticeably more moist vagina fir sex, lasts about a month or so after the tab 😍 I am 43yrs old." +
                              "\n" +
                              "Love to everyone N.",
                "datePublished": "2019-04-30"
            }]
        };

        if (parseInt(ratingValue) > 0){
            richSnippet.aggregateRating = {
                "@type": "AggregateRating",
                "ratingValue": ratingValue,
                "reviewCount": ratingCount
            }
        }
        var script = document.createElement('script');
        script.type = 'application/ld+json';
        script.innerHTML = JSON.stringify(richSnippet);
        document.getElementsByTagName('head')[0].appendChild(script);
    });
</script>


<!-- GA4 View Item -->
<script type="text/javascript">
    gtag("event", "view_item", {
        currency: "USD",
        items: [
            {
                item_id: "bv-clearing-kit"
            }
        ]
    });
</script>