<% provide(:title, 'BV Clear Finisher for Severe Bacterial Vaginosis'.html_safe) %>
<% provide(:description, 'Fast All-Natural Remedy for Bacterial Vaginosis for $52.95. NeuEve works quickly to rebalances your vaginal ecology. 3x Stronger than BV Clear. 100% Satisfaction Guaranteed.') %>
<% provide(:last_modified, 'July 22, 2021') %>


<section class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 pt-4 order-1 order-lg-1">
                <div class="row">
                    <div class="col-md-2 col-sm-12 pr-0 order-2 order-md-1">
                        <div class="owl-thumbs" data-slider-id="1">
                            <button class="owl-thumb-item detail-thumb-item mb-3">
                                <%= image_tag("product/finisher/BV_Clear_Finisher_main.jpg", class: 'img-fluid') %>
                            </button>
                            <button class="owl-thumb-item detail-thumb-item mb-3">
                                <%= image_tag("product/finisher/BV_Clear_Finisher_main2.jpg", class: 'img-fluid') %>
                            </button>
                            <button class="owl-thumb-item detail-thumb-item mb-3">
                                <%= image_tag("product/finisher/BV_Clear_Finisher_back.jpg", class: 'img-fluid') %>
                            </button>
                            <button class="owl-thumb-item detail-thumb-item mb-3">
                                <%= image_tag("product/general/NeuEve_3_Suppositories_Lavender.jpg", class: 'img-fluid') %>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-10 detail-carousel order-1 order-md-2 pb-2">
                        <div class="ribbon ribbon-info">Free Shipping</div>
                        <div class="ribbon ribbon-primary">Satisfaction Guaranteed</div>
                        <div class="ribbon ribbon-dark">3x More Concentrated Than BV Clear</div>
                        <div class="owl-carousel detail-slider" data-slider-id="1">
                            <div class="item">
                                <!-- todo write some footer captions that make sense -->
                                <%= link_to(image_url('product/finisher/BV_Clear_Finisher_main.jpg'),
                                            'data-footer'=> "",
                                            'data-toggle'=>"lightbox",
                                            'data-gallery'=>'product-gallery') do %>
                                    <%= image_tag("product/finisher/BV_Clear_Finisher_main.jpg", class: 'img-fluid') %>
                                <% end %>
                            </div>
                            <div class="item">
                                <%= link_to(image_url('product/finisher/BV_Clear_Finisher_main2.jpg'),
                                            'data-footer'=> "",
                                            'data-toggle'=>"lightbox",
                                            'data-gallery'=>'product-gallery') do %>
                                    <%= image_tag("product/finisher/BV_Clear_Finisher_main2.jpg", class: 'img-fluid') %>
                                <% end %>
                            </div>
                            <div class="item">
                                <%= link_to(image_url('product/finisher/BV_Clear_Finisher_back.jpg'),
                                            'data-footer'=> "",
                                            'data-toggle'=>"lightbox",
                                            'data-gallery'=>'product-gallery') do %>
                                    <%= image_tag("product/finisher/BV_Clear_Finisher_back.jpg", class: 'img-fluid') %>
                                <% end %>
                            </div>
                            <div class="item">
                                <%= link_to(image_url('product/general/NeuEve_3_Suppositories_Lavender.jpg'),
                                            'data-footer'=> "",
                                            'data-toggle'=>"lightbox",
                                            'data-gallery'=>'product-gallery') do %>
                                    <%= image_tag("product/general/NeuEve_3_Suppositories_Lavender.jpg", class: 'img-fluid') %>
                                <% end %>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-5 pl-lg-4 order-2 order-lg-2">
                <ul class="breadcrumb undefined">
                    <li class="breadcrumb-item">
                        <%= link_to 'Home', root_path %>
                    </li>
                    <li class="breadcrumb-item active">
                        BV Clear Finisher
                    </li>
                </ul>
                <h1 class="mb-4">BV Clear Finisher</h1>
                <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
                    <ul class="list-inline mb-2 mb-sm-0">
                        <li class="list-inline-item h4 font-weight-light mb-0">$52.95</li>
                        <li class="list-inline-item text-muted font-weight-light">
                            <del></del>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center">
                        <span class="stamped-product-reviews-badge stamped-main-badge text-muted text-uppercase text-sm" data-id="8000"></span>
                    </div>
                </div>
                <p class="mb-4 ">
                    A fast, OB/GYN-approved and all-natural method of beating severe bacterial vaginosis - for good.
                </p>
                <p class="mb-4 ">
                    Vaginal suppositories for pre-menopausal women whose tough BV did not respond to <%= link_to "BV Clear", bv_clear_path %>.
                </p>
                <ul class="mb-4 ">

                    <li class="mb-3">Clears recurrent and chronic bacterial vaginosis, leaving you feeling comfortable, confident, and ready to rule the world
                    </li>
                    <li class="mb-3">Ends vaginal itching, odor and discharge without any pesky side-effects
                    </li>
                    <li class="mb-3">pH balancing to promote friendly bacteria and foster a healthy, happy vagina
                    </li>
                    <li class="mb-3">No antibiotics or boric acid. Uses all-natural, food grade ingredients - if you wouldn’t put it in your mouth, why use it down below?
                    </li>
                    <li class="mb-3">Each pack contains three suppositories
                    </li>
                    <li class="mb-3">BV Clear Finisher is 3x more concentrated than BV Clear. It's much more powerful but can cause burning. (Warning: Use only after you've tried <%= link_to "BV Clear", bv_clear_path %> first.)</li>

                </ul>

                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <div class="row">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="9576FH7JNV7JA">
                        <input type="hidden" name="on0" value="Quantity">
                        <div class="col-sm-6 col-lg-12 detail-option mb-3">
                            <h6 class="detail-option-heading">
                                Quantity <span>(required)</span>
                            </h6>
                            <div>
                                <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="size_0">
                                    1 Pack
                                    <input class="input-invisible" type="radio" name="os0" value="1 Pack" id="size_0" required="">
                                </label>
                                - $52.95
                            </div>
                            <div>
                                <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="size_1">
                                    2 Packs
                                    <input class="input-invisible" type="radio" name="os0" value="2 Packs" id="size_1" required="">
                                </label>
                                - $99.95 <del>$105.90</del>
                            </div>
                            <div>
                                <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="size_2">
                                    3 Packs
                                    <input class="input-invisible" type="radio" name="os0" value="3 Packs" id="size_2" required="">
                                </label>
                                - $139.95 <del>$158.85</del>
                            </div>
                            <div>

                                <label class="btn btn-sm btn-outline-secondary detail-option-btn-label" for="size_3">
                                    4 Packs
                                    <input class="input-invisible" type="radio" name="os0" value="4 Packs" id="size_3" required="">
                                </label>
                                - $174.95 <del>$211.80</del>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="currency_code" value="USD">
                    <ul class="list-inline">
                        <li class="list-inline-item">

                            <%= button_tag(type: 'submit',
                                           class: 'btn btn-warning add-to-cart mb-1',
                                           id: 'finisher',
                                           name: 'submit') do %>
                                <svg class="svg-icon"><use xlink:href="#add-to-cart-1"></use></svg>
                                Add to Cart
                            <% end %>
                        </li>
                    </ul>

                </form>


                <div class="row pt-4">
                    <h6 class="col-12 detail-option-heading">
                        Subscribe and Save
                    </h6>
                </div>


                <div class="row">
                    <div class="col-12">
                        $49.95/mo
                        <div class="formbutton">
                            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="NBQKQA3TZDGEU">
                                <%= button_tag(type: 'submit',
                                               class: 'btn btn-warning subscribe',
                                               id: 'finisher-sub',
                                               name: 'submit') do %>
                                    <i class="fas fa-sync-alt svg-icon"></i>
                                    Subscribe
                                <% end %>
                            </form>
                        </div>
                        <div class="text-sm">(Min. 3 Months)</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="mt-5">
    <div class="container">
        <ul role="tablist" class="nav nav-tabs flex-column flex-sm-row">
            <li class="nav-item"><a data-toggle="tab" href="#what" role="tab" class="nav-link detail-nav-link active">What is BV Clear Finisher?</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#difference" role="tab" class="nav-link detail-nav-link">How are we different?</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#ingredients" role="tab" class="nav-link detail-nav-link">Ingredients</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#instructions" role="tab" class="nav-link detail-nav-link">Instructions</a></li>
        </ul>
        <div class="tab-content py-4">
            <div id="what" role="tabpanel" class="tab-pane active px-3">
                <p class="">
                BV Clear Finisher is an effective and natural way to get you feeling - and smelling - back to normal. Invented by a gynecologist, it clears persistent and one-off episodes of bacterial vaginosis (BV) faster than you can say “healthy vagina”.
                </p>
                <p class="">
                Our 100% natural and easy to insert vaginal suppositories quickly target the imbalance of bacteria in the vagina that causes BV, relieving you of those hideous symptoms of itching, odor, and discharge for good. Yippee!
                </p>
                <p class="">
                Surveys of our customers have shown 62% of women found relief from the symptoms of BV within just 24 hours, while 91% reported relief from BV after just one pack of BV Clear*. BV Clear Finisher is designed for the 9% of customers who didn't succeed with BV Clear.
                </p>
                <br>
                <br>
                <p class="font-weight-bold">
                    If you have not tried BV Clear yet, you should start with <%= link_to "BV Clear", bv_clear_path %>.
                </p>
                <p class="font-weight-bold">
                    If you have any of the following conditions / medications:
                </p>
                <ul class="">
                    <li>post-menopausal</li>
                    <li>breastfeeding</li>
                    <li>oral birth control pills</li>
                    <li>hormonal IUD</li>
                    <li>hysterectomy</li>
                    <li>cancer therapy</li>
                    <li>lichen sclerosus</li>
                    <li>Sjogren's syndrome</li>
                </ul>
                <p class="font-weight-bold">
                    Then you should NOT use this product. Instead, please <%= link_to "read this article", 'https://help.neueve.com/kb/bacterial-vaginosis/which-formula-is-right-for-clearing-my-bv' %> to choose the right product.
                </p>
                <p class=" text-sm font-italic">
                *From a survey of 98 customers of whom 25 had new BV and 73 had recurrent BV.
                </p>

            </div>
            <div id="difference" role="tabpanel" class="tab-pane px-3">
                <p class="">
                    We don’t want to blow our own trumpet too much, but BV Clear Finisher is the only product on the market that
                    can stop BV in its tracks.
                </p>
                <p class="">
                    It’s all down to the way BV Clear Finisher deals with friendly bacteria. Antibiotic treatments
                    eliminate all naturally-occurring bacteria in the vagina. You might think this sounds
                    like a good thing, but these treatments wipe out everything, including the friendly lactobacilli
                    that keep you clean and healthy down below. So, when you stop using antibiotics, BV may well come
                    back, or side-effects such as yeast infections may appear.
                </p>
                <p class="">
                    BV Clear Finisher works instead to foster a healthy balance of bacteria in your vagina. It restores friendly
                    <em>lactobacilli</em> to routine levels and your body to its natural state of equilibrium. You’ll stay BV
                    free for the long-haul.
                </p>
                <p class="">
                    Want to celebrate the defeat of BV? You’re in luck: unlike antibiotic treatments, BV Clear Finisher has no
                    harmful side-effects when combined with alcohol. It’s also 100% natural and made from food-grade
                    ingredients, which means it’s safe even if you’re breastfeeding, and for your sexual partner.
                </p>
            </div>
            <div id="ingredients" role="tabpanel" class="tab-pane px-3">
                <p class="">
                    Our ingredients are 100% natural: sustainable palm oil, organic coconut oil, organic beeswax,
                    sunflower wax, organic tapioca starch, potato starch, organic lavender essential oil,
                    organic orange oil, organic d-a-tocopherol (vitamin E), and a proprietary blend of nutrients.
                </p>
                <p class="">
                    NeuEve has <%= link_to "never been tested on animals", "https://www.neueve.com/blog/cruelty-free-certified/" %> and does not contain any animal products.
                </p>
            </div>
            <div id="instructions" role="tabpanel" class="tab-pane px-3">
                <p class="">
                    Each BV Clear Finisher box includes three easy-to-insert vaginal suppositories.
                </p>
                <h4 class="pt-3">
                    How to use BV Clear Finisher
                </h4>
                <p class="">
                    Depending on the severity of your BV, the days on which you take the suppositories will differ:
                </p>

                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col" rowspan="2">You are using:</th>
                        <th scope="colgroup" colspan="13">Days to take each suppository:</th>
                        <th scope="col" rowspan="2">BV should clear by:</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">One pack for severe BV</th>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Day 9</td>
                    </tr>
                    <tr>
                        <th scope="row">Two packs for highly severe BV</th>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td><i class='fas fa-check'></i></td>
                        <td></td>
                        <td></td>
                        <td>Day 12</td>
                    </tr>
                    </tbody>
                </table>
                <p class="">
                    Using more frequently than every other day is not recommended.
                </p>




                <h4 class="pt-3">For best results and rapid clearance of BV:</h4>
                <ul class="">
                    <li>
                        Do not use during your period; instead, wait until your period finishes before starting BV
                        Clear.
                    </li>
                    <li>
                        Avoid sex while using BV Clear Finisher. Semen disrupts your vagina’s natural balance and may cause BV to
                        return. If you do have sex, use non-latex condoms as BV Clear Finisher may weaken latex condoms, causing
                        them to tear.
                    </li>
                    <li>
                        If you’re pregnant, speak to your health professional before using BV Clear Finisher.
                    </li>
                    <li>
                        If, after three packs, your BV is still not cleared, we suggest visiting a gynecologist for a
                        lab test. This’ll confirm it is BV, not a yeast or other infection. If this indicates it is BV,
                        reach out to us at <%= link_to "help@neueve.com", "mailto:help@neueve.com" %>: we’ve formulated extra-strength
                        suppositories that have been successful in clearing stubborn BV.
                    </li>
                </ul>

                <h4 class="pt-3">How to insert a suppository</h4>

                <ul class="">
                    <li>
                        Remove the suppository from the packaging
                    </li>
                    <li>
                        Lie on your back, raise your knees and gently insert the suppository with a finger. Push it into
                        the vagina as far as it will comfortably go.
                    </li>
                    <li>
                        Relax, read a book, or stare at the ceiling in this same position for 15 minutes, or until the
                        suppository melts. This will help absorption into the vagina.
                    </li>
                </ul>

                <h4 class="pt-3">A quick note on that tingly feeling you might be experiencing:</h4>
                <p class="">
                    A mild burning or tingling sensation, discharge or spotting are normal reactions to BV Clear Finisher and are
                    more likely if you’re breastfeeding or using birth control pills. You’ll find these symptoms
                    disappear when you finish your course of suppositories.
                </p>

            </div>
        </div>
    </div>
</section>




<section class="mt-5">
    <div class="container">
        <h2>What causes BV and how does BV Clear Finisher work?</h2>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <h3>The healthy vagina
                </h3>
                <%= image_tag 'illustration/NeuEve_Healthy_Vagina_Illus.jpg', class:'img-fluid' %>
                <p>
                    A healthy vagina is home to a delicate balance of bacteria, including friendly lactobacilli, and exists in a natural state of equilibrium.

                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <h3>What causes BV?
                </h3>
                <%= image_tag 'illustration/NeuEve_What_Causes_BV_Illus.jpg', class:'img-fluid' %>
                <p>
                    There are plenty of things to blame for BV. Your period, antibiotics, over-washing, and even semen; all can disrupt your vagina’s natural balance. Lactobacilli are replaced by unfriendly bacteria, causing itching, a strong, fishy odor, and grey, watery discharge.

                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <h3>What does Finisher do?
                </h3>
                <%= image_tag 'illustration/NeuEve_BV_Clear_Illus.jpg', class:'img-fluid' %>
                <p>
                    BV Clear Finisher beats BV by restoring balance to your vagina. Carefully selected nutrients support the re-growth of lactobacilli and - as if by magic - the symptoms of BV disappear. Goodbye discomfort, hello healthy, happy vagina!

                </p>
            </div>
        </div>
    </div>
</section>


<section class="mt-5">
    <div class="container">
        <h2>How many packs of BV Clear or BV Clear Finisher do I need?</h2>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <%= image_tag 'product/bv_clear/BV_Clear_1_Box.jpg', class:'img-fluid' %>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    Mild BV: You’ve never had BV before and haven’t tried any other treatments. Use 1 Pack of BV Clear.
                </p>
                <p>
                    Use 1 Pack of BV Clear.
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    = BV-free by day nine
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <%= image_tag 'product/bv_clear/BV_Clear_2_Box.jpg', class:'img-fluid' %>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    Moderate BV: Your BV is recurrent and you’ve tried one other treatment, such as boric acid, tea tree oils, acid gels, or probiotic suppositories. Use 2 Pack of BV Clear.
                </p>
                <p>
                    Use 2 Packs of BV Clear.
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    = BV-free by day 12
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <%= image_tag 'product/finisher/BV_Clear_Finisher_1pack_sq.jpg', class:'img-fluid' %>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    Severe BV: Your BV is recurrent and you’ve tried multiple treatments - including BV Clear,
                    antibiotics, douching, and/or those mentioned above.
                </p>
                <p>
                    Use 1 Pack of BV Clear Finisher, or 3 Packs of BV Clear.
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    = BV-free by day 9
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <%= image_tag 'product/finisher/BV_Clear_Finisher_2packs_sq.jpg', class: 'img-fluid' %>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    Highly Severe BV: Your BV is recurrent and you’ve tried multiple treatments - including BV Clear, antibiotics,
                    douching, and/or those mentioned above.
                </p>
                <p>
                    Use 2 Packs of BV Clear Finisher.
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    = BV-free by day 12
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <%= image_tag 'illustration/NeuEve_BV_maintenance.jpg', class:'img-fluid' %>
            </div>
            <div class="col-lg-4 pt-4">
                <h4>
                    Maintenance:
                </h4>
                <p>
                    Once you’ve beaten BV, we recommend a suppository each week - excluding the week of your period - for a further three months.
                </p>
                <p>
                    One pack per month of BV Clear Finisher.
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <p>
                    This’ll keep your vagina in tip-top condition and can help prevent further episodes of BV.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="mt-4">

    <div class="bg-gray-100 text-dark-700 py-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 service-column">
                    <svg class="svg-icon service-icon">
                        <use xlink:href="#delivery-time-1"></use>
                    </svg>
                    <div class="service-text">
                        <h6 class="text-uppercase">Free Shipping</h6>
                        <p class="text-muted font-weight-light text-sm mb-0">Fulfilled Every Morning at 9am (except Sundays) via USPS from Chicago, IL</p>
                    </div>
                </div>
                <div class="col-lg-4 service-column">
                    <%= link_to(satisfaction_path, class: 'text-gray-700') do %>
                        <i class="far fa-smile-beam svg-icon service-icon"></i>
                    <% end %>
                    <div class="service-text">
                        <h6 class="text-uppercase"><%= link_to 'Satisfaction Guaranteed', satisfaction_path, class: 'text-gray-900' %></h6>
                        <p class="text-muted font-weight-light text-sm mb-0">Full Refund (except S&H) If No Progress After 30
                            Days</p>
                        <p class="text-muted font-weight-light text-sm mb-0">For Health Reasons, No Returns Accepted</p>
                        <p class="text-muted font-weight-light text-sm mb-0"><%= link_to 'Full details', satisfaction_path %></p>
                    </div>
                </div>
                <div class="col-lg-4 service-column">
                    <%= link_to(contact_path, class: 'text-gray-700') do %>
                        <svg class="svg-icon service-icon">
                            <use xlink:href="#customer-support-1"></use>
                        </svg>
                    <% end %>
                    <div class="service-text">
                        <h6 class="text-uppercase"><%= link_to "We're Here For You", contact_path, class: 'text-gray-900' %></h6>
                        <p class="text-muted font-weight-light text-sm mb-0">We're available M-F, 10-5, CST</p>
                        <p class="text-muted font-weight-light text-sm mb-0">
                            <a href="#" data-reamaze-lightbox="contact" data-reamaze-lightbox-anchored="true">Live Chat</a>
                        </p>
                        <p class="text-muted font-weight-light text-sm mb-0">Email:
                            <a href="mailto:help@neueve.com">help@neueve.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="mt-4">
    <div class="container">
        <h2>Video Testimonials</h2>
        <div class="row">
            <div class="col-lg-4 pt-4">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7wriYw1Z6ro?modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p class="p-3">
                    "My symptoms were gone in less than 24 hours"
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4pMzwcFCreY?modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p class="p-3">
                    "After I used this I had no more fishy odor left. It was very effective. I didn't have to not drink alcohol. It doesn't taste gross like antibiotics does."
                </p>
            </div>
            <div class="col-lg-4 pt-4">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eQ3Y3WH3bcQ?modestbranding=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p class="p-3">
                    "After I used the third one, my odor and discharge cleared up"
                </p>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <h2>Reviews</h2>
        <div class="py-4">
            <div class="text-content text-lg">
                <%= link_to '', {}, name: 'reviews' %>
                <div id="stamped-main-widget"
                     data-product-id="8000"
                     data-name="NeuEve BV Clear Finisher"
                     data-url="https://www.neueve.com/finisher"
                     data-image-url="https://d3ilh7i74k3q3i.cloudfront.net/assets/product/finisher/BV_Clear_Finisher_main-ec8ce05755e78d07cc4c1cecbcda2f96e34a544115012b60fc90d760a988864b.jpg"
                     data-description="Natural vaginal suppositories developed by a gynecologist, for balancing the natural pH and ending recurrent BV."
                     data-product-sku="finisher">
                </div>
            </div>
        </div>
    </div>
</section>


<%= render 'layouts/satisfaction_snippet' %>


<%= render 'layouts/disclaimer' %>


<!-- NeuEve BV Clear Finisher Structured Data -->
<script>

    function addEventListenerStamped(el, eventName, handler) {

        if (el.addEventListener) { el.addEventListener(eventName, handler); }
        else { el.attachEvent('on' + eventName, function () { handler.call(el); }); }

    }

    addEventListenerStamped(document, 'stamped:reviews:loaded', function(e) {
        var ratingCount = jQueryStamped('meta[itemprop="reviewCount"]').attr('content');
        var ratingValue = jQueryStamped('meta[itemprop="ratingValue"]').attr('content');

        var richSnippet = {
            "@context": "https://schema.org/",
            "@type": "Product",
            "sku": "finisher",
            "mpn": "finisher",
            "gtin": "091131112700",
            "image": [
                "https://m.media-amazon.com/images/I/61xhGusHzsL._SL1115_.jpg",
                "https://d3ilh7i74k3q3i.cloudfront.net/assets/product/finisher/BV_Clear_Finisher_main-ec8ce05755e78d07cc4c1cecbcda2f96e34a544115012b60fc90d760a988864b.jpg",
                "https://d3ilh7i74k3q3i.cloudfront.net/assets/product/finisher/BV_Clear_Finisher_main2-f5604eadddd6268dc3187fb7571bbeec5c6ae51563aab80dc9aed605466d9139.jpg",
                    "https://d3ilh7i74k3q3i.cloudfront.net/assets/product/general/NeuEve_3_Suppositories_Lavender-600c42b2fc219b5c7c3b47070734fd9c8d9f1f7f8c84e2885d2acdb753596d0e.jpg"
            ],
            "name": "BV Clear Finisher",
            "description": "A fast, OB/GYN-approved and all-natural method of beating severe bacterial vaginosis - for good." +
                           "\n" +
                           "Clears recurrent and chronic bacterial vaginosis, leaving you feeling comfortable, confident, and ready to rule the world" +
                           "\n" +
                           "Ends vaginal itching, odor and discharge without any pesky side-effects" +
                           "\n" +
                           "pH balancing to promote friendly bacteria and foster a healthy, happy vagina" +
                           "\n" +
                           "No antibiotics or boric acid. Uses all-natural, food grade ingredients - if you wouldn’t put it in your mouth, why use it down below?" +
                           "\n" +
                           "Each pack contains three suppositories" +
                           "",
            "brand": {
                "@type": "Brand",
                "name": "NeuEve"
            },
            "offers": {
                "@type": "Offer",
                "url": "https://www.neueve.com/silk",
                "itemCondition": "https://schema.org/NewCondition",
                "availability": "https://schema.org/InStock",
                "price": "52.95",
                "priceCurrency": "USD",
                "priceValidUntil": "<%= (Date.today + 1.year).iso8601 %>",
                "shippingDetails": {
                    "@type": "OfferShippingDetails",
                    "shippingRate": {
                        "@type": "MonetaryAmount",
                        "value": "0.0",
                        "currency": "USD"
                    },
                    "shippingDestination": {
                        "@type": "DefinedRegion",
                        "addressCountry": "US"
                    },
                    "deliveryTime": {
                        "@type": "ShippingDeliveryTime",
                        "handlingTime": {
                            "@type": "QuantitativeValue",
                            "minValue": "0",
                            "maxValue": "1"
                        },
                        "transitTime": {
                            "@type": "QuantitativeValue",
                            "minValue": "1",
                            "maxValue": "5"
                        },
                        "cutOffTime": "23:59-05:00",
                        "businessDays": {
                            "@type": "OpeningHoursSpecification",
                            "dayOfWeek": ["https://schema.org/Monday", "https://schema.org/Tuesday",
                                "https://schema.org/Wednesday", "https://schema.org/Thursday",
                                "https://schema.org/Friday"]
                        }
                    },
                    "shippingSettingsLink": "https://www.neueve.com/satisfaction"
                }
            },
            "review": [{
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "4",
                    "bestRating": "5"
                },
                "author": {
                    "@type": "Person",
                    "name": "Brandy"
                },
                "name": "Best B.V. Cure",
                "reviewBody" : "I'm 44 yrs. old. I have recurrent B.V. about 3yrs. now. I think that this product is wonderful. It really has helped me out in my stubborn B.V. days. I would deff. recommended this product." +
                               "\n" +
                               "I have however used other creams that are proscribed by the obgyn & regular family dr., but my B.V. kept coming back. I've used Chlamydia cream that I used vaginally, Monistat 3 supp. that I used for 3 days, Clindamycin cream once a day cream, Metrogel cream for 5 nights. None of these products kept the B.V. away. The only one that became the champion at keeping my B.V. at Bay is the NEUEVE suppository." +
                               "\n" +
                               "Anyway, I hope this review helps w/ all those women out there struggling w/ B.V. recurrences." +
                               "" +
                               "",
                "datePublished" : "2021-08-09"
            },{
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5",
                    "bestRating": "5"
                },
                "author": {
                    "@type": "Person",
                    "name": "Kylie"
                },
                "name": "AMAZING",
                "reviewBody" : "LOVE THIS PRODUCT. The only thing that has relieved me. Thank you!!!",
                "datePublished" : "2021-08-09"
            },{
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5",
                    "bestRating": "5"
                },
                "author": {
                    "@type": "Person",
                    "name": "Megan"
                },
                "name": "Relief",
                "reviewBody": "I have had severe symptoms from BV for month and finally got relief with NeuEve Finisher. I feel like I’ve finally found something that will keep the symptoms controlled.. Had to do internet research to find out what that may be about: Found many women experiencing it, called symptom of Menopause! I've been using 3 different external feminine salves (which I love them all) for about out a year but was looking for natural and safe INTERNAL product. Found that in NueEve. I was scared to use at first and have only used Silk two weeks now and using the NeuEve balm at night, too. SIGNIFICANTLY NOTICEABLE difference. I have to say, Sea Buckthorn oral supplement (recommended by NueEve for help with vaginal dryness), which I got at my natural grocer's after more internet research, seems to be a SIGNIFICANT FACTOR in helping. At least I noticed dry eyes (which is what it was largely touted for in store/on bottle) and dry mouth subsiding in literally a matter of a few days after one per day. (Fiance even takes this and significantly noticeable for him, as well, with the dry eye/mouth relief--we live at altitude, as well.) Not sure what is working best or most, but, at this point, I DON'T CARE: I am sold on the Silk, NeuEve Balm (which is so creamy and I love the smell) and Sea Buckthorn combo (as well as my three other external natural balm products which I alternate and love) for now. I will update this review after I finish my eight weeks of Silk. I will say, as TMI does not apply here, after two weeks, we did NOT have to use the usual lubricant during IC (which he described as a 'liquid condom' and did not care for its use but it was the only way we could make IC even remotely happen before). Feeling like a better version of my younger self, with noticeable increased sex drive and now better climax (as both were before painful IC). Best wishes for all older women wanting to still enjoy life. New Motto: 60 is the new 40! At least for me, with NeuEve.",
                "datePublished": "2021-08-09"
            }]
        };

        if (parseInt(ratingValue) > 0){
            richSnippet.aggregateRating = {
                "@type": "AggregateRating",
                "ratingValue": ratingValue,
                "reviewCount": ratingCount
            }
        }
        var script = document.createElement('script');
        script.type = 'application/ld+json';
        script.innerHTML = JSON.stringify(richSnippet);
        document.getElementsByTagName('head')[0].appendChild(script);
    });
</script>


<!-- GA4 View Item -->
<script type="text/javascript">
    gtag("event", "view_item", {
        currency: "USD",
        items: [
            {
                item_id: "finisher"
            }
        ]
    });

    <!-- Pinterest View Item -->
    pintrk('track', 'pagevisit', {
        product_id: "finisher"
    });
</script>