<% provide(:title, 'Testimonials for NeuEve BV Clear') %>
<% provide(:description, 'Tens of thousands of women quickly got relief from recurrent BV simply by using NeuEve. Here are their stories.') %>
<% provide(:last_modified, 'December 12, 2018') %>

<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item active">Testimonials for NeuEve BV Clear</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">Testimonials for NeuEve BV Clear</h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">


                    <div id="stamped-main-widget"
                         data-product-id="5000"
                         data-name="NeuEve BV Clear"
                         data-url="https://www.neueve.com/bv_clear"
                         data-image-url="https://d3ilh7i74k3q3i.cloudfront.net/assets/product/bv_clear/BV_Clear_1_Box-e101d477b25bd541ff79dfc8309fc71ed56bf1af7aae18f07d6da8d5b0e1da37.jpg"
                         data-description="Natural vaginal suppositories developed by a gynecologist, for balancing the natural pH and ending recurrent BV. The BV Clear has 3 suppositories."
                         data-product-sku="bv-clear-kit">
                    </div>

                    <p>
                        The following is feedback we have received from real nurses:
                    <p>

                    <ol>
                        <% @nurse_reviews.each do |review| %>
                            <li class="testimonial">
                                "<%= review %>"
                            </li>
                            <br>
                        <% end %>
                    </ol>

                    <p>
                        The following is feedback we have received from real people:
                    <p>

                    <ol>
                        <% @long_reviews.each do |review| %>
                            <li class="testimonial">
                                "<%= review %>"
                            </li>
                            <br>
                        <% end %>
                    </ol>

                    <p>
                        More testimonials from real people:
                    <p>

                    <ol>
                        <% @short_reviews.each do |review| %>
                            <li class="testimonial">
                                "<%= review %>"
                            </li>
                            <br>
                        <% end %>
                    </ol>

                </div>
            </div>
        </div>
    </div>
</section>

<%= render 'layouts/testimonial_disclaimer' %>

<%= render 'layouts/order_now_bv' %>