<% provide(:title, 'Vaginal Cream for Dryness and Atrophy') %>
<% provide(:description, 'Works Quickly! NeuEve is a non-estrogen cream that is helpful for vaginal atrophy, available for $42.95. Satisfaction guaranteed.') %>
<% provide(:last_modified, 'December 11, 2018') %>

<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item active">Cream</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">Natural Vaginal Cream</h1>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="mx-auto">
            <div class="row align-items-center">
                <div class="col-md-8 pb-3">
                    <div class="row pb-2">
                        <div class="col-12 detail-carousel">
                            <div data-slider-id="1" class="owl-carousel detail-slider">
                                <div class="item">
                                    <%= image_tag('product/cream/NeuEve_Cream_Lavender.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Cream is a natural vaginal moisturizer that alleviates itching and burning.
                              It was designed for women with severe atrophy and painful sex.'
                                        ) %>
                                </div>
                                <div class="item">
                                    <%= image_tag('product/cream/NeuEve_Cream_BlueField.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Cream is a vaginal cream that is edible and safe for oral sex, unlike estrogen creams.'
                                        ) %>
                                </div>
                                <div class="item">
                                    <%= image_tag('product/cream/NeuEve_Cream_Orange.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Cream is great for vaginal dryness and is made from organic ingredients.'
                                        ) %>
                                </div>
                                <div class="item">
                                    <%= image_tag('product/cream/NeuEve_Cream_Hand.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Cream uses vitamins and essential oils to moisturize the vaginal tissues and thicken
                                                  and tighten vaginal walls.'
                                        ) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pr-0">
                            <div data-slider-id="1" class="owl-thumbs">
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/cream/NeuEve_Cream_Lavender.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Cream is a natural vaginal moisturizer that alleviates itching and burning.
                              It was designed for women with severe atrophy and painful sex.'
                                        ) %>
                                </button>
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/cream/NeuEve_Cream_BlueField.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Cream is a vaginal cream that is edible and safe for oral sex, unlike estrogen creams.'
                                        ) %>
                                </button>
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/cream/NeuEve_Cream_Orange.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Cream is great for vaginal dryness and is made from organic ingredients.'
                                        ) %>
                                </button>
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/cream/NeuEve_Cream_Hand.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Cream uses vitamins and essential oils to moisturize the vaginal tissues and thicken
                                                  and tighten vaginal walls.'
                                        ) %>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div itemscope itemtype="http://schema.org/Product" class="align-middle">
                        <strong>
                            <div itemprop="name">NeuEve Cream (2-3 months supply)</div>
                            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                            <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
                        </strong>
                        0.7 oz<br>
                        <div class="row pt-2">
                            <div class="col-12 pb-2">
                                <p>
                                <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                  <span itemprop="price">$42.95</span>
                                  <meta itemprop="priceCurrency" content="USD"/>
                                </span>
                                </p>
                                <br>

                                <div class="formbutton">
                                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="MGMFZHE4QB2LW">
                                        <%= button_tag(type: 'submit',
                                                       class: 'btn btn-large btn-warning add-to-cart',
                                                       id: 'neueve-cream',
                                                       name: 'submit') do %>
                                            <svg class="svg-icon"><use xlink:href="#add-to-cart-1"></use></svg>
                                            Add to Cart
                                        <% end %>
                                    </form>
                                </div>

                            </div>
                            <div class="col-12">
                                $42.50 / Every 2 Months
                                <p>Recurring Delivery</p>
                                <div class="formbutton">
                                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="CSTXNP4RRNRP6">
                                        <%= button_tag(type: 'submit',
                                                       class: 'btn btn-large btn-warning subscribe',
                                                       id: 'neueve-cream',
                                                       name: 'submit') do %>
                                            <i class="fas fa-sync-alt svg-icon"></i>
                                            Subscribe
                                        <% end %>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <span class="stamped-product-reviews-badge stamped-main-badge" data-id="0"></span>

                    </div>
                    <hr>
                    <div align="center">
                        4.1 Stars on <%= link_to image_tag('amazon-4-stars.png', :size => "95x42"),
                                                 create_url('https://www.amazon.com/',
                                                            ['NeuEve-Cream',
                                                             'product-reviews',
                                                             'B00CHY132G'],
                                                            {
                                                                    ie: 'UTF8',
                                                                    reviewerType: 'all_reviews',
                                                                    showViewpoints: 0,
                                                                    sortBy: 'helpful',
                                                                    pageNumber: 1,
                                                                    filterByStar: 'positive',
                                                                    _encoding: 'UTF8',
                                                                    tag: 'neu08-20',
                                                                    linkCode: 'ur2',
                                                                    linkId: '6UZATQATJAIEJXXD',
                                                                    camp: 1789,
                                                                    creative: 9325
                                                            }, 'R2RKRAUBBIC4B9'),
                                                 :class => 'amazon-review',
                                                 :id => 'neueve-cream',
                                                 :target => '_blank' %><br>

                        <%= link_to 'Amazon Reviews of NeuEve Cream'.html_safe,
                                    create_url('https://www.amazon.com/',
                                               ['NeuEve-Cream',
                                                'product-reviews',
                                                'B00CHY132G'],
                                               {
                                                       ie: 'UTF8',
                                                       reviewerType: 'all_reviews',
                                                       showViewpoints: 0,
                                                       sortBy: 'helpful',
                                                       pageNumber: 1,
                                                       filterByStar: 'positive',
                                                       _encoding: 'UTF8',
                                                       tag: 'neu08-20',
                                                       linkCode: 'ur2',
                                                       linkId: '6UZATQATJAIEJXXD',
                                                       camp: 1789,
                                                       creative: 9325
                                               }, 'R2RKRAUBBIC4B9'),
                                    :class => 'amazon-review',
                                    :id => 'neueve-cream',
                                    :target => '_blank' %>

                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto pt-4">
            <hr>
            <div class="row align-times-center">
                <div itemscope itemtype="http://schema.org/Product" align="center" class="col-12 text-center">
                    <strong>
                        <div itemprop="name">Four Jars of NeuEve Cream</div>

                        <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                        <meta itemprop="description" content="NeuEve Cream is a natural vaginal moisturizer that alleviates itching and burning.
                              It was designed for women with severe atrophy and painful sex."/>
                    </strong>
                    4 x 0.7 oz = 2.8 oz Total
                    <br>
                    <div>
                        Bulk Discount:
                    </div>
                        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                          <strike>$172</strike> <i class="fas fa-long-arrow-alt-right"></i> <span itemprop="price">$160</span>
                          <meta itemprop="priceCurrency" content="USD"/>
                        </span>

                    <div>
                        Save $12!
                    </div>
                    <br>

                    <div class="formbutton">
                        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="UNGK5G3CWJX92">
                            <%= button_tag(type: 'submit',
                                           class: 'btn btn-large btn-warning add-to-cart',
                                           id: 'neueve-cream',
                                           name: 'submit') do %>
                                <svg class="svg-icon">
                                    <use xlink:href="#add-to-cart-1"></use>
                                </svg>
                                Add 4 Boxes to Cart
                            <% end %>
                        </form>
                    </div>
                </div>

            </div>
            <hr>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">


                    <p>
                        The NeuEve cream is made with more concentrated ingredients than the suppository so
                        that a small amount can be used at a time to avoid messiness.
                    </p>


                    <h3>
                        Indications:<sup>*</sup>
                    </h3>
                    <p>
                        Vulvar itching, burning, dryness, atrophy, painful intercourse (dyspareunia)

                        and/or vaginal muscle spasm (vaginismus).<sup>*</sup> Mainly for external vulvar where the

                        suppository does not reach.
                    <p>

                    <h3>
                        Direction:
                    </h3>
                    <p>
                        Empty the bladder. Wash with soap and water. Gently apply a small amount

                        (a dime size) of the cream with a finger to the vulvar once daily. Do not over apply.

                        not use during menses. Can be used in combination with the NeuEve suppository.
                    </p>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="py-4">
            <div class="text-content text-lg">
                    <%= link_to '', {}, name: 'reviews' %>
                    <div id="stamped-main-widget"
                         data-product-id="0"
                         data-name="NeuEve Cream"
                         data-url="https://www.neueve.com/cream"
                         data-image-url="https://d3ilh7i74k3q3i.cloudfront.net/assets/natural_vaginal_cream_NeuEve-fdb6838d47b5e8c44b1071677d791d6b7272e637f36db105fbda81679af7764c.jpg"
                         data-description="NeuEve Cream is a natural vaginal moisturizer that alleviates itching and burning. It was designed for women with severe atrophy and painful sex."
                         data-product-sku="cream">
                    </div>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">
                    <h3>
                        Ingredients:
                    </h3>
                    <p>
                        <%= link_to 'Organic palm oil*', faq_path(:anchor => 'tropicalTraditions') %>, organic coconut oil, beeswax,
                        evening primrose oil, organic sea buckthorn fruit oil, lavender
                        essential oil, orange oil, vitamin E (d-α
                        tocopherol), <%= link_to 'and a proprietary blend of nutrients', faq_path(:anchor => 'proprietaryBlend') %>
                        .
                        All ingredients are natural, organic, green, gluten-free,
                        food-grade and of plant source.
                        <br>
                        NeuEve Cream <strong>does NOT contain</strong> any synthetic chemicals,
                        hormones, drugs, herbs (such as black cohosh and wild yam), yeasts, bacteria, animal
                        byproducts, petroleum products, artificial color, artificial fragrance, and preservatives
                        such as parabens.
                    </p>

                    <h3>
                        Note:
                    </h3>
                    <p>
                        For vulvovaginal use only. Over-application may cause intolerance. Stop use
                        and wash thoroughly to remove the cream if suspected allergy occurs (such as extensive
                        itching and excessive discharges).
                    </p>
                    <br>

                    <h3>
                        Testimonials about the cream:<sup>*</sup>
                    </h3>

                    <br>
                    <p class="testimonial">
                        “The itching and dryness have bothered me for so many years. Vitamin E cream does not
                        work. NeuEve cream works. I have no more itching!”
                        <br>
                        <br>

                        “Thank you Dr. Chang. You're a godsend! The cream works so well that I almost forgot
                        that I had this itching problem.”
                        <br>
                        <br>

                        “I am sensitive to estrogen. Even at the lowest dosage, I got bleeding. My OB/GYN
                        recommended me to try NeuEve cream. Now I have no more itching. I am so happy.”
                        <br>
                        <br>

                        "I have suffered from vulva/vaginal dryness for the last 10 years and thought I'd never
                        find an all-natural formula to fix the problem. There were times when the dryness was
                        so bad my tissues would bleed. I'd use pure vitamin E oil and that didn't do anything to
                        relieve the problem; just gave me short-term relief. I sometimes had to apply the vitamin
                        E 3-4 times a day. And then I learned about NeuEve. What I love about NeuEve Cream is
                        that I apply a tiny amount after bathing and I'm good to go for the day. And, I no longer
                        have the odor associated with the condition since starting NeuEve. I always associated
                        that odor with poor hygiene until I had it. If all women knew about the tremendous
                        benefits of NeuEve, they'd get in line to buy it!"
                        <br>
                        <br>

                        "NeuEve was recommended to me by a friend. It's been a god send! Using the silk
                        suppositories every third day and using the cream nightly I have found wonderful relief
                        from my discomfort! I have vaginal atrophy and burning and itching. Your products have
                        helped tremendously. I've been using them for a little over a month and I have noticed a
                        great relief from my symptoms. Thank you Dr Chang!"
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<%= render 'layouts/testimonial_disclaimer' %>