<% provide(:title, 'Vaginal Cream for Dryness and Atrophy') %>
<% provide(:description, 'Works Quickly! NeuEve is a non-hormonal cream that is extremely effective at healing vaginal atrophy for $34.95. Satisfaction guaranteed.') %>


<div class="jumbotron">
    <h1>NeuEve Cream : Product Information</h1>
</div>
<br>

<table class='table table-bordered table-striped table-condensed'>

    <tr align="center">
        <td style="background-color: #fdfdfa" colspan="2">
            <div align="center">
                <%= image_tag('cream-red-flower-med.jpg', :class=>'img_pair') %>
            </div>
        </td>
        <td style="background-color: #eaeaea" colspan="2">
            <div align="center">
                <%= image_tag('cream-back.jpg', :class=>'img_pair') %>
            </div>
        </td>
    </tr>
</table>

<p>
    The NeuEve cream is made with more concentrated ingredients than the suppository so
    that a small amount can be used at a time to avoid messiness.
</p>


<h3>
    Indications:<sup>*</sup>
</h3>
<p>
    Vulvar itching, burning, dryness, atrophy, painful intercourse (dyspareunia)

    and/or vaginal muscle spasm (vaginismus).<sup>*</sup> Mainly for external vulvar where the

    suppository does not reach.
<p>

<h3>
    Direction:
</h3>
<p>
    Empty the bladder. Wash with soap and water. Gently apply a small amount

    (a dime size) of the cream with a finger to the vulvar once daily. Do not over apply.

    not use during menses. Can be used in combination with the NeuEve suppository.
</p>

<h3>
    Ingredients:
</h3>
<p>
    <%= link_to 'Palm oil*',faq_path(:anchor => 'tropicalTraditions') %>, beeswax, evening primrose oil, flaxseed oil, orange oil, lavender
    essential oil, vitamins <%= link_to 'and a proprietary blend of nutrients', faq_path(:anchor => 'proprietaryBlend') %>.
    All ingredients are natural, organic, green, gluten-free,
    food-grade and of plant source.
    <br>
    NeuEve Cream <strong>does NOT contain</strong> any synthetic chemicals,
    hormones, drugs, herbs (such as black cohosh and wild yam), yeasts, bacteria, animal
    byproducts, petroleum products, artificial color, artificial fragrance, and preservatives
    such as parabens.
</p>

<h3>
    Note:
</h3>
<p>
    For vulvovaginal use only. Over-application may cause intolerance. Stop use
    and wash thoroughly to remove the cream if suspected allergy occurs (such as extensive
    itching and excessive discharges).
</p>
<br>

<h3>
    Testimonials about the cream:<sup>*</sup>
</h3>

<br>
<p class="testimonial">
    “The itching and dryness have bothered me for so many years. Vitamin E cream does not
    work. NeuEve cream works. I have no more itching!”
    <br>
    <br>

    “Thank you Dr. Chang. You're a godsend! The cream works so well that I almost forgot
    that I had this itching problem.”
    <br>
    <br>

    “I am sensitive to estrogen. Even at the lowest dosage, I got bleeding. My OB/GYN
    recommended me to try NeuEve cream. Now I have no more itching. I am so happy.”
    <br>
    <br>

    "I have suffered from vulva/vaginal dryness for the last 10 years and thought I'd never
    find an all-natural formula to fix the problem. There were times when the dryness was
    so bad my tissues would bleed. I'd use pure vitamin E oil and that didn't do anything to
    relieve the problem; just gave me short-term relief. I sometimes had to apply the vitamin
    E 3-4 times a day. And then I learned about NeuEve. What I love about NeuEve Cream is
    that I apply a tiny amount after bathing and I'm good to go for the day. And, I no longer
    have the odor associated with the condition since starting NeuEve. I always associated
    that odor with poor hygiene until I had it. If all women knew about the tremendous
    benefits of NeuEve, they'd get in line to buy it!"
    <br>
    <br>

    "NeuEve was recommended to me by a friend. It's been a god send! Using the silk
    suppositories every third day and using the cream nightly I have found wonderful relief
    from my discomfort! I have vaginal atrophy and burning and itching. Your products have
    helped tremendously. I've been using them for a little over a month and I have noticed a
    great relief from my symptoms. Thank you Dr Chang!"
</p>

<%= render 'layouts/testimonial_disclaimer' %>