<% provide(:title, 'Vaginal Cream for Dryness and Atrophy') %>
<% provide(:description, 'Works Quickly! NeuEve is a non-estrogen cream that is helpful for vaginal atrophy, available for $59.95. Satisfaction guaranteed.') %>
<% provide(:last_modified, 'December 11, 2018') %>

<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item active">Cream</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">Natural Vaginal Cream</h1>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="mx-auto">
            <div class="row align-items-center">
                <div class="col-md-8 pb-3">
                    <div class="row pb-2">
                        <div class="col-12 detail-carousel">
                            <div data-slider-id="1" class="owl-carousel detail-slider">
                                <div class="item">
                                    <%= image_tag('product/cream/NeuEve_Cream_Lavender.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Cream is a natural vaginal moisturizer that alleviates itching and burning.
                              It was designed for women with severe atrophy and painful sex.'
                                        ) %>
                                </div>
                                <div class="item">
                                    <%= image_tag('product/cream/NeuEve_Cream_BlueField.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Cream is a vaginal cream that is edible and safe for oral sex, unlike estrogen creams.'
                                        ) %>
                                </div>
                                <div class="item">
                                    <%= image_tag('product/cream/NeuEve_Cream_Orange.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Cream is great for vaginal dryness and is made from organic ingredients.'
                                        ) %>
                                </div>
                                <div class="item">
                                    <%= image_tag('product/cream/NeuEve_Cream_Hand.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Cream uses vitamins and essential oils to moisturize the vaginal tissues and thicken
                                                  and tighten vaginal walls.'
                                        ) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pr-0">
                            <div data-slider-id="1" class="owl-thumbs">
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/cream/NeuEve_Cream_Lavender.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Cream is a natural vaginal moisturizer that alleviates itching and burning.
                              It was designed for women with severe atrophy and painful sex.'
                                        ) %>
                                </button>
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/cream/NeuEve_Cream_BlueField.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Cream is a vaginal cream that is edible and safe for oral sex, unlike estrogen creams.'
                                        ) %>
                                </button>
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/cream/NeuEve_Cream_Orange.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Cream is great for vaginal dryness and is made from organic ingredients.'
                                        ) %>
                                </button>
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/cream/NeuEve_Cream_Hand.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Cream uses vitamins and essential oils to moisturize the vaginal tissues and thicken
                                                  and tighten vaginal walls.'
                                        ) %>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="align-middle">
                        <strong>
                            <div>NeuEve Cream (2-3 months supply)</div>
                        </strong>
                        0.7 oz<br>
                        <div class="row pt-2">
                            <div class="col-12 pb-2">
                                <span>
                                  <span>$59.95</span>
                                </span>

                                <div class="formbutton">
                                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="MGMFZHE4QB2LW">
                                        <%= button_tag(type: 'submit',
                                                       class: 'btn btn-large btn-warning add-to-cart',
                                                       id: 'neueve-cream',
                                                       name: 'submit') do %>
                                            <svg class="svg-icon"><use xlink:href="#add-to-cart-1"></use></svg>
                                            Add to Cart
                                        <% end %>
                                    </form>
                                </div>
                            </div>

                            <br>
                            <div class="col-12 pt-4 mt-3">
                                $49.95 / Every 2 Months
                                <p>Recurring Delivery</p>
                                <div class="formbutton">
                                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="CSTXNP4RRNRP6">
                                        <%= button_tag(type: 'submit',
                                                       class: 'btn btn-large btn-warning subscribe',
                                                       id: 'neueve-cream',
                                                       name: 'submit') do %>
                                            <i class="fas fa-sync-alt svg-icon"></i>
                                            Subscribe
                                        <% end %>
                                    </form>
                                </div>
                                <div class="text-sm">(Min. 4 Months)</div>
                            </div>
                        </div>

                        <span class="stamped-product-reviews-badge stamped-main-badge" data-id="6000"></span>

                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto pt-4">
            <hr>
            <div class="row align-times-center">
                <div align="center" class="col-12 text-center">
                    <strong>
                        <div>Four Jars of NeuEve Cream</div>

                    </strong>
                    4 x 0.7 oz = 2.8 oz Total
                    <br>
                    <div>
                        Bulk Discount:
                    </div>
                        <span>
                          <strike>$240</strike> <i class="fas fa-long-arrow-alt-right"></i> <span>$199</span>
                        </span>

                    <div>
                        Save $12!
                    </div>
                    <br>

                    <div class="formbutton">
                        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="UNGK5G3CWJX92">
                            <%= button_tag(type: 'submit',
                                           class: 'btn btn-large btn-warning add-to-cart',
                                           id: 'neueve-cream',
                                           name: 'submit') do %>
                                <svg class="svg-icon">
                                    <use xlink:href="#add-to-cart-1"></use>
                                </svg>
                                Add 4 Boxes to Cart
                            <% end %>
                        </form>
                    </div>
                </div>

            </div>
            <hr>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">
                    <h3>
                        Ingredients:
                    </h3>
                    <p>
                        <%= link_to 'Organic palm oil*', 'https://help.neueve.com/kb/ingredients/please-stop-using-palm-oil' %>, organic coconut oil, organic beeswax,
                        evening primrose oil, organic sea buckthorn fruit oil, organic lavender
                        essential oil, organic orange oil, organic vitamin E (d-α
                        tocopherol), <%= link_to 'and a proprietary blend of nutrients', 'https://help.neueve.com/kb/ingredients/whats-in-the-proprietary-blend' %>
                        .
                        All ingredients are natural, organic, green, gluten-free,
                        food-grade and of plant source.
                        <br>
                        NeuEve Cream <strong>does NOT contain</strong> any synthetic chemicals,
                        hormones, drugs, herbs (such as black cohosh and wild yam), yeasts, bacteria, animal
                        byproducts, petroleum products, artificial color, artificial fragrance, and preservatives
                        such as parabens.
                    </p>


                    <p>
                        The NeuEve cream is made with more concentrated ingredients than the suppository so
                        that a small amount can be used at a time to avoid messiness.
                    </p>


                    <h3>
                        Indications:<sup>*</sup>
                    </h3>
                    <p>
                        Vulvar itching, burning, dryness, atrophy, painful intercourse (dyspareunia)

                        and/or vaginal muscle spasm (vaginismus).<sup>*</sup> Mainly for external vulvar where the

                        suppository does not reach.
                    <p>

                    <h3>
                        Direction:
                    </h3>
                    <p>
                        Empty the bladder. Wash with soap and water. Gently apply a small amount

                        (a dime size) of the cream with a finger to the vulvar once daily. Do not over apply.

                        not use during menses. Can be used in combination with the NeuEve suppository.
                    </p>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="py-4">
            <div class="text-content text-lg">
                    <%= link_to '', {}, name: 'reviews' %>
                    <div id="stamped-main-widget"
                         data-product-id="6000"
                         data-name="NeuEve Cream"
                         data-url="https://www.neueve.com/cream"
                         data-image-url="https://d3ilh7i74k3q3i.cloudfront.net/assets/product/cream/NeuEve_Cream_Lavender-1a320fcd6ad5bb9dba22c56f04589e682714977a641e929479a6d83d0ae010fc.jpg"
                         data-description="NeuEve Cream is a natural vaginal moisturizer that alleviates itching and burning. It was designed for women with severe atrophy and painful sex."
                         data-product-sku="cream">
                    </div>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">

                    <h3>
                        Note:
                    </h3>
                    <p>
                        For vulvovaginal use only. Over-application may cause intolerance. Stop use
                        and wash thoroughly to remove the cream if suspected allergy occurs (such as extensive
                        itching and excessive discharges).
                    </p>
                    <br>

                    <h3>
                        Testimonials about the cream:<sup>*</sup>
                    </h3>

                    <br>
                    <p class="testimonial">
                        “The itching and dryness have bothered me for so many years. Vitamin E cream does not
                        work. NeuEve cream works. I have no more itching!”
                        <br>
                        <br>

                        “Thank you Dr. Chang. You're a godsend! The cream works so well that I almost forgot
                        that I had this itching problem.”
                        <br>
                        <br>

                        “I am sensitive to estrogen. Even at the lowest dosage, I got bleeding. My OB/GYN
                        recommended me to try NeuEve cream. Now I have no more itching. I am so happy.”
                        <br>
                        <br>

                        "I have suffered from vulva/vaginal dryness for the last 10 years and thought I'd never
                        find an all-natural formula to fix the problem. There were times when the dryness was
                        so bad my tissues would bleed. I'd use pure vitamin E oil and that didn't do anything to
                        relieve the problem; just gave me short-term relief. I sometimes had to apply the vitamin
                        E 3-4 times a day. And then I learned about NeuEve. What I love about NeuEve Cream is
                        that I apply a tiny amount after bathing and I'm good to go for the day. And, I no longer
                        have the odor associated with the condition since starting NeuEve. I always associated
                        that odor with poor hygiene until I had it. If all women knew about the tremendous
                        benefits of NeuEve, they'd get in line to buy it!"
                        <br>
                        <br>

                        "NeuEve was recommended to me by a friend. It's been a god send! Using the silk
                        suppositories every third day and using the cream nightly I have found wonderful relief
                        from my discomfort! I have vaginal atrophy and burning and itching. Your products have
                        helped tremendously. I've been using them for a little over a month and I have noticed a
                        great relief from my symptoms. Thank you Dr Chang!"
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<%= render 'layouts/testimonial_disclaimer' %>


<!-- NeuEve Cream Structured Data -->
<script>

    function addEventListenerStamped(el, eventName, handler) {

        if (el.addEventListener) { el.addEventListener(eventName, handler); }
        else { el.attachEvent('on' + eventName, function () { handler.call(el); }); }

    }

    addEventListenerStamped(document, 'stamped:reviews:loaded', function(e) {
        var ratingCount = jQueryStamped('meta[itemprop="reviewCount"]').attr('content');
        var ratingValue = jQueryStamped('meta[itemprop="ratingValue"]').attr('content');

        var richSnippet = {
            "@context": "https://schema.org/",
            "@type": "Product",
            "sku": "cream",
            "mpn": "cream",
            "gtin": "804551330605",
            "image": [
                "https://d3ilh7i74k3q3i.cloudfront.net/assets/product/cream/NeuEve_Cream_White-7c66b56067c9f6b6659aee0851cdbb85c3bc2f49f85d6784e4c252f7a3018c5a.jpg",
                "https://d3ilh7i74k3q3i.cloudfront.net/assets/product/cream/NeuEve_Cream_Lavender-1a320fcd6ad5bb9dba22c56f04589e682714977a641e929479a6d83d0ae010fc.jpg",
                "https://d3ilh7i74k3q3i.cloudfront.net/assets/product/cream/NeuEve_Cream_BlueField-15fbe29fd50afd501216c60cbe9a63abd823c7d401da75373712c3ed8f31035e.jpg",
                    "https://d3ilh7i74k3q3i.cloudfront.net/assets/product/cream/NeuEve_Cream_Orange-2a48a152a33f9ac9affc5ce23e105b472412ade67d02f61d5279dce82ed4b5b2.jpg"
            ],
            "name": "NeuEve Vaginal Cream",
            "description": "NeuEve Vaginal Cream helps relieve vaginal dryness & itching. NeuEve Cream is made from " +
                           "all-natural, plant-based ingredients that are safe to ingest. NeuEve Cream helps alleviate " +
                           "vulvar itching, burning, dryness, atrophy, painful intercourse (dyspareunia) and vaginal " +
                           "muscle spasm (vaginismus). One jar of NeuEve Cream will last about 2-3 months. Ingredients : " +
                           "Organic palm oil, organic beeswax, evening primrose oil, organic flaxseed oil, organic sea buckthorn oil, " +
                           "organic orange oil, organic lavender essential oil, vitamins and a proprietary blend. All ingredients are " +
                           "natural, organic, green, vegan, gluten-free, food-grade and of plant source.",
            "brand": {
                "@type": "Brand",
                "name": "NeuEve"
            },
            "offers": {
                "@type": "Offer",
                "url": "https://www.neueve.com/cream",
                "itemCondition": "https://schema.org/NewCondition",
                "availability": "https://schema.org/InStock",
                "price": "59.95",
                "priceCurrency": "USD",
                "priceValidUntil": "<%= (Date.today + 1.year).iso8601 %>",
                "shippingDetails": {
                    "@type": "OfferShippingDetails",
                    "shippingRate": {
                        "@type": "MonetaryAmount",
                        "value": "0.0",
                        "currency": "USD"
                    },
                    "shippingDestination": {
                        "@type": "DefinedRegion",
                        "addressCountry": "US"
                    },
                    "deliveryTime": {
                        "@type": "ShippingDeliveryTime",
                        "handlingTime": {
                            "@type": "QuantitativeValue",
                            "minValue": "0",
                            "maxValue": "1"
                        },
                        "transitTime": {
                            "@type": "QuantitativeValue",
                            "minValue": "1",
                            "maxValue": "5"
                        },
                        "cutOffTime": "23:59-05:00",
                        "businessDays": {
                            "@type": "OpeningHoursSpecification",
                            "dayOfWeek": ["https://schema.org/Monday", "https://schema.org/Tuesday",
                                "https://schema.org/Wednesday", "https://schema.org/Thursday",
                                "https://schema.org/Friday"]
                        }
                    },
                    "shippingSettingsLink": "https://www.neueve.com/satisfaction"
                }
            },
            "review": [{
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5",
                    "bestRating": "5"
                },
                "author": {
                    "@type": "Person",
                    "name": "Erin"
                },
                "name": "Excellent products!",
                "reviewBody" : "I have had a very positive experience with NeuEve products. The Silk suppositories and NeuEve Cream have been life-changing! I am 59 years old and experienced several years of significant vaginal dryness and pain during sex. My doctor recommended hormone replacement, but I wanted a more natural solution. I started using the Silk suppositories and Cream a couple of months ago and the results have been amazing! No more vaginal dryness or painful sex! It takes time, so be patient. But it is definitely worth it. These products are wonderful.",
                "datePublished" : "2019-08-08"
            },{
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5",
                    "bestRating": "5"
                },
                "author": {
                    "@type": "Person",
                    "name": "dbusic"
                },
                "name": "Excellent results so far!",
                "reviewBody" : "I am actually amazed at the vast improvement of my once extremely thin vaginal tissue. At 70 years old I was convinced that sex with my husband was never going to possible again due to tearing & pain. After using the cream for only one month I feel certain that will not be the case! It really is amazing. It really does put vitality & comfort back into the vaginal area. No thin tissue at all. Now I’m so looking forward to trying the suppositories even though I read they can be messy. It will be worth it If it brings intimacy back into our very happy marriage of 38 years. So incredibly grateful to have found these products after years of unsuccessful suggestions from my female gyn.",
                "datePublished" : "2020-07-31"
            },{
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5",
                    "bestRating": "5"
                },
                "author": {
                    "@type": "Person",
                    "name": "Meg Z."
                },
                "name": "This cream works really well with the suppositories.",
                "reviewBody": "This product is a real game-changer! I have sensitive skin, and I started with the Silk Formula (I'll likely copy this review and post it there, too, as well as with the cream). I saw a bit of improvement right away, but it *did* take time for it to work fully, so be patient. (I was skeptical about it at first, too. After all, 'being patient' could just be a way to get people to buy more of a product that doesn't work). I used the product for about 4 months total before I was completely comfortable during sex again, and I'm now using the Gold formula. It's awkward to post about such a sensitive topic, until you think about all the other topics that were once thought unmentionable and now we talk about those at least relatively freely. Why should a matter that's so important to a woman (and a couple) be any different? The cream and the suppositories have different roles/purposes, and I would recommend using both (and use the cream everyday), and starting slowly with the silk until your body adjusts. (Basically, follow the instructions and be patient). Even if you don't have sensitive skin, if you have extreme dryness, a stronger version of the product might not stay in your body long enough to work. Also, it's worth noting that my gynecologist recommended an estrogen cream about a year or so before I tried NeuEve....I had such a terrible allergic reaction that I was *really* afraid to try anything else....but I did...and I am so grateful and happy I did!",
                "datePublished": "2018-11-26"
            }]
        };

        if (parseInt(ratingValue) > 0){
            richSnippet.aggregateRating = {
                "@type": "AggregateRating",
                "ratingValue": ratingValue,
                "reviewCount": ratingCount
            }
        }
        var script = document.createElement('script');
        script.type = 'application/ld+json';
        script.innerHTML = JSON.stringify(richSnippet);
        document.getElementsByTagName('head')[0].appendChild(script);
    });
</script>


<!-- GA4 View Item -->
<script type="text/javascript">
    gtag("event", "view_item", {
        currency: "USD",
        items: [
            {
                item_id: "cream"
            }
        ]
    });


    <!-- Pinterest View Item -->
    pintrk('track', 'pagevisit', {
        product_id: "cream"
    });


    <!-- Bing View Item -->
    window.uetq = window.uetq || [];
    window.uetq.push('event', '', {
                'ecomm_prodid': ["cream"],
                'ecomm_pagetype': 'product'
            }
    );

    <!-- Facebook View Item -->
    fbq('track', 'ViewContent', {
        content_type: 'product',
        content_ids: ['cream'],
        value: 0.50,
        currency: 'USD'});

    <!-- Google Adwords View Item support.google.com/google-ads/answer/7305793 -->
    gtag('event', 'page_view', {
        'send_to': 'AW-1039056375',
        'items': [{
            'id': 'cream',
            'google_business_vertical': 'retail'
        }],
        'ecomm_pagetype': 'product',
        'ecomm_prodid': 'cream'
    });
</script>