<% provide(:title, 'Dilators | Neodymium Magnetic Dilator by VuVa') %>
<% provide(:description, 'According to clinical trials, VuVa Magnetic Vaginal Dilators can help relieve pelvic pain and vaginismus.') %>
<% provide(:last_modified, 'October 1, 2018') %>

<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item active">Dilators</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">Dilators by VuVa</h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="mx-auto">
            <div class="row align-items-center">
                <div class="col-md-6 pb-3">
                    <%= image_tag('dilators/vaginismus_dilators_neueve.jpg', :class => 'img_pair img-fluid',
                                  alt: 'Magnetic vaginal dilators can help with vaginismus'
                        ) %>
                </div>
                <div class="col-md-6 text-center">
                    <div>
                        <div><strong>Vaginismus Dilator Set by VuVa</strong></div>
                        2 dilators (and bonus 4oz Slippery Stuff lube) <br>
                        <%= image_tag('dilators/vaginismus_dilators_neueve2.jpg', :class => 'seal', :size => "88x130",
                                      alt: 'Magnetic vaginal dilators can help with vaginismus') %>
                        <br>

                        $39.00
                        <br>

                        <%= link_to 'https://www.vuvatech.com/collections/frontpage/products/vaginismus-neodymium-dilator-starter-kit?afmc=2m', :class => 'formbutton btn btn-large btn-warning add-to-cart', :target => '_blank' do %>
                            Buy Now
                        <% end %>
                    </div>           </div>
            </div>
        </div>
        <div class="mx-auto">
            <div class="row align-items-center">
                <div class="col-md-6 pb-3">
                    <%= image_tag('dilators/pelvic_pain_dilator_neueve.jpg', :class => 'img_pair img-fluid',
                                  alt: 'Magnetic vaginal dilators can help with pelvic pain'
                        ) %>
                </div>
                <div class="col-md-6 text-center">
                    <div>
                        <div>
                            <strong>
                                Full Set of Magnetic Vaginal Dilators
                            </strong>
                        </div>
                        5 dilators (and bonus 4oz Slippery Stuff lube)
                        <br>
                        <%= image_tag('dilators/pelvic_pain_dilator_neueve2.jpg', :class => 'seal', :size => "280x189",
                                      alt: 'Magnetic vaginal dilators can help with pelvic pain') %>
                        <br>
                        $219.00
                        <br>


                        <%= link_to 'https://www.vuvatech.com/collections/frontpage/products/full-set-of-vuva-magnetic-dilators?afmc=2m', :class => 'formbutton btn btn-large btn-warning add-to-cart', :target => '_blank' do %>
                            Buy Now
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">

<h3>
    Description:
</h3>
<p>
    These patented vaginal dilators are made with FDA approved plastic, and has over 60 strong neodymium magnets inside
    each dilator.
</p>
<p>
    The purpose of these vaginal dilators is to help with dyspareunia, vaginal atrophy, vaginismus, vulvodynia,
    vaginal agenesis, and levator ani syndrome.
</p>
<h3>
    Do vaginal magnets actually work?
</h3>
<p>
    Some people may have doubts about the effectiveness of magnets for healing purposes. There are a lot of snake-oil
    salesmen out there!
</p>
<p>
    However, a full evidence-based double-blind clinical trial was done for magnetic vaginal dilators, and
    <%= link_to 'you can read about it here.', 'https://www.vuvatech.com/pages/clinical-trials?rfsn=1742452.8d0e50', :target => '_blank' %>
</p>
<p>
    The summary of the results of the clinical trial are:
</p>
<ol>
    <li>
        Eighty percent (80%) of study subjects reported a decrease in overall pain after using the VuVa™ magnetic vaginal dilators.
    </li>
    <li>
        Subjects using the VuVa™ magnetic vaginal dilators experienced an average thirty percent (30%) decrease in pain levels on a standardized tampon test, which is a way to clinically measure pain associated with sexual intercourse.
    </li>
    <li>
        The cotton swab test evaluates eleven (11) different locations of the vulvar vestibule for pain. Eighty percent (80%) of the study subjects reported a decrease in the total number of locations after using the VuVa™ magnetic vaginal dilators.
    </li>
    <li>
        Subjects using the VuVa™ magnetic vaginal dilators experienced an average twenty eight percent (28%) decrease in pain levels using a standardized cotton swab test, which is a non-invasive measure of vaginal pain.
    </li>
    <li>
        Overall anxiety associated with vaginal penetration is significantly decreased in all subjects.
    </li>
    <li>
        Subjects report feeling more confident about their sexual health in the future after completing the study.
    </li>
</ol>
<h3>
    Testimonials for VuVa
</h3>
<p>
    A lot of women experienced improvement in their sex lives thanks to VuVa!
    VuVa dilators are the dilators that Dr. Chang recommends.
</p>
<p>
    Read <%= link_to 'testimonials for VuVa here!', 'https://www.vuvatech.com/pages/testimonials?rfsn=1742452.8d0e50', :target => '_blank' %>
</p>

<h3>
    About the manufacturer: VuVaTech
</h3>
<p>
    VuVa dilators are manufactured locally in Sarasota, FL, USA
</p>
<p>
    Their founder is Tara Langdale-Schmidt, she was
    <%= link_to 'recently featured in an article for BBC.',
                'http://www.bbc.com/future/story/20180725-the-health-condition-vulvodynia-is-painful-and-misunderstood',
                :target => '_blank' %>
</p>

                </div>
            </div>
        </div>
    </div>
</section>