<% provide(:title, 'D-Mannose Supplements | UTI Defense by Dmanna') %>
<% provide(:description, 'Defend against Urinary Tract Infections with daily D-Mannose supplementation. Quick and Easy!') %>
<% provide(:last_modified, 'October 1, 2018') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item active">D-Mannose</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="mb-5">D-Mannose for UTI Defense by Dmanna</h1>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="mx-auto">
            <div class="row align-items-center">
                <div class="col-md-6 pb-3">
                    <%= image_tag('dmannose/defense_utis_dmannose_neueve.png', :class => 'img_pair img-fluid',
                                  alt: 'Defend against urinary tract infections with daily d-mannose supplements'
                        ) %>
                </div>
                <div class="col-md-6 text-center">
                    <div align="center">
                        <div><strong>D-Mannose Supplements by Dmanna</strong></div>
                        35 Packets - 1 month supply <br>
                        $29.00
                        <br>

                        <%= link_to 'https://infl.tv/efyF', :class => 'formbutton btn btn-large btn-warning add-to-cart', :target => '_blank' do %>
                            Buy Now
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">

<h3>
    Description:
</h3>
<p>
    <%= link_to 'Dmanna', 'https://infl.tv/efyF', target: '_blank'%> is a natural UTI defense tool for people experiencing frequent or recurrent urinary tract infections.

    Dmanna has been scientifically proven to defend against UTIs.

    It works by harnessing the natural power of d-mannose, a sugar that acts against harmful UTI-causing bacteria.

</p>
<ul>
    <li>
        Significantly decreased bladder pain, burning, and urinary urgency
    </li>
    <li>
        Over 5X less UTIs compared to taking nothing at all
    </li>
    <li>
        Reduced antibiotic usage
    </li>
</ul>

<%= image_tag('dmannose/use_dmannose_everyday_neueve.jpg', class:'img-fluid',
              alt: 'Urinary tract infection defense with daily d-mannose') %>

<h3>
    Use D-mannose everyday to naturally defend against UTIs
</h3>
<p>
    Each box contains 35 servings of 2g packets (70 grams per box),
    one packet for every day of the month plus a few extra.
</p>
<p>
    Experts agree that defense is the best solution for
    urinary tract infections: No more missed work from your UTIs, no more expensive antibiotics that upset your stomach.
</p>
<p>
    The main ingredient in <%= link_to 'Dmanna', 'https://infl.tv/efyF', target: '_blank'%> is d-mannose: a naturally occurring sugar found in fruit that helps cleanse your
    urinary tract and stop infection.
</p>
<p>
    Leading urologists recommend taking Dmanna's daily d-mannose packets to
    significantly reduce your risk of developing a UTI.
</p>

<h3>
    How does Dmanna work?
</h3>
<p>
    When bacteria binds to d-mannose, it can’t
    bind to other sugars, causing the bacteria to detach from the urinary tract so it can be flushed out.
</p>
<p>
    Daily
    hydration is also crucial in defense against UTIs and keeping harmful bacteria at bay, which is why it's recommended to
    take your daily Dmanna in addition to drinking 2.8 liters of water or more.
</p>
<h3>
    Studies show D-Mannose significantly decreases the risk of UTIs
</h3>
<p>
    <%= link_to 'Dmanna', 'https://infl.tv/efyF', target: '_blank'%>'s daily d-mannose packets have been developed by scientists and UTI sufferers
    who understand the importance of defense.
</p>
<p>
    Daily d-mannose has been shown in clinical studies to significantly
    reduce your UTI risk: Women taking daily d-mannose got one UTI per year on average compared to women taking daily
    Macrobid antibiotics who experienced an average of 6 UTIs per year.
</p>
<h3>
    Why Dmanna?
</h3>
<p>
    Cranberry pills, juices,
    concentrations, and supplements like Ellura have not been proven in clinical studies like Dmanna's ingredients have.
</p>
<p>
    Dmanna is also less expensive compared to similar d-mannose packet products like Uqora.
</p>

<h3>
    About the manufacturer: Dmanna
</h3>
<p>
    Dmanna is manufactured locally in North Carolina, USA
</p>
<p>
    Every purchase of <%= link_to 'Dmanna', 'https://infl.tv/efyF', target: '_blank' %> supports their mission to treat, educate and empower women and girls around the
    world through education.
</p>

                </div>
            </div>
        </div>
    </div>
</section>