<% provide(:title, 'Dr. Renjie Chang'.html_safe) %>
<% provide(:description, 'Get to know Dr. Renjie Chang of NeuEve, an OB/GYN with a passion for scientific advancement and entrepreneurship.') %>
<% provide(:last_modified, 'November 24, 2019') %>

<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item">
                <%= link_to 'About', about_path %>
            </li>
            <li class="breadcrumb-item active">Dr. Renjie Chang</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">Renjie Chang</h1>
            <h3 class="hero-heading">MD, MS</h3>

        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">
                    <div class="pb-4" align="center">
                        <%= image_tag('renjiechang/DrRenjieChang.jpg', size: '300x300', align: 'center') %>
                    </div>

                    <p>
                        I am often asked about the story of why I invent disruptive products and why started this
                        business. The truth is that my entire life prepared me for the moment I invented NeuEve. All the
                        challenges I’ve endured have led me down this path.
                    </p>

                    <p>
                        I’m a Baby Boomer, which means I grew up in the 1960s. The 1960s for me was pretty wild, but
                        probably not in the way you’re imagining. I grew up in 1960s China. Let me paint a picture for
                        you through the eyes of 12-year-old me.
                    </p>

                    <p>
                        I remember the feel of the wooden shutters barricading the doors of my school. I remember the
                        smell of smoke and the heat of flames rising from scattered piles of books in our apartment’s
                        courtyard. English, physics, biology, math, romance books. All illegal by decree. When I close my
                        eyes, I can still hear
                        crescendos of howls and jeers on the street as the mob chanted abuse at caged professors and teachers on
                        a forced parade.
                    </p>

                    <p>
                        For almost all of my fellow classmates, this was truly a dream come true. How many students
                        throughout history have fantasized about revenge against their teachers? Can you imagine?
                        School’s out, forever! No more homework, no more tests!
                    </p>

                    <p>
                        There are words my father said to me, that stuck with me forever. In my childishness, I wanted
                        to follow the crowd and join my friends. I complained that it wasn’t fair that he didn’t let me.
                    </p>

                    <blockquote class="blockquote mb-5">
                        <p class="text-xl text-serif mb-4">Renjie, I don’t want you to do what everyone else does. You’re not everyone else.</p>
                        <h6 class="text-lg text-uppercase text-primary">— My Father</h6>
                    </blockquote>

                    <p>
                        From that point forward, I would never again follow the crowd. I preferred to blaze my own
                        trail, always seeking more science knowledge.
                    </p>

                    <p>
                        In my teenage rebelliousness, I pursued knowledge by reading from “illegal” books. While other
                        girls would sneak around with boys, I would sneak around with books.</p>

                    <p align="center">
                        <%= image_tag('renjiechang/RenjieChangGraduatingClass.jpg') %>
                    </p>

                    <p>
                        When universities
                        nationwide finally reopened, I easily tested into medical school. I chose OB/GYN as my specialty
                        because I truly enjoyed bringing happiness into people’s lives.
                    </p>

                    <p>
                        <%= image_tag('renjiechang/MedicalDoctorateRenjieChang.jpg', class:"img-fluid") %>
                    </p>

                    <p>
                        When China’s borders finally opened, I was among the first to make a new life for myself in the
                        US. Life was hard. We were forced to hustle to survive. We lived in someone’s cold garage. I was
                        trained as a medical doctor, but to make ends meet I also worked as a waitress, a seamstress, and a
                        babysitter. With my hands busy, I was always dreaming of new inventions.
                    </p>

                    <p>
                        I have delivered tens of thousands of babies, but when I finally had my own my heart practically
                        stopped with joy. When I became a mom to <%= link_to "Kevin", kevin_tao_path %>, I couldn’t have felt more proud. My only regret
                        was that I only had one child. I couldn’t wait for him to spread his wings and devour knowledge
                        in an environment with freedoms and opportunities that I never had.
                    </p>

                    <p>
                        I spent many years working in pharmaceutical research and development. I saw up close how
                        pharmaceutical companies do business. On one hand, I saw how they create and innovate
                        scientifically, and on the other hand I was frustrated by their blind spots. I was always
                        improving processes and innovating new approaches, which really rubbed leadership the wrong way.
                        They weren't open to new ideas and improvements, unless your name had the letters “MBA” after
                        it.
                    </p>


                    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
                    <p align="center">
                        <%= image_tag 'renjiechang/Renjie-Chang-Lab-Photo.png', alt: 'Dr. Renjie Chang working hard to innovate and help women.', class:"img-fluid" %>
                    </p>
                    </div>

                    <p>
                        Since leaving the corporate world to pursue my own business adventures, I haven’t looked back. I
                        have truly found my calling. I am building NeuEve to challenge the status quo of how health
                        product businesses are run.
                    </p>

                    <p>
                        Through NeuEve I can help people and make a real difference in their lives. The thank-you
                        letters I get from customers is the reason why I wake up in the morning. My heart beams with
                        pride when they explain how my products made them confident, and helped them save their
                        relationships.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">

                    <h3>
                        Honors & Recognition
                    </h3>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Award</th>
                            <th scope="col">Awarding Organization</th>
                            <th scope="col">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <%= link_to 'A Novel High-Efficiency Transfection Technology',
                                            'https://www.sbir.gov/sbirsearch/detail/400472' %>
                            </th>
                            <td>SBIR</td>
                            <td>2012</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <%= link_to 'A Novel Female-Controlled Antiviral Contraceptive',
                                            'https://gcgh.grandchallenges.org/grant/novel-female-controlled-antiviral-contraceptive' %>
                            </th>
                            <td>Gates Foundation</td>
                            <td>2010</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <%= link_to 'Novel Method Protecting Infants from HIV in Breast Milk',
                                            'https://gcgh.grandchallenges.org/grant/novel-method-protecting-infants-hiv-breast-milk' %>
                            </th>
                            <td>Gates Foundation</td>
                            <td>2009</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <%= link_to 'A Probiotic Formula Protects Infants from Milk-Borne HIV Transmission',
                                            'https://www.sbir.gov/sbirsearch/detail/214272' %>
                            </th>
                            <td>SBIR</td>
                            <td>2007</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Discovery Excellence Award
                            </th>
                            <td>Global Pharmaceutical R&D</td>
                            <td>2004</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Discovery Excellence Award
                            </th>
                            <td>Global Pharmaceutical R&D</td>
                            <td>2003</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Poster Prize Winner
                            </th>
                            <td>American Fertility Society</td>
                            <td>1990</td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content">

                    <h3 class="pt-5">
                        Research Publications
                    </h3>

                    <h4>
                        On Male Sexual Dysfunction and Pain Receptors
                    </h4>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/18054908" do %>
                            <h5 class="card-title">Analgesic activity of metabotropic glutamate receptor 1 antagonists
                                on spontaneous post-operative pain in rats</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 25</h6>
                            <p class="card-text">
                                Zhu CZ, Baker S, EI-Kouhen O, Lehto SG, Hollingsworth PR, Gauvin DM, Hernandez G,
                                Zheng G, <strong>Chang R</strong>, Moreland RB, Stewart AO, Brioni JD, Honore P. Analgesic activity of
                                metabotropic glutamate receptor 1 antagonists on spontaneous post-operative pain in
                                rats. Eur J Pharmacol. 2008 Feb 12;580(3):314-21. Epub 2007 Nov 13.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/17149874" do %>
                                <h5 class="card-title">Discovery of 3-methyl-N-(1-oxy-3',4',5',6'-tetrahydro-2'H-[2,4'-bipyridine]-1'-ylmethyl)benzamide (ABT-670), an orally bioavailable dopamine D4 agonist for the treatment of erectile dysfunction</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 42</h6>
                            <p class="card-text">
                                Patel MV, Kolasa T, Mortell K, Matulenko MA, Hakeem AA, Rohde JJ, Nelson SL, Cowart MD, Nakane M, Miller LN, Uchic ME, Terranova MA, El-Kouhen OF, Donnelly-Roberts DL, Namovic MT, Hollingsworth PR, <strong>Chang R</strong>, Martino BR, Wetter JM, Marsh KC, Martin R, Darbyshire JF, Gintant G, Hsieh GC, Moreland RB, Sullivan JP, Brioni JD, Stewart AO. Discovery of 3-methyl-N-(1-oxy-3',4',5',6'-tetrahydro-2'H-[2,4'-bipyridine]-1'-ylmethyl)benzamide (ABT-670), an orally bioavailable dopamine D4 agonist for the treatment of erectile dysfunction.  J Med Chem. 2006 Dec 14;49(25):7450-65.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/17050951" do %>
                                <h5 class="card-title">Acrylamide analog as a novel nitric oxide-independent soluble guanylyl cyclase activator</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 17</h6>
                            <p class="card-text">
                                Nakane M, Kolasa T, <strong>Chang R</strong>, Miller LN, Moreland RB, Brioni JD.   Acrylamide analog as a novel nitric oxide-independent soluble guanylyl cyclase activator. J Pharmacol Sci. 2006 Oct;102(2):231-8.
                            </p>
                            <%= link_to "Full Text", 'https://doi.org/10.1254/jphs.fpj06017x', class: 'card-link'%>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/17016515" do %>
                                <h5 class="card-title">Blockade of mGluR1 receptor results in analgesia and disruption of motor and cognitive performances: effects of A-841720, a novel non-competitive mGluR1 receptor antagonist</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 50</h6>
                            <p class="card-text">
                                El-Kouhen O, Lehto SG, Pan JB, <strong>Chang R</strong>, Baker SJ, Zhong C, Hollingsworth PR, Mikusa JP, Cronin EA, Chu KL, McGaraughty SP, Uchic ME, Miller LN, Rodell NM, Patel M, Bhatia P, Mezler M, Kolasa T, Zheng GZ, Fox GB, Stewart AO, Decker MW, Moreland RB, Brioni JD, Honore P. Blockade of mGluR1 receptor results in analgesia and disruption of motor and cognitive performances: effects of A-841720, a novel non-competitive mGluR1 receptor antagonist. Br J Pharmacol. 2006 Nov;149(6):761-74.
                            </p>
                            <%= link_to "Full Text", 'https://bpspubs.onlinelibrary.wiley.com/doi/pdf/10.1038/sj.bjp.0706877', class: 'card-link'%>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/16913699" do %>
                                <h5 class="card-title">1-aryl-3-(4-pyridine-2-ylpiperazin-1-yl)propan-1-one oximes as potent dopamine D4 receptor agonists for the treatment of erectile dysfunction</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 22</h6>
                            <p class="card-text">
                                Kolasa T, Matulenko MA, Hakeem AA, Patel MV, Mortell K, Bhatia P, Henry R, Nakane M, Hsieh GC, Terranova MA, Uchic ME, Miller LN, <strong>Chang R</strong>, Donnelly-Roberts DL, Namovic MT, Hollingsworth PR, Martino B, El Kouhen O, Marsh KC, Wetter JM, Moreland RB, Brioni JD, Stewart AO. 1-aryl-3-(4-pyridine-2-ylpiperazin-1-yl)propan-1-one oximes as potent dopamine D4 receptor agonists for the treatment of erectile dysfunction. J Med Chem. 2006 Aug 24;49(17):5093-109.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/16809035" do %>
                                <h5 class="card-title">Correlation between brain/plasma ratios and efficacy in neuropathic pain models of selective metabotropic glutamate receptor 1 antagonists</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 28</h6>
                            <p class="card-text">
                                Zheng GZ, Bhatia P, Kolasa T, Patel M, El Kouhen OF, <strong>Chang R</strong>, Uchic ME, Miller L, Baker S, Lehto SG, Honore P, Wetter JM, Marsh KC, Moreland RB, Brioni JD, Stewart AO. Correlation between brain/plasma ratios and efficacy in neuropathic pain models of selective metabotropic glutamate receptor 1 antagonists. Bioorg Med Chem Lett. 2006 Sep 15;16(18):4936-40.                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/16279797" do %>
                                <h5 class="card-title">Structure-activity relationship of triazafluorenone derivatives as potent and selective mGluR1 antagonists</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 74</h6>
                            <p class="card-text">Zheng GZ, Bhatia P, Daanen J, Kolasa T, Patel M, Latshaw S, El Kouhen OF, <strong>Chang R</strong>, Uchic ME, Miller L, Nakane M, Lehto SG, Honore MP, Moreland RB, Brioni JD, Stewart AO. Structure-activity relationship of triazafluorenone derivatives as potent and selective mGluR1 antagonists. J Med Chem. 2005 Nov 17;48(23):7374-88.</p>
                        </div>
                    </div>


                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/15992586" do %>
                                <h5 class="card-title">2-[4-(3,4-Dimethylphenyl)piperazin-1-ylmethyl]-1H benzoimidazole (A-381393), a selective dopamine D4 receptor antagonist</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 19</h6>
                            <p class="card-text">Nakane M, Cowart MD, Hsieh GC, Miller L, Uchic ME, <strong>Chang R</strong>, Terranova MA, Donnelly-Roberts DL, Namovic MT, Miller TR, Wetter JM, Marsh K, Stewart AO, Brioni JD, Moreland RB. 2-[4-(3,4-Dimethylphenyl)piperazin-1-ylmethyl]-1H benzoimidazole (A-381393), a selective dopamine D4 receptor antagonist. Neuropharmacology. 2005 Jul;49(1):112-21. Epub 2005 Apr 1.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/15896964" do %>
                                <h5 class="card-title">Synthesis and evaluation of 3-aryl piperidine analogs as potent and efficacious dopamine D4 receptor agonists.</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 38</h6>
                            <p class="card-text">Wang X, Bhatia PA, Daanen JF, Latsaw SP, Rohde J, Kolasa T, Hakeem AA, Matulenko MA, Nakane M, Uchic ME, Miller LN, <strong>Chang R</strong>, Moreland RB, Brioni JD, Stewart AO. Synthesis and evaluation of 3-aryl piperidine analogs as potent and efficacious dopamine D4 receptor agonists.  Bioorg Med Chem. 2005 Aug 1;13(15):4667-78.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/15733645" do %>
                                <h5 class="card-title">Role of central and peripheral mGluR5 receptors in post-operative pain in rats.</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 80</h6>
                            <p class="card-text">
                                Zhu CZ, Hsieh G, Ei-Kouhen O, Wilson SG, Mikusa JP, Hollingsworth PR, <strong>Chang R</strong>, Moreland RB, Brioni J, Decker MW, Honore P. Role of central and peripheral mGluR5 receptors in post-operative pain in rats. Pain. 2005 Mar;114(1-2):195-202.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/15380206" do %>
                                <h5 class="card-title">Synthesis and activity of 2-[4-(4-[3H]-2-cyanophenyl)piperazinyl]-N-(2,4,6-[3H]3-3-methylphenyl)acetamide: a selective dopamine D4 receptor agonist and radioligand.</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 15</h6>
                            <p class="card-text">
                                Matulenko MA, Surber B, Fan L, Kolasa T, Nakane M, Terranova MA, Uchic ME, Miller LN, <strong>Chang R</strong>, Donnelly-Roberts DL, Namovic MT, Moreland RB, Brioni JD, Stewart AO. Synthesis and activity of 2-[4-(4-[3H]-2-cyanophenyl)piperazinyl]-N-(2,4,6-[3H]3-3-methylphenyl)acetamide: a selective dopamine D4 receptor agonist and radioligand. Bioorg Med Chem Lett. 2004 Oct 18;14(20):5095-8.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/15186832" do %>
                                <h5 class="card-title">Synthesis and functional activity of (2-aryl-1-piperazinyl)-N-(3-methylphenyl)acetamides: selective dopamine D4 receptor agonists. </h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 45</h6>
                            <p class="card-text">
                                Matulenko MA, Hakeem AA, Kolasa T, Nakane M, Terranova MA, Uchic ME, Miller LN, <strong>Chang R</strong>, Donnelly-Roberts DL, Namovic MT, Moreland RB, Brioni JD, Stewart AO. Synthesis and functional activity of (2-aryl-1-piperazinyl)-N-(3-methylphenyl)acetamides: selective dopamine D4 receptor agonists. Bioorg Med Chem. 2004 Jul 1;12(13):3471-83.

                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/15306199" do %>
                                <h5 class="card-title">[3H] A-369508 ([2-[4-(2-cyanophenyl)-1-piperazinyl]-N-(3-methylphenyl) acetamide): an agonist radioligand selective for the dopamine D4 receptor. </h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 17</h6>
                            <p class="card-text">
                                Moreland RB, Terranova MA, <strong>Chang R</strong>, Uchic ME, Matulenko MA, Surber BW, Stewart AO, Brioni JD. [3H] A-369508 ([2-[4-(2-cyanophenyl)-1-piperazinyl]-N-(3-methylphenyl) acetamide): an agonist radioligand selective for the dopamine D4 receptor. Eur J Pharmacol. 2004 Aug 23;497(2):147-54.

                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/14569075" do %>
                                <h5 class="card-title">Central mechanisms regulating penile erection in conscious rats: the dopaminergic systems related to the proerectile effect of apomorphine. </h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 98</h6>
                            <p class="card-text">
                                Hsieh GC, Hollingsworth PR, Martino B, <strong>Chang R</strong>, Terranova MA, O'Neill AB, Lynch JJ, Moreland RB, Donnelly-Roberts DL, Kolasa T, Mikusa JP, McVey JM, Marsh KC, Sullivan JP, Brioni JD. Central mechanisms regulating penile erection in conscious rats: the dopaminergic systems related to the proerectile effect of apomorphine. J Pharmacol Exp Ther. 2004 Jan;308(1):330-8.

                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/12495780" do %>
                                <h5 class="card-title">A-350619: a novel activator of soluble guanylyl cyclase.</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 73</h6>
                            <p class="card-text">
                                Miller, L.N, Nakane, M, Hsieh G.C., <strong>Chang R</strong>, Kolasa, T., Morland, R.B, A-350619: a novel activator of soluble guanylyl cyclase.  Life Sci. 72:1015-25 2003.

                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/15276084" do %>
                                <h5 class="card-title">Comparative pharmacology of human dopamine D(2)-like receptor stable cell lines coupled to calcium flux through Galpha(qo5).</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 43</h6>
                            <p class="card-text">
                                Moreland RB, Nakane M, Donnelly-Roberts DL, Miller LN, <strong>Chang R</strong>, Uchic ME, Terranova MA, Gubbins EJ, Helfrich RJ, Namovic MT, El-Kouhen OF, Masters JN, Brioni JD. Comparative pharmacology of human dopamine D(2)-like receptor stable cell lines coupled to calcium flux through Galpha(qo5). Biochem Pharmacol. 2004 Aug 15;68(4):761-72.

                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/15239663" do %>
                                <h5 class="card-title">Discovery of 2-(4-pyridin-2-ylpiperazin-1-ylmethyl)-1H-benzimidazole (ABT-724), a dopaminergic agent with a novel mode of action for the potential treatment of erectile dysfunction.</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 66</h6>
                            <p class="card-text">
                                Cowart M, Latshaw SP, Bhatia P, Daanen JF, Rohde J, Nelson SL, Patel M, Kolasa T, Nakane M, Uchic ME, Miller LN, Terranova MA, <strong>Chang R</strong>, Donnelly-Roberts DL, Namovic MT, Hollingsworth PR, Martino BR, Lynch JJ 3rd, Sullivan JP, Hsieh GC, Moreland RB, Brioni JD, Stewart AO. Discovery of 2-(4-pyridin-2-ylpiperazin-1-ylmethyl)-1H-benzimidazole (ABT-724), a dopaminergic agent with a novel mode of action for the potential treatment of erectile dysfunction. J Med Chem. 2004 Jul 15;47(15):3853-64.

                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/11979328" do %>
                                <h5 class="card-title">Activation of soluble guanylate cyclase causes relaxation of corpus cavernosum tissue: synergism of nitric oxide and YC-1. </h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 51</h6>
                            <p class="card-text">
                                Nakane M, Hsieh G, Miller LN, <strong>Chang R</strong>, Terranova MA, Moreland RB, Kolasa T, Brioni JD. Activation of soluble guanylate cyclase causes relaxation of corpus cavernosum tissue: synergism of nitric oxide and YC-1. Int J Impot Res. 2002 Apr;14(2):121-7.

                            </p>
                            <%= link_to "Full Text", 'https://www.nature.com/articles/3900843.pdf', class: 'card-link'%>

                        </div>
                    </div>

                    <hr>

                    <h4 class="pt-6">
                        Regulating Growth Hormones with Immunological Approaches
                    </h4>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/9046431" do %>
                                <h5 class="card-title">Molecular interaction of growth hormone with two monoclonal antibodies recognizing distinct epitopes.</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 4</h6>
                            <p class="card-text">
                                Wang BS, Lumanglas AL, <strong>Zhang RJ</strong>, Tian ZG. Molecular interaction of growth hormone with two monoclonal antibodies recognizing distinct epitopes. Immunol Cell Biol. 1997 Feb;75(1):29-34.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/8760272" do %>
                                <h5 class="card-title">Immunological effect of a synthetic growth hormone peptide on the growth performance in swine.
                                </h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 9</h6>
                            <p class="card-text">
                                Wang BS, Lumanglas AA, Shieh HM, Corbett MJ, <strong>Zhang RJ</strong>, Kraft LA. Immunological effect of a synthetic growth hormone peptide on the growth performance in swine.
                                Mol Immunol. 1996 May-Jun;33(7-8):609-14.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/7671122" do %>
                                <h5 class="card-title">
                                    Modulation of the effectiveness of growth hormone with a monoclonal antibody. Neuroimmunomodulation.
                                </h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 3</h6>
                            <p class="card-text">
                                <strong>Zhang RJ</strong>, Lumanglas AA, Wang BS. Modulation of the effectiveness of growth hormone with a monoclonal antibody. Neuroimmunomodulation. 1994 Nov-Dec;1(6):343-9.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/8028599" do %>
                                <h5 class="card-title">Promotion of animal growth with a monoclonal anti-idiotype specific to anti-porcine growth hormone antibody</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 21</h6>
                            <p class="card-text">
                                Wang BS, <strong>Zhang RJ</strong>, Bona CA, Moran TM. Promotion of animal growth with a monoclonal anti-idiotype specific to anti-porcine growth hormone antibody. Mol Immunol. 1994 Jun;31(9):651-6.

                            </p>
                        </div>
                    </div>

                    <hr>

                    <h4 class="pt-6">
                        Neurological Control of Muscle
                    </h4>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/10805079" do %>
                                <h5 class="card-title">Coordinate expression of NGF and alpha-smooth muscle actin mRNA and protein in cutaneous wound tissue of developing and adult rats</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 95</h6>
                            <p class="card-text">
                                Hasan W, <strong>Zhang R</strong>, Liu M, Warn JD, Smith PG. Coordinate expression of NGF and alpha-smooth muscle actin mRNA and protein in cutaneous wound tissue of developing and adult rats. Cell Tissue Res. 2000 Apr;300(1):97-109.

                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/9769426" do %>
                                <h5 class="card-title">Presynaptic adrenergic facilitation of parasympathetic neurotransmission in sympathectomized rat smooth muscle.</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 10</h6>
                            <p class="card-text">
                                Krizsan-Agbas D, <strong>Zhang R</strong>, Marzban F, Smith PG. Presynaptic adrenergic facilitation of parasympathetic neurotransmission in sympathectomized rat smooth muscle. J Physiol. 1998 Nov 1;512 ( Pt 3):841-9.

                            </p>
                            <%= link_to "Full Text", 'https://physoc.onlinelibrary.wiley.com/doi/epdf/10.1111/j.1469-7793.1998.841bd.x', class: 'card-link'%>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/9786413" do %>
                                <h5 class="card-title">Cellular terrain surrounding sympathetic nerve pathways in the rat orbit: comparisons of orbital connective tissue and smooth muscle cell phenotypes. </h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 9</h6>
                            <p class="card-text">
                                Smith PG, Fan Q, <strong>Zhang R</strong>, Warn JD. Cellular terrain surrounding sympathetic nerve pathways in the rat orbit: comparisons of orbital connective tissue and smooth muscle cell phenotypes. J Comp Neurol. 1998 Nov 2;400(4):529-43.

                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/10340511" do %>
                                <h5 class="card-title">Divergence of smooth muscle target and sympathetic pathway cell phenotypes in the orbit of the developing rat.</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 1</h6>
                            <p class="card-text">
                                Smith PG, Fan Q, <strong>Zhang R</strong>. Divergence of smooth muscle target and sympathetic pathway cell phenotypes in the orbit of the developing rat. J Comp Neurol. 1999 Jun 7;408(3):352-64.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/2558713" do %>
                                <h5 class="card-title">Subunit composition of the purified dihydropyridine binding protein from skeletal muscle. </h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 22</h6>
                            <p class="card-text">
                                Hamilton SL, Hawkes MJ, Brush K, Cook R, <strong>Chang RJ</strong>, Smilowitz HM. Subunit composition of the purified dihydropyridine binding protein from skeletal muscle. Biochemistry. 1989 Sep 19;28(19):7820-8.

                            </p>
                            <%= link_to "Full Text", 'https://pubs.acs.org/doi/pdf/10.1021/bi00445a044', class: 'card-link'%>

                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/2454318" do %>
                                <h5 class="card-title">Regulation of the number of alpha-bungarotoxin binding sites in cultured chick myotubes by a 1,4 dihydropyridine calcium channel antagonist.</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 11</h6>
                            <p class="card-text">
                                Smilowitz H, Smart E, Bowik C, <strong>Chang RJ</strong>.  Regulation of the number of alpha-bungarotoxin binding sites in cultured chick myotubes by a 1,4 dihydropyridine calcium channel antagonist. J Neurosci Res. 1988 Mar;19(3):321-5.

                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/2845206" do %>
                                <h5 class="card-title">Identification of a approximately 170K subunit of the cardiac calcium channel using a monoclonal antibody to the skeletal muscle dihydropyridine receptor.</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 3</h6>
                            <p class="card-text">
                                <strong>Chang RJ</strong>, Smilowitz H. Identification of a approximately 170K subunit of the cardiac calcium channel using a monoclonal antibody to the skeletal muscle dihydropyridine receptor. Life Sci. 1988;43(13):1055-61.
                            </p>
                        </div>
                    </div>

                    <hr>


                    <h4 class="pt-6">
                        Understanding Endometriosis
                    </h4>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/9419749" do %>
                                <h5 class="card-title">Whole endometrial fragments form characteristics of in vivo endometriosis in a mesothelial cell co-culture system: an in vitro model for the study of the histogenesis of endometriosis.</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 37</h6>
                            <p class="card-text">
                                Wild RA, <strong>Zhang RJ</strong>, Medders D. Whole endometrial fragments form characteristics of in vivo endometriosis in a mesothelial cell co-culture system: an in vitro model for the study of the histogenesis of endometriosis. J Soc Gynecol Investig. 1994 Jan-Mar;1(1):65-8.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/8495765" do %>
                                <h5 class="card-title">Effect of tumor necrosis factor-alpha on adhesion of human endometrial stromal cells to peritoneal mesothelial cells: an in vitro system. </h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 169</h6>
                            <p class="card-text">
                                <strong>Zhang RJ</strong>, Wild RA, Ojago JM. Effect of tumor necrosis factor-alpha on adhesion of human endometrial stromal cells to peritoneal mesothelial cells: an in vitro system. Fertil Steril. 1993 Jun;59(6):1196-201.
                            </p>
                            <%= link_to "Full Text", 'https://www.fertstert.org/article/S0015-0282(16)55976-7/pdf', class: 'card-link'%>

                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/1750484" do %>
                                <h5 class="card-title">Effects of peritoneal macrophages from patients with endometriosis on the proliferation of endometrial carcinoma cell line ECC-1.</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 23</h6>
                            <p class="card-text">
                                <strong>Zhang RJ</strong>, Wild RA, Medders D, Gunupudi SR. Effects of peritoneal macrophages from patients with endometriosis on the proliferation of endometrial carcinoma cell line ECC-1. Am J Obstet Gynecol. 1991 Dec;165(6 Pt 1):1842-6.

                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/1718784" do %>
                                <h5 class="card-title">F(ab')2 segment is the active component of immunoglobulin G autoantibody generation in patients with endometriosis.</h5>
                            <% end %>
                            <h6 class="card-subtitle mb-2 text-muted">Cited by 18</h6>
                            <p class="card-text">
                                Wild RA, Medders D, <strong>Zhang RJ</strong>.  F(ab')2 segment is the active component of immunoglobulin G autoantibody generation in patients with endometriosis. Fertil Steril. 1991 Nov;56(5):900-3.

                            </p>
                            <%= link_to "Full Text", 'https://www.fertstert.org/article/S0015-0282(16)54662-7/pdf', class: 'card-link'%>

                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/3451289" do %>
                                <h5 class="card-title">Fluctuation of endometrial PG levels in normal menstrual cycles.</h5>
                            <% end %>
                            <p class="card-text">
                                <strong>Zhang RJ</strong>, Han ML, Wang YF. Fluctuation of endometrial PG levels in normal menstrual cycles. Proc Chin Acad Med Sci Peking Union Med Coll. 1987;2(4):241-3.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <h5 class="card-title">Gossypol influencing contents of prostaglandin in human endometria.</h5>
                            <p class="card-text">
                                <strong>Chang, RJ</strong>., Han, M. and Wang, Y. Gossypol influencing contents of prostaglandin in human endometria.  Chinese J Medicine. 65:176-177, 1985.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <%=link_to "https://www.ncbi.nlm.nih.gov/pubmed/6590281" do %>
                                <h5 class="card-title">Analysis of prostaglandin F2 alpha and E2 in ectopic endometriotic nodules and endometrium in situ in patients with endometriosis</h5>
                            <% end %>
                            <p class="card-text"><strong>Chang RJ</strong>. [Analysis of prostaglandin F2 alpha and E2 in ectopic endometriotic nodules and endometrium in situ in patients with endometriosis].
                                [Article in Chinese] Zhonghua Fu Chan Ke Za Zhi. 1984 Apr;19(2):93-6.
                            </p>
                        </div>
                    </div>

                    <div class="card my-4">
                        <div class="card-body">
                            <h5 class="card-title">Prostaglandin in human endometria’s and ectopic endometritic nodule.</h5>
                            <p class="card-text">
                                <strong>Chang, RJ</strong>. and Han, M. Prostaglandin in human endometria’s and ectopic endometritic nodule.  Chinese J. Gynecology. 19:93-96, 1984.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>