<% provide(:title, 'Frequently Asked Questions about NeuEve and Vaginal Health') %>

<script type="text/javascript">
    amzn_assoc_ad_type = "link_enhancement_widget";
    amzn_assoc_tracking_id = "neu08-20";
    amzn_assoc_linkid = "c5b92e08d67a908b0b31d3ff4ac59ea4";
    amzn_assoc_placement = "";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
</script>
<script src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>

<div class="jumbotron">
    <h1>Frequently Asked Questions<sup>*</sup></h1>
</div>
<p>
    We have listed some questions and answers here. If your question is not included below, please send it to us via
    e-mail at <%= mail_to "NeuEve.Suppositories@gmail.com" %>.
    <br>
    <br>
</p>

<% for section in @sections %>
    <h3><%= section.title %></h3>
    <ol class="margin10">
        <% for question in section.questions %>
            <li>
                <%= link_to question.question.html_safe, faq_path(:anchor => question.anchor) %>
            </li>
        <% end %>
    </ol>
<% end %>

<br>
<br>

<% for section in @sections %>
    <h3><%= section.title %></h3>
    <ol>
        <% for question in section.questions %>
            <li class="faq-answer">
                <h4><strong><em>
                    <%= link_to '', {}, name: question.anchor %> <%= question.question.html_safe %>
                </em></strong></h4>
                <%= render "faq/question_partials/#{question.anchor}" %>
            </li>
        <% end %>
    </ol>
<% end %>
