<% provide(:title, 'Frequently Asked Questions about NeuEve and Vaginal Health') %>


<div class="jumbotron">
    <h1>Frequently Asked Questions<sup>*</sup></h1>
</div>
<p>
    We have listed some questions and answers here. If your question is not included below, please send it to us via
    e-mail at <%= mail_to "NeuEve.Suppositories@gmail.com" %>.
    <br>
    <br>
</p>

<% for section in @sections %>
    <h3><%= section.title %></h3>
    <ol class="margin10">
        <% for question in section.questions %>
            <li>
                <%= link_to question.question.html_safe, faq_path(:anchor => question.anchor) %>
            </li>
        <% end %>
    </ol>
<% end %>

<br>
<br>

<% for section in @sections %>
    <h3><%= section.title %></h3>
    <ol>
        <% for question in section.questions %>
            <li class="faq-answer">
                <h4><strong><em>
                    <%= link_to '', {}, name: question.anchor %> <%= question.question.html_safe %>
                </em></strong></h4>
                <%= render "faq/question_partials/#{question.anchor}" %>
            </li>
        <% end %>
    </ol>
<% end %>
