<% provide(:title, 'Frequently Asked Questions') %>
<% provide(:description, "Find answers regarding ingredients, application, BV, vaginal dryness and vaginal odor.") %>
<% provide(:last_modified, 'October 1, 2018') %>

<script type="text/javascript">
    amzn_assoc_ad_type = "link_enhancement_widget";
    amzn_assoc_tracking_id = "neu08-20";
    amzn_assoc_linkid = "c5b92e08d67a908b0b31d3ff4ac59ea4";
    amzn_assoc_placement = "";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
</script>
<script src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item active">FAQ</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">Frequently Asked Questions</h1>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">

<p>
    We have listed some questions and answers here. If your question is not included below, please send it to us via
    e-mail at <%= mail_to "help@neueve.com" %>.
</p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">


<% for section in @sections %>
            <div class="py-4">
    <h3 class="mb-5 text-muted"><%= section.title %></h3>
    <ol class="margin10">
        <% for question in section.questions %>
            <li class="py-2">
                <%= link_to question.question.html_safe, faq_path(:anchor => question.anchor) %>
            </li>
        <% end %>
    </ol>
            </div>
            <hr>
<% end %>

    </div>
</section>


<section class="pb-5">
    <div class="container">
<% for section in @sections %>
            <div class="py-4 text-content">
    <h3 class="mb-5 text-muted"><%= section.title %></h3>
    <ol>
        <% for question in section.questions %>
            <li class="faq-answer py-2">
                <h4 class="mb-5"><strong><em>
                    <%= link_to '', {}, name: question.anchor %> <%= question.question.html_safe %>
                </em></strong></h4>
                <div class="text-muted ">
                <%= render "faq/question_partials/#{question.anchor}" %>
                </div>
            </li>
        <% end %>
    </ol>
            </div>
            <hr>
<% end %>

    </div>
</section>