<% provide(:title, 'Frequently Asked Questions about NeuEve and Vaginal Health') %>


<div class="jumbotron">
  <h1>Frequently Asked Questions</h1>
</div>
<p>
  We have listed some questions and answers here. If your question is not included below, please send it to us via
  e-mail at <%= mail_to "NeuEve.Suppositories@gmail.com" %>.
  <br>
  <br>
</p>

<ol class="margin10">
  <li>
    <%= link_to "
        What\'s contained in the <strong>\"proprietary blend?\"</strong>
        ".html_safe(), faq_path(:anchor => 'proprietaryBlend') %>
  </li>
  <li>
    <%= link_to '
        Can I take some <strong>supplements</strong> to help NeuEve work better?
        '.html_safe, faq_path(:anchor => 'supplements') %>
  </li>
  <li>
    <%= link_to '
        Why would I need to supplement with other things if NeuEve works?
        ', faq_path(:anchor => 'whySupplements') %>
  </li>
  <li>
    <%= link_to '
        I just bought the NeuEve suppository at a health food store. It was highly recommended. Why is it so expensive?
        '.html_safe, faq_path(:anchor => 'whyExpensive') %>
  </li>
  <li>
    <%= link_to '
        I have tried NeuEve suppositories, but I still feel dry. Also, <strong>my eyes and mouth also
        feel terribly dry</strong>. Is there anything that I can do to help improve this dryness?
        '.html_safe, faq_path(:anchor => 'dryEyeMouth') %>
  </li>
  <li>
    <%= link_to '
        <strong>Lubricant</strong> is cheap. How is NeuEve better than <strong>Jelly</strong>?
        '.html_safe, faq_path(:anchor => 'jelly') %>
  </li>
  <li>
    <%= link_to '
        With only 3 NeuEve suppositories my <strong>dryness is gone</strong>. Should I stop using NeuEve?
        '.html_safe, faq_path(:anchor => 'drynessGone') %>
  </li>
  <li>
    <%= link_to '
        Why do women suffer from <strong>vaginal dryness and odor</strong>?
        '.html_safe, faq_path(:anchor => 'vaginalDrynessAndOdor') %>
  </li>
  <li>
    <%= link_to '
        How do I select the right NeuEve suppository <strong>formula</strong>?
        '.html_safe, faq_path(:anchor => 'selectingFormula') %>
  </li>
  <li>
    <%= link_to '
        If I am really <strong>atrophied</strong> should I use the cream instead of the suppository or both?
        '.html_safe, faq_path(:anchor => 'reallyAtrophied') %>
  </li>
  <li>
    <%= link_to '
        What are the <strong>differences</strong> among the Silk, Silver and Gold formulas?
        '.html_safe, faq_path(:anchor => 'silkSilverGoldDifferences') %>
  </li>
  <li>
    <%= link_to '
        The ingredients listed are all the same among the Silk, Silver and Gold. <strong>Are there
        different ingredients in each formula</strong> or is it the quantity of each ingredient that makes
        the difference?
        '.html_safe, faq_path(:anchor => 'silkSilverGoldIngredientDifferences') %>
  </li>
  <li>
    <%= link_to '
        I was wondering why I was directed to the mildest formula when I suffer from <strong>extreme
        dryness. Should I use the strongest formula</strong> instead?
        '.html_safe, faq_path(:anchor => 'extremeDryness') %>
  </li>
  <li>
    <%= link_to '
        <strong>How do I use</strong> NeuEve vaginal suppositories?
        '.html_safe, faq_path(:anchor => 'howToUse') %>
  </li>
  <li>
    <%= link_to '
        In the second morning, I noticed that <strong>a chunk of suppository leaked out</strong>. Should I be worried
        about it?
        '.html_safe, faq_path(:anchor => 'chunkLeakedOut') %>
  </li>
  <li>
    <%= link_to '
        Do NeuEve vaginal suppositories provide <strong>contraceptive protection</strong>?
        '.html_safe, faq_path(:anchor => 'contraceptive') %>
  </li>
  <li>
    <%= link_to '
        Does the use of NeuEve vaginal suppositories influence the effect of <strong>condoms</strong>?
        '.html_safe, faq_path(:anchor => 'condoms') %>
  </li>
  <li>
    <%= link_to '
        Since NeuEve can eliminate odor caused by <strong>BV</strong>, can it take care of other <strong>vaginal
        infections</strong>?
        '.html_safe, faq_path(:anchor => 'otherInfections') %>
  </li>
  <li>
    <%= link_to '
        How does NeuEve work in <strong>relieving vaginal atrophy without hormones</strong>?
        '.html_safe, faq_path(:anchor => 'relieveAtrophyWithoutHormones') %>
  </li>
  <li>
    <%= link_to '
        What is the <strong>active ingredient</strong> in NeuEve that works?
        '.html_safe, faq_path(:anchor => 'activeIngredient') %>
  </li>
  <li>
    <%= link_to '
        I have <strong>lichen sclerosus</strong> with itching and painful sex. Can NeuEve help me?
        '.html_safe, faq_path(:anchor => 'lichenSclerosus') %>
  </li>
  <li>
    <%= link_to '
        Why is NeuEve produced in <strong>suppository form</strong>?
        '.html_safe, faq_path(:anchor => 'suppositoryForm') %>
  </li>
  <li>
    <%= link_to '
        Why are NeuEve suppositories <strong>oil-based</strong>?
        '.html_safe, faq_path(:anchor => 'oilBased') %>
  </li>
  <li>
    <%= link_to '
        <strong>When should I use NeuEve suppository</strong> before I can have sex? The day before
        or an hour before? Could you give me a more detailed instruction on when I should use
        it?
        '.html_safe, faq_path(:anchor => 'whenBeforeSex') %>
  </li>
  <li>
    <%= link_to '
        I have a long distance new boyfriend and we had intimacy lately after using
        NeuEve. Now, I have an infection and have to go to my gynecologist to get treatment. <strong>Could
        your suppository cause my infection?</strong>
        '.html_safe, faq_path(:anchor => 'newInfection') %>
  </li>
  <li>
    <%= link_to '
        Is there something in the suppositories that is harmful to unborn babies? I noticed you advise not using the
        suppositories if <strong>pregnant.</strong> My concern is if <strong>I were to conceive and not know yet I was
        pregnant</strong> and be using the suppositories I would not want to endanger my child.
        '.html_safe, faq_path(:anchor => 'pregnant') %>
  </li>
  <li>
    <%= link_to '
        Can my partner do <strong>oral sex</strong> while using this product? Will it be unsafe and hurt my partner?
        '.html_safe, faq_path(:anchor => 'oralSex') %>
  </li>
  <li>
    <%= link_to '
        How can I change my subscription from Silver to Gold formula?
        '.html_safe, faq_path(:anchor => 'changeSubscription') %>
  </li>
  <li>
    <%= link_to '
        I live in a very hot climate. Will the effectiveness of the product be
        compromised if the whole package is stored in the refrigerator? Or, would
        it better to place the next suppository I will use in the fridge and hour or
        two before insertion? Please advise.
        '.html_safe, faq_path(:anchor => 'hotClimate') %>
  </li>
  <li>
    <%= link_to '
        I tried your BV Clear Starter Kit but did not receive the desired outcome.  My BV
        symptoms did not diminish.  Could you tell me what to do next?
        '.html_safe, faq_path(:anchor => 'bv') %>
  </li>
  <li>
    <%= link_to '
        My gynecologist also has me on Estrace cream twice a week. How many days should I space out the Silk
        suppositories with my prescription Estrace?
        '.html_safe, faq_path(:anchor => 'estrace') %>
  </li>
  <li>
    <%= link_to '
                I was just diagnosed with BV by my gynecologist.  He prescribed me
clindamycin vaginal cream for seven days.  When can I start using your product and
which product would be best to use after a seven day round of antibiotic cream?
                '.html_safe, faq_path(:anchor => 'clindamycin') %>
  </li>
  <li>
  <%= link_to '
                What is the difference between NeuEve formulas for dryness and for BV.
Which can do better for BV clearance and dryness?  How can the same formula relieve
both dryness and BV? I used padding lately and I also noticed odor. Could the padding
cause my odor?
                '.html_safe, faq_path(:anchor => 'dryness_vs_bv') %>
  </li>
  <li>
  <%= link_to '
                Why does the BV Clear Kit works for other women but not for me?
                '.html_safe, faq_path(:anchor => 'bv_clear_kit') %>
  </li>
</ol>


<br>
<br>


<ol>
  <li>

    <h4><strong><em>
      <a name="proprietaryBlend" id="proprietaryBlend"></a>What's contained in the "proprietary blend?"
    </em></strong></h4>
    About the proprietary blend, it is a mixture of ingredients in trace amounts, mainly
    vitamins, amino acids and other nutrients for local nourishment of the mucous tissues,
    like calcium and vitamin D for bones. All ingredients are gluten-free, food-grade, edible and of plant
    source and should be safe. The composition is patented and is a part of our trade secret.
    Many businesses have trade secrets, such as the flavor in Coke or the spice in Kentucky
    Fried Chicken. If you ever had these things, you have consumed a product that has a trade
    secret. It is perfectly OK to consume a product without knowing its trade secret.
    <br>

    <div align="center">
      <%= image_tag("http://i.imgur.com/gSF0B3Pl.gif", :size => "160x160", :class => 'seal') %>
      &nbsp; &nbsp; &nbsp;
      <%= image_tag("http://i.imgur.com/p5BHg3wl.gif", :size => "160x160", :class => 'seal') %>
      &nbsp; &nbsp; &nbsp;
      <%= image_tag("http://i.imgur.com/QK8GxTM.png", :size => "160x160", :class => "seal") %>
    </div>
  </li>
  <br>
  <li>

    <h4><strong><em>
      <a name="supplements"></a>Can I take some supplements to help NeuEve work better?
    </em></strong></h4>
    Yes. Customers have reported that taking regular calcium supplement (~1 g/day) and
    fish oil (eating fish or flaxseed oil if allergic to fish) can help. If you cannot take any of
    these supplements, just eat some nuts and fish.
    <br>

    <p>
      <strong>Here are some links to purchase calcium and either fish oil or flaxseed oil supplements</strong>
    </p>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th width="33%">
          <%= link_to 'Calcium',
                      'http://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=hpc&keywords=Calcium%20Supplements&linkCode=ur2&tag=neu06-20&linkId=GLMXFQQ67PEV6DVA',
                      :target => '_blank',
                      :class => 'amazon-referral',
                      :style => 'color: white'
          %>
        </th>
        <th width="33%">
          <%= link_to 'Fish Oil',
                      'http://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=hpc&keywords=Fish%20Oil%20Supplements&linkCode=ur2&tag=neu06-20&linkId=HHDHND56DDC6FZG4',
                      :target => '_blank',
                      :class => 'amazon-referral',
                      :style => 'color: white'
          %>
        </th>
        <th width="33%">
          <%= link_to 'Flaxseed Oil',
                      'http://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=hpc&keywords=Flaxseed%20Oil%20Supplements&linkCode=ur2&tag=neu06-20&linkId=6JQQPJFKN4C6TZS7',
                      :target => '_blank',
                      :class => 'amazon-referral',
                      :style => 'color: white'
          %>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td width="33%">
          <script charset="utf-8" type="text/javascript">
              amzn_assoc_ad_type = "responsive_search_widget";
              amzn_assoc_tracking_id = "neu06-20";
              amzn_assoc_link_id = "D2Q4QV6P25SNWWIG";
              amzn_assoc_marketplace = "amazon";
              amzn_assoc_region = "US";
              amzn_assoc_placement = "";
              amzn_assoc_search_type = "search_widget";
              amzn_assoc_width = "auto";
              amzn_assoc_height = "auto";
              amzn_assoc_default_search_category = "HealthPersonalCare";
              amzn_assoc_default_search_key = "calcium supplements";
              amzn_assoc_theme = "light";
              amzn_assoc_bg_color = "ffffff";


          </script>
          <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>

        </td>
        <td width="33%">
          <script charset="utf-8" type="text/javascript">
              amzn_assoc_ad_type = "responsive_search_widget";
              amzn_assoc_tracking_id = "neu06-20";
              amzn_assoc_link_id = "D2Q4QV6P25SNWWIG";
              amzn_assoc_marketplace = "amazon";
              amzn_assoc_region = "US";
              amzn_assoc_placement = "";
              amzn_assoc_search_type = "search_widget";
              amzn_assoc_width = "auto";
              amzn_assoc_height = "auto";
              amzn_assoc_default_search_category = "HealthPersonalCare";
              amzn_assoc_default_search_key = "fish oil supplements";
              amzn_assoc_theme = "light";
              amzn_assoc_bg_color = "ffffff";


          </script>
          <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>

        </td>
        <td width="33%">
          <script charset="utf-8" type="text/javascript">
              amzn_assoc_ad_type = "responsive_search_widget";
              amzn_assoc_tracking_id = "neu06-20";
              amzn_assoc_link_id = "D2Q4QV6P25SNWWIG";
              amzn_assoc_marketplace = "amazon";
              amzn_assoc_region = "US";
              amzn_assoc_placement = "";
              amzn_assoc_search_type = "search_widget";
              amzn_assoc_width = "auto";
              amzn_assoc_height = "auto";
              amzn_assoc_default_search_category = "HealthPersonalCare";
              amzn_assoc_default_search_key = "flaxseed oil supplements";
              amzn_assoc_theme = "light";
              amzn_assoc_bg_color = "ffffff";


          </script>
          <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>

        </td>
      </tr>
      </tbody>
    </table>

  </li>
  <br>
  <li>

    <h4><strong><em>
      <a name="whySupplements"></a>Why would I need to supplement with other things if NeuEve works?
    </em></strong></h4>
    Bread alone is a great food, but adding butter makes it better. Likewise, the effect of
    NeuEve can be improved by other things, such as calcium supplements. A plausible
    explanation is that after menopause women often become osteoporosis with the loss of
    calcium, which also drains energy from the body. As a result, many parts of the body
    shrink, including the vagina. Supplementing calcium may help block energy drainage.
    This helps NeuEve to work better in relieving vaginal dryness and atrophy.
    <br>
  </li>
  <br>
  <li>

    <h4><strong><em>
      <a name="whyExpensive"></a>I just bought the NeuEve suppository at a health food store. It was highly recommended.
      Why is it so expensive?
    </em></strong></h4>
    The NeuEve products are made with all natural ingredients and are all handmade. This is different from low priced
    lubes that are machine-made with chemicals like glycerin or PEG found in the automobile antifreeze. Frequent use of
    chemical lubes may cause dehydration of tissue, accelerating aging and resulting in premature atrophy. Let us use
    automobile maintenance as an example. The cheap lube gels are like Jiffy-lube for cars. When the car’s engine is
    broken, you will need to rebuild or replace the engine, which may cost thousands. Jiffy-lube is cheap but would
    still be a waste of money because it is useless for a broken engine.
    <br>
    <br>
    At beginning of menopause, a lube gel may work by providing temporary lubrication. However, after a while vaginal
    atrophy (shrinking) begins, a cheap lube gel would become a waste of money because it cannot reverse atrophy and is
    useless.
    <br>
    <br>
    NeuEve works differently. It provides nourishment to the tissue and can allow the atrophic tissue to grow back and
    help women to regain self-lubrication. Therefore, it is not appropriate to compare NeuEve with the low priced lube
    gels. You should compare it with the price of a service or product that can relieve vaginal atrophy. For your
    information, these are their prices:
    <br>
    <br>
    <ul>
      <li>Vaginal reconstruction surgery : $12,000/surgery</li>
      <li> Mona Lisa Touch Laser : $1,600/3 months.</li>
      <li> Estrace Vaginal Cream : $210/month</li>
      <li> Osphena : $189/month</li>
    </ul>
    <br>
    The surgery and hormonal drugs work quickly but have potential health risks such as cancer. NeuEve works slowly.
    Some women see results right way, but others may take months to observe significant recovery. You should be patient
    to allow NeuEve to work for you. The best feature of NeuEve is that it is natural, green, organic and hormone free.
    It does not have any side effects like chemical lubes or hormonal drugs. Many women previously on Osphena and/or
    Estrace have switched to NeuEve and are very satisfied with the result. They said that the price of NeuEve is
    reasonable and worth every penny.
  </li>
  <br>
  <li>

    <h4><strong><em>
      <a name="dryEyeMouth"></a>I have tried NeuEve suppositories, but I still feel dry. Also, my eyes and mouth
      also
      feel terribly dry. Is there anything that I can do to help improve this dryness?
    </em></strong></h4>
    Since you have dry eyes, dry mouth and vaginal dryness, you might have a condition
    called Sjogren's syndrome. It is an autoimmune disease that causes glands to dry out,
    including the glands in the eyes, mouth and vaginal tract. Please consult your doctor to
    confirm diagnosis. If Sjogren's syndrome is diagnosed, there is no cure for this condition.
    However, there are natural remedies to manage it. Below are my recommendations:
    <br>
    <br>
    <ol>
      <li>
        Fish oil. If you are allergic to fish oil, you can take flaxseed oil instead. It is
        the omega fatty acids that help.
      </li>
      <li>
        Sea buckthorn oil (2,000 mg a day). This special oil from the berries of a cold
        weather shrub is a special essential fatty acid called omega-7. It is very helpful at
        improving lubrication throughout the body – including tears, saliva, and vagina.
      </li>
      <li>
        Other treatments helpful for dry eyes and mouth include: Take a B-complex
        vitamin (50 mg a day), and sugar-free lemon drops or chewing gum.
      </li>
      <li>
        Check for food allergies. Get your blood tested for wheat allergy. Women with
        Sjogren's often have allergy to gluten. If wheat allergy is an issue, stop eating bread will
        help you relieve dryness symptoms.
      </li>
      <li>
        Take probiotics regularly, such as Dannon yogurt, Activia, etc.
      </li>
      <li>
        Continue using NeuEve for managing vaginal dryness.
      </li>
      <li>
        Drink plenty of water and use a humidifier in the house.
      </li>
    </ol>

    <br>

  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="jelly"></a>Lubricant is cheap. How is NeuEve better than Jelly?
    </em></strong></h4>
    Scientific research found that most men can be sexually active well into their 80s, but women have to go through
    menopause at mid age. The gender difference in sexuality and aging puts a great challenge on marriages.
    Therefore,
    products that can help women overcome the aging effect are important for maintaining marriage and relationship.
    <br>
    <br>
    Most jellies (lubricants or moisturizers) are made with chemicals like glycerin, propylene glycol and/or
    polyethylene
    glycol (PEG), the same chemicals for making automobile antifreeze which is well known for its toxicity. Jellies
    provide only a short-term lubrication but can speed up the aging process by tissue dehydration. After using
    jellies, a
    woman’s vagina shrinks, causing a rapid loss of the ability to have intimacy. Some women may have to go through
    surgery in order to keep their relationships, while others may have to forgo romantic intimacy altogether at a
    relatively young age.
    <br>
    <br>
    NeuEve is different. It can defy aging by reviving the mucus gland in women and reversing the atrophy. Many
    women who
    previously suffered severe vaginal atrophy have recovered by using NeuEve. If NeuEve is used early and
    regularly, the
    onset of vaginal atrophy can be substantially delayed. Therefore, even though jellies are cheap, their toxic
    chemicals
    can speed up aging and their effect wears off rapidly. NeuEve has a long-lasting effect. One application lasts
    7-8
    days. It is a worthwhile investment for women because it can help extend their romantic intimacy and good
    marriage
    well into the golden years.
    <br>
  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="drynessGone"></a>With only 3 NeuEve suppositories my dryness is gone. Should I stop using NeuEve?
    </em></strong></h4>

    Vaginal dryness is not a disease that can be cured. It is an aging outcome, like wrinkles. Wrinkles show up when
    people reach mid-age, say in the 40s, but women often start using cream at a much younger age. The reason is
    that an
    early and regular use of cream can result in a later onset of wrinkles. If a woman stops using the anti-aging
    cream
    before mid-age, wrinkles may show up sooner. Wrinkles can be removed by botox, but it is costly and not without
    risk.
    Therefore using cream to manage wrinkles early is a better investment than having a botox later. Likewise, early
    and
    regular use of NeuEve can help women delay the onset of vaginal atrophy. It allows women to enjoy many more
    years of
    romantic intimacy and a healthful lifestyle.

    <br>

  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="vaginalDrynessAndOdor"></a>Why do women suffer from vaginal dryness and odor?
    </em></strong></h4>

    When women suffer from vaginal dryness, the vaginal ecological environment has changed from moist to dry. This
    change
    can drive an ecological shift in dominant vaginal bacterial flora. For example, if a river dries, fish would die
    and
    other live forms that can accommodate low water and dried land, such as amphibians, may thrive. This is called
    ecological shift. When such a shift occurs in the vaginal ecology, bacterial vaginosis (BV) occurs and it can
    cause
    pungent fishy odor.

    <br>
  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="selectingFormula" id="selectingFormula"></a>How do I select the right NeuEve suppository formula?
    </em></strong></h4>

    There are two plans: recovery and maintenance. For women with severe dryness and atrophy, it may be too painful
    to
    have intimacy and they may be highly sensitive due to cracks and spotting. These women can begin with the
    recovery
    plan first by using the mild Silk formula (8/pk) for one month (use 1 in 4 days). Then, they can switch to the
    regular
    Silver formula (use 1 in 5 days) for faster recovery. Depending on the individual, one or more packs of Silver
    formulas may be needed for achieving recovery (regaining the ability to have intimacy without pain). At this
    point,
    women can switch to the Gold formula for long-term maintenance.

    <br><br>

    For women who have mild vaginal dryness and painful sex but who can still have sex, they can start directly with
    the
    maintenance plan using the Silver formula. It is a good idea to use a few suppositories (1 in 5 days) first to
    condition the dried vaginal tissue before having intimacy. After using 6 Silver suppositories in a month, the
    dryness
    and dyspareunia will reduce and these women can switch to the Gold formula and use one in 7-8 days for long-term
    maintenance of the vaginal wellness.

    <br><br>

    For women having just odor (e.g., BV) without atrophy, they can use the Silver formula suppository. Just use one
    suppository, and the odor will usually be gone. Continuous using two more suppositories will provide more
    assurance
    that the odor will not return. The remaining suppositories can be saved for future use in case the odor comes
    back at
    a later time. However, if the NeuEve suppositories are used regularly to maintain vaginal wellness, the odor
    will be
    gone for good. Below is a flowchart to illustrate how to select these three formulas.

    <div align="center">
      <%= image_tag("http://i.imgur.com/EM4QzqO.png", size: "500x400") %>
    </div>
    <br>

  </li>
  <br>
  <li>
    <h4><strong><em>
      <a name="reallyAtophied" id="reallyAtrophied"></a> If I am really atrophied should I use the cream instead
      of the suppository or both?
    </em></strong></h4>

    If you are really atrophied, you should use both the cream and the suppository. The suppository works inside the
    vagina to revive the mucous glands for self-lubrication, while the cream works on the outside. Therefore, these
    two products are made with different ingredients and are not interchangeable. For example, if you have dry
    mouth, you can take the artificial saliva to find relief, but it may not help dried lips, to which a chapstick
    can help. Many women who used NeuEve say that combining both the cream and the suppository gets better relief.
  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="silkSilverGoldDifferences" id="silkSilverGoldDifferences"></a>What are the differences among the
      Silk, Silver and Gold formulas?
    </em></strong></h4>

    The major differences are in their ingredient concentrations and timed-release formulations, which determine
    their
    strength and effective duration. A table is listed below to illustrate these differences:


    <table class='table table-bordered table-striped table-hover table-condensed'>
      <thead>
      <tr>
        <th>Suppository</th>
        <th>Silk</th>
        <th>Silver</th>
        <th>Gold</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><strong>Effect</strong></td>
        <td>Mild</td>
        <td>Moderate</td>
        <td>Strong</td>
      </tr>
      <tr>
        <td><strong>Suitable for</strong></td>
        <td>Recovery</td>
        <td>Recovery & Maintenance</td>
        <td>Maintenance</td>
      </tr>
      <tr>
        <td><strong>Each lasts</strong></td>
        <td>3-4 days</td>
        <td>5-6 days</td>
        <td>7-8 days</td>
      </tr>
      <tr>
        <td><strong>Supplies per Month</strong></td>
        <td>8</td>
        <td>6</td>
        <td>4</td>
      </tr>
      </tbody>
    </table>

    The NeuEve Silk formula is milder, suitable for highly sensitive women, but it only lasts 3-4 days. The Silver
    formula
    is moderate and the effect can last for 5-6 days. It is designed for clearing odor and eases dryness quickly and
    can
    be used for both recovery and maintenance. The NeuEve Gold formula is more concentrated in certain ingredients
    and
    with extended release. It is designed for long-term relieving of dryness and atrophy and suitable for easy
    maintenance
    (use 1 per week) because it can last 7-8 days.

    <br><br>

    If you have had vaginal dryness and painful sex for some time and are not sure which formula is right for you
    based
    upon the flowchart above, it would be a good idea to start first with the Silk, then the Silver, and finally the
    Gold.
    Because the Silver formula can be used for both recovery and maintenance, it is sold in most stores that carry
    NeuEve
    products. If you use the Silver formula first and feel burning, you may be the sensitive type. You can order the
    Silk
    formula online on this website if it is not available in the store near you.

    <br>

  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="silkSilverGoldIngredientDifferences"></a>The ingredients listed are all the same among the Silk,
      Silver and Gold. Are there
      different ingredients in each formula or is it the quantity of each ingredient that makes
      the difference?
    </em></strong></h4>

    The major difference among Silk, Silver and Gold formulas are concentrations of certain
    ingredients to make women to feel mild, moderate and strong, like different levels
    of spicy hot peppers of the same dish in a restaurant. Our Gold and Silver formulas,
    sustained and timed-release formulations are introduced. The timed-release formulations
    can be observed in name brand lawn fertilizers that have different sized granules, each
    releases the fertilizer at a different time.

    <br>
  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="extremeDryness"></a>I was wondering why I was directed to the mildest formula when I suffer from
      extreme
      dryness. Should I use the strongest formula instead?
    </em></strong></h4>

    To better explain this situation, let us use dry lips as an example. If one has had dry
    lips for a long time, say more than a month, micro-cracks occur on the lips. The tissues
    underneath the cracks are inflamed. Just opening the mouth can cause pain, becoming
    sensitive to everything, even to wind and water. At this stage, one may not be able to
    tolerate a strong product such as a wrinkle cream. The milder ChapStick can help protect
    dried lips by sealing the cracks. After using the ChapStick for some time, the cracks are
    healed, and the tolerance improves. Then, one can use a stronger product like a wrinkle
    cream for rejuvenation.

    <br><br>

    After using Silk formula for a month or two, the micro-cracks in the dried vagina are
    healed and painful sex and dryness are alleviated. Then, you can switch to the stronger
    formula Silver for better maintenance and faster recovery of atrophy, but if you still feel
    pain and tenderness, continue using Silk will be better. Some customers said that using
    the Silk formula once in 3-4 days and NeuEve cream for the vulva once daily works well
    to ease severe dryness.

    <br>

  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="howToUse"></a>How do I use NeuEve vaginal suppositories?
    </em></strong></h4>

    <%= link_to "Click here for Directions + Video", product_path(:anchor => 'directions') %>
    <br>
    The vaginal suppository is inserted into the vagina similarly to a tampon. Once introduced, it dissolves within
    10-15
    minutes and achieves its soothing effect entirely unnoticed. Before it dissolves, you should remain laying down
    to
    prevent the suppository from dropping out. It works best in 2nd and 3rd days. Once dissolved, it will remain in
    the
    vagina without seepage and will last for 4-8 days depending on the product used. Unlike a tampon, you will not
    need to
    withdraw the suppository once inserted. It will disappear with time, similar to the disappearance of applied
    body
    lotion.

    <br>

  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="chunkLeakedOut"></a>In the second morning, I noticed that a chunk of suppository leaked out. Should
      I be worried about it?
    </em></strong></h4>

    Some women may have suffered dryness for a long time, so that they do not have enough secretion to dissolve the
    water-soluble portion of the NeuEve suppository. The suppository includes both oil-soluble and water-soluble
    materials
    like a multi-vitamin pill (e.g., vitamin E is oil soluble while vitamin C is water soluble). As a result, a
    portion of
    the water-soluble materials may leak out. You should not be worried about this. Each time when you use a NeuEve
    suppository, a small portion of the water-soluble material will be dissolved. Gradually, the glands will become
    revived and more and more water-soluble materials will be dissolved and play a role in the maintenance of
    feminine
    wellness.

    <br>

  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="contraceptive"></a>Do NeuEve vaginal suppositories provide contraceptive protection?
    </em></strong></h4>

    NeuEve does not provide contraceptive protection, nor does it offer protection against communicable diseases.

    <br>

  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="condoms"></a>Does the use of NeuEve vaginal suppositories influence the effect of condoms?
    </em></strong></h4>

    Latex condoms can be damaged by a petroleum product, but NeuEve is based on palm oil. However, to be on the safe
    side, you should not use NeuEve simultaneously with a latex condom, but you may use non-latex condoms.

    <br>

  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="otherInfections"></a>Since NeuEve can eliminate odor caused by BV, can it take care of other
      vaginal infections?
    </em></strong></h4>

    NeuEve is not a drug or antibiotic. It does not treat any infections. BV is not a true infection but an
    imbalance of
    vaginal ecology. Unlike antibiotics that treat BV by killing dominant microbial species, NeuEve uses a natural,
    ecological approach to restore the ecological balance. It changes the vaginal environment from dry to moist,
    like
    adding water to a dried river. The newly established vaginal condition becomes favorable for good bacteria but
    not bad
    bacteria. As a result, feminine odor is eliminated.

    <br>

  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="relieveAtrophyWithoutHormones"></a>How does NeuEve work in relieving vaginal atrophy without
      hormone?
    </em></strong></h4>

    Menopause also causes osteoporosis, but it is reversible without estrogen. Calcium and vitamin D can do it.
    Likewise,
    vaginal atrophy should also be reversible without estrogen. Our product NeuEve can do it because NeuEve provides
    nutrients for the vaginal tissue as does calcium and vitamin D for bones.

    <br><br>

    Before a woman reaches menopause, her vagina is moisturized by mucus glands. After menopause, estrogen reduces,
    the
    vaginal gland dries, and the mucosa shrinks. Estrogen can control these glands, but the glands can also be
    activated
    by other things.

    <br><br>

    Let us look at dry eyes as an example. When tear glands shrink with aging, eyes dry. People often use artificial
    tears
    to find relief, but the effect wears off quickly. It is better to revive dried tear glands, which provide
    auto-lubrication 24/7. Tear glands can be activated centrally by deep sorrow or locally by cutting an onion. But
    onion
    smells bad. It would be nice if a rose could be used as the tear stimulant.

    <br><br>

    We have found the “rose” for reviving dried glands in women. This is the secret of NeuEve. Due to revival of
    mucus-secreting glands, the vaginal mucosa is auto-lubricated and moisturized 24/7. Many women using NeuEve
    report
    reversal of atrophy. We use “rose” to represent NeuEve because it clears up odor by restoring vaginal ecology.
    Women
    smell fresh and feel rejuvenated after using NeuEve.

    <br>

  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="activeIngredient"></a>What is the active ingredient in NeuEve that works?
    </em></strong></h4>

    As NeuEve is natural product, not a drug, it is difficult to say which ingredient is the active one. I would say
    that
    all ingredients listed in the NeuEve formulation contribute to its effect. For example, if you try to lose
    weight by
    skipping breakfast, you may get morning dizziness. The hidden cause is hunger. You can treat the dizziness with
    a
    drug, or you can start eating breakfast to get rid of your hunger and also the dizziness. If breakfast works,
    what is
    the active ingredient in the breakfast that “cures” the dizziness?

    <br>

  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="lichenSclerosus"></a>I have lichen sclerosus with itching and painful sex. Can NeuEve help me?
    </em></strong></h4>

    NeuEve is not a drug and cannot treat any disease. However, two women suffering from lichen sclerosus have
    purchased
    NeuEve suppositories repeatedly. This suggests that they might have found some relief with NeuEve.

    <br>

  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="suppositoryForm"></a>Why is NeuEve produced in suppository form?<br>
    </em></strong></h4>

    In comparison with cream, vaginal suppositories allow women to deliver the product to the place where the
    vaginal
    dryness and malodor occur, not only limited to the labia. Also, cream can be messy and difficult to control
    dosage.
    Suppositories are cleaner and also better for dosage control. For example, the effect of one suppository can
    last up
    to seven days, especially with the NeuEve Gold formula.

    <br>

  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="oilBased"></a>Why are NeuEve suppositories oil-based?<br>
    </em></strong></h4>

    The special formula with timed and extended release requires oil. Also, oil does better for the delivery of the
    oil-soluble vitamins and for lubrication of the vagina in order to prevent pain during sexual intercourse. It is
    also
    good for moisturizing the vaginal mucous membrane. A thin film of oil on the mucosa protects it from pathogens
    like
    fungi or bacteria. Our product uses only food-grade all natural vegetable oil (e.g., palm and palm kernel oil)
    as its
    base. No synthetic or petroleum-based oil is used.

    <br>

  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="whenBeforeSex"></a>When should I use NeuEve suppository before I can have sex? The day before
      or an hour before? Could you give me a more detailed instruction on when I should use
      it?<br>
    </em></strong></h4>

    Based on customers’ feedback, there may be three situations:
    <br><br>

    <ol>
      <li><strong>Can still have sex, but feel like sandpaper (dryness).</strong> Use NeuEve 30 minutes to 1
        hour before having sex usually works well. It works best 1-2 days after each application.
        If a woman has used NeuEve routinely such as once a week, she can have sex at anytime
        like a young woman.
      </li>
      <br>
      <li><strong>Have sex with pain (dyspareunia) or cannot have sex.</strong> This means atrophy has
        occurred. Using just one NeuEve suppository is not enough to reverse the atrophy. It
        will require the use of NeuEve continuously for 1-4 months before recovery. Please be
        patient to allow NeuEve working for you for a few weeks. You can test for readiness by
        inserting 1-3 fingers.
      </li>
      <br>
      <li><strong>Vaginal muscle spasm when having sex (vaginismus).</strong> These women might have
        slight atrophy, but painful sex causes muscle memory. One customer had vaginismus
        and could not have sex for 3 years. She tried many things (estrogen, moisturizer, and
        jellies) without luck. She used 3 NeuEve suppositories and felt self-lubricating like a
        young woman. Her love life hits the roof.
      </li>
    </ol>
    <br>

    In summary, if you are the first situation, use NeuEve 1 day before having sex may be the
    best. Also, since individual case is different, you can experimenting with NeuEve and
    find the best application method for yourself. Since the product is made with safe and
    food-grade natural ingredients, there is no harmful effect for using it often.

    <br>

  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="newInfection"></a>I have a long distance new boyfriend and we had intimacy lately after using
      NeuEve. Now, I have infection and have to go to my gynecologist to get treatment. Could
      your suppository cause my infection?<br>
    </em></strong></h4>

    NeuEve itself cannot cause infection, because it is made under sterile
    condition; there are no microorganisms. Also, NeuEve is made with 100% oil-base
    without water, so it cannot support microbial growth. Then, what else might have caused
    infection? There might be three possibilities.
    <br><br>

    <ol>
      <li><strong>Infection from sex partner.</strong> Sexually transmitted infections (STIs) are common. I
        assume that you did not wear a condom. Even though you do not need contraception
        after menopause, you are still vulnerable to STIs. It is always a good idea to wear a
        condom for protection against STIs when you have a new partner. Such protection is
        mutual; the male can also be protected from possible STIs. NeuEve is oil-based and
        might not be compatible with latex condoms, so non-latex condoms should be used.
      </li>
      <br>
      <li><strong>Old yeast infection coming back.</strong> If a woman had yeast infection when she
        was young, the yeast might become dormant when she becomes menopausal. The
        rejuvenation effect of NeuEve makes the environment moist again by promoting mucous
        secretion, which may allow her dormant yeast to grow back. But if a woman never
        had yeast infection before, she cannot get yeast by using NeuEve. If you feel that you
        get yeast again, you can manage it as you did before with over-the-counter antifungal
        medications.
      </li>
      <br>
      <li><strong>Honeymoon bladder.</strong> The vaginal tract is home to billions of indigenous bacteria.
        Some could be mobilized to the urinary tract after intimacy. A customer with
        vaginal atrophy could not have intimacy for many years. After using NeuEve, she
        regained the ability to have intimacy. Then, she enjoyed so much intimacy that she
        got honeymoon bladder in her 50s. Having a young woman’s trouble at an older age
        suggests that NeuEve can turn back the aging clock. To prevent honeymoon bladder, it
        is recommended to drink a lot of cranberry juice or water and empty bladder immediately
        after intimacy. In case honeymoon bladder is suspected, do not panic. It is just urinary
        tract infection (UTI). See your doctor and handle it as if you were a “honeymooner.”
        According to medical review articles, the best way to manage recurrent UTI (at least 2
        UTIs in 6 months) is to take Macrobid (Nitrofurantoin) once a day for 6 months. You
        can ask your doctor for prescription.
      </li>
    </ol>
    <br>
    In summary, the rejuvenation effect of NeuEve can help improve the ability of intimacy.
    After you use NeuEve for a while, you may be able to enjoy sex like a young woman.
    The bad news is that you may have to handle some issues of a young woman, like
    preventing STIs, yeast infection and honeymoon bladder. The good news is that you do
    not need to worry about menstruation.

    <br>

  </li>
  <br>
  <li>


    <h4><strong><em>
      <a name="pregnant"></a>Is there something in the suppositories that is harmful to unborn babies? I noticed
      you advise not using the
      suppositories if pregnant. My concern is if I were to conceive and not know yet I was pregnant and be using
      the suppositories I would not want to endanger my child.
    </em></strong></h4>

    This is a great question. Theoretically, nothing in the suppository is harmful since it is made with all food
    ingredients. However, it is a legal disclaimer that we must tell women during pregnancy that they should not use
    the product because birth defect happens randomly for no apparent reason. If a birth defect happens to a woman
    who had used our product during pregnancy and we did not have this disclaimer, we could get into legal trouble
    and bankrupt the business.

    <br><br>
    I hope that you can understand that as a small business, we must make this disclaimer so that we can survive and
    continue providing the valuable products to women who really need them without going through possible legal
    mess. If you get pregnant or are with a clear intention to conceive it would be on the safe side to avoid using
    all vaginal products including NeuEve. This way, you would not have to suspect the safety of any of these
    products that might be harmful to your baby.
  </li>

  <br>
  <li>


    <h4><strong><em>
      <a name="oralSex"></a>Can my partner do oral sex while using this product? Will it be unsafe and hurt my
      partner?<br>
    </em></strong></h4>

    This is a great question. The NeuEve product is fully food grade without much taste. It has no hormones, nor
    herbs
    (e.g., black cohosh and wild yam). It should be safe even ingesting orally, just like eating a chocolate. Women
    with vaginal dryness often have unpleasant odor, which repels the partner from oral sex. Using NeuEve routinely,
    odor will be gone, and women will smell fresh. Conversely, the estrogen cream is unsafe. Not only does it
    increase
    the risk for cancer, it can also pass the female hormone to the partner to reduce his male function.

  </li>

  <br>
  <li>


    <h4><strong><em>
      <a name="changeSubscription"></a>How can I change my subscription from Silver to Gold formula?
    </em></strong></h4>

    Paypal does not allow changes. The word "Silver" cannot be removed once subscription starts. The best way to change
    the formula of your subscription is for you to log in Paypal and cancel your existing subscription on Silver and to
    resubscribe the Gold formula from <%= link_to 'www.neueve.com', root_path %>. This way, your Paypal account will
    show only the Gold formula and
    the change of formula will occur.

  </li>

  <br>
  <li>
    <h4><strong><em>
      <a name="hotClimate"></a>I live in a very hot climate. Will the effectiveness of the product be
      compromised if the whole package is stored in the refrigerator? Or, would
      it better to place the next suppository I will use in the fridge and hour or
      two before insertion? Please advise.
    </em></strong></h4>

    The suppository is formulated to melt at the body temperature (98°F) so that it can release its ingredients once
    applied. However, if your area is hotter than the body temperature, the product can become soft during shipment.
    When you receive the product, you can store it in a refrigerator. This will make it hard again and easy to use.
    Keeping it in a refrigerator will not hurt its quality. Chocolate melts at the body temperature and may become
    brittle after storing in a refrigerator. The reason is that chocolate has sugar crystals, but NeuEve does not have
    sugar. Therefore, its quality is not compromised when it is stored in a refrigerator. In the summer time, a major
    challenge during shipping is the hot temperature in a car or a mailbox under the sun. It can be as hot as 120°F. The
    suppository can become soft when you receive it, but it will become hard once indoors and after putting in a
    refrigerator for several hours. Then, you can take it out before use. If your house is constantly air conditioned it
    should be OK to put the NeuEve in the room temperature for a longer time after taking out from a refrigerator.
    Otherwise, keeping it in a refrigerator in the summer time is better.
  </li>

  <br>
  <li>
    <h4><strong><em>
      <a name="bv"></a>I tried your BV Clear Starter Kit but did not receive the desired outcome. My BV
      symptoms did not diminish. Could you tell me what to do next?
    </em></strong></h4>

    There are two possibilities that the BV starter kit might not work. The most likely
    possibility is that your symptoms might be caused by conditions other than BV, such as
    yeast, trich or other infections. Many infections can cause discharges and odor, but only
    BV causes special pungent fishy odor. If you do not have the BV-specific fishy odor, the
    likelihood is high that something else might be the culprit of your symptoms. The second
    possibility is that you have BV but your BV is tenacious and difficult to treat. The BV
    starter kit might not be strong enough to relieve it. A sign for tenacious BV is the
    pungent fishy odor, especially after intercourse and you have such experience for many
    years and you have a doctor’s diagnosis. In this case, you may find better relief with the
    stronger NeuEve Gold formula. You will need to be more patient. The tenacious BV may
    take multiple suppositories to recover, but you will notice signs of improvement, such as
    reduction in odor and discharge, each time when you apply a suppository. If you do not
    find relief after repeated use of NeuEve, you will need to see an Ob-Gyn specializing in
    infectious diseases for a checkup to verify if you truly have BV or have other infections.
  </li>

  <br>
  <li>
    <h4><strong><em>
      <a name="estrace"></a>My gynecologist also has me on Estrace cream twice a week. How many days should I space out the Silk
      suppositories with my prescription Estrace?
    </em></strong></h4>

    Estrace is the synthetic estrogen cream and it works fast to restore vaginal atrophy but the
    trade off is that Estrace has many side effects, including:
    <br>
    <br>
    <ul>
      <li>
        light vaginal bleeding or spotting
      </li>
      <li>
        nausea, vomiting, stomach pain
      </li>
      <li>
        headache
      </li>
      <li>
        vaginal itching or discharge
      </li>
      <li>
        breast pain
      </li>
      <li>
        swelling, bloating, weight gain
      </li>
    </ul>
    <br>
    It also increased the risk of breast cancer, heart attacks, stroke, dementia and blood clot.
    On the other hand, NeuEve is all natural, organic, green, and food grade, and it has no
    side effects, but the trade off is that NeuEve works slowly by nourishing the mucosal
    tissue. It does not interfere with any drugs including Estrace.  However, it is not
    necessary to use the two formulas jointly. If you have a family history of breast cancer, it
    would be a good idea not to use Estrace. You can achieve recovery sorely by using
    NeuEve with a slightly longer recovery time. However, if you do not have a family
    history of breast cancer and you want to have a rapid recovery, you can combine the use
    of NeuEve and Estrace to cut its cancer risks and other side effects by half.
    <br>
    <br>
    If one application of the Estrace cream lasts for 3 days, on day 4 you can use the NeuEve
    Silk formula and cream. Then, after 3 days, you can switch back to Estrace for another 3
    days, and so on.  By using the two products alternately, your total Estrogen exposure will
    be cut in half and you will still get the same healing effect with 50% reduced cancer risk
    and other side effects of estrogen.
  </li>
  <br>
  <li>
    <h4><strong><em>
      <a name="clindamycin"></a>I was just diagnosed with BV by my gynecologist.  He prescribed me
      clindamycin vaginal cream for seven days.  When can I start using your product and
      which product would be best to use after a seven day round of antibiotic cream?
    </em></strong></h4>

    Antibiotics are good at eliminating true bacterial infections, but BV is not a true

    infection but a disturbance of vaginal ecology.  It is the reduction in the number of good

    bacteria, lactobacilli, and increase in the bad bacteria, anaerobes.  Let us use lawn care as

    an example.  The good lactobacilli are like lawn grass, while the bad anaerobes are like

    weeds. When your lawn is nice and green without weeds, it is healthy. When weeds

    overgrow to outnumber lawn grass, you have BV.  Antibiotics are like Roundup that kills

    all vegetation including weeds and lawn grasses. After the Roundup treatment, your lawn

    may be again filled with weeds as the good grasses are also gone.  But the probiotic

    lactobacilli are like lawn grass seeds.  If you put lawn grass seeds directly onto weeds,

    they cannot eliminate weeds to establish growth.
    <br>
    <br>
    NeuEve is like weed-n-feed for lawn care. It can clear BV naturally without using

    Roundup.  It suppresses weeds and feeds your lawn to build up a healthy turf. But if you

    use the antibiotic cream first to roundup your lawn and weeds, and the weed-n-feed

    (NeuEve) will not work as you will have nothing left to feed. Therefore, for BV

    management is not recommended to use douche, antibiotics or antiseptics (such as boric

    acid) before using NeuEve.
  </li>
  <br>
  <li>
    <h4><strong><em>
      <a name="dryness_vs_bv"></a>What is the difference between NeuEve formulas for dryness and for BV.
      Which can do better for BV clearance and dryness?  How can the same formula relieve
      both dryness and BV? I used padding lately and I also noticed odor. Could the padding
      cause my odor?
    </em></strong></h4>

    When a woman is in reproductive age, her vagina is filled with mucous and

    secretion that feed the vaginal friendly Lactobacillus bacteria. The female hormones

    support the vaginal secretion. When the woman reaches menopause, estrogen reduces and

    the vaginal secretion reduces as a part of aging.  As a result, the vagina becomes dry and

    the lining thins. Let us use the water level in a river as an analogy. When the water level

    is low, fish disappears and amphibians increase, causing an ecology shift. When the

    vaginal ecology shifts, good bacteria reduce and bad ones increase, and BV occurs. The

    odor might not be caused by the padding, but may be caused by the hormonal change

    inside the body.
    <br><br>
    The NeuEve works by restoring vaginal auto-secretion. When it relieves the

    dryness, it also restores ecology. In many cases, BV is cleared, just like when the water

    level in a river resumes, fish comes back. However, this method only works for BV, but

    not for other true infections, like yeast, trich and STIs.
    <br><br>
    The ingredients in all of our formulas are the same. Only different amounts for

    Gold, Silver and Silk. The BV-Clear Kit is the same as Silver.  The ability to clear BV

    odor is the strongest for Gold, milder for Silver and mildest for Silk. If you have already

    tried Gold, please continue using it as it is our strongest formula for both dryness and BV.

    The only tradeoff is that some women who have many years of severe dryness and

    atrophy may not tolerate it.  Their tolerance can increase after using the milder Silk and

    Silver for some time.
  </li>
  <br>
  <li>
    <h4><strong><em>
      <a name="bv_clear_kit"></a>Why does the BV Clear Kit works for other women but not for me?
    </em></strong></h4>
    BV is not a true infection but an upset of vaginal ecology, namely a reduction

    of friendly Lactobacillus bacteria and overgrowth of bad bacteria, which can be any

    species. Let us use lawn care as an example. When you have a green turf and weeds are

    under control, you are healthy, but if weeds outgrow lawn grass, you have BV.  The

    problem is that weeds can be any species. If they are common species like dandelions,

    you can easily eliminate them with the regular weed-n-feed. However, if the weeds are

    tenacious like crabgrass, the regular weed-n-feed may not work. You may need

    something more potent. Since weed-n-feed is the cheapest product, people often try that

    first to see if it works. Likewise, BV has many different types. Some have no symptoms,

    while others have fishy odor, discharge, burning and/or itching depending on what

    bacterial species overgrowing. Still, some other vaginal infections, such as yeast and

    trich, may show BV-like symptoms and be misdiagnosed as BV. NeuEve as a “weed-n-

    feed” like home remedy has worked for about 50% of women with BV. This is not a bad

    rate of success because nearly all these women have tried nearly all other BV care

    products under the sun before trying NeuEve. Making a product for BV relief is like

    making dress for ladies. One-size cannot fit all. The fact that NeuEve works for some

    women but not for others is normal. If you find NeuEve works for you, you have found

    the "dress" of your "size" and can buy it for future use. The type of BV with typical fishy

    odor often responds well. If your BV does not have a fishy odor, NeuEve may still work

    but the likelihood of success may be lower. If you have tried NeuEve but your symptoms

    persist, you may have a condition other than BV. Please visit your gyn to have a checkup.
  </li>
</ol>





