<% provide(:title, 'Friends of NeuEve') %>
<% provide(:last_modified, 'May 1, 2017') %>

<div class="jumbotron">
    <h1>Friends of NeuEve</h1>
</div>

<p>
    This is where we recognize our friends, and show them that we are thankful for their love and encouragement. We are
    still a very small company and we would be nowhere without the support of our friends.
</p>

<h4>
    <%= link_to "Women's Health Foundation", 'http://womenshealthfoundation.org/' %>
</h4>

<h4>
    <%= link_to "Beauty Concepts International", 'http://www.beautyconceptsintl.com/wp/' %>
</h4>

<h4>
    <%= link_to "Our Lemongrass Spa - Dorothy Baca", 'http://www.ourlemongrassspa.com/dotty' %>
</h4>

<h4>
    <%= link_to 'Beauty Counter - Jude Rollins', 'http://www.beautycounter.com/juderollins' %>
</h4>


<hr>
<h4>- Featured Cause -</h4>
<p>
    Our friends at <%= link_to 'Below Your Belt',
                               'https://ifundwomen.com/projects/below-your-belt-app-for-girls-10-14',
                               :class => 'below-your-belt',
                               :target => '_blank' %>
    are crowdfunding to build a fun educational app game to educate 5th-8th grade girls about Pelvic
    Health. The world needs more people like them. We encourage you to
    <%= link_to 'help crowdfund Below Your Belt',
                'https://ifundwomen.com/projects/below-your-belt-app-for-girls-10-14',
                :class => 'below-your-belt',
                :target => '_blank' %>
</p>
<hr>

<h4>Reviews of NeuEve by Dr. Véronique Desaulniers</h4>
<table class='table table-bordered table-striped table-hover table-condensed'>
    <tbody>
    <tr>
        <td>
            <%= link_to 'A Natural Approach to Sex After Menopause', 'http://breastcancerconqueror.com/a-natural-approach-to-sex-after-menopause/' %>
        </td>
        <td>
            <%= link_to 'Have More Sex – It May Help Prevent Breast Cancer', 'http://www.aspiremag.net/have-more-sex-it-may-help-prevent-breast-cancer/' %>
        </td>
    </tr>
    </tbody>
</table>
