<% provide(:title, 'Bring New Evenings to Women') %>
<br>

<div align="center">
  <%= image_tag('http://i.imgur.com/4E1ZF5w.png', :width => '45%') %>
</div>

<div class="jumbotron">
  <h2>NeuEve: Bring New Evenings to Women</h2>
  <h4><em>Our goal is to make a positive impact on the world by helping women and saving marriages</em></h4>
</div>
<p>
  Naturally promoting feminine wellness, NeuEve is a <%= link_to 'gynecologist', about_path %>
  -tested <%= link_to 'suppository', product_path %> for
  fighting <%= link_to 'symptoms of menopause', background_path %>, such as odor,
  dryness, <%= link_to 'dyspareunia', 'https://en.wikipedia.org/wiki/Dyspareunia' %>, and <%= link_to 'bacterial
  vaginosis', 'http://en.wikipedia.org/wiki/Bacterial_vaginosis' %>.
</p>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/108021790&amp;color=39803d&amp;auto_play=false&amp;show_artwork=false"></iframe>

<p>
  <strong>100% all-natural food grade ingredients</strong> : palm oil, beeswax, tapioca starch, inulin,
  fructo-oligosaccharides, soy lecithin, orange oil, vitamin E, <%= link_to 'and a proprietary blend.',
        faq_path(:anchor => 'proprietaryBlend') %>
</p>

<br>

<h3>NeuEve vs. other products for promoting vaginal wellness</h3>

<table class='table table-bordered table-striped table-hover table-condensed'>
  <thead>
  <tr>
    <th></th>
    <th><strong>NeuEve</strong></th>
    <th> Prescription <br> Drug "A"</th>
    <th> Premarin / <br>
      Estrogel
    </th>
    <th> Replens / <br>
      Moisturizer
    </th>
    <th> Lubricant / <br>
      K-Y Jelly
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Alleviates painful sex</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
  </tr>
  <tr>
    <td>Relieves Dryness</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>

  <tr>
    <td>Reverses Atrophy</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>

  <tr>
    <td>Relieves Itching</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>

  <tr>
    <td>Eliminates Odors</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>

  <tr>
    <td>Induces Orgasms</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>

  <tr>
    <td>All-Natural & Organic</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>

  <tr>
    <td>100% Guaranteed to Work</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>

  <tr>
    <td>Works Fast</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>

  <tr>
    <td>Duration of Relief</td>
    <td>7 days</td>
    <td>1 day</td>
    <td>3-4 days</td>
    <td>3-4 days</td>
    <td>Minutes</td>
  </tr>


  <tr>
    <td>Harmful Side-Effects</td>
    <td>-</td>
    <td><%= link_to 'Prescription Drug "A"<br/>Side Effects'.html_safe, 'http://www.webmd.com/drugs/drug-163986-osphena+oral.aspx?drugid=163986&drugname=osphena+oral&source=0&pagenumber=6' %></td>
    <td><%= link_to 'Premarin<br/>Side Effects'.html_safe, 'http://www.webmd.com/drugs/drug-76336-premarin+oral.aspx?drugid=76336&drugname=premarin+oral&pagenumber=6' %></td>
    <td>-</td>
    <td>-</td>
  </tr>
  </tbody>
</table>
<h6> <%= link_to 'Point-by-point explanation of this chart', comparison_path %></h6>
<br>


<div class="jumbotron">
  <h3>What customers have said about NeuEve:</h3>
</div>                                 <!--
<br>
The following is feedback we have received from satisfied customers:
<br>                                  -->
“NeuEve is much better than what you said. I have got multiple orgasms that I had not experienced for years. Your product
is amazing!”
<br>
<br>
“I used (Prescription Drug "A") but it caused me leg cramping.  I have been looking for an alternative and found NeuEve.
It works.  I
am so happy and will tell my doctor about it.”
<br>
<br>
“(Prescription Drug "A") worked well but it made me fat.   NeuEve is great.  It works better than (Prescription Drug "A") and no side effects to worry about.”
<br>
<br>
“The jelly lubricant lasts only minutes. It was annoying that we had to stop in the middle to reapply the jelly. NeuEve
is fantastic! With only one suppository, we were able to have sex 3 times in a week. That is more than I had in the last
year. After 1 week, it is still working. Sex is wonderful again.”
<br>
<br>
“I had 10 years of atrophy and could not make love. With NeuEve, I am fully recovered. My doctor was impressed and became
a NeuEve user herself.”
<br>
<br>
"Since entering menopause, I have had vaginal dryness, and could not get close to my husband. This product is super.
With only one application, all my issues are gone. I feel like a young woman again. My husband is happy too."
<br>
<br>
“I have had this awful smell for many years and tried everything possible but nothing worked, not even prescription
drugs. This product really works."
<br>
<br>
“This thing works. The bad odor is gone and I feel really good. I plan to take a vacation with my husband to Florida
next week. I am going to have some fun. Please send me more ASAP."
<br>
<br>
"This suppository is fantastic! I have had all the symptoms of menopause: dry, odor and sexual pain. I have not had
sex with my husband for years. Doctor prescribed vaginal estrogen suppositories, but they did not work for me. I
used only 3 NeuEve’s suppositories and all my issues are gone. I feel great and can enjoy sex again. It has really
saved my marriage."
<br>
<br>
"Thank you! This product not only helps relieve dryness but also boosts sexual satisfaction. My husband and I both
like it very much. He said that this thing is better than Viagra. Please send me more."
<br>
<br>
“I am a breast cancer survivor. After the cancer treatment, I had vaginal shrinking and painful dryness. I could not
have intimacy with my husband for 10 years. I tried various moisturizers, but they only caused more pain. When I used
NeuEve, my life changed. My atrophy recovered and I can enjoy intimacy again. Both my husband and I are happy.”

<br>
<br>

<br>
<br>

<div class="jumbotron">
  <h3>Find NeuEve at these stores in the Chicago area, or order online!</h3>
</div>
<div align="center">
  <iframe src="https://mapsengine.google.com/map/embed?mid=zDubT9ROPqdA.k5TJHqgnOKa8" width="90%"
          height="400"></iframe>
</div>
