<% provide(:title, 'Natural Remedy for Vaginal Dryness and Atrophy') %>

<div class="jumbotron">
  <h2>Natural Suppositories and Cream for Menopause</h2>
</div>

<h4>
  NeuEve <%= link_to 'suppositories', product_path %> and <%= link_to 'cream', cream_path %> help ease menopausal
  discomforts: vaginal odor,
  dryness, atrophy, itching, burning, <%= link_to 'painful sex', 'https://en.wikipedia.org/wiki/Dyspareunia' %>,
  and <%= link_to 'bacterial
  vaginosis', bacterial_vaginosis_vaginal_odor_path %>.<sup>*</sup>
</h4>

<h5>
  <strong>100% all-natural food grade ingredients</strong> : palm oil, sunflower wax, tapioca starch, inulin,
  fructo-oligosaccharides, sunflower lecithin, orange oil, vitamin
  E, <%= link_to 'and a proprietary blend of nutrients.',
                 faq_path(:anchor => 'proprietaryBlend') %>
</h5>

<h5>
  NeuEve is gluten-free, hormone-free and estrogen-free.
  NeuEve does NOT contain any petrochemicals, parabens, BHT, T.E.A, M.E.A, urea, glycols, PEG's, etc.
  NeuEve has never been tested on animals, and does not contain any animal products.
</h5>

<div align="center">
  <%= image_tag("hormone-free-trans.gif", :size => "160x160", :class => 'seal') %>
  &nbsp; &nbsp; &nbsp;
  <%= image_tag("no-chemical-logo-trans.gif", :size => "160x160", :class => 'seal') %>
  &nbsp; &nbsp; &nbsp;
  <%= image_tag("not-tested-on-animals.gif", :size => "160x160", :class => "seal") %>
</div>


<iframe width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/108021790&amp;color=ee008c&amp;auto_play=false&amp;show_artwork=false">
</iframe>


<br>

<h3>Review of NeuEve by our friend Dr. Véronique Desaulniers</h3>
<table class='table table-bordered table-striped table-hover table-condensed'>
  <tbody>
  <tr>
    <td>
      <%= link_to 'Breast Cancer Conqueror', 'http://breastcancerconqueror.com/a-natural-approach-to-sex-after-menopause/' %>
    </td>
  </tr>
  </tbody>
</table>

<br>

<h3>NeuEve vs. other products for promoting vaginal wellness<sup>*</sup></h3>

<table class='table table-bordered table-striped table-hover table-condensed'>
  <thead>
  <tr>
    <th>Function reported by customers' feedback<sup>*</sup></th>
    <th><strong>NeuEve</strong></th>
    <th> Moisturizer
    </th>
    <th> Lubricant / <br>
      Jelly
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Eases painful sex</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
  </tr>
  <tr>
    <td>Alleviates Dryness</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>

  <tr>
    <td>Reverses Atrophy</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>

  <tr>
    <td>Relieves Itching</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>

  <tr>
    <td>Clears Odors</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>

  <tr>
    <td>Induces Orgasms</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>

  <tr>
    <td>Works Fast</td>
    <td><i class='icon-ok'></i></td>
    <td><i class='icon-remove'></i></td>
    <td><i class='icon-remove'></i></td>
  </tr>

  <tr>
    <td>Duration of Relief</td>
    <td>7 days</td>
    <td>3-4 days</td>
    <td>Minutes</td>
  </tr>
  </tbody>
</table>
<h6> <%= link_to 'Point-by-point explanation of this chart', comparison_path %></h6>

<%= render 'layouts/disclaimer' %>

<br>

<div class="jumbotron">
  <h3>What customers have said about NeuEve:<sup>*</sup></h3>
</div>                                 <!--
<br>
The following is feedback we have received from satisfied customers:
<br>                                  -->
“NeuEve is much better than what you said. I have got multiple orgasms that I had not experienced for years. Your product
is amazing!”
<br>
<br>
“The jelly lubricant lasts only minutes. It was annoying that we had to stop in the middle to reapply the jelly. NeuEve
is fantastic! With only one suppository, we were able to have sex 3 times in a week. That is more than I had in the last
year. After 1 week, it is still working. Sex is wonderful again.”
<br>
<br>
“I had 10 years of atrophy and could not make love. With NeuEve, I am fully recovered. My doctor was impressed and became
a NeuEve user herself.”
<br>
<br>
"Since entering menopause, I have had vaginal dryness, and could not get close to my husband. This product is super.
With only one application, all my issues are gone. I feel like a young woman again. My husband is happy too."
<br>
<br>
“I have had this awful smell for many years and tried everything possible but nothing worked, not even prescription
drugs. This product really works."
<br>
<br>
“This thing works. The bad odor is gone and I feel really good. I plan to take a vacation with my husband to Florida
next week. I am going to have some fun. Please send me more ASAP."
<br>
<br>
"This suppository is fantastic! I have had all the symptoms of menopause: dry, odor and sexual pain. I have not had
sex with my husband for years. Doctor prescribed vaginal estrogen suppositories, but they did not work for me. I
used only 3 NeuEve’s suppositories and all my issues are gone. I feel great and can enjoy sex again. It has really
saved my marriage."
<br>
<br>
"Thank you! This product not only helps relieve dryness but also boosts sexual satisfaction. My husband and I both
like it very much. He said that this thing is better than Viagra. Please send me more."
<br>
<br>
“I am a breast cancer survivor. After the cancer treatment, I had vaginal shrinking and painful dryness. I could not
have intimacy with my husband for 10 years. I tried various moisturizers, but they only caused more pain. When I used
NeuEve, my life changed. My atrophy recovered and I can enjoy intimacy again. Both my husband and I are happy.”

<br>

<%= link_to 'Read More Reviews', libido_path(:anchor => 'reviews') %>

<br>
<br>
<%= render 'layouts/testimonial_disclaimer' %>
<br>

<div class="jumbotron">
  <h3>Find NeuEve at these stores in the Chicago area, or order online!</h3>
</div>
<div align="center">
  <iframe src="https://mapsengine.google.com/map/embed?mid=zDubT9ROPqdA.k5TJHqgnOKa8" width="90%"
          height="400"></iframe>
</div>
