<% provide(:title, 'Female Libido, Dyspareunia and Sexual Dysfunction') %>
<% provide(:description, 'Learn about an innovative bottom-up approach to treating female libido dysfunction that works quickly. Satisfaction guaranteed!') %>
<% provide(:last_modified, 'July 19, 2017') %>

<br>

<div class="jumbotron">
    <h2>Female Libido, Dyspareunia and Sexual Dysfunction</h2>
</div>

<h3>
    Origin of Female Sexual Dysfunction
</h3>
<p>
    The incidence of female sexual dysfunction is high, may be about 40% among normal aging postmenopausal women and
    close
    to 100% among breast cancer survivors who have been on an anti-hormonal therapy.
</p>
<p>
    Female sexual dysfunction can have a
    profound impact on quality of life, but it has been largely ignored by the healthcare community.
</p>
<p>
    Major reasons may include:
<ul>
    <li>
        traditional social conservatism
    </li>
    <li>
        gender inequality
    </li>
    <li>
        cultural suppression against women’s sexual desire
    </li>
</ul>
</p>
<p>
    Because truly effective remedies are not available, even if women openly seek care for sexual dysfunction, they are
    often given ineffective treatments.
</p>
<p>
    As a result, many women suffer from sexual dysfunction in silence.
</p>

<h3>
    Types of Female Sexual Dysfunction
</h3>
<p>
    Female sexual dysfunction has been classified into four broad types:
</p>

<ol>
    <li>
        Decreased libido (lack of sexual desire)
    </li>
    <li>
        Altered arousal (reduced vaginal lubrication and dilation)
    </li>
    <li>
        Inability to achieve orgasm
    </li>
    <li>
        Dyspareunia (uncomfortable or painful sex)
    </li>
</ol>

<h3>
    Flawed Top-Down Approach of Sexual Arousal Problems
</h3>

<ol>
    <li>
        In many healthy women, the cycle of sexual response begins in the brain.
    </li>
    <li>
        A romantic memory, image, scent, music, or
        fantasy may act as a trigger to prompt sexual arousal.
    </li>
    <li>
        As a result, it was believed that female sexual dysfunction
        is
        a chain reaction occurs <em><strong>top-down</strong></em> from the brain to the lower parts of the body.
    </li>
    <li>
        A lack of
        androgenic hormones would result in decreased libido in the brain.
    </li>
    <li>
        Subsequently, altered arousal and absent orgasm
        would follow.
    </li>
</ol>
<p>
    Thus, the brain
    was thought to be the key and starting place for treating female sexual dysfunction.
</p>
<p>
    Based on this belief, doctors
    have used androgen to treat female sexual dysfunction, but the efficacy has been limited while side effects are
    significant.
</p>
<p>
    <strong>As a result, the American Endocrine Society has recommended against using androgen to treat women with
        sexual dysfunction.</strong>
<p>
    So far, many products in addition to androgen have been used to treat female sexual dysfunction
    by targeting the brain, but their effects have been limited.
</p>

<h3>
    A Revolutionary Bottom-Up Approach
</h3>

<p>
    After years of observations in postmenopausal women, especially breast cancer survivors, Dr. Chang has now realized
    that female sexual dysfunction can also occur <em><strong>bottom-up</strong></em> due to uncomfortable or painful
    sex,
    which in turn causes absent orgasm, altered arousal, and ultimately decreased libido in the brain.
</p>
<p>
    Positive
    experiences of NeuEve application by thousands of women have indicated that this may be the case.
</p>
<p>
    Many women who
    have
    had painful sex or
    lost ability to have sex due to vaginal dryness and atrophy may, after using NeuEve, regain the ability to:
<ul>
    <li>
        have pain-free sex
    </li>
    <li>
        achieve
        arousal
    </li>
    <li>
        reach orgasm
    </li>
    <li>
        regain libido
    </li>
</ul>


<p>
    However, NeuEve is not a drug, and is not
    intended to improve any structure, or restore function of the human body, as it ages.
</p>
<p>
    Even so, female sexual
    response
    may be improved by eliminating uncomfortable or painful sex, especially for postmenopausal women and breast cancer
    survivors who cannot use hormones.
</p>

<h3>Testimonials</h3>

<%= link_to '', {}, name: 'reviews' %>
<p>
    <strong>Below are NeuEve customers’ reviews on sex life improvement on
        <%= link_to 'www.amazon.com'.html_safe,
                    create_url('https://www.amazon.com/',
                               ['NeuEve-Suppository-Silver-formula',
                                'product-reviews',
                                'B00CMIC35I'],
                               {
                                       ie: 'UTF8',
                                       reviewerType: 'all_reviews',
                                       showViewpoints: 0,
                                       sortBy: 'helpful',
                                       pageNumber: 1,
                                       filterByStar: 'positive',
                                       _encoding: 'UTF8',
                                       tag: 'neu08-20',
                                       linkCode: 'ur2',
                                       linkId: 'f5f767d63d5ccb2f9e6d9c295d516349',
                                       camp: 1789,
                                       creative: 9325
                               }, nil),
                    :class => 'amazon-review',
                    :id => 'silver-formula',
                    :target => '_blank' %>
        <sup>*</sup></strong>
</p>

<ol>
    <% @reviews.each do |review| %>
        <li class="testimonial">
            "<%= review %>"
        </li>
        <br>
    <% end %>
</ol>

<%= link_to 'Read More Reviews'.html_safe,
            create_url('https://www.amazon.com/',
                       ['NeuEve-Suppository-Silver-formula',
                        'product-reviews',
                        'B00CMIC35I'],
                       {
                               ie: 'UTF8',
                               reviewerType: 'all_reviews',
                               showViewpoints: 0,
                               sortBy: 'helpful',
                               pageNumber: 1,
                               filterByStar: 'positive',
                               _encoding: 'UTF8',
                               tag: 'neu08-20',
                               linkCode: 'ur2',
                               linkId: 'f5f767d63d5ccb2f9e6d9c295d516349',
                               camp: 1789,
                               creative: 9325
                       }, nil),
            :class => 'amazon-review',
            :id => 'silver-formula',
            :target => '_blank' %>

<br>
<br>

<%= render 'layouts/testimonial_disclaimer' %>