<% provide(:title, 'NeuEve Satisfaction Guarantee and Return Policy') %>
<% provide(:description, 'For health reasons, we do not accept returns. If unsatisfied, we are happy to refund up to one month supply of product!') %>
<% provide(:last_modified, 'May 16, 2020') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item active">NeuEve Satisfaction Guarantee and Return Policy</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h2 class="hero-heading">NeuEve Satisfaction Guarantee and Return Policy</h2>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="text-content text-lg col-xl-8 col-lg-10 mx-auto">


                <h2>
                    NeuEve Return Policy
                </h2>

                <p>
                    For health reasons of our employees and our customers, <strong>especially due to the COVID-19 pandemic</strong>,
                    NeuEve products are not able to be restocked.
                    We <strong>cannot</strong>
                    accept returns for NeuEve vaginal suppositories, NeuEve vaginal cream, or NeuEve vaginal
                    applicators.
                </p>

                <hr>

                <br>
                <div align="center" class="pb-5">
                    <%= image_tag("NeuEve-Satisfaction-Guarantee.jpg",
                                  :class => "applicator",
                                  alt: '100% Customer Satisfaction Guarantee'
                        ) %>
                </div>

                <h2>
                    NeuEve Satisfaction Guarantee Policy
                </h2>

                <p>
                    Our organic ingredients are the best quality. Our suppositories and creams are completely
                    jam-packed with vitamins
                    and nutrients. We are <em> so confident</em> you will be satisfied with NeuEve that we will give
                    you your money back if you
                    are unsatisfied.
                    <br> * Limited to one box (excluding $10 for shipping and handling) per customer for life, to prevent abuse.
                    <br> * Limited to full-priced purchase only. Special discount deals, including subscription and bulk discount purchase, are not refundable.
                </p>

                <h3>Your Satisfaction is Our Priority</h3>

                <p class="lead">Do you have dry mouth or dry eyes?</p>
                <p>
                    If so, you may have Sjogren's Syndrome,
                    and <%= link_to 'you should read this.', faq_path(anchor: 'dryEyeMouth') %>
                </p>

                <p class="lead">Are you using the right formula?</p>
                <p>
                    If you are using a formula that is too strong for you, you may experience strong stimulation or
                    a burning feeling. Please use the formula charts to determine the formula for you:


                    <%= link_to which_formula_path, :class => 'formbutton btn btn-large btn-info', :target => '_blank' do %>
                        View Formula Charts
                    <% end %>

                </p>


                <p class="lead">
                    Do you have BV?
                </p>
                <p>

                    If you have a fishy odor and grayish-white discharge, then you probably have BV. If you have any
                    other odor or any other
                    colors, then you may have yeast infection, trichomoniasis, or some other issue, and we recommend
                    you speak to your doctor.
                </p>
                <hr>


                <h3>Conditions and Terms of Satisfaction Guarantee</h3>
                <h4>For Silk, Silver, Gold, and Cream</h4>
                <p>
                    Our product takes between 2 weeks to 1 month before you start noticing a difference. Most women
                    say it takes between 1-4 months to have pain-free sex again. As NeuEve contains no estrogen or
                    hormones, so you should not expect it to work as immediately as estrogen.
                </p>
                <p><strong>
                    If you have used our product for 30 days, and have seen no progress, please email us
                    at <%= mail_to "satisfaction@neueve.com" %>. We will fully refund you for up to one month’s
                    supply of our product, minus $10 for shipping and handling. This offer is limited to once per customer, for life.
                    This offer is good for up to 90 days from the date of purchase.
                </strong></p>

                <h4>For BV Clear</h4>

                <p><strong>
                    If you are 100% sure that you have BV and you have finished using the entire box of BV Clear
                    without progress, please email
                    us at <%= mail_to "satisfaction@neueve.com" %>. We will fully refund you for the entire box of
                    BV Clear, minus $10 for shipping and handling. This offer is limited to
                    once per customer, for life. This offer is good for up to 90 days from the date of purchase.</strong>
                </p>
            </div>
        </div>
    </div>
</section>