<% provide(:title, 'Silk | Vaginal Suppositories by NeuEve') %>
<% provide(:description, 'NeuEve Silk is a natural vaginal suppository developed by a gynecologist. NeuEve Silk helps severe
vaginal atrophy. $59.95, FREE SHIPPING.') %>
<% provide(:last_modified, 'Jan 12, 2020') %>

<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item active">Silk</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">Silk</h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="mx-auto">
            <div class="row align-items-center">
                <div class="col-md-8 pb-3">
                    <div class="row pb-2">
                        <div class="col-12 detail-carousel">
                            <div data-slider-id="1" class="owl-carousel detail-slider">
                                <div class="item">
                                    <%= image_tag('product/silk/NeuEve_Silk_Lavender.jpg', :class => 'img_pair img-fluid',
                                                       alt: 'NeuEve Silk is a 100% all-natural vaginal suppository, for severe vaginal atrophy.'
                                        ) %>
                                </div>
                                <div class="item">
                                    <%= image_tag('product/silk/NeuEve_Silk_Floral.jpg', :class => 'img_pair img-fluid',
                                                       alt: 'NeuEve Silk is made from plant-based, edible ingredients and is safe for oral sex, unlike vaginal estrogen products.'
                                        ) %>
                                </div>
                                <div class="item">
                                    <%= image_tag('product/general/NeuEve_Single_Suppository.jpg', :class => 'img_pair img-fluid',
                                                       alt: 'NeuEve Silk is a 100% all-natural vaginal suppository, for severe vaginal atrophy.'
                                        ) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pr-0">
                            <div data-slider-id="1" class="owl-thumbs">
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/silk/NeuEve_Silk_Lavender.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Silk is a 100% all-natural vaginal suppository, for severe vaginal atrophy.'
                                        ) %>
                                </button>
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/silk/NeuEve_Silk_Floral.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Silk is made from plant-based, edible ingredients and is safe for oral sex, unlike vaginal estrogen products.'
                                        ) %>
                                </button>
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/general/NeuEve_Single_Suppository.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Silk is a 100% all-natural vaginal suppository, for severe vaginal atrophy.'
                                        ) %>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="align-middle">
                        <strong>
                            <div>NeuEve Silk Formula (1 month supply)</div>


                        </strong>
                        8 suppositories
                        <br>

                        <div class="row pt-2">
                            <div class="col-12 pb-2">

                                <span>$59.95</span>

                                <div class="formbutton">
                                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="QV8HRKJ34BXML">

                                        <%= button_tag(type: 'submit',
                                                       class: 'btn btn-large btn-warning add-to-cart',
                                                       id: 'silk-formula',
                                                       name: 'submit') do %>
                                            <svg class="svg-icon"><use xlink:href="#add-to-cart-1"></use></svg>
                                            Add to Cart
                                        <% end %>
                                    </form>
                                </div>
                            </div>
                            <div class="col-12">
                                $49.75 / mo
                                <div class="formbutton">
                                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="P6SSR5KBG2HTA">
                                        <%= button_tag(type: 'submit',
                                                       class: 'btn btn-large btn-warning subscribe',
                                                       id: 'silk-formula',
                                                       name: 'submit') do %>
                                            <i class="fas fa-sync-alt svg-icon"></i>
                                            Subscribe
                                        <% end %>
                                    </form>
                                </div>
                                <div class="text-sm">(Min. 3 Months)</div>
                            </div>
                        </div>

                        <span class="stamped-product-reviews-badge stamped-main-badge" data-id="1000"></span>

                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto">
            <div class="row align-items-center">
                <div class="col-md-8 pb-3">
                    <%= image_tag('product/silk/NeuEve_Silk_4Pack.jpg', :class => 'img_pair img-fluid',
                                  alt: 'NeuEve Silk is an all-natural moisturizing vaginal suppository, for severe vaginal atrophy.'
                        ) %>
                </div>
                <div class="col-md-4 text-center">
                    <div align="center">
                        <strong>
                            <div>Four Boxes of NeuEve Silk</div>
                        </strong>
                        32 suppositories
                        <br>
                        <div>
                            Bulk Discount:
                        </div>
                        <span>
                          <strike>$239.80</strike> <i class="fas fa-long-arrow-alt-right"></i> <span>$199.00</span>

                        </span>

                        <div>
                            Save $40!
                        </div>
                        <br>

                        <div class="formbutton">
                            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="VAM2KZ4Y869SG">
                                <%= button_tag(type: 'submit',
                                               class: 'btn btn-large btn-warning add-to-cart',
                                               id: 'silk-formula',
                                               name: 'submit') do %>
                                    <svg class="svg-icon"><use xlink:href="#add-to-cart-1"></use></svg>
                                    Add 4 Boxes to Cart
                                <% end %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">

                    <h3>
                        Ingredients:
                    </h3>
                    <p>
                        <%= link_to 'Organic palm oil*', 'https://help.neueve.com/kb/ingredients/please-stop-using-palm-oil' %>, organic coconut oil, organic beeswax, organic tapioca starch, organic potato starch,
                        evening primrose oil, organic sea buckthorn fruit oil, organic lavender essential oil, organic orange oil, organic vitamin
                        E (d-α tocopherol), <%= link_to 'and a proprietary blend of nutrients.',
                                                        'https://help.neueve.com/kb/ingredients/whats-in-the-proprietary-blend' %>
                    <p>
                        NeuEve is gluten-free, hormone-free and estrogen-free. NeuEve does NOT contain any boric acid, petrochemicals,
                        parabens, BHT, T.E.A, M.E.A, urea, glycols, PEG's, etc. NeuEve has
                        <%= link_to 'never been tested on animals', 'https://www.neueve.com/blog/cruelty-free-certified/' %>, and does not
                        contain any animal products.
                    </p>



                    <p>
                        NeuEve is manufactured locally and sustainably in small-batches in Chicago, IL, USA, with care and
                        tenderness.
                    </p>

                </div></div></div></div></section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">
<h3>
    Description:
</h3>
<p>
    NeuEve Silk is a natural vaginal suppository developed by a <%= link_to "gynecologist.", about_path %>
    NeuEve Silk naturally moisturizes and heals vaginal dryness and atrophy.
    NeuEve Silk is made with vitamins and nutrients to nourish the vaginal tissues.
</p>
<h3>
    What does NeuEve Silk do?
</h3>
<p>
    NeuEve Silk is ideal for women with severe vaginal atrophy, severe vaginal dryness, and severe painful sex.
</p>
<p>
    Many women who were unable to have intimacy for over 10 years, were able to have sex again, after using NeuEve Silk for a few months.
</p>
<h3>
    Who's NeuEve Silk For?
</h3>
<p>
    We generally recommend starting with NeuEve Silk for women <strong>who are over 50 years old</strong>, or have been
    post-menopausal for over 5 years. NeuEve Silk is our mildest vaginal suppository.
</p>
<p>
    For women <strong>who are over 60</strong> or have been post-menopausal for over 15 years, we recommend they order
    <%=link_to "NeuEve Cream", cream_path%> to
    use in conjunction with NeuEve Silk.
</p>
<p>
    We also recommend NeuEve Silk if you are
    <strong>over 40 years old and have a medical history of any of the following:</strong>
</p>
<ul>
    <li>breast or ovarian cancer treatment</li>
    <li>oophorectomy</li>
    <li>hysterectomy</li>
    <li>lichen sclerosus</li>
    <li>Sjogren's symdrome</li>
    <li>currently use antihypertensive drugs</li>
    <li>currently use antiallergic drugs</li>
    <li>currently use antidepressants</li>
</ul>

<p>
    NeuEve does not contain any estrogen, progesterone, herbs, or drugs. That makes NeuEve perfect for women wanting to avoid
    hormones,
    (such as breast and ovarian cancer survivors and previvors). NeuEve is also perfect for women wanting to supplement
    their estrogen replacement therapy with something extra.
</p>

                </div></div></div></div></section>


<section class="pb-5">
    <div class="container">
        <div class="py-4">
            <div class="text-content text-lg">

<%= link_to '', {}, name: 'reviews' %>
<div id="stamped-main-widget"
     data-product-id="1000"
     data-name="NeuEve Silk"
     data-url="https://www.neueve.com/silk"
     data-image-url="https://d3ilh7i74k3q3i.cloudfront.net/assets/product/silk/NeuEve_Silk_White-ac104891848b39f3565c5ef3545a6dd243d129c726980f09cda1f9363162ad90.jpg"
     data-description="NeuEve Silk is a natural vaginal suppository developed by a gynecologist. NeuEve Silk naturally moisturizes and heals vaginal dryness and atrophy. NeuEve Silk is made with vitamins and nutrients to nourish the vaginal tissues."
     data-product-sku="silk">
</div>
            </div>
        </div>
    </div>
</section>


<section class="bg-gray-100 text-dark-700 py-3">
    <div class="container">
        <div class="col-xl-8 col-10 mx-auto">
            <div class="row">
                <div class="col-md-3 col-6 service-column">
                    <%= image_tag("hormone-free-trans.gif", :class => 'img-fluid seal',
                                  alt: 'Hormone Free Seal') %>
                </div>
                <div class="col-md-3 col-6 service-column">
                    <%= image_tag("no-chemical-logo-trans.gif", :class => 'img-fluid seal',
                                  alt: 'No Chemical Seal') %>
                </div>
                <div class="col-md-3 col-6 service-column">
                    <%= link_to image_tag('LeapingBunny-Logo.png', :class => 'img-fluid seal',
                                          alt: 'Leaping Bunny Seal'), 'https://www.neueve.com/blog/cruelty-free-certified/' %>
                </div>
                <div class="col-md-3 col-6 service-column">
                    <%= image_tag("made-in-usa-logo-vector-400x400.png", :class => "img-fluid seal",
                                  alt: 'Made in USA Seal') %>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">

<h3>
    Warnings:
</h3>
<p>
    For vaginal use only. Stop use and wash thoroughly to remove the suppository if
    suspected allergy occurs (such as itching and excessive discharges).
</p>

<p>
<BLOCKQUOTE>
    <strong><em>Stop use and consult with your doctor if:</em></strong>
    <ul>
        <li>Symptoms persist after the initial dosage of 8-12 suppositories</li>
        <li>You have pain or tenderness in the lower part of the abdomen and pelvis</li>
        <li>You have vaginal discharge or bleeding, chills, nausea, or fever</li>
        <li>You (or your sexual partner) have sores or ulcers</li>
        <li>You have an STD (sexually transmitted disease) or PID (pelvic inflammatory disease)</li>
        <li>Your vaginal discharge is an unusual amount, color, or odor</li>
        <li>You have frequent and painful urination</li>
        <li>If use results in pain, soreness, swelling, redness, itching, or irritation.</li>
    </ul>
</BLOCKQUOTE>

<h3>
    Important Notice:
</h3>
<p>
    NeuEve suppositories are not contraceptives or drugs of any kind. They do NOT protect against any communicable
    diseases. There is no data available for compatibility with latex condoms. As a precautionary measure, you should
    not use NeuEve if you use latex condoms. If you are pregnant you should ask a health professional
    before using this product. If the NeuEve is accidentally eaten or swallowed, it is not a problem, because it is
    fully food grade and should be safe even though it may taste bad.
</p>

<h3>
    Storage:
</h3>
<p>
    Store the product in a cool, dry place (4 – 20°C). Keep it away from heat, direct sunlight, and the reach of
    children.
</p>

<h3>
    Indication:<sup>*</sup>
</h3>
<p>
    Vaginal odor, dryness, appearance of atrophy, or painful intercourse (dyspareunia).
</p>

<a name="directions" id="directions"></a>
<h3>
    Directions for use:
</h3>
<p>
    Use 1 NeuEve Silk Suppository every 3-4 days.
<ol>
    <li>Use restroom to empty bowels or the bladder. Wash hands with soap and water.</li>
    <li>Tear a single suppository apart from the group.</li>
    <%= image_tag('how-to-open.jpg',
                  alt: 'Instruction for opening suppository.
    1. Find the bullet point.
    2. Feel two open wings.
    3. Peel it open.
    4. If hard to open, use a nail clipper or scissors to cut along dotted lines.
    5. Peel it again.') %>
    <li>Find the bullet point of the suppository. It has two opened wings.</li>
    <li>Peel open the suppository shell.</li>
    <li>Lie on back, raise knees and gently insert the suppository with a finger and push into the vagina as far as it
        will
        comfortably go.
    </li>
    <li>Stay in this position for about 15 minutes, or until the suppository melts.</li>
</ol>

Using at bedtime is desirable. Do not use during menses.

<p>
    For more details of suppository application please see :

<div class="youtubevideowrap">
    <div class="video-container" align="center">
        <iframe src="https://www.youtube-nocookie.com/embed/YEYheg3AEWY?rel=0" frameborder="0" allowfullscreen>
        </iframe>
    </div>
</div>

                </div>
            </div>
        </div>
    </div>
</section>


<!-- NeuEve Silk Structured Data -->
<script>

    function addEventListenerStamped(el, eventName, handler) {

        if (el.addEventListener) { el.addEventListener(eventName, handler); }
        else { el.attachEvent('on' + eventName, function () { handler.call(el); }); }

    }

    addEventListenerStamped(document, 'stamped:reviews:loaded', function(e) {
        var ratingCount = jQueryStamped('meta[itemprop="reviewCount"]').attr('content');
        var ratingValue = jQueryStamped('meta[itemprop="ratingValue"]').attr('content');

        var richSnippet = {
            "@context": "https://schema.org/",
            "@type": "Product",
            "sku": "silk",
            "mpn": "silk",
            "gtin": "091131112762",
            "image": [
                "https://www.neueve.com/assets/product/silk/NeuEve_Silk_White-ac104891848b39f3565c5ef3545a6dd243d129c726980f09cda1f9363162ad90.jpg",
                "https://d3ilh7i74k3q3i.cloudfront.net/assets/product/silk/NeuEve_Silk_Lavender-c6ea6d5a57a8201544fb70e085d61285b28d9f7322253a18610daa34ae854bdf.jpg",
                "https://d3ilh7i74k3q3i.cloudfront.net/assets/product/silk/NeuEve_Silk_Floral-c314adc88f86e57cc8318e3f85f5e2aa9d25bd5ef996b8e553564511b46b585c.jpg"
            ],
            "name": "NeuEve Silk Vaginal Suppositories",
            "description": "Our vitamins and essential oils help thicken, tighten and lubricate the vaginal wall and " +
                           "rebalance pH. NeuEve is made with all natural, plant-based, edible ingredients without any " +
                           "chemicals or hormones. NeuEve helps alleviate vaginal dryness, atrophy, and BV. NeuEve's " +
                           "formulas are personalized for you. NeuEve Silk is our mildest formula, perfect for " +
                           "postmenopausal women. One month supply contains 8 suppositories. " +
                           "Ingredients : Organic palm oil, organic coconut oil, organic beeswax, organic tapioca " +
                           "starch, organic potato starch, evening primrose oil, organic sea buckthorn fruit oil, " +
                           "organic lavender essential oil, organic orange oil, organic vitamin E (d-α tocopherol), and a " +
                           "proprietary blend of nutrients.",
            "brand": {
                "@type": "Brand",
                "name": "NeuEve"
            },
            "offers": {
                "@type": "Offer",
                "url": "https://www.neueve.com/silk",
                "itemCondition": "https://schema.org/NewCondition",
                "availability": "https://schema.org/InStock",
                "price": "59.95",
                "priceCurrency": "USD",
                "priceValidUntil": "<%= (Date.today + 1.year).iso8601 %>",
                "shippingDetails": {
                    "@type": "OfferShippingDetails",
                    "shippingRate": {
                        "@type": "MonetaryAmount",
                        "value": "0.0",
                        "currency": "USD"
                    },
                    "shippingDestination": {
                        "@type": "DefinedRegion",
                        "addressCountry": "US"
                    },
                    "deliveryTime": {
                        "@type": "ShippingDeliveryTime",
                        "handlingTime": {
                            "@type": "QuantitativeValue",
                            "minValue": "0",
                            "maxValue": "1"
                        },
                        "transitTime": {
                            "@type": "QuantitativeValue",
                            "minValue": "1",
                            "maxValue": "5"
                        },
                        "cutOffTime": "23:59-05:00",
                        "businessDays": {
                            "@type": "OpeningHoursSpecification",
                            "dayOfWeek": ["https://schema.org/Monday", "https://schema.org/Tuesday",
                                "https://schema.org/Wednesday", "https://schema.org/Thursday",
                                "https://schema.org/Friday"]
                        }
                    },
                    "shippingSettingsLink": "https://www.neueve.com/satisfaction"
                }
            },
            "review": [{
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5",
                    "bestRating": "5"
                },
                "author": {
                    "@type": "Person",
                    "name": "Karen"
                },
                "name": "AMAZING Product - Don't Hesitate - Buy it NOW!",
                "reviewBody" : "I am 54 years old. For several years following the onset of menopause, I had been experiencing vaginal dryness that resulted in very painful sex with my husband. I normally enjoy sex, and I love my husband nad find him very attractive, but since this problem started, I found myself avoiding it as much as possible. The vaginal walls were thinner and less moist and elastic too, so whenever we had sex, the pain was similar to what you might imagine when you are wearing a new shoe that has rubbed a blister on your heel ... and you keep wearing it anyway ... rubbing up and down on the blister every time you take a step. No fun at all! Who would want to do THAT? There is a history of breast cancer in my family, so I am opposed to using hormones. Therefore, I don't want to take any kind of Rx or use any insert that has hormones in it, and that left me with very few choices. I have tried other products made for vaginal dryness on the market, but they were slimy and drippy and a mess. They offered a slight relief, but not enough to continue using them. When I found NeuEve, I was hesitant at first because it's a little pricey and, well, I had tried just about everything else without positive results. But I thought I would give it a try - despite my skepticism. I had to do SOMETHING. I read all the reviews and h-o-p-e-d they were true. Turns out, they are! After about one week using this amazing product, I could tell a significant difference. And now, after about six weeks of using it, I have NO PAIN AT ALL. If you are reading this wondering what to do and how to fix this painful intercourse problem caused by menopause, read no more. Just buy a box and try it. You will be SOOOO glad you did! I have since told my GP and OBGYN about this and told them to share the news with all their patients. It is surprising to me how few women talk to anyone about this problem at all - not even their best women friends. But ladies, we need to share this kind of information! I cannot tell you how well this works. You start with the Silk. It's an insert - and it's a little messy to put in because it melts pretty fast. They say you can freeze them first, but I never do that. It's best to insert it just before going to sleep at night. You use it twice a week to start, then later graduate to once a week, I believe, with other levels (I'm still using the Silk so not sure yet). Don't have sex on the nights you use this; wait till the next night. After it melts, NeuEve is kind of like a lotion that soaks into your vaginal walls and makes them softer and more elastic and seemingly thicker. Intercourse that has been painful for me is now completely and totally pain free. We do still use a little K-Y during sex, but I think we could do without that if we wanted to now. The difference for me is nothing short of a miracle. I was so worried that we would have to stop having sex because the pain was so bad, and now -- no pain at all! If you're wondering if this is a 'real' review, it is. I am not working for this company or paid by them in any way, though I am incredibly grateful that they have developed something safe and easy to use that works this well. Try it - I hope it does for you what it did for me!",
                "datePublished" : "2019-05-03"
            },{
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5",
                    "bestRating": "5"
                },
                "author": {
                    "@type": "Person",
                    "name": "Fenny"
                },
                "name": "Life Changing!",
                "reviewBody" : "I am 35 and am healing from an Auto immune disorder. Along with Autoimmune came fertility issues. Vaginal Atrophy and low estrogen being one of them. I cannot use hormone related products to help with the Atrophy, the hormones make my Thyroid levels drop immediately. So I researched and researched, until I found this amazing product !!!! yay!!! My husband and I can have sex again.... We are seeing significant success after just 2 applications of the silk line. I plan on going through the whole line up to GOLD !!!! Cant thank this amazing company enough!!!! i Love y'all !",
                "datePublished" : "2019-01-07"
            },{
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5",
                    "bestRating": "5"
                },
                "author": {
                    "@type": "Person",
                    "name": "JM"
                },
                "name": "Hope springs . . . Internal",
                "reviewBody": "59 years old, amenorrheic (and happy about that) since 47, no childbirth, and about last 2 years with (scary) painful intercourse. Had to do internet research to find out what that may be about: Found many women experiencing it, called symptom of Menopause! I've been using 3 different external feminine salves (which I love them all) for about out a year but was looking for natural and safe INTERNAL product. Found that in NueEve. I was scared to use at first and have only used Silk two weeks now and using the NeuEve balm at night, too. SIGNIFICANTLY NOTICEABLE difference. I have to say, Sea Buckthorn oral supplement (recommended by NueEve for help with vaginal dryness), which I got at my natural grocer's after more internet research, seems to be a SIGNIFICANT FACTOR in helping. At least I noticed dry eyes (which is what it was largely touted for in store/on bottle) and dry mouth subsiding in literally a matter of a few days after one per day. (Fiance even takes this and significantly noticeable for him, as well, with the dry eye/mouth relief--we live at altitude, as well.) Not sure what is working best or most, but, at this point, I DON'T CARE: I am sold on the Silk, NeuEve Balm (which is so creamy and I love the smell) and Sea Buckthorn combo (as well as my three other external natural balm products which I alternate and love) for now. I will update this review after I finish my eight weeks of Silk. I will say, as TMI does not apply here, after two weeks, we did NOT have to use the usual lubricant during IC (which he described as a 'liquid condom' and did not care for its use but it was the only way we could make IC even remotely happen before). Feeling like a better version of my younger self, with noticeable increased sex drive and now better climax (as both were before painful IC). Best wishes for all older women wanting to still enjoy life. New Motto: 60 is the new 40! At least for me, with NeuEve.",
                "datePublished": "2021-03-22"
            }]
        };

        if (parseInt(ratingValue) > 0){
            richSnippet.aggregateRating = {
                "@type": "AggregateRating",
                "ratingValue": ratingValue,
                "reviewCount": ratingCount
            }
        }
        var script = document.createElement('script');
        script.type = 'application/ld+json';
        script.innerHTML = JSON.stringify(richSnippet);
        document.getElementsByTagName('head')[0].appendChild(script);
    });
</script>


<!-- GA4 View Item -->
<script type="text/javascript">
    gtag("event", "view_item", {
        currency: "USD",
        items: [
            {
                item_id: "silk"
            }
        ]
    });


    <!-- Pinterest View Item -->
    pintrk('track', 'pagevisit', {
        product_id: "silk"
    });

    <!-- Bing View Item -->
    window.uetq = window.uetq || [];
    window.uetq.push('event', '', {
                'ecomm_prodid': ["silk"],
                'ecomm_pagetype': 'product'
            }
    );

    <!-- Facebook View Item -->
    fbq('track', 'ViewContent', {
        content_type: 'product',
        content_ids: ['silk'],
        value: 0.50,
        currency: 'USD'});

    <!-- Google Adwords View Item support.google.com/google-ads/answer/7305793 -->
    gtag('event', 'view_item', {
        'send_to': 'AW-1039056375',
        'items': [{
            'id': 'silk',
            'google_business_vertical': 'retail'
        }],
        'ecomm_pagetype': 'product',
        'ecomm_prodid': 'silk'
    });
</script>