<% provide(:title, 'Silk | Vaginal Suppositories by NeuEve') %>
<% provide(:description, 'NeuEve Silk is a natural vaginal suppository developed by a gynecologist. NeuEve Silk helps severe
vaginal atrophy. $59.95, FREE SHIPPING.') %>
<% provide(:last_modified, 'December 11, 2018') %>

<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item active">Silk</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">Silk</h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="mx-auto">
            <div class="row align-items-center">
                <div class="col-md-6 pb-3">
                    <%= image_tag('silk_NeuEve_vaginal_suppository.jpg', :class => 'img_pair img-fluid',
                                  alt: 'NeuEve Silk is a 100% all-natural vaginal suppository, for severe vaginal atrophy.'
                        ) %>
                </div>
                <div class="col-md-6 text-center">
                    <div itemscope itemtype="http://schema.org/Product" class="align-middle">
                        <strong>
                            <div itemprop="name">NeuEve Silk Formula (1 month supply)</div>
                            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                            <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
                        </strong>
                        8 suppositories
                        <br>

                        <div class="row">
                            <div class="col-6">
                                <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                  <span itemprop="price">$59.95</span>
                                  <meta itemprop="priceCurrency" content="USD"/>
                                </span>

                                <div class="formbutton">
                                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="QV8HRKJ34BXML">

                                        <%= button_tag(type: 'submit',
                                                       class: 'btn btn-large btn-warning add-to-cart',
                                                       id: 'silk-formula',
                                                       name: 'submit') do %>
                                            <svg class="svg-icon"><use xlink:href="#add-to-cart-1"></use></svg>
                                            Add to Cart
                                        <% end %>
                                    </form>
                                </div>

                            </div>
                            <div class="col-6">
                                $49.75 / mo
                                <div class="formbutton">
                                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="P6SSR5KBG2HTA">
                                        <%= button_tag(type: 'submit',
                                                       class: 'btn btn-large btn-warning subscribe',
                                                       id: 'silk-formula',
                                                       name: 'submit') do %>
                                            <i class="fas fa-sync-alt svg-icon"></i>
                                            Subscribe
                                        <% end %>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <span class="stamped-product-reviews-badge stamped-main-badge" data-id="1000"></span>
                        <hr>

                        4.0 Stars on <%= link_to image_tag('amazon-4-stars.png', :size => "95x42"),
                                                 create_url('https://www.amazon.com/',
                                                            ['NeuEve-Dryness-Care-Starter-Formula',
                                                             'product-reviews',
                                                             'B0116BQ546'],
                                                            {
                                                                    ie: 'UTF8',
                                                                    reviewerType: 'all_reviews',
                                                                    showViewpoints: 0,
                                                                    sortBy: 'helpful',
                                                                    pageNumber: 1,
                                                                    filterByStar: 'positive',
                                                                    _encoding: 'UTF8',
                                                                    tag: 'neu08-20',
                                                                    linkCode: 'ur2',
                                                                    linkId: 'b5b6ff1845174b8d33158cb5d9062563',
                                                                    camp: 1789,
                                                                    creative: 9325
                                                            }, 'R2UP18KU9MF9WO'),
                                                 :class => 'amazon-review',
                                                 :id => 'silk-formula',
                                                 :target => '_blank' %><br>


                        <%= link_to 'Amazon Reviews of NeuEve Silk'.html_safe,
                                    create_url('https://www.amazon.com/',
                                               ['NeuEve-Dryness-Care-Starter-Formula',
                                                'product-reviews',
                                                'B0116BQ546'],
                                               {
                                                       ie: 'UTF8',
                                                       reviewerType: 'all_reviews',
                                                       showViewpoints: 0,
                                                       sortBy: 'helpful',
                                                       pageNumber: 1,
                                                       filterByStar: 'positive',
                                                       _encoding: 'UTF8',
                                                       tag: 'neu08-20',
                                                       linkCode: 'ur2',
                                                       linkId: 'b5b6ff1845174b8d33158cb5d9062563',
                                                       camp: 1789,
                                                       creative: 9325
                                               }, 'R2UP18KU9MF9WO'),
                                    :class => 'amazon-review',
                                    :id => 'silk-formula',
                                    :target => '_blank'
                        %>

                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto">
            <div class="row align-items-center">
                <div class="col-md-6 pb-3">
                    <%= image_tag('Silk-NeuEve-4boxes.jpg', :class => 'img_pair img-fluid',
                                  alt: 'NeuEve Silk is an all-natural moisturizing vaginal suppository, for severe vaginal atrophy.'
                        ) %>
                </div>
                <div class="col-md-6 text-center">
                    <div itemscope itemtype="http://schema.org/Product" align="center">
                        <strong>
                            <div itemprop="name">Four Boxes of NeuEve Silk</div>

                            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                            <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
                        </strong>
                        32 suppositories
                        <br>
                        <div>
                            Bulk Discount:
                        </div>
                <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <strike>$239.80</strike> <i class="fas fa-long-arrow-alt-right"></i> <span itemprop="price">$199.00</span>
                  <meta itemprop="priceCurrency" content="USD"/>
                </span>

                        <div>
                            Save $40!
                        </div>
                        <br>

                        <div class="formbutton">
                            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="VAM2KZ4Y869SG">
                                <%= button_tag(type: 'submit',
                                               class: 'btn btn-large btn-warning add-to-cart',
                                               id: 'silk-formula',
                                               name: 'submit') do %>
                                    <svg class="svg-icon"><use xlink:href="#add-to-cart-1"></use></svg>
                                    Add 4 Boxes to Cart
                                <% end %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">
<h3>
    Description:
</h3>
<p>
    NeuEve Silk is a natural vaginal suppository developed by a <%= link_to "gynecologist.", about_path %>
    NeuEve Silk naturally moisturizes and heals vaginal dryness and atrophy.
    NeuEve Silk is made with vitamins and nutrients to nourish the vaginal tissues.
</p>
<h3>
    What does NeuEve Silk do?
</h3>
<p>
    NeuEve Silk is ideal for women with severe vaginal atrophy, severe vaginal dryness, and severe painful sex.
</p>
<p>
    Many women who were unable to have intimacy for over 10 years, were able to have sex again, after using NeuEve Silk for a few months.
</p>
<h3>
    Who's NeuEve Silk For?
</h3>
<p>
    We generally recommend starting with NeuEve Silk for women <strong>who are over 50 years old</strong>, or have been
    post-menopausal for over 5 years. NeuEve Silk is our mildest vaginal suppository.
</p>
<p>
    For women <strong>who are over 60</strong> or have been post-menopausal for over 15 years, we recommend they order
    <%=link_to "NeuEve Cream", cream_path%> to
    use in conjunction with NeuEve Silk.
</p>
<p>
    We also recommend NeuEve Silk if you are
    <strong>over 40 years old and have a medical history of any of the following:</strong>
</p>
<ul>
    <li>breast or ovarian cancer treatment</li>
    <li>oophorectomy</li>
    <li>hysterectomy</li>
    <li>lichen sclerosus</li>
    <li>Sjogren's symdrome</li>
    <li>currently use antihypertensive drugs</li>
    <li>currently use antiallergic drugs</li>
    <li>currently use antidepressants</li>
</ul>

<p>
    NeuEve does not contain any estrogen, progesterone, herbs, or drugs. That makes NeuEve perfect for women wanting to avoid
    hormones,
    (such as breast and ovarian cancer survivors and previvors). NeuEve is also perfect for women wanting to supplement
    their estrogen replacement therapy with something extra.
</p>

                </div></div></div></div></section>


<section class="pb-5">
    <div class="container">
        <div class="py-4">
            <div class="text-content text-lg">

<%= link_to '', {}, name: 'reviews' %>
<div id="stamped-main-widget"
     data-product-id="1000"
     data-name="NeuEve Silk"
     data-url="https://www.neueve.com/silk"
     data-image-url="https://d3ilh7i74k3q3i.cloudfront.net/assets/silk_NeuEve_vaginal_suppository-fd3bf200abc4d96e790f1486778851ac672eaf7c26570754aca8fdfa6e49fbe7.jpg"
     data-description="NeuEve Silk is a natural vaginal suppository developed by a gynecologist. NeuEve Silk naturally moisturizes and heals vaginal dryness and atrophy. NeuEve Silk is made with vitamins and nutrients to nourish the vaginal tissues."
     data-product-sku="silk">
</div>
            </div>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">

<h3>
    Ingredients:
</h3>
<p>
    <%= link_to 'Organic palm oil*', faq_path(:anchor => 'tropicalTraditions') %>, coconut oil, beeswax, tapioca starch, potato starch,
    evening primrose oil, organic sea buckthorn fruit oil, lavender essential oil, orange oil, vitamin
    E (d-α tocopherol), <%= link_to 'and a proprietary blend of nutrients.',
                   faq_path(:anchor => 'proprietaryBlend') %>
<p>
    NeuEve is gluten-free, hormone-free and estrogen-free. NeuEve does NOT contain any boric acid, petrochemicals,
    parabens, BHT, T.E.A, M.E.A, urea, glycols, PEG's, etc. NeuEve has
    <%= link_to 'never been tested on animals', 'https://www.neueve.com/blog/cruelty-free-certified/' %>, and does not
    contain any animal products.
</p>



<p>
    NeuEve is manufactured locally and sustainably in small-batches in Chicago, IL, USA, with care and
    tenderness.
</p>

</div></div></div></div></section>

<section class="bg-gray-100 text-dark-700 py-3">
    <div class="container">
        <div class="col-xl-8 col-10 mx-auto">
            <div class="row">
                <div class="col-md-3 col-6 service-column">
                    <%= image_tag("hormone-free-trans.gif", :class => 'img-fluid seal',
                                  alt: 'Hormone Free Seal') %>
                </div>
                <div class="col-md-3 col-6 service-column">
                    <%= image_tag("no-chemical-logo-trans.gif", :class => 'img-fluid seal',
                                  alt: 'No Chemical Seal') %>
                </div>
                <div class="col-md-3 col-6 service-column">
                    <%= link_to image_tag('LeapingBunny-Logo.png', :class => 'img-fluid seal',
                                          alt: 'Leaping Bunny Seal'), 'https://www.neueve.com/blog/cruelty-free-certified/' %>
                </div>
                <div class="col-md-3 col-6 service-column">
                    <%= image_tag("made-in-usa-logo-vector-400x400.png", :class => "img-fluid seal",
                                  alt: 'Made in USA Seal') %>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">

<h3>
    Warnings:
</h3>
<p>
    For vaginal use only. Stop use and wash thoroughly to remove the suppository if
    suspected allergy occurs (such as itching and excessive discharges).
</p>

<p>
<BLOCKQUOTE>
    <strong><em>Stop use and consult with your doctor if:</em></strong>
    <ul>
        <li>Symptoms persist after the initial dosage of 8-12 suppositories</li>
        <li>You have pain or tenderness in the lower part of the abdomen and pelvis</li>
        <li>You have vaginal discharge or bleeding, chills, nausea, or fever</li>
        <li>You (or your sexual partner) have sores or ulcers</li>
        <li>You have an STD (sexually transmitted disease) or PID (pelvic inflammatory disease)</li>
        <li>Your vaginal discharge is an unusual amount, color, or odor</li>
        <li>You have frequent and painful urination</li>
        <li>If use results in pain, soreness, swelling, redness, itching, or irritation.</li>
    </ul>
</BLOCKQUOTE>

<h3>
    Important Notice:
</h3>
<p>
    NeuEve suppositories are not contraceptives or drugs of any kind. They do NOT protect against any communicable
    diseases. There is no data available for compatibility with latex condoms. As a precautionary measure, you should
    not use NeuEve if you use latex condoms. If you are pregnant or breastfeeding you should ask a health professional
    before using this product. If the NeuEve is accidentally eaten or swallowed, it is not a problem, because it is
    fully food grade and should be safe even though it may taste bad.
</p>

<h3>
    Storage:
</h3>
<p>
    Store the product in a cool, dry place (4 – 20°C). Keep it away from heat, direct sunlight, and the reach of
    children.
</p>

<h3>
    Indication:<sup>*</sup>
</h3>
<p>
    Vaginal odor, dryness, appearance of atrophy, or painful intercourse (dyspareunia).
</p>

<a name="directions" id="directions"></a>
<h3>
    Directions for use:
</h3>
<p>
    Use 1 NeuEve Silk Suppository every 3-4 days.
<ol>
    <li>Use restroom to empty bowels or the bladder. Wash hands with soap and water.</li>
    <li>Tear a single suppository apart from the group.</li>
    <%= image_tag('how-to-open.jpg',
                  alt: 'Instruction for opening suppository.
    1. Find the bullet point.
    2. Feel two open wings.
    3. Peel it open.
    4. If hard to open, use a nail clipper or scissors to cut along dotted lines.
    5. Peel it again.') %>
    <li>Find the bullet point of the suppository. It has two opened wings.</li>
    <li>Peel open the suppository shell.</li>
    <li>Lie on back, raise knees and gently insert the suppository with a finger and push into the vagina as far as it
        will
        comfortably go.
    </li>
    <li>Stay in this position for about 15 minutes, or until the suppository melts.</li>
</ol>

Using at bedtime is desirable. Do not use during menses.

<p>
    For more details of suppository application please see :

<div class="youtubevideowrap">
    <div class="video-container" align="center">
        <iframe src="https://www.youtube-nocookie.com/embed/YEYheg3AEWY?rel=0" frameborder="0" allowfullscreen>
        </iframe>
    </div>
</div>

                </div>
            </div>
        </div>
    </div>
</section>