<% provide(:title, 'Silver | Vaginal Suppositories by NeuEve') %>
<% provide(:description, 'NeuEve Silver is a natural vaginal suppository developed by a gynecologist. NeuEve Silver
helps painful sex and BV. $59.95, FREE SHIPPING.') %>
<% provide(:last_modified, 'Jan 12, 2020') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item active">Silver</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">Silver</h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="mx-auto">
            <div class="row align-items-center">
                <div class="col-md-8 pb-3">
                    <div class="row pb-2">
                        <div class="col-12 detail-carousel">
                            <div data-slider-id="1" class="owl-carousel detail-slider">
                                <div class="item">
                                    <%= image_tag('product/silver/NeuEve_Silver_Lavender.jpg', :class => 'img_pair img-fluid',

                                                       alt: 'NeuEve Silver is a natural, moisturizing vaginal suppository.'
                                        ) %>
                                </div>
                                <div class="item">
                                    <%= image_tag('product/silver/NeuEve_Silver_Orange.jpg', :class => 'img_pair img-fluid',
                                                       alt: 'NeuEve Silver is made from organic, edible ingredients and is safe for oral sex, unlike vaginal estrogen.'
                                        ) %>
                                </div>
                                <div class="item">
                                    <%= image_tag('product/general/NeuEve_Single_Suppository.jpg', :class => 'img_pair img-fluid',
                                                       alt: 'NeuEve Silver is great for vaginal dryness, painful sex, for lubricating and tightening the vaginal walls.'
                                        ) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pr-0">
                            <div data-slider-id="1" class="owl-thumbs">
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/silver/NeuEve_Silver_Lavender.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Silver is a natural, moisturizing vaginal suppository.'
                                        ) %>
                                </button>
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/silver/NeuEve_Silver_Orange.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Silver is made from organic, edible ingredients and is safe for oral sex, unlike vaginal estrogen.'
                                        ) %>
                                </button>
                                <button class="owl-thumb-item detail-thumb-item mb-3">
                                    <%= image_tag('product/general/NeuEve_Single_Suppository.jpg', :class => 'img_pair img-fluid',
                                                  alt: 'NeuEve Silver is great for vaginal dryness, painful sex, for lubricating and tightening the vaginal walls.'
                                        ) %>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="align-middle">
                        <strong>
                            <div>NeuEve Silver Formula (1 month supply)</div>
                        </strong>
                        6 suppositories<br>

                        <div class="row pt-2">
                            <div class="col-12 pb-2">
                                <span>
                                  <span>$59.95</span>
                                </span>

                                <div class="formbutton">
                                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="YBLLFZFMYNVT8">
                                        <%= button_tag(type: 'submit',
                                                       class: 'btn btn-large btn-warning add-to-cart',
                                                       id: 'silver-formula',
                                                       name: 'submit') do %>
                                            <svg class="svg-icon"><use xlink:href="#add-to-cart-1"></use></svg>
                                            Add to Cart
                                        <% end %>
                                    </form>
                                </div>

                            </div>
                            <div class="col-12">
                                $49.75 / mo
                                <div class="formbutton">
                                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="N7WDAKA7N9ZQJ">
                                        <%= button_tag(type: 'submit',
                                                       class: 'btn btn-large btn-warning subscribe',
                                                       id: 'silver-formula',
                                                       name: 'submit') do %>
                                            <i class="fas fa-sync-alt svg-icon"></i>
                                            Subscribe
                                        <% end %>
                                    </form>
                                </div>
                                <div class="text-sm">(Min. 3 Months)</div>
                            </div>
                        </div>

                        <span class="stamped-product-reviews-badge stamped-main-badge" data-id="2000"></span>

                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto">
            <div class="row align-items-center">
                <div class="col-md-8 pb-3">
                    <%= image_tag('product/silver/NeuEve_Silver_4pack.jpg', :class => 'img_pair img-fluid',
                                  alt: 'NeuEve Silver is a natural, estrogen-free, moisturizing vaginal suppository.'
                        ) %>
                </div>
                <div class="col-md-4 text-center">
                    <div class="align-middle">
                        <strong>
                            <div>Four Boxes of NeuEve Silver</div>
                        </strong>
                        24 suppositories
                        <div>
                            Bulk Discount:
                        </div>
                <span>
                  <strike>$239.80</strike> <i class="fas fa-long-arrow-alt-right"></i> <span>$199.00</span>
                </span>

                        <div>
                            Save $40!
                        </div>
                        <br>

                        <div class="formbutton">
                            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="V8XG8GSATEW34">
                                <%= button_tag(type: 'submit',
                                               class: 'btn btn-large btn-warning add-to-cart',
                                               id: 'silver-formula',
                                               name: 'submit') do %>
                                    <svg class="svg-icon"><use xlink:href="#add-to-cart-1"></use></svg>
                                    Add 4 Boxes to Cart
                                <% end %>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">

                    <h3>
                        Ingredients:
                    </h3>
                    <p>
                        <%= link_to 'Organic palm oil*', 'https://help.neueve.com/kb/ingredients/please-stop-using-palm-oil' %>, organic coconut oil, organic beeswax, organic tapioca starch, organic potato starch,
                        evening primrose oil, organic sea buckthorn fruit oil, organic lavender essential oil, organic orange oil, organic vitamin
                        E (d-α tocopherol), <%= link_to 'and a proprietary blend of nutrients.',
                                                        'https://help.neueve.com/kb/ingredients/whats-in-the-proprietary-blend' %>
                    <p>
                        NeuEve is gluten-free, hormone-free and estrogen-free. NeuEve does NOT contain any boric acid, petrochemicals,
                        parabens, BHT, T.E.A, M.E.A, urea, glycols, PEG's, etc. NeuEve has
                        <%= link_to 'never been tested on animals', 'https://www.neueve.com/blog/cruelty-free-certified/' %>, and does not
                        contain any animal products.
                    </p>
                    <p>
                        NeuEve is manufactured locally and sustainably in small-batches in Chicago, IL, USA, with care and
                        tenderness.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>



<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">
<h3>
    Description:
</h3>
<p>
    NeuEve Silver is a natural vaginal suppository developed by a <%= link_to "gynecologist.", about_path %>
    NeuEve Silver naturally moisturizes and heals painful sex (dyspareunia) and bacterial vaginosis.
    NeuEve Silver is made with vitamins and nutrients to nourish the vaginal tissues.
</p>
<h3>
    What does NeuEve Silver do?
</h3>
<p>
    NeuEve Silver is ideal for women with painful sex, vaginal atrophy, and vaginal dryness.
</p>
<p>
    NeuEve Silver is also excellent for recurrent fishy vaginal odor or bacterial vaginosis. Many women with years of
    recurrent BV were finally able to break the cycle with NeuEve Silver.
</p>
<h3>
    Who's NeuEve Silver For?
</h3>
<p>
    NeuEve Silver is our middle-strength vaginal suppository.
</p>
<p>
    We generally recommend starting with NeuEve Silver for women <strong>who are between 40 and 50 years old</strong> or
    have been post-menopausal for less than 5 years.
<p>
    We also recommend starting with NeuEve Silver if you are
    <strong>under 40 years old and have a medical history of any of the following:</strong>
</p>
<ul>
    <li>breast or ovarian cancer treatment</li>
    <li>oophorectomy</li>
    <li>hysterectomy</li>
    <li>lichen sclerosus</li>
    <li>Sjogren's symdrome</li>
    <li>currently use antihypertensive drugs</li>
    <li>currently use antiallergics drugs</li>
    <li>currently use antidepressants drugs</li>
</ul>
<p>
    If you've been using <%=link_to "NeuEve Silk", silk_path%> for 1-4 months, you can consider moving up to NeuEve Silver.
</p>
<p>
    NeuEve does not contain any estrogen, progesterone, herbs, or drugs. That makes NeuEve perfect for women wanting to avoid
    hormones,
    (such as breast and ovarian cancer survivors and previvors). NeuEve is also perfect for women wanting to supplement
    their estrogen replacement therapy with something extra.
</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="py-4">
            <div class="text-content text-lg">
<%= link_to '', {}, name: 'reviews' %>
<div id="stamped-main-widget"
     data-product-id="2000"
     data-name="NeuEve Silver"
     data-url="https://www.neueve.com/silver"
     data-image-url="https://d3ilh7i74k3q3i.cloudfront.net/assets/product/silver/NeuEve_Silver_White-4e3442ca97e3450cb7d4f58d83e51d20b287ef2973e1e1214ccdc471a425af24.jpg"
     data-description="NeuEve Silver is a natural vaginal suppository developed by a gynecologist. NeuEve Silver naturally moisturizes and heals painful sex (dyspareunia) and bacterial vaginosis. NeuEve Silver is made with vitamins and nutrients to nourish the vaginal tissues."
     data-product-sku="silver">
</div>
            </div>
        </div>
    </div>
</section>


<section class="bg-gray-100 text-dark-700 py-3">
    <div class="container">
        <div class="col-xl-8 col-10 mx-auto">
            <div class="row">

                <div class="col-md-3 col-6 service-column">
                    <%= image_tag("hormone-free-trans.gif", :class => 'img-fluid seal',
                                  alt: 'Hormone Free Seal') %>
                </div>
                <div class="col-md-3 col-6 service-column">
                    <%= image_tag("no-chemical-logo-trans.gif", :class => 'img-fluid seal',
                                  alt: 'No Chemical Seal') %>
                </div>
                <div class="col-md-3 col-6 service-column">
                    <%= link_to image_tag('LeapingBunny-Logo.png', :class => 'img-fluid seal',
                                          alt: 'Leaping Bunny Seal'), 'https://www.neueve.com/blog/cruelty-free-certified/' %>
                </div>
                <div class="col-md-3 col-6 service-column">
                    <%= image_tag("made-in-usa-logo-vector-400x400.png", :class => "img-fluid seal",
                                  alt: 'Made in USA Seal') %>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">


<h3>
    Warnings:
</h3>
<p>
    For vaginal use only. Stop use and wash thoroughly to remove the suppository if
    suspected allergy occurs (such as itching and excessive discharges).
</p>

<p>
<BLOCKQUOTE>
    <strong><em>Stop use and consult with your doctor if:</em></strong>
    <ul>
        <li>Symptoms persist after the initial dosage of 8-12 suppositories</li>
        <li>You have pain or tenderness in the lower part of the abdomen and pelvis</li>
        <li>You have vaginal discharge or bleeding, chills, nausea, or fever</li>
        <li>You (or your sexual partner) have sores or ulcers</li>
        <li>You have an STD (sexually transmitted disease) or PID (pelvic inflammatory disease)</li>
        <li>Your vaginal discharge is an unusual amount, color, or odor</li>
        <li>You have frequent and painful urination</li>
        <li>If use results in pain, soreness, swelling, redness, itching, or irritation.</li>
    </ul>
</BLOCKQUOTE>

<h3>
    Important Notice:
</h3>
<p>
    NeuEve suppositories are not contraceptives or drugs of any kind. They do NOT protect against any communicable
    diseases. There is no data available for compatibility with latex condoms. As a precautionary measure, you should
    not use NeuEve if you use latex condoms. If you are pregnant you should ask a health professional
    before using this product. If the NeuEve is accidentally eaten or swallowed, it is not a problem, because it is
    fully food grade and should be safe even though it may taste bad.
</p>

<h3>
    Storage:
</h3>
<p>
    Store the product in a cool, dry place (4 – 20°C). Keep it away from heat, direct sunlight, and the reach of
    children.
</p>

<h3>
    Indication:<sup>*</sup>
</h3>
<p>
    Vaginal odor, dryness, appearance of atrophy, or painful intercourse (dyspareunia).
</p>

<a name="directions" id="directions"></a>
<h3>
    Directions for use:
</h3>
<p>
    Use 1 NeuEve Silver Suppository every 5 days.

<ol>
    <li>Use restroom to empty bowels or the bladder. Wash hands with soap and water.</li>
    <li>Tear a single suppository apart from the group.</li>
    <%= image_tag('how-to-open.jpg',
                  alt: 'Instruction for opening suppository.
    1. Find the bullet point.
    2. Feel two open wings.
    3. Peel it open.
    4. If hard to open, use a nail clipper or scissors to cut along dotted lines.
    5. Peel it again.') %>
    <li>Find the bullet point of the suppository. It has two opened wings.</li>
    <li>Peel open the suppository shell.</li>
    <li>Lie on back, raise knees and gently insert the suppository with a finger and push into the vagina as far as it
        will
        comfortably go.
    </li>
    <li>Stay in this position for about 15 minutes, or until the suppository melts.</li>
</ol>

Using at bedtime is desirable. Do not use during menses.

<p>
    For more details of suppository application please see :

<div class="youtubevideowrap">
    <div class="video-container" align="center">
        <iframe src="https://www.youtube-nocookie.com/embed/YEYheg3AEWY?rel=0" frameborder="0" allowfullscreen>
        </iframe>
    </div>
</div>

                </div>
            </div>
        </div>
    </div>
</section>


<!-- NeuEve Silver Structured Data -->
<script>

    function addEventListenerStamped(el, eventName, handler) {

        if (el.addEventListener) { el.addEventListener(eventName, handler); }
        else { el.attachEvent('on' + eventName, function () { handler.call(el); }); }

    }

    addEventListenerStamped(document, 'stamped:reviews:loaded', function(e) {
        var ratingCount = jQueryStamped('meta[itemprop="reviewCount"]').attr('content');
        var ratingValue = jQueryStamped('meta[itemprop="ratingValue"]').attr('content');

        var richSnippet = {
            "@context": "https://schema.org/",
            "@type": "Product",
            "sku": "silver",
            "mpn": "silver",
            "gtin": "091131112717",
            "image": [
                "https://www.neueve.com/assets/product/silver/NeuEve_Silver_White-4e3442ca97e3450cb7d4f58d83e51d20b287ef2973e1e1214ccdc471a425af24.jpg",
                "https://d3ilh7i74k3q3i.cloudfront.net/assets/product/silver/NeuEve_Silver_Lavender-1c0a8c814fb0771da50eef2e1b55fd4f406b90c060d9c86fe5ca418b36fc7c4e.jpg",
                "https://d3ilh7i74k3q3i.cloudfront.net/assets/product/silver/NeuEve_Silver_Orange-deeb7ecd37b1a6ee50ec51395f3e22679e2040c99df94f65853c38e73526ec7d.jpg"
            ],
            "name": "NeuEve Silver Vaginal Suppositories",
            "description": "Our vitamins and essential oils help thicken, tighten and lubricate the vaginal wall and " +
                           "rebalance pH. NeuEve is made with all natural, plant-based, edible ingredients without any " +
                           "chemicals or hormones. NeuEve helps alleviate vaginal dryness, atrophy, and BV. NeuEve's " +
                           "formulas are personalized for you. NeuEve Silver is our medium formula, perfect for " +
                           "perimenopausal women. One month supply contains 6 suppositories. " +
                           "Ingredients : Organic palm oil, organic coconut oil, organic beeswax, organic tapioca " +
                           "starch, organic potato starch, evening primrose oil, organic sea buckthorn fruit oil, " +
                           "organic lavender essential oil, organic orange oil, organic vitamin E (d-α tocopherol), and a " +
                           "proprietary blend of nutrients.",
            "brand": {
                "@type": "Brand",
                "name": "NeuEve"
            },
            "offers": {
                "@type": "Offer",
                "url": "https://www.neueve.com/silver",
                "itemCondition": "https://schema.org/NewCondition",
                "availability": "https://schema.org/InStock",
                "price": "59.95",
                "priceCurrency": "USD",
                "priceValidUntil": "<%= (Date.today + 1.year).iso8601 %>",
                "shippingDetails": {
                    "@type": "OfferShippingDetails",
                    "shippingRate": {
                        "@type": "MonetaryAmount",
                        "value": "0.0",
                        "currency": "USD"
                    },
                    "shippingDestination": {
                        "@type": "DefinedRegion",
                        "addressCountry": "US"
                    },
                    "deliveryTime": {
                        "@type": "ShippingDeliveryTime",
                        "handlingTime": {
                            "@type": "QuantitativeValue",
                            "minValue": "0",
                            "maxValue": "1"
                        },
                        "transitTime": {
                            "@type": "QuantitativeValue",
                            "minValue": "1",
                            "maxValue": "5"
                        },
                        "cutOffTime": "23:59-05:00",
                        "businessDays": {
                            "@type": "OpeningHoursSpecification",
                            "dayOfWeek": ["https://schema.org/Monday", "https://schema.org/Tuesday",
                                "https://schema.org/Wednesday", "https://schema.org/Thursday",
                                "https://schema.org/Friday"]
                        }
                    },
                    "shippingSettingsLink": "https://www.neueve.com/satisfaction"
                }
            },
            "review": [{
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5",
                    "bestRating": "5"
                },
                "author": {
                    "@type": "Person",
                    "name": "Carol M."
                },
                "name": "Thank you",
                "reviewBody" : "I had a hysterectomy at age 31. Things where still ok in the sexual experience until I hit my 45th birthday. I started experiencing vaginal dryness, and painful sex with my husband. It got so bad sex was impossible even with lubricants. I started to have symptoms of UTI's as well. I found Neueve on the internet and thought I'll give it a try. I'm so thankful I did. I feel like a woman In my 20's again. Thank you Neueve for your product. Thank you for thinking of a woman's needs.",
                "datePublished" : "2019-08-18"
            },{
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5",
                    "bestRating": "5"
                },
                "author": {
                    "@type": "Person",
                    "name": "Angelique S."
                },
                "name": "Excellent Results With Excellent Product",
                "reviewBody" : "In 2010 I a hysterectomy due to the ravages of endometriosis. Because of the scarring caused by years of endometriosis, my surgeon had to leave my cervix as it had adhesed to my bowel in such a way removal was impossible without putting me in a colostomy bag for the rest of my life. As a result, I still have to have pelvic exams and pap smears. I also have not been sexually active for over 9 years." +
                               "\n" +
                               "During my last pelvic exam and pap smear, I was unpleasantly surprised to discover it was very painful during the procedure and afterwards I bled for 3 days and was in pain for a week." +
                               "\n" +
                               " Where before I'd never had any pain during an examination or during sex. While my doctor suggested dilators, he didn't give me any other information or suggest any other options." +
                               "\n" +
                               "I also had been having increased occurrences of UTIs and vulva itching. I didn't want hormones as I'd taken natural hormones specifically made for my body's chemistry after the hysterectomy and I'd stopped. I'd been warned by my gynecologist that if I resumed hormone replacement after having taken them previously and stopping taking them that I'd increase my chances of developing cancer." +
                               "\n" +
                               "I discovered NeuEve while doing exploring my options on the internet. I am definitely not ready to forget about having sex ever again and so, I decided to start using NeuEve and the vulva cream. My UTIs disappeared, and my vulva itching ceased." +
                               "\n" +
                               "I've gotten the magnetic dilators suggested on their website and between them and NeuEve, I no longer have pain when using them or a vibrator being inserted in my vagina. I am now at the dilator size that of a normal sized penis and I am confident that should I have sex again, it will not be painful and that my vaginal health has improved to the point my next exam won't be painful." +
                               "\n" +
                               "I highly recommend this product. Customer service is exemplary and I any concerns I have had have been addressed promptly and to my satisfaction. I am very grateful for the peace of mind using NeuEve has helped me to have." +
                               "",
                "datePublished" : "2019-05-02"
            },{
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "5",
                    "bestRating": "5"
                },
                "author": {
                    "@type": "Person",
                    "name": "Potpourripattie"
                },
                "name": " Happily married again!",
                "reviewBody": "I had vaginal atrophy so bad that my last pap smear was almost impossible to do. By the end of the examine I was in tears. My doctor was so upset for me. I was not able to take prescription meds as I had suffered 2 massive heart attacks in 2008. I watched the commercials on TV and was going to try to find a doctor that I could convince to let me try them but to no avail. Then the Heavens opened and I found Neueve! I have gone without sex for years, much to my husband of 35 years dismay. I followed the directions and after several weeks of using this awesome product we tried. Slow at first but now it is so awesome to make love to my husband. We cannot believe the turnaround in our love life. I tell my friends that it is like we are on our honeymoon. Even our daughter has noticed the closeness in us again when she came to visit! There are no words in the dictionary to describe how grateful we are. Another marriage saved by Neueve!",
                "datePublished": "2018-12-09"
            }]
        };

        if (parseInt(ratingValue) > 0){
            richSnippet.aggregateRating = {
                "@type": "AggregateRating",
                "ratingValue": ratingValue,
                "reviewCount": ratingCount
            }
        }
        var script = document.createElement('script');
        script.type = 'application/ld+json';
        script.innerHTML = JSON.stringify(richSnippet);
        document.getElementsByTagName('head')[0].appendChild(script);
    });
</script>


<!-- GA4 View Item -->
<script type="text/javascript">
    gtag("event", "view_item", {
        currency: "USD",
        items: [
            {
                item_id: "silver"
            }
        ]
    });


    <!-- Pinterest View Item -->
    pintrk('track', 'pagevisit', {
        product_id: "silver"
    });

    <!-- Bing View Item -->
    window.uetq = window.uetq || [];
    window.uetq.push('event', '', {
                'ecomm_prodid': ["silver"],
                'ecomm_pagetype': 'product'
            }
    );

    <!-- Facebook View Item -->
    fbq('track', 'ViewContent', {
        content_type: 'product',
        content_ids: ['silver'],
        value: 0.50,
        currency: 'USD'});

    <!-- Google Adwords View Item support.google.com/google-ads/answer/7305793 -->
    gtag('event', 'view_item', {
        'send_to': 'AW-1039056375',
        'items': [{
            'id': 'silver',
            'google_business_vertical': 'retail'
        }],
        'ecomm_pagetype': 'product',
        'ecomm_prodid': 'silver'
    });
</script>