<% provide(:title, 'Silver | Vaginal Suppositories by NeuEve') %>
<% provide(:description, 'NeuEve Silver is a natural vaginal suppository developed by a gynecologist. NeuEve Silver
helps painful sex and BV. $54.95, FREE SHIPPING on orders >$70.') %>
<% provide(:last_modified, 'December 11, 2018') %>

<br>
<div class="jumbotron">
    <h1>Silver</h1>
</div>

<table class='table table-bordered table-striped'>
    <tr align="center" class="mobile-only">
        <td style="background-color: #ffffff">
            <div align="center">
                <%= image_tag('silver_NeuEve_vaginal_suppository.jpg', :size => '600x450',
                              alt: 'NeuEve Silver is a natural, moisturizing vaginal suppository.') %>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td style="background-color: #ffffff" class="non-mobile-only">
            <div align="center">
                <%= image_tag('silver_NeuEve_vaginal_suppository.jpg', :class => 'img_pair',
                              alt: 'NeuEve Silver is a natural, moisturizing vaginal suppository.') %>
            </div>
        </td>
        <td style="vertical-align:middle">
            <div itemscope itemtype="http://schema.org/Product" align="center">
                <strong>
                    <div itemprop="name">NeuEve Silver Formula (1 month supply)</div>
                    <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                    <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
                </strong>
                6 suppositories<br>
                <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <span itemprop="price">$54.95</span>
                  <meta itemprop="priceCurrency" content="USD"/>
                </span>

                <br>

                <div class="formbutton">
                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="YBLLFZFMYNVT8">
                        <%= submit_tag 'Add to Cart',
                                       :class => 'btn btn-large btn-warning add-to-cart',
                                       :id => 'silver-formula',
                                       :name => 'submit' %>
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>

                <span class="stamped-product-reviews-badge stamped-main-badge" data-id="2000"></span>
                <hr>

                4.4 Stars on <%= link_to image_tag('amazon-45-stars.png', :size => "95x42"),
                                         create_url('https://www.amazon.com/',
                                                    ['NeuEve-Suppository-Silver-formula',
                                                     'product-reviews',
                                                     'B00CMIC35I'],
                                                    {
                                                            ie: 'UTF8',
                                                            reviewerType: 'all_reviews',
                                                            showViewpoints: 0,
                                                            sortBy: 'helpful',
                                                            pageNumber: 1,
                                                            filterByStar: 'positive',
                                                            _encoding: 'UTF8',
                                                            tag: 'neu08-20',
                                                            linkCode: 'ur2',
                                                            linkId: 'f5f767d63d5ccb2f9e6d9c295d516349',
                                                            camp: 1789,
                                                            creative: 9325
                                                    }, nil),
                                         :class => 'amazon-review',
                                         :id => 'silver-formula',
                                         :target => '_blank' %><br>

                <%= link_to 'Amazon Reviews of NeuEve Silver'.html_safe,
                            create_url('https://www.amazon.com/',
                                       ['NeuEve-Suppository-Silver-formula',
                                        'product-reviews',
                                        'B00CMIC35I'],
                                       {
                                               ie: 'UTF8',
                                               reviewerType: 'all_reviews',
                                               showViewpoints: 0,
                                               sortBy: 'helpful',
                                               pageNumber: 1,
                                               filterByStar: 'positive',
                                               _encoding: 'UTF8',
                                               tag: 'neu08-20',
                                               linkCode: 'ur2',
                                               linkId: 'f5f767d63d5ccb2f9e6d9c295d516349',
                                               camp: 1789,
                                               creative: 9325
                                       }, nil),
                            :class => 'amazon-review',
                            :id => 'silver-formula',
                            :target => '_blank' %>
                <br>
                <strong><%= link_to 'For first time buyers, please read THIS', faq_path(:anchor => 'right_formula_atrophy') %></strong>
            </div>
        </td>
    </tr>
    <tr align="center" class="mobile-only">
        <td style="background-color: #ffffff">
            <div align="center">
                <%= image_tag('Silver-NeuEve-4boxes.jpg', :size => '600x450',
                              alt: 'NeuEve Silver is a natural, estrogen-free, moisturizing vaginal suppository.') %>
            </div>
        </td>
    </tr>
    <tr align="center">
        <td style="background-color: #ffffff" class="non-mobile-only">
            <div align="center">
                <%= image_tag('Silver-NeuEve-4boxes.jpg', :class => 'img_pair',
                              alt: 'NeuEve Silver is a natural, estrogen-free, moisturizing vaginal suppository.') %>
            </div>
        </td>
        <td style="vertical-align:middle">
            <div itemscope itemtype="http://schema.org/Product" align="center">
                <strong>
                    <div itemprop="name">Four Boxes of NeuEve Silver</div>
                    <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                    <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
                </strong>
                24 suppositories
                <div>
                    Bulk Discount:
                </div>
                <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <strike>$219.80</strike> <i class="fas fa-long-arrow-alt-right"></i> <span itemprop="price">$199.00</span>
                  <meta itemprop="priceCurrency" content="USD"/>
                </span>

                <div>
                    Save $20 + Free Shipping!
                </div>
                <br>

                <div class="formbutton">
                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="V8XG8GSATEW34">
                        <%= submit_tag 'Add 4 Boxes to Cart',
                                       :class => 'btn btn-large btn-warning add-to-cart',
                                       :id => 'silver-formula',
                                       :name => 'submit' %>
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>

<h3>
    Description:
</h3>
<p>
    NeuEve Silver is a natural vaginal suppository developed by a <%= link_to "gynecologist.", about_path %>
    NeuEve Silver naturally moisturizes and heals painful sex (dyspareunia) and bacterial vaginosis.
    NeuEve Silver is made with vitamins and nutrients to nourish the vaginal tissues.
</p>
<h3>
    What does NeuEve Silver do?
</h3>
<p>
    NeuEve Silver is ideal for women with painful sex, vaginal atrophy, and vaginal dryness.
</p>
<p>
    NeuEve Silver is also excellent for recurrent fishy vaginal odor or bacterial vaginosis. Many women with years of
    recurrent BV were finally able to break the cycle with NeuEve Silver.
</p>
<h3>
    Who's NeuEve Silver For?
</h3>
<p>
    NeuEve Silver is our middle-strength vaginal suppository.
</p>
<p>
    We generally recommend starting with NeuEve Silver for women <strong>who are between 40 and 50 years old</strong> or
    have been post-menopausal for less than 5 years.
<p>
    We also recommend starting with NeuEve Silver if you are
    <strong>under 40 years old and have a medical history of any of the following:</strong>
</p>
<ul>
    <li>breast or ovarian cancer treatment</li>
    <li>oophorectomy</li>
    <li>hysterectomy</li>
    <li>lichen sclerosus</li>
    <li>Sjogren's symdrome</li>
    <li>currently use antihypertensive drugs</li>
    <li>currently use antiallergics drugs</li>
    <li>currently use antidepressants drugs</li>
</ul>
<p>
    If you've been using <%=link_to "NeuEve Silk", silk_path%> for 1-4 months, you can consider moving up to NeuEve Silver.
</p>
<p>
    NeuEve does not contain any estrogen, progesterone, herbs, or drugs. That makes NeuEve perfect for women wanting to avoid
    hormones,
    (such as breast and ovarian cancer survivors and previvors). NeuEve is also perfect for women wanting to supplement
    their estrogen replacement therapy with something extra.
</p>

<%= link_to '', {}, name: 'reviews' %>
<div id="stamped-main-widget"
     data-product-id="2000"
     data-name="NeuEve Silver"
     data-url="https://www.neueve.com/silver"
     data-image-url="https://d3ilh7i74k3q3i.cloudfront.net/assets/silver_NeuEve_vaginal_suppository-8838b526b7bc0a911d8c1177cc31eba959289e241932983ab70fd5a729959cb7.jpg"
     data-description="NeuEve Silver is a natural vaginal suppository developed by a gynecologist. NeuEve Silver naturally moisturizes and heals painful sex (dyspareunia) and bacterial vaginosis. NeuEve Silver is made with vitamins and nutrients to nourish the vaginal tissues."
     data-product-sku="silver">
</div>

<h3>
    Ingredients:
</h3>
<p>
    <%= link_to 'Sustainable palm oil*', faq_path(:anchor => 'tropicalTraditions') %>, coconut oil, beeswax, tapioca starch, potato starch,
    evening primrose oil, sea buckthorn fruit oil, lavender essential oil, orange oil, vitamin
    E (d-α tocopherol), <%= link_to 'and a proprietary blend of nutrients.',
                   faq_path(:anchor => 'proprietaryBlend') %>
<p>
    NeuEve is gluten-free, hormone-free and estrogen-free. NeuEve does NOT contain any boric acid, petrochemicals,
    parabens, BHT, T.E.A, M.E.A, urea, glycols, PEG's, etc. NeuEve has
    <%= link_to 'never been tested on animals', 'https://www.neueve.com/blog/cruelty-free-certified/' %>, and does not
    contain any animal products.
</p>
<p>
    NeuEve is manufactured locally and sustainably in small-batches in Chicago, IL, USA, with care and
    tenderness.
</p>

<div align="center">
    <%= image_tag("hormone-free-trans.gif", :size => "160x160", :class=>'seal',
                  alt: 'Hormone Free Seal') %>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <%= image_tag("no-chemical-logo-trans.gif", :size => "160x160", :class=>'seal',
                  alt: 'No Chemical Seal') %>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <%= link_to image_tag('LeapingBunny-Logo.png', :size => '160x160', :class => 'seal',
                          alt: 'Leaping Bunny Seal'), 'https://www.neueve.com/blog/cruelty-free-certified/' %>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <%= image_tag("made-in-usa-logo-vector-400x400.png", :size => "160x160", :class => "seal",
                  alt: 'Made in USA Seal') %>
</div>


<h3>
    Warnings:
</h3>
<p>
    For vaginal use only. Stop use and wash thoroughly to remove the suppository if
    suspected allergy occurs (such as itching and excessive discharges).
</p>

<p>
<BLOCKQUOTE>
    <strong><em>Stop use and consult with your doctor if:</em></strong>
    <ul>
        <li>Symptoms persist after the initial dosage of 8-12 suppositories</li>
        <li>You have pain or tenderness in the lower part of the abdomen and pelvis</li>
        <li>You have vaginal discharge or bleeding, chills, nausea, or fever</li>
        <li>You (or your sexual partner) have sores or ulcers</li>
        <li>You have an STD (sexually transmitted disease) or PID (pelvic inflammatory disease)</li>
        <li>Your vaginal discharge is an unusual amount, color, or odor</li>
        <li>You have frequent and painful urination</li>
        <li>If use results in pain, soreness, swelling, redness, itching, or irritation.</li>
    </ul>
</BLOCKQUOTE>

<h3>
    Important Notice:
</h3>
<p>
    NeuEve suppositories are not contraceptives or drugs of any kind. They do NOT protect against any communicable
    diseases. There is no data available for compatibility with latex condoms. As a precautionary measure, you should
    not use NeuEve if you use latex condoms. If you are pregnant or breastfeeding you should ask a health professional
    before using this product. If the NeuEve is accidentally eaten or swallowed, it is not a problem, because it is
    fully food grade and should be safe even though it may taste bad.
</p>

<h3>
    Storage:
</h3>
<p>
    Store the product in a cool, dry place (4 – 20°C). Keep it away from heat, direct sunlight, and the reach of
    children.
</p>

<h3>
    Indication:<sup>*</sup>
</h3>
<p>
    Vaginal odor, dryness, appearance of atrophy, or painful intercourse (dyspareunia).
</p>

<a name="directions" id="directions"></a>
<h3>
    Directions for use:
</h3>
<p>
    Use 1 NeuEve Silver Suppository every 5 days.

<ol>
    <li>Use restroom to empty bowels or the bladder. Wash hands with soap and water.</li>
    <li>Tear a single suppository apart from the group.</li>
    <%= image_tag('how-to-open.jpg',
                  alt: 'Instruction for opening suppository.
    1. Find the bullet point.
    2. Feel two open wings.
    3. Peel it open.
    4. If hard to open, use a nail clipper or scissors to cut along dotted lines.
    5. Peel it again.') %>
    <li>Find the bullet point of the suppository. It has two opened wings.</li>
    <li>Peel open the suppository shell.</li>
    <li>Lie on back, raise knees and gently insert the suppository with a finger and push into the vagina as far as it
        will
        comfortably go.
    </li>
    <li>Stay in this position for about 15 minutes, or until the suppository melts.</li>
</ol>

Using at bedtime is desirable. Do not use during menses.

<p>
    For more details of suppository application please see :

<div class="youtubevideowrap">
    <div class="video-container" align="center">
        <iframe src="https://www.youtube-nocookie.com/embed/YEYheg3AEWY?rel=0" frameborder="0" allowfullscreen>
        </iframe>
    </div>
</div>
