To Unsubscribe from Auto-Delivery of NeuEve, click here to go to Paypal and cancel your subscription.
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=TERMWE8J86S96">
    <img src="https://www.paypalobjects.com/en_US/i/btn/btn_unsubscribe_LG.gif" BORDER="0">
</a>
<p>
    If that does not work, please follow the steps below to cancel a PayPal subscription:
<ol>
    <li>
        Log in to your PayPal account at <%= link_to 'www.paypal.com' %>.
    </li>
    <li>
        Click the <strong>Settings</strong> icon next to "Log out."
        <br>
        <%= image_tag 'faq/paypal_cog_icon.png' %>
    </li>
    <li>
        Select <strong>Preapproved Payments</strong> under "Payment settings."
        <br>
        <%= image_tag 'faq/paypal_payments_settings.png' %>
    </li>
    <li>
        Select the merchant whose agreement you want to cancel...
        <br>
        <%= image_tag 'faq/paypal_preapproved_list.png' %>
    </li>
    <li>
        ...and click the Cancel Subscription button.
        <br>
        <%= image_tag 'faq/paypal_cancel_sub_button.png' %>
    </li>
    <li>
        Confirm your request to finalize the cancellation.
    </li>
</ol>