<% provide(:title, 'Looking for a Better Addyi Alternative?') %>
<% provide(:description, 'NeuEve is a natural remedy for female sexual dysfunction invented by an OB/GYN, for $50/mo. See why women are switching from Flibanserin to NeuEve.') %>
<% provide(:last_modified, 'Jan 22, 2020') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item">
                <%= link_to 'Comparison', neueve_alternatives_path %>
            </li>
            <li class="breadcrumb-item active">Flibanserin vs NeuEve for Hypoactive Sexual Desire Disorder</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">A Natural Remedy for Low Libido That <em>Lets You Drink</em></h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-text-column">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Could your search for an Addyi alternative finally be over?</h2>
                    <p class="text-lg text-muted">NeuEve is natural remedy, invented by a gynecologist. NeuEve has no hormones, no estrogen, and
                        is 100% plant-based. And most importantly, it's completely safe to drink alcohol while using NeuEve!</p>
                    <p class="text-lg text-muted">NeuEve uses vitamins and essential oils to naturally rebalance vaginal pH and nourish vaginal tissues, improving thickness, natural lubrication and sexual pleasure.</p>
                    <p class="text-lg text-muted">Read on for a NeuEve vs Flibanserin comparison.</p>
                    <div class="text-center">
                        <%= link_to cream_path, class:'btn btn-large btn-warning add-to-cart rounded' do %>
                            <svg class="svg-icon"><use xlink:href="#label-tag-1"></use></svg>
                            Shop
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column">
                <%= image_tag 'Dr-Renjie-Chang-Founder-NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 about-text-column order-lg-2">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">End Low Desire Naturally</h2>
                    <p class="text-lg text-muted">NeuEve is made out of real, natural ingredients you can pronounce:</p>
                    <p class="text-muted"><%= link_to 'Organic palm oil*', faq_path(:anchor => 'tropicalTraditions') %>, organic coconut oil, organic beeswax,
                        evening primrose oil, organic sea buckthorn fruit oil, organic lavender
                        essential oil, organic orange oil, organic vitamin E (d-α
                        tocopherol), <%= link_to 'and a proprietary blend of nutrients', faq_path(:anchor => 'proprietaryBlend') %>.</p>
                    <p class="text-lg text-muted">The hardest to pronounce is “sea buckthorn”, seriously! It’s actually quite a tongue-twister.</p>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column order-lg-1">
                <%= image_tag 'product/general/NeuEve_GreenBkgrd.jpg', class: 'bg-image' %>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="alternative-row ">
            <div class="alternative-product offset-md-4">
                NeuEve
            </div>
            <div class="alternative-product  ">
                Addyi
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Cost
            </div>
            <div class="alternative-cell  ">
                $60/mo or $49/mo if you Subscribe
            </div>
            <div class="alternative-cell  ">
                <p>
                    Cost without Insurance: <%=link_to '$466/mo', 'https://www.drugs.com/price-guide/addyi', target: '_blank', rel: 'nofollow'%>.
                </p>
                <p>
                    Addyi is NOT covered by
                    <%= link_to 'Medicare', 'https://www.goodrx.com/addyi/medicare-coverage', target: '_blank' %>.
                </p>
                <p>
                    Apply and pay $49 to speak to a doctor and you may receive <%=link_to '2 months of Addyi for free', 'https://addyi.com/howtosave/', target: '_blank', rel: 'nofollow'%>.
                </p>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Improves Sexual Performance
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i> Addyi is not indicated to enhance sexual performance. <%= link_to '- Journal Article', 'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6198608/', target: '_blank' %>.
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Can Drink Alcohol
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i> Women should discontinue drinking alcohol at least two hours before taking Addyi at bedtime or to skip the Addyi dose that evening. Women should not consume alcohol at least until the morning after taking Addyi at bedtime <%= link_to '- FDA Press Release. Apr, 2019', 'https://www.fda.gov/news-events/press-announcements/fda-orders-important-safety-labeling-changes-addyi', target: '_blank' %>.
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Works for Perimenopause and Postmenopause
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i> Addyi is not for use for the treatment of HSDD in women who have gone through menopause <%= link_to '- Addyi Medication Guide', 'https://www.fda.gov/media/93087/download', target: '_blank' %>.
            </div>
        </div>

        <div class="alternative-row ">
            <div class="alternative-category ">
                Safe for Breastfeeding 🤱
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i> Flibanserin is <%= link_to 'excreted in rat milk', 'https://www.rxlist.com/addyi-drug.htm#warnings', target: '_blank' %>
            </div>
        </div>

        <div class="alternative-row ">
            <div class="alternative-category ">
                100% Plant-Based Ingredients 🌱
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                NeuEve Silver Ingredients:
                <div class="text-sm">
                    <%= link_to 'Organic palm oil*', faq_path(:anchor => 'tropicalTraditions') %>, organic coconut oil,
                    organic beeswax,
                    evening primrose oil, organic sea buckthorn fruit oil, organic lavender
                    essential oil, organic orange oil, organic vitamin E (d-α
                    tocopherol), <%= link_to 'and a proprietary blend of nutrients', faq_path(:anchor => 'proprietaryBlend') %>
                    .
                </div>
            </div>
            <div class="alternative-cell ">
                <i class='fas fa-times'></i>
                <%= link_to 'Addyi Ingredients:', 'https://www.rxlist.com/addyi-drug.htm#medguide', target: '_blank' %>
                <div class="text-sm">
                    Active ingredient: flibanserin
                </div>
                <div class="text-sm">
                    Inactive ingredients: lactose monohydrate, microcrystalline cellulose, hypromellose, croscarmellose sodium, magnesium stearate, talc, macrogol, and the coloring agents, titanium dioxide and iron oxide.
                </div>
            </div>
        </div>

        <div class="alternative-row ">
            <div class="alternative-category ">
                Cruelty-Free 🐇
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Certified Cruelty Free', 'https://www.neueve.com/blog/cruelty-free-certified/', target: '_blank'%>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                <%= link_to 'Valeant Pharmaceuticals does Animal Testing', 'http://crueltyfreeinvesting.org/companies/valeant-pharmaceuticals-international-inc/', target: '_blank'%>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Satisfaction Guarantee
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Policy Details', :anchor => "satisfaction" %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Email Support 📧
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Phone Support 📞
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Text Support <i class="fas fa-sms"></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Live Chat Support 💬
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Private Facebook Support Group <i class="fas fa-hand-holding-heart"></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Easy to Order Online without Prescription & Free Shipping 📦
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
    </div>
</section>
