<% provide(:title, "A Better Boric Acid Alternative") %>
<% provide(:description, "NeuEve is a natural remedy for bacterial vaginosis that's better for you and better for the planet. See why women are switching from Boric Acid Suppositories to NeuEve.") %>
<% provide(:last_modified, 'June 26, 2020') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item">
                <%= link_to 'Comparison', neueve_alternatives_path %>
            </li>
            <li class="breadcrumb-item active">Boric Acid Suppositories vs NeuEve for Bacterial Vaginosis</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">A Boric Acid Alternative that Breaks the Cycle of Bacterial Vaginosis</h1>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <hr>
        <div class="h3">
            Warning:
        </div>
        <div class="h5">
            Boric acid is poison. Keep it away from pets and children.
        </div>
        <div class="h5">
            If you or a loved one accidentally ingested Boric Acid, call your local emergency number (911), or the national toll-free Poison Help hotline (1-800-222-1222).
        </div>
        <hr>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-text-column">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Your search for a Boric Acid alternative is finally over</h2>
                    <p class="text-lg text-muted">No kidding.</p>
                    <h5>Introducing NeuEve.</h5>
                    <p class="text-lg text-muted">NeuEve is a natural remedy for vaginal odor, invented by a gynecologist. NeuEve has no synthetic chemicals and
                        is 100% plant-based.</p>
                    <p class="text-lg text-muted">NeuEve uses vitamins and essential oils to naturally rebalance vaginal pH and break the cycle of bad vaginal odor.</p>
                    <p class="text-lg text-muted">Read on for a NeuEve vs Boric Acid suppositories comparison.</p>
                    <div class="text-center">
                        <%= link_to bacterial_vaginosis_vaginal_odor_path, class:'btn btn-large btn-warning add-to-cart rounded' do %>
                            <svg class="svg-icon"><use xlink:href="#label-tag-1"></use></svg>
                            Shop
                        <% end %>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column">
                <%= image_tag 'Dr-Renjie-Chang-Founder-NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 about-text-column order-lg-2">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">The All-Natural Option</h2>

                    <p class="text-lg text-muted">Put down that cockroach poison! Put down that toxic environmental contaminant!</p>
                    <p class="text-lg text-muted">Instead try our luxuriously natural vaginal creams and suppositories OB/GYN-formulated
                    with all-natural ingredients you can actually pronounce.</p>
                    <p class="text-lg text-muted">The hardest to pronounce is “sea buckthorn”, seriously! It’s actually quite a tongue-twister.</p>

                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column order-lg-1">
                <%= image_tag 'product/bv_clear/NeuEve_BV_Clear_Bush.jpg', class: 'bg-image' %>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="alternative-row ">
            <div class="alternative-product offset-md-4 ">
                NeuEve
            </div>
            <div class="alternative-product  ">
                Boric Acid Suppositories
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Cost
            </div>
            <div class="alternative-cell  ">
                <p>$43</p>
                <p>$38/mo if you Subscribe</p>
            </div>
            <div class="alternative-cell  ">
                <p><%= link_to "$20 on Amazon", 'https://amzn.to/3eFMgpa' %> for 2-week supply</p>
                <p>$40/mo</p>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Supports Healthy Vaginal Bacteria
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                Chronic use of boric acid could easily damage the vaginal mucus and kill lactobacilli (the good bacteria). It is also caustic and can lead to vaginal abrasions.
                <%= link_to "- Dr. Jen Gunter",'https://drjengunter.com/2016/10/14/lo-bosworth-wants-to-eliminate-vaginal-shame-with-potentially-harmful-products/', target: '_blank'%>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Ends Recurrent Vaginal Odor for Good
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                94% of NeuEve customers reported relief from fishy vaginal odors after completing 9 days.
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                Studies demonstrated that boric acid was inadequate in achieving a satisfactory clinical response in BV, reflecting its weak antimicrobial potency.
                <%= link_to "- Journal of Infectious Disease",'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4957510/', target: '_blank'%>
            </div>
        </div>
        <div class="alternative-row">
            <div class="alternative-category ">
                100% Plant-Based, Natural Ingredients
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                NeuEve BV Clear Ingredients:
                <div class="text-sm">
                    <%= link_to 'Organic palm oil*', faq_path(:anchor => 'tropicalTraditions') %> , organic coconut oil,
                    organic beeswax, organic tapioca starch,
                    organic potato starch, evening primrose oil, organic sea buckthorn fruit oil, organic lavender essential oil, organic orange
                    oil, organic vitamin
                    E (d-α tocopherol), <%= link_to 'and a proprietary blend of nutrients.',
                                                    faq_path(:anchor => 'proprietaryBlend') %>
                </div>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                <%= link_to "The Killer - Love Wellness - Boric Acid Suppository Ingredients", 'https://dailymed.nlm.nih.gov/dailymed/drugInfo.cfm?setid=4d8aeba0-4848-4093-a723-1db50301d025', target: '_blank' %>
                <p>
                <div class="text-md">
                    <%= link_to '600mg Boric Acid','https://en.wikipedia.org/wiki/Boric_acid#Toxicology', target: '_blank'%>
                    , gelatin capsule
                </div>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Safe for Sexual Partner
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">

                <p>
                    <i class='fas fa-times'></i>
                    If your partner gives you oral sex it could be accidentally ingested.
                    <%= link_to "- Dr. Jen Gunter",'https://drjengunter.com/2016/10/14/lo-bosworth-wants-to-eliminate-vaginal-shame-with-potentially-harmful-products/', target: '_blank'%>
                </p>
                <p>
                    The fatal adult dose is 0.1/0.5 mg/kg taken orally.
                    <%= link_to "- PubMed", "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1784796/pdf/9812253.pdf", target: '_blank' %>
                </p>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Safe for Breastfeeding
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                You should not breastfeed while using Boric Acid
                <%= link_to "- Mott Children's Hospital", "https://www.mottchildren.org/health-library/d01225a1", target: '_blank' %>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Cruelty-Free 🐇
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Certified Cruelty Free', 'https://www.neueve.com/blog/cruelty-free-certified/', target: '_blank'%>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                    Boric Acid is tested on animals, including <%= link_to "cats", 'https://www.cuteness.com/article/toxic-borax-cats', target: '_blank'%>
                and
                <%= link_to "dogs", 'https://www.cuteness.com/article/boric-acid-poisoning-dogs', target: '_blank'%>. 5g was found to be the lethal dose to pets.
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Giving Back
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i> NeuEve is a member of
                <%= link_to "1% for the Planet.", 'http://www.onepercentfortheplanet.org/', target: '_blank'%>
                We believe it's the right to do to protect our planet.
                <div class="text-center" >
                        <%= link_to image_tag('OnePercentFTP.png', :class => 'img-fluid seal',
                                              alt: 'One Percent for the Planet', style:'max-height: 250px'), 'http://www.onepercentfortheplanet.org/', target: '_blank' %>
                </div>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-question'></i>
                <p>
                    As of 5/26/2020, we were unable to find evidence of Boric Acid Manufacturers giving back to the community or any other demonstration of their values.
                </p>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Manufactured in USA 🇺🇸
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">

                <p>
                    <i class='fas fa-times'></i>
                    Boric acid is sourced from
                    <%= link_to "China", "https://www.alibaba.com/showroom/vaginal-suppositories-boric-acid.html" %> and
                    <%= link_to "India", "https://dir.indiamart.com/impcat/boric-acid-powder.html" %>.
                </p>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Satisfaction Guarantee
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Policy Details', :anchor => "satisfaction" %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Email Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Phone Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Text Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Live Chat Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Private Facebook Support Group
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Free Shipping & Delivered to your Doorstep
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-question'></i>
            </div>
        </div>
    </div>
</section>

<%= render 'layouts/order_now_bv' %>