<% provide(:title, 'Looking for a Better Natural DHEA Alternative?') %>
<% provide(:description, 'NeuEve is a non-hormonal natural remedy for menopauseal painful sex invented by an OB/GYN, for $60/mo. See why women are switching from DHEA to NeuEve.') %>
<% provide(:last_modified, 'July 18, 2020') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item">
                <%= link_to 'Comparison', neueve_alternatives_path %>
            </li>
            <li class="breadcrumb-item active">DHEA vs NeuEve for Menopausal Painful Sex</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">A Natural Remedy for Menopausal Painful Sex with Zero Hormones</h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-text-column">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Could your search for an alternative to DHEA Cream and DHEA Supplements finally be over?</h2>
                    <p class="text-lg text-muted">NeuEve is natural remedy, invented by a gynecologist. NeuEve
                        has no hormones, no estrogen, and
                        is 100% plant-based.</p>
                    <p class="text-lg text-muted">NeuEve uses vitamins and essential oils to naturally rebalance vaginal pH and nourish vaginal tissues to relieve vaginal dryness.</p>
                    <p class="text-lg text-muted">Read on for a NeuEve vs DHEA comparison.</p>
                    <div class="text-center">
                        <%= link_to silver_path, class:'btn btn-large btn-warning add-to-cart rounded' do %>
                            <svg class="svg-icon"><use xlink:href="#label-tag-1"></use></svg>
                            Shop
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column">
                <%= image_tag 'Dr-Renjie-Chang-Founder-NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 about-text-column order-lg-2">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Natural, Wholesome Ingredients</h2>
                    <p class="text-lg text-muted">Safe ingredients you can pronounce:</p>
                    <p class="text-muted"><%= link_to 'Organic palm oil*', faq_path(:anchor => 'tropicalTraditions') %>
                        , organic coconut oil, organic beeswax,
                        evening primrose oil, organic sea buckthorn fruit oil, organic lavender
                        essential oil, organic orange oil, organic vitamin E (d-α
                        tocopherol), <%= link_to 'and a proprietary blend of nutrients', faq_path(:anchor => 'proprietaryBlend') %>
                        .</p>
                    <p class="text-lg text-muted">The hardest to pronounce is “sea buckthorn”, seriously! It’s actually quite a tongue-twister. </p>
                    <p class="text-lg text-muted">Much easier to pronouce than "dehydroepiandrosterone" a.k.a. DHEA.</p>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column order-lg-1">
                <%= image_tag 'silver_NeuEve_vaginal_suppository.jpg', class: 'bg-image' %>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="alternative-row ">
            <div class="alternative-product offset-md-4">
                NeuEve
            </div>
            <div class="alternative-product  ">
                DHEA (dehydroepiandrosterone)
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Cost
            </div>
            <div class="alternative-cell  ">
                $60 / mo or $49 / mo if you Subscribe
            </div>
            <div class="alternative-cell  ">
                <p>
                    DHEA Supplements cost <%= link_to '$10', 'https://www.goodrx.com/dhea', target: '_blank', rel: 'nofollow' %>.
                </p>
                <p>
                    DHEA Cream costs <%= link_to '$39 - $59', 'https://amzn.to/30mya6g', target: '_blank', rel: 'nofollow' %>.
                </p>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Contains No Hormones 💉
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                Nonhormonal approaches are the first-line for atrophy symptoms experienced by women during or after
                treatment for breast cancer.
                <%= link_to '- ACOG', 'https://www.acog.org/Clinical-Guidance-and-Publications/Committee-Opinions/Committee-on-Gynecologic-Practice/The-Use-of-Vaginal-Estrogen-in-Women-With-a-History-of-Estrogen-Dependent-Breast-Cancer', target: '_blank' %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                Intravaginal DHEA isn’t an “alternative” to estrogen it’s the prodrug
                <%= link_to '- Dr. Jen Gunter', 'https://drjengunter.wordpress.com/2016/01/11/intravaginal-dhea-isnt-an-alternative-to-estrogen-its-the-prodrug/', target: '_blank' %>

            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Contains No Estrogen
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                DHEA converts to testosterone and estrogens.
                - <%= link_to "National University of Natural Medicine", 'https://womeninbalance.org/about-hormone-imbalance/hormones-101/', target: '_blank', rel: 'nofollow' %>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                100% Plant-Based Ingredients 🌱
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                NeuEve Silver Ingredients:
                <div class="text-sm">
                    <%= link_to 'Organic palm oil*', faq_path(:anchor => 'tropicalTraditions') %>, organic coconut oil,
                    organic beeswax,
                    evening primrose oil, organic sea buckthorn fruit oil, organic lavender
                    essential oil, organic orange oil, organic vitamin E (d-α
                    tocopherol), <%= link_to 'and a proprietary blend of nutrients', faq_path(:anchor => 'proprietaryBlend') %>
                    .
                </div>
            </div>
            <div class="alternative-cell ">
                <i class='fas fa-times'></i>
                <%= link_to 'Intrarosa Ingredients:', 'https://www.rxlist.com/intrarosa-drug.htm#medguide', target: '_blank' %>
                <div class="text-sm">
                    <p>
                        Active ingredient: <%= link_to "prasterone", 'https://us.intrarosa.com/frequently-asked-questions', target: '_blank', rel: 'nofollow' %>. Prasterone is a <strong>synthetic</strong> form of a hormone your body produces naturally called DHEA.
                    </p>
                    <p>
                        Inactive ingredient: <%= link_to 'Witepsol', 'https://www.medisca.com/Pages/ProductDetails.aspx?StockCode=1699&C=B&C2=113', target: '_blank' %>.
                        Witepsol is a mixture of <strong>synthetic</strong> triglycerides, from coconut and palm kernel oils.
                    </p>
                </div>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Safe for Male Sexual Partner 💕
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-question text-warning'></i>
                There is inadequate data for male partners exposed to DHEA hormones via sex.
                <%= link_to "- FDA", "https://www.accessdata.fda.gov/drugsatfda_docs/nda/2016/208470Orig1s000ClinPharmR.pdf", target: '_blank' %>
                <hr>
                Hormones Expose Pets and Children to Risk
                <%= link_to "- New York Times", "https://well.blogs.nytimes.com/2010/10/25/when-hormone-creams-expose-others-to-risks/", target: '_blank' %>
            </div>
        </div>

        <div class="alternative-row ">
            <div class="alternative-category ">
                Safe for Breastfeeding 🤱
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>

        <div class="alternative-row ">
            <div class="alternative-category ">
                Cruelty-Free 🐇
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Certified Cruelty Free', 'https://www.neueve.com/blog/cruelty-free-certified/', target: '_blank' %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                <p>
                    In animal studies, low DHEA levels have been associated with reduced lifespan and other involuntary
                    age-related changes, including sarcopenia, osteopenia, obesity, diabetes, atherosclerosis, immune
                    deficiency, and cognitive mood impairment.
                </p>
                <p>
                    In nonhuman primates, DHEA levels are associated with longevity.
                </p>
                <%= link_to '- Carrie Dennett, MPH, RDN, CD', 'https://www.todaysdietitian.com/newarchives/1115p18.shtml', target: '_blank' %>
            </div>
        </div>

        <!--<div class="alternative-row ">-->
            <!--<div class="alternative-category ">-->
                <!--No Side Effects-->
            <!--</div>-->
            <!--<div class="alternative-cell  ">-->
                <!--<i class='fas fa-check'></i>-->
            <!--</div>-->
            <!--<div class="alternative-cell  ">-->
                <!--<i class='fas fa-times'></i>-->
                <!--<%= link_to 'Full List of Intrarosa Side Effects', 'https://www.drugs.com/sfx/vagifem-side-effects.html#for-professionals', target: '_blank' %>-->
            <!--</div>-->
        <!--</div>-->
        <div class="alternative-row ">
            <div class="alternative-category ">
                Satisfaction Guarantee
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Policy Details', :anchor => "satisfaction" %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Email Support 📧
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Phone Support 📞
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Text Support <i class="fas fa-sms"></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Live Chat Support 💬
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Private Facebook Support Group <i class="fas fa-hand-holding-heart"></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Easy to Order Online without Prescription & Free Shipping 📦
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
    </div>
</section>
