<% provide(:title, 'A Better Estrace Cream Alternative') %>
<% provide(:description, 'NeuEve is a natural Estrace Cream alternative that you can use with peace of mind. See why women are switching from Estrace to NeuEve.') %>
<% provide(:last_modified, 'March 24, 2019') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item">
                <%= link_to 'Comparison', comparison_path %>
            </li>
            <li class="breadcrumb-item active">Estrace Cream vs NeuEve for Postmenopausal Atrophy</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">A Natural Estrace Cream Alternative with Zero Estrogen</h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-text-column">
                <div class="about-text">
                    <h2 class="mb-4">Your search for a Estrace alternative is finally over.</h2>
                    <p class="text-lg text-muted">NeuEve is a Estrace alternative, invented by a gynecologist. NeuEve
                        has no hormones, no estrogen, and
                        is 100% plant-based.</p>
                    <p class="text-lg text-muted">NeuEve uses vitamins and essential oils to naturally rebalance vaginal pH and nourish vaginal tissues to relieve vaginal dryness.</p>
                    <p class="text-lg text-muted">Read on for a NeuEve vs Estrace comparison.</p>

                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column">
                <%= image_tag 'Dr-Renjie-Chang-Founder-NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 about-text-column order-lg-2">
                <div class="about-text">
                    <h2 class="mb-4">Natural, Wholesome Ingredients</h2>
                    <p class="text-lg text-muted">Safe ingredients you can pronounce:</p>
                    <p class="text-muted"><%= link_to 'Sustainable palm oil*', faq_path(:anchor => 'tropicalTraditions') %>
                        , coconut oil, beeswax,
                        evening primrose oil, sea buckthorn fruit oil, lavender
                        essential oil, orange oil, vitamin E (d-α
                        tocopherol), <%= link_to 'and a proprietary blend of nutrients', faq_path(:anchor => 'proprietaryBlend') %>
                        .</p>
                    <p class="text-lg text-muted">The hardest to pronounce is “sea buckthorn”, seriously! It’s actually quite a tongue-twister.</p>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column order-lg-1">
                <%= image_tag 'natural_vaginal_cream_NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="alternative-row ">
            <div class="alternative-product offset-md-4">
                NeuEve
            </div>
            <div class="alternative-product  ">
                Estrace Cream
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Pricing
            </div>
            <div class="alternative-cell  ">
                $60/mo or $49/mo if you Subscribe
            </div>
            <div class="alternative-cell  ">
                <p>
                    Price without
                    Insurance: <%= link_to '$368/mo', 'https://www.drugs.com/price-guide/estrace-vaginal-cream', target: '_blank', rel: 'nofollow' %>.
                </p>
                <p>
                    Apply
                    to <%= link_to "Allergan's Patient Assistance Program", 'https://www.allergan.com/responsibility/patient-resources/patient-assistance-programs/estrace', target: '_blank', rel: 'nofollow' %>
                    with proof of income and you may get a three month's supply for free.
                </p>
                <p>
                    Estrace Cream is NOT covered by
                    <%= link_to 'Medicare', 'https://www.goodrx.com/estrace/medicare-coverage?form=tube-of-cream&dosage=42.5g-of-0.01%25&quantity=1&days_supply=&label_override=Estrace', target: '_blank' %>
                    and <%= link_to 'some insurance plans', 'https://www.bcbsil.com/member/prescription-drug-plan-information/qhp-2019-benefit-changes', target: '_blank' %>.
                </p>
                <p>
                    The price of a tube of Estrace cream has more than doubled from $184 in 2013 to $372 in 2018.
                    <%= link_to '- New York Times', 'https://www.nytimes.com/2018/06/03/health/vagina-womens-health-drug-prices.html', target: '_blank' %>
                </p>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Contains No Hormones
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                Nonhormonal approaches are the first-line for atrophy symptoms experienced by women during or after
                treatment for breast cancer.
                <%= link_to '- ACOG', 'https://www.acog.org/Clinical-Guidance-and-Publications/Committee-Opinions/Committee-on-Gynecologic-Practice/The-Use-of-Vaginal-Estrogen-in-Women-With-a-History-of-Estrogen-Dependent-Breast-Cancer', target: '_blank' %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Contains No Estrogen
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>

            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                100% Plant-Based Ingredients
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                NeuEve Cream Ingredients:
                <div class="text-sm">
                    <%= link_to 'Sustainable palm oil*', faq_path(:anchor => 'tropicalTraditions') %>, coconut oil,
                    beeswax,
                    evening primrose oil, sea buckthorn fruit oil, lavender
                    essential oil, orange oil, vitamin E (d-α
                    tocopherol), <%= link_to 'and a proprietary blend of nutrients', faq_path(:anchor => 'proprietaryBlend') %>
                    .
                </div>
            </div>
            <div class="alternative-cell ">
                <i class='fas fa-times'></i>
                <%= link_to 'Estrace Cream Ingredients:', 'https://dailymed.nlm.nih.gov/dailymed/drugInfo.cfm?setid=dfc41fcd-c5ba-4b25-b647-cf04d3988b3e', target: '_blank' %>
                <div class="text-sm">
                    0.1 mg estradiol in a nonliquefying base
                    containing purified water, propylene glycol, stearyl alcohol, white ceresin wax, mono- and
                    diglycerides, hypromellose 2208 (4000 cps), sodium lauryl sulfate, methylparaben, edetate disodium
                    and tertiary-butylhydroquinone.
                </div>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Safe for Male Sexual Partner
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                Men Absorb Estrogen from Vaginal Estrogen Cream During Sex
                <%= link_to "- Study", "https://www.ncbi.nlm.nih.gov/pubmed/18251358", target: '_blank' %>
                <hr>
                Hormone Creams Expose Pets and Children to Risk
                <%= link_to "- New York Times", "https://well.blogs.nytimes.com/2010/10/25/when-hormone-creams-expose-others-to-risks/", target: '_blank' %>
            </div>
        </div>

        <div class="alternative-row ">
            <div class="alternative-category ">
                Cruelty-Free
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Certified Cruelty Free', 'https://www.neueve.com/blog/cruelty-free-certified/', target: '_blank' %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                <%= link_to 'Allergan does Animal Testing', 'https://www.sourcewatch.org/index.php/Allergan#Animal_testing', target: '_blank' %>
                <hr>

                "Long-term continuous administration of estrogen in <strong>certain animal species</strong> increases
                the frequency of carcinomas"
                <%= link_to '-Estrace Prescribing Information', 'https://www.rxlist.com/estrace-vaginal-cream-drug.htm#precautions', target: '_blank' %>

            </div>
        </div>

        <div class="alternative-row ">
            <div class="alternative-category ">
                No Side Effects
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                <%= link_to 'Full List of Estrace Cream Side Effects', 'https://www.drugs.com/sfx/estrace-vaginal-cream-side-effects.html#for-professionals', target: '_blank' %>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Satisfaction Guarantee
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Policy Details', :anchor => "satisfaction" %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category">
                Live Chat, Text, Phone & Email Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i> We even have a <%= link_to 'private Facebook support group', 'https://www.facebook.com/groups/pelvichealthallies', target: '_blank' %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Easy to Order Online without Prescription & Delivered to your Doorstep
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
    </div>
</section>
