<% provide(:title, 'Looking for a Better Estrace Cream Alternative?') %>
<% provide(:description, 'NeuEve is a non-hormonal natural remedy for vaginal dryness invented by an OB/GYN, for $60/mo. See why women are switching from Estrace to NeuEve.') %>
<% provide(:last_modified, 'Jan 12, 2020') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item">
                <%= link_to 'Comparison', neueve_alternatives_path %>
            </li>
            <li class="breadcrumb-item active">Estrace Cream vs NeuEve for Vaginal Dryness</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">A Natural Remedy for Vaginal Dryness with Zero Estrogen</h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-text-column">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Is your search for a Estrace alternative is finally over?</h2>
                    <p class="text-lg text-muted">NeuEve is a natural remedy, invented by a gynecologist. NeuEve
                        has no hormones, no estrogen, and
                        is 100% plant-based.</p>
                    <p class="text-lg text-muted">NeuEve uses vitamins and essential oils to naturally rebalance vaginal pH and nourish vaginal tissues to relieve vaginal dryness.</p>
                    <p class="text-lg text-muted">Read on for a NeuEve vs Estrace comparison.</p>
                    <div class="text-center">
                        <%= link_to cream_path, class:'btn btn-large btn-warning add-to-cart rounded' do %>
                            <svg class="svg-icon"><use xlink:href="#label-tag-1"></use></svg>
                            Shop
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column">
                <%= image_tag 'Dr-Renjie-Chang-Founder-NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 about-text-column order-lg-2">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Natural, Wholesome Ingredients</h2>
                    <p class="text-lg text-muted">Safe ingredients you can pronounce:</p>
                    <p class="text-muted"><%= link_to 'Organic palm oil*', 'https://help.neueve.com/kb/ingredients/please-stop-using-palm-oil' %>
                        , organic coconut oil, organic beeswax,
                        evening primrose oil, organic sea buckthorn fruit oil, organic lavender
                        essential oil, organic orange oil, organic vitamin E (d-α
                        tocopherol), <%= link_to 'and a proprietary blend of nutrients', 'https://help.neueve.com/kb/ingredients/whats-in-the-proprietary-blend' %>
                        .</p>
                    <p class="text-lg text-muted">The hardest to pronounce is “sea buckthorn”, seriously! It’s actually quite a tongue-twister.</p>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column order-lg-1">
                <%= image_tag 'natural_vaginal_cream_NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="alternative-row ">
            <div class="alternative-product offset-md-4">
                NeuEve
            </div>
            <div class="alternative-product  ">
                Estrace Cream
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Cost
            </div>
            <div class="alternative-cell  ">
                $60/mo or $49/mo if you Subscribe
            </div>
            <div class="alternative-cell  ">
                <p>
                    Cost without
                    Insurance: <%= link_to '$368/mo', 'https://www.drugs.com/price-guide/estrace-vaginal-cream', target: '_blank', rel: 'nofollow' %>.
                </p>
                <p>
                    Apply
                    to <%= link_to "Allergan's Patient Assistance Program", 'https://www.allergan.com/responsibility/patient-resources/patient-assistance-programs/estrace', target: '_blank', rel: 'nofollow' %>
                    with proof of income and you may get a three month's supply for free.
                </p>
                <p>
                    Estrace Cream is NOT covered by
                    <%= link_to 'Medicare', 'https://www.goodrx.com/estrace/medicare-coverage?form=tube-of-cream&dosage=42.5g-of-0.01%25&quantity=1&days_supply=&label_override=Estrace', target: '_blank' %>
                    and <%= link_to 'some insurance plans', 'https://www.bcbsil.com/member/prescription-drug-plan-information/qhp-2019-benefit-changes', target: '_blank' %>.
                </p>
                <p>
                    The cost of a tube of Estrace cream has more than doubled from $184 in 2013 to $372 in 2018.
                    <%= link_to '- New York Times', 'https://www.nytimes.com/2018/06/03/health/vagina-womens-health-drug-prices.html', target: '_blank' %>
                </p>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Contains No Hormones 💉
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                Nonhormonal approaches are the first-line for atrophy symptoms experienced by women during or after
                treatment for breast cancer.
                <%= link_to '- ACOG', 'https://www.acog.org/Clinical-Guidance-and-Publications/Committee-Opinions/Committee-on-Gynecologic-Practice/The-Use-of-Vaginal-Estrogen-in-Women-With-a-History-of-Estrogen-Dependent-Breast-Cancer', target: '_blank' %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Contains No Estrogen
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>

            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                100% Plant-Based Ingredients 🌱
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                NeuEve Cream Ingredients:
                <div class="text-sm">
                    <%= link_to 'Organic palm oil*', 'https://help.neueve.com/kb/ingredients/please-stop-using-palm-oil' %>, organic coconut oil,
                    organic beeswax,
                    evening primrose oil, organic sea buckthorn fruit oil, organic lavender
                    essential oil, organic orange oil, organic vitamin E (d-α
                    tocopherol), <%= link_to 'and a proprietary blend of nutrients', 'https://help.neueve.com/kb/ingredients/whats-in-the-proprietary-blend' %>
                    .
                </div>
            </div>
            <div class="alternative-cell ">
                <i class='fas fa-times'></i>
                <%= link_to 'Estrace Cream Ingredients:', 'https://dailymed.nlm.nih.gov/dailymed/drugInfo.cfm?setid=dfc41fcd-c5ba-4b25-b647-cf04d3988b3e', target: '_blank' %>
                <div class="text-sm">
                    0.1 mg estradiol in a nonliquefying base
                    containing purified water, propylene glycol, stearyl alcohol, white ceresin wax, mono- and
                    diglycerides, hypromellose 2208 (4000 cps), sodium lauryl sulfate, methylparaben, edetate disodium
                    and tertiary-butylhydroquinone.
                </div>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Safe for Male Sexual Partner 💕
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                Men Absorb Estrogen from Vaginal Estrogen Cream During Sex
                <%= link_to "- Study", "https://www.ncbi.nlm.nih.gov/pubmed/18251358", target: '_blank' %>
                <hr>
                Hormone Creams Expose Pets and Children to Risk
                <%= link_to "- New York Times", "https://well.blogs.nytimes.com/2010/10/25/when-hormone-creams-expose-others-to-risks/", target: '_blank' %>
            </div>
        </div>

        <div class="alternative-row ">
            <div class="alternative-category ">
                Safe for Breastfeeding 🤱
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>

        <div class="alternative-row ">
            <div class="alternative-category ">
                Cruelty-Free 🐇
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Certified Cruelty Free', 'https://www.neueve.com/blog/cruelty-free-certified/', target: '_blank' %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                <%= link_to 'Allergan does Animal Testing', 'https://www.sourcewatch.org/index.php/Allergan#Animal_testing', target: '_blank' %>
                <hr>

                "Long-term continuous administration of estrogen in <strong>certain animal species</strong> increases
                the frequency of carcinomas"
                <%= link_to '-Estrace Prescribing Information', 'https://www.rxlist.com/estrace-vaginal-cream-drug.htm#precautions', target: '_blank' %>

            </div>
        </div>

        <!--<div class="alternative-row ">-->
            <!--<div class="alternative-category ">-->
                <!--No Side Effects-->
            <!--</div>-->
            <!--<div class="alternative-cell  ">-->
                <!--<i class='fas fa-check'></i>-->
            <!--</div>-->
            <!--<div class="alternative-cell  ">-->
                <!--<i class='fas fa-times'></i>-->
                <!--<%= link_to 'Full List of Estrace Cream Side Effects', 'https://www.drugs.com/sfx/estrace-vaginal-cream-side-effects.html#for-professionals', target: '_blank' %>-->
            <!--</div>-->
        <!--</div>-->
        <div class="alternative-row ">
            <div class="alternative-category ">
                Satisfaction Guarantee
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Policy Details', :anchor => "satisfaction" %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Email Support 📧
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Phone Support 📞
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Text Support <i class="fas fa-sms"></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                <a href="#" data-reamaze-lightbox="contact" data-reamaze-lightbox-anchored="true">Live Chat Support 💬</a>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Private Facebook Support Group <i class="fas fa-hand-holding-heart"></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Easy to Order Online without Prescription & Free Shipping 📦
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
    </div>
</section>
