<% provide(:title, 'Looking for a Better EstroGel Alternative?') %>
<% provide(:description, 'NeuEve is a non-hormonal natural remedy for vaginal dryness invented by an OB/GYN, for $60/mo. See why women are switching from EstroGel to NeuEve.') %>
<% provide(:last_modified, 'April 24, 2019') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item">
                <%= link_to 'Comparison', comparison_path %>
            </li>
            <li class="breadcrumb-item active">EstroGel vs NeuEve for Vaginal Dryness</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">A Natural Remedy for Vaginal Dryness with Zero Estrogen</h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-text-column">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Is your search for a EstroGel alternative is finally over?</h2>
                    <p class="text-lg text-muted">NeuEve is a natural remedy, invented by a gynecologist. NeuEve
                        has no hormones, no estrogen, and
                        is 100% plant-based.</p>
                    <p class="text-lg text-muted">NeuEve uses vitamins and essential oils to naturally rebalance vaginal pH and nourish vaginal tissues to relieve vaginal dryness.</p>
                    <p class="text-lg text-muted">Read on for a NeuEve vs EstroGel comparison.</p>
                    <div class="text-center">
                        <%= link_to cream_path, class:'btn btn-large btn-warning add-to-cart rounded' do %>
                            <svg class="svg-icon"><use xlink:href="#label-tag-1"></use></svg>
                            Shop
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column">
                <%= image_tag 'Dr-Renjie-Chang-Founder-NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 about-text-column order-lg-2">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Natural, Wholesome Ingredients</h2>
                    <p class="text-lg text-muted">Safe ingredients you can pronounce:</p>
                    <p class="text-muted"><%= link_to 'Sustainable palm oil*', faq_path(:anchor => 'tropicalTraditions') %>
                        , coconut oil, beeswax,
                        evening primrose oil, sea buckthorn fruit oil, lavender
                        essential oil, orange oil, vitamin E (d-α
                        tocopherol), <%= link_to 'and a proprietary blend of nutrients', faq_path(:anchor => 'proprietaryBlend') %>
                        .</p>
                    <p class="text-lg text-muted">The hardest to pronounce is “sea buckthorn”, seriously! It’s actually quite a tongue-twister.</p>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column order-lg-1">
                <%= image_tag 'natural_vaginal_cream_NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="alternative-row ">
            <div class="alternative-product offset-md-4">
                NeuEve
            </div>
            <div class="alternative-product  ">
                EstroGel
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Pricing
            </div>
            <div class="alternative-cell  ">
                $60/mo or $49/mo if you Subscribe
            </div>
            <div class="alternative-cell  ">
                <p>
                    Price without
                    Insurance: <%= link_to '$135/mo', 'https://www.drugs.com/price-guide/estrogel', target: '_blank', rel: 'nofollow' %>.
                </p>
                <p>
                    With an <%= link_to "EstroGel Savings Card", 'https://webrebate.trialcard.com/webrebate/EstroGelPortal/', target: '_blank', rel: 'nofollow' %>
                    you can save up to $35/mo on EstroGel, paying $25/mo for your insurance copay.
                </p>
                <p>
                    EstroGel is NOT covered by
                    <%= link_to 'Medicare', 'https://www.goodrx.com/estrogel/medicare-coverage', target: '_blank' %>.
                </p>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Contains No Hormones
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                Nonhormonal approaches are the first-line for atrophy symptoms experienced by women during or after
                treatment for breast cancer.
                <%= link_to '- ACOG', 'https://www.acog.org/Clinical-Guidance-and-Publications/Committee-Opinions/Committee-on-Gynecologic-Practice/The-Use-of-Vaginal-Estrogen-in-Women-With-a-History-of-Estrogen-Dependent-Breast-Cancer', target: '_blank' %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Contains No Estrogen
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                100% Plant-Based Ingredients
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                NeuEve Cream Ingredients:
                <div class="text-sm">
                    <%= link_to 'Sustainable palm oil*', faq_path(:anchor => 'tropicalTraditions') %>, coconut oil,
                    beeswax,
                    evening primrose oil, sea buckthorn fruit oil, lavender
                    essential oil, orange oil, vitamin E (d-α
                    tocopherol), <%= link_to 'and a proprietary blend of nutrients', faq_path(:anchor => 'proprietaryBlend') %>
                    .
                </div>
            </div>
            <div class="alternative-cell ">
                <i class='fas fa-times'></i>
                <%= link_to 'EstroGel Ingredients:', 'https://dailymed.nlm.nih.gov/dailymed/drugInfo.cfm?setid=87bb0e2f-9fa6-438b-9d5f-d0a90af770ed', target: '_blank' %>
                <div class="text-sm">
                    <p>
                        Active Ingredient: estradiol
                    </p>
                    <p>
                        Inactive Ingredients: purified water, alcohol,
                        <%= link_to 'triethanolamine', 'https://en.wikipedia.org/wiki/Triethanolamine', target: '_blank' %>
                        and
                        <%= link_to 'carbomer 934P', 'https://en.wikipedia.org/wiki/Polyacrylic_acid', target: '_blank' %>
                    </p>
                </div>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Safe for Male Sexual Partner
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                Men Absorb Estrogen from Skin-to-Skin Contact
                <%= link_to "- Study", "https://accpjournals.onlinelibrary.wiley.com/doi/pdf/10.1592/phco.28.6.712", target: '_blank' %>
                <hr>
                Hormone Creams Expose Pets and Children to Risk
                <%= link_to "- New York Times", "https://well.blogs.nytimes.com/2010/10/25/when-hormone-creams-expose-others-to-risks/", target: '_blank' %>
            </div>
        </div>

        <div class="alternative-row ">
            <div class="alternative-category ">
                Cruelty-Free
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Certified Cruelty Free', 'https://www.neueve.com/blog/cruelty-free-certified/', target: '_blank' %>
                <div class="text-center ">
                    <%= link_to image_tag('LeapingBunny-Logo.png', :class => 'img-fluid seal',
                                          alt: 'Leaping Bunny Seal'), 'https://www.neueve.com/blog/cruelty-free-certified/' %>
                </div>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                "Long-term continuous administration of estrogen in <strong>certain animal species</strong> increases
                the frequency of carcinomas"
                <%= link_to '-EstroGel Prescribing Information', 'https://www.rxlist.com/estrogel-drug.htm#warnings', target: '_blank' %>
            </div>
        </div>

        <!--<div class="alternative-row ">-->
            <!--<div class="alternative-category ">-->
                <!--No Side Effects-->
            <!--</div>-->
            <!--<div class="alternative-cell  ">-->
                <!--<i class='fas fa-check'></i>-->
            <!--</div>-->
            <!--<div class="alternative-cell  ">-->
                <!--<i class='fas fa-times'></i>-->
                <!--<%= link_to 'Full List of EstroGel Side Effects', 'https://www.drugs.com/sfx/estrace-vaginal-cream-side-effects.html#for-professionals', target: '_blank' %>-->
            <!--</div>-->
        <!--</div>-->
        <div class="alternative-row ">
            <div class="alternative-category ">
                Satisfaction Guarantee
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Policy Details', :anchor => "satisfaction" %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Email Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Phone Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Text Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Live Chat Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Private Facebook Support Group
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Easy to Order Online without Prescription & Free Shipping
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
    </div>
</section>
