<% provide(:title, 'An Affordable FemiLift Alternative (Without Laser Burns)') %>
<% provide(:description, 'NeuEve is a natural remedy for vaginal rejuvenation invented by an OB/GYN, for $60/mo. See why women are switching from FemiLift to NeuEve.') %>
<% provide(:last_modified, 'Jan 12, 2020') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item">
                <%= link_to 'Comparison', neueve_alternatives_path %>
            </li>
            <li class="breadcrumb-item active">FemiLift vs NeuEve for Vaginal Rejuvenation</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">A Safe FemiLift Alternative that's <em>Actually Affordable</em></h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-text-column">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Your search for a FemiLift alternative is finally over</h2>
                    <p class="text-lg text-muted">No kidding.</p>
                    <p class="text-lg text-muted">NeuEve is a natural remedy, invented by a gynecologist. NeuEve has no hormones, no estrogen, and
                        is 100% plant-based.</p>
                    <p class="text-lg text-muted">NeuEve uses vitamins and essential oils to naturally rebalance vaginal pH and nourish vaginal tissues to relieve vaginal dryness.</p>
                    <p class="text-lg text-muted">Read on for a NeuEve vs FemiLift comparison.</p>
                    <div class="text-center">
                        <%= link_to cream_path, class:'btn btn-large btn-warning add-to-cart rounded' do %>
                            <svg class="svg-icon"><use xlink:href="#label-tag-1"></use></svg>
                            Shop
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column">
                <%= image_tag 'Dr-Renjie-Chang-Founder-NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 about-text-column order-lg-2">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">The Non-Invasive, Non-Hormonal Option</h2>

                    <p class="text-lg text-muted">Put down that radio-frequency gun!</p>
                    <p class="text-lg text-muted">Instead try our luxuriously natural, non-hormonal vaginal creams and suppositories OB/GYN-formulated
                    to relieve vaginal dryness and painful sex.</p>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column order-lg-1">
                <%= image_tag 'product/cream/NeuEve_Cream_Lavender.jpg', class: 'bg-image' %>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="alternative-row ">
            <div class="alternative-product offset-md-4 ">
                NeuEve
            </div>
            <div class="alternative-product  ">
                FemiLift
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Cost
            </div>
            <div class="alternative-cell  ">
                <p>Pay as You Go: $60/mo</p>
                <p>Subscribe: $49/mo</p>

                <p>$600 per year</p>
            </div>
            <div class="alternative-cell  ">
                <p>
                    <%=link_to 'Average Cost: $2,600. Range: $925 to $4,500', 'https://www.realself.com/femilift/cost', target: '_blank', rel: 'nofollow'%>
                    for 3 treatments for the first year.
                </p>
                <p>
                    FemiLift is NOT covered by insurance or Medicare.
                </p>
            </div>
        </div>
        <div class="alternative-row">
            <div class="alternative-category">
                No Risk of Laser Burns or Scarring
            </div>
            <div class="alternative-cell">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell">
                <p><i class='fas fa-times'></i>
                    On July 24th, 2018, the FDA issued a
                    <%= link_to 'serious warning letter to Alma Lasers.', 'https://www.fda.gov/downloads/MedicalDevices/ResourcesforYou/Industry/UCM615121.pdf', target: '_blank' %>
                </p>
                <p>
                    On Dec 3rd, 2018,
                    <%= link_to "Alma Lasers Completed the Inquiry from the FDA.", 'https://www.prnewswire.com/news-releases/alma-a-sisram-medical-company-receives-notice-of-completion-of-inquiry-from-fda-for-femilift-tm-pixel-co2-system-816233600.html', target: '_blank', rel: 'nofollow' %>
                </p>
                <p>
                    The FDA issued a safety alert that laser-based therapies have
                    <%= link_to 'burned and scarred women.', 'https://www.fda.gov/MedicalDevices/Safety/AlertsandNotices/ucm615013.htm', target: '_blank' %>
                </p>
                <hr>
                <p>
                    ACOG (American College of Obstetricians and Gynecologists)
                    <%= link_to 'stated their position', 'https://www.acog.org/Clinical-Guidance-and-Publications/Position-Statements/Fractional-Laser-Treatment-of-Vulvovaginal-Atrophy-and-US-Food-and-Drug-Administration-Clearance', target: '_blank' %>
                    that CO<sub>2</sub> Lasers are "neither approved nor cleared
                    by the FDA for the specific indication of treating vulvovaginal atrophy."
                </p>
                <p>
                    The
                    <%= link_to "2019 ACOG Committee Opinion", 'https://www.acog.org/Clinical-Guidance-and-Publications/Committee-Opinions/Committee-on-Gynecologic-Practice/Vaginal-Rejuvenation-and-Cosmetic-Vaginal-Procedures', target: '_blank' %>
                    is that patients may be traumatized by undergoing an unproven surgical procedure with obvious risks
                    like infection, altered sensation, dyspareunia, adhesions, and scarring.
                </p>
            </div>
        </div>
        <div class="alternative-row">
            <div class="alternative-category ">
                100% Plant-Based, Natural Ingredients
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                NeuEve Cream Ingredients:
                <div class="text-sm">
                    <%= link_to 'Organic palm oil*', faq_path(:anchor => 'tropicalTraditions') %>, organic coconut oil,
                    beeswax,
                    evening primrose oil, organic sea buckthorn fruit oil, lavender
                    essential oil, orange oil, vitamin E (d-α
                    tocopherol), <%= link_to 'and a proprietary blend of nutrients', faq_path(:anchor => 'proprietaryBlend') %>
                    .
                </div>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Cruelty-Free
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Certified Cruelty Free', 'https://www.neueve.com/blog/cruelty-free-certified/', target: '_blank'%>
                <div class="text-center ">
                    <%= link_to image_tag('LeapingBunny-Logo.png', :class => 'img-fluid seal',
                                          alt: 'Leaping Bunny Seal'), 'https://www.neueve.com/blog/cruelty-free-certified/' %>
                </div>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-question text-primary'></i>
                <p>
                    FemiLift was created by <%= link_to 'Alma Lasers.', 'https://www.bloomberg.com/research/stocks/private/snapshot.asp?privcapId=39948987', target: '_blank' %>
                </p>
                <p>
                    Alma Lasers is owned by
                    <%= link_to 'Sisram', 'https://www.bloomberg.com/research/stocks/private/snapshot.asp?privcapid=369790636', target: '_blank' %>,
                    and Israeli company.
                </p>
                <p>
                    Sisram is majority owned by
                    <%= link_to 'Fosun Pharma', 'https://www.bloomberg.com/research/stocks/private/snapshot.asp?privcapId=22239281', target: '_blank' %>,
                    a major Chinese pharmaceutical company.
                </p>
                <p>
                    We could not confirm whether Alma Lasers (USA), Sisram (Israel), or Fosun Pharma (China) do animal
                    testing, nor could we find evidence of a pledge to be cruelty-free.
                </p>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Manufactured in USA 🇺🇸
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times text-primary'></i> FemiLift is manufactured in Israel.
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Satisfaction Guarantee
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Policy Details', :anchor => "satisfaction" %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Email Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Phone Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Text Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Live Chat Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Private Facebook Support Group
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Free Shipping & Delivered to your Doorstep
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
    </div>
</section>
