<% provide(:title, 'An Affordable MonaLisa Touch Alternative (Without Burns)') %>
<% provide(:description, 'NeuEve is a natural remedy for vaginal rejuvenation invented by an OB/GYN, for $60/mo. See why women are switching from MonaLisa Touch to NeuEve.') %>
<% provide(:last_modified, 'April 24, 2019') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item">
                <%= link_to 'Comparison', comparison_path %>
            </li>
            <li class="breadcrumb-item active">MonaLisa Touch vs NeuEve for Vaginal Rejuvenation</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">A Safe MonaLisa Touch Alternative that's <em>Actually Affordable</em></h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-text-column">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Your search for a MonaLisa Touch alternative is finally over</h2>
                    <p class="text-lg text-muted">No kidding.</p>
                    <p class="text-lg text-muted">NeuEve is a natural remedy, invented by a gynecologist. NeuEve has no hormones, no estrogen, and
                        is 100% plant-based.</p>
                    <p class="text-lg text-muted">NeuEve uses vitamins and essential oils to naturally rebalance vaginal pH and nourish vaginal tissues to relieve vaginal dryness.</p>
                    <p class="text-lg text-muted">Read on for a NeuEve vs MonaLisa Touch comparison.</p>
                    <div class="text-center">
                        <%= link_to cream_path, class:'btn btn-large btn-warning add-to-cart rounded' do %>
                            <svg class="svg-icon"><use xlink:href="#label-tag-1"></use></svg>
                            Shop
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column">
                <%= image_tag 'Dr-Renjie-Chang-Founder-NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 about-text-column order-lg-2">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">The Non-Invasive, Non-Hormonal Option</h2>

                    <p class="text-lg text-muted">Put down that laser gun!</p>
                    <p class="text-lg text-muted">Instead try our luxuriously natural, non-hormonal vaginal creams and suppositories OB/GYN-formulated
                    to relieve vaginal dryness and painful sex.</p>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column order-lg-1">
                <%= image_tag 'natural_vaginal_cream_NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="alternative-row ">
            <div class="alternative-product offset-md-4 ">
                NeuEve
            </div>
            <div class="alternative-product  ">
                MonaLisa Touch
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Pricing
            </div>
            <div class="alternative-cell  ">
                <p>Pay as You Go: $60/mo</p>
                <p>Subscribe: $49/mo</p>
                <p>$600 per year</p>
            </div>
            <div class="alternative-cell  ">
                <p>
                    <%=link_to 'Average Cost: $2,000. Range: $1,200 to $2,800', 'https://www.realself.com/monalisa-touch/cost', target: '_blank', rel: 'nofollow'%>
                    for 3 treatments for the first year.
                </p>
                <p>
                    One follow-up appointment per year: <%=link_to '$500 to $1000 per year afterwards', 'https://www.realself.com/question/chicago-il-monalisa-touch-treatment-year-year-follow-operations-cost', target: '_blank', rel: 'nofollow'%>
                </p>
                <p>
                    Mona Lisa Touch is NOT covered by insurance or Medicare. Mona Lisa Touch does not have a patient assistance program.
                </p>
            </div>
        </div>
        <div class="alternative-row">
            <div class="alternative-category">
                No Risk of Laser Burns or Scarring
            </div>
            <div class="alternative-cell">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell">
                <p><i class='fas fa-times'></i>
                    The FDA has issued a
                    <%= link_to 'serious warning letter to MonaLisa Touch.', 'https://www.fda.gov/downloads/MedicalDevices/ResourcesforYou/Industry/UCM615120.pdf', target: '_blank' %>
                </p>

                <p>
                    The FDA issued a safety alert that laser-based therapies have
                    <%= link_to 'burned and scarred women.', 'https://www.fda.gov/MedicalDevices/Safety/AlertsandNotices/ucm615013.htm', target: '_blank' %>
                </p>
                <p>
                    MonaLisa Touch FDA Adverse Events:
                    <%= link_to '1', 'https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfMAUDE/detail.cfm?mdrfoi__id=5658696&pc=GEX', target: '_blank' %>,
                    <%= link_to '2', 'https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfMAUDE/detail.cfm?mdrfoi__id=7772703&pc=GEX', target: '_blank' %>,
                    <%= link_to '3', 'https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfMAUDE/detail.cfm?mdrfoi__id=7797154&pc=GEX', target: '_blank' %>,
                    <%= link_to 'More', 'https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfMAUDE/results.cfm?start_search=1&productcode=&productproblem=&devicename=&modelNumber=&reportNumber=&manufacturer=&brandname=mona%20lisa&eventtype=&reportdatefrom=03%2F01%2F2013&reportdateto=03%2F31%2F2019&pagenum=10', target: '_blank' %>
                </p>
                <p>
                    ACOG (American College of Obstetricians and Gynecologists)
                    <%= link_to 'stated their position', 'https://www.acog.org/Clinical-Guidance-and-Publications/Position-Statements/Fractional-Laser-Treatment-of-Vulvovaginal-Atrophy-and-US-Food-and-Drug-Administration-Clearance', target: '_blank' %>
                    that CO<sub>2</sub> Lasers are "neither approved nor cleared
                    by the FDA for the specific indication of treating vulvovaginal atrophy."
                </p>
                <p>
                    The
                    <%= link_to "2019 ACOG Committee Opinion", 'https://www.acog.org/Clinical-Guidance-and-Publications/Committee-Opinions/Committee-on-Gynecologic-Practice/Vaginal-Rejuvenation-and-Cosmetic-Vaginal-Procedures', target: '_blank' %>
                    is that patients may be traumatized by undergoing an unproven surgical procedure with obvious risks
                    like infection, altered sensation, dyspareunia, adhesions, and scarring.
                </p>
            </div>
        </div>
        <div class="alternative-row">
            <div class="alternative-category ">
                100% Plant-Based, Natural Ingredients
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                NeuEve Cream Ingredients:
                <div class="text-sm">
                    <%= link_to 'Organic palm oil*', faq_path(:anchor => 'tropicalTraditions') %>, organic coconut oil,
                    beeswax,
                    evening primrose oil, organic sea buckthorn fruit oil, lavender
                    essential oil, orange oil, vitamin E (d-α
                    tocopherol), <%= link_to 'and a proprietary blend of nutrients', faq_path(:anchor => 'proprietaryBlend') %>
                    .
                </div>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Cruelty-Free
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Certified Cruelty Free', 'https://www.neueve.com/blog/cruelty-free-certified/', target: '_blank'%>
                <div class="text-center ">
                    <%= link_to image_tag('LeapingBunny-Logo.png', :class => 'img-fluid seal',
                                          alt: 'Leaping Bunny Seal'), 'https://www.neueve.com/blog/cruelty-free-certified/' %>
                </div>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                The developers of MonaLisa Touch,
                <%= link_to 'Hologic', 'http://crueltyfreeinvesting.org/companies/hologic-inc/', target: '_blank'%> and
                <%= link_to 'CynoSure, employ Animal Testing', 'http://crueltyfreeinvesting.org/companies/cynosure-inc/', target: '_blank'%>.
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Manufactured in USA
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i> MonaLisa Touch is manufactured in Italy
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Satisfaction Guarantee
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Policy Details', :anchor => "satisfaction" %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Email Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Phone Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Text Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Live Chat Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Private Facebook Support Group
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Free Shipping & Delivered to your Doorstep
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
    </div>
</section>
