<% provide(:title, 'Looking for a Natural Premarin Cream Alternative (with No Hormones)?') %>
<% provide(:description, 'Is NeuEve a natural alternative to Premarin Cream? See why women are switching from Premarin to NeuEve.') %>
<% provide(:last_modified, 'March 24, 2019') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item">
                <%= link_to 'Comparison', comparison_path %>
            </li>
            <li class="breadcrumb-item active">Premarin Cream vs NeuEve for Vaginal Dryness</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">A Natural Remedy for Vaginal Dryness with Zero Estrogen</h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-text-column">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Could your search for a Premarin alternative finally be over?</h2>
                    <p class="text-lg text-muted">NeuEve is a natural remedy, invented by a gynecologist. NeuEve has no hormones, no estrogen, and
                        is 100% plant-based.</p>
                    <p class="text-lg text-muted">NeuEve uses vitamins and essential oils to naturally rebalance vaginal pH and nourish vaginal tissues to relieve vaginal dryness.</p>
                    <p class="text-lg text-muted">Read on for a NeuEve vs Premarin comparison.</p>

                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column">
                <%= image_tag 'Dr-Renjie-Chang-Founder-NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 about-text-column order-lg-2">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Clean Ingredients and a Clear Conscience</h2>
                    <p class="text-lg text-muted">NeuEve is made out of real, natural ingredients you can pronounce:</p>
                    <p class="text-muted"><%= link_to 'Sustainable palm oil*', faq_path(:anchor => 'tropicalTraditions') %>, coconut oil, beeswax,
                        evening primrose oil, sea buckthorn fruit oil, lavender
                        essential oil, orange oil, vitamin E (d-α
                        tocopherol), <%= link_to 'and a proprietary blend of nutrients', faq_path(:anchor => 'proprietaryBlend') %>.</p>
                    <p class="text-lg text-muted">The hardest to pronounce is “sea buckthorn”, seriously! It’s actually quite a tongue-twister.</p>

                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column order-lg-1">
                <%= image_tag 'natural_vaginal_cream_NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="alternative-row ">
            <div class="alternative-product offset-md-4">
                NeuEve
            </div>
            <div class="alternative-product  ">
                Premarin Cream
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Pricing
            </div>
            <div class="alternative-cell  ">
                $60/mo or $49/mo if you Subscribe
            </div>
            <div class="alternative-cell  ">
                <p>
                    Price without Insurance: <%=link_to '$398/mo', 'https://www.drugs.com/price-guide/premarin-vaginal', target: '_blank', rel: 'nofollow'%>.
                    Apply to <%=link_to "Pfizer's Patient Assistance Program", 'https://www.pfizerrxpathways.com/', target: '_blank', rel: 'nofollow'%>  with proof of income and you may get it for free.
                </p>
                <p>
                    Price with Insurance: Ranges between $25 to $70. If you qualify and apply for a manufacturer's savings card you can save $55/mo.
                </p>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Contains No Hormones
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                Nonhormonal approaches are the first-line for atrophy symptoms experienced by women during or after
                treatment for breast cancer.
                <%= link_to '- ACOG', 'https://www.acog.org/Clinical-Guidance-and-Publications/Committee-Opinions/Committee-on-Gynecologic-Practice/The-Use-of-Vaginal-Estrogen-in-Women-With-a-History-of-Estrogen-Dependent-Breast-Cancer' %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Contains No Estrogen
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                100% Plant-Based Ingredients
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i> Premarin is made from Horse Urine
                <%= link_to '- Snopes', 'https://www.snopes.com/fact-check/premarin/', target: '_blank'%>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Safe for Male Sexual Partner
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                Men Absorb Estrogen from Vaginal Estrogen Cream During Sex
                <%= link_to "- Study", "https://www.ncbi.nlm.nih.gov/pubmed/18251358", target: '_blank' %>
                <hr>
                Hormone Creams Expose Pets and Children to Risk
                <%= link_to "- New York Times", "https://well.blogs.nytimes.com/2010/10/25/when-hormone-creams-expose-others-to-risks/", target: '_blank' %>
            </div>
        </div>

        <div class="alternative-row ">
            <div class="alternative-category ">
                Cruelty-Free
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Certified Cruelty Free', 'https://www.neueve.com/blog/cruelty-free-certified/', target: '_blank'%>
                <div class="text-center ">
                    <%= link_to image_tag('LeapingBunny-Logo.png', :class => 'img-fluid seal',
                                          alt: 'Leaping Bunny Seal'), 'https://www.neueve.com/blog/cruelty-free-certified/' %>
                </div>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                <%= link_to 'Read about Undercover Investigation of PMU Farms', 'http://www.fundforanimals.org/duchess-sanctuary/about-the-duchess-sanctuary/pregnant-mare-urine.html', target: '_blank'%>
            </div>
        </div>

        <!--<div class="alternative-row ">-->
            <!--<div class="alternative-category ">-->
                <!--No Side Effects-->
            <!--</div>-->
            <!--<div class="alternative-cell  ">-->
                <!--<i class='fas fa-check'></i>-->
            <!--</div>-->
            <!--<div class="alternative-cell  ">-->
                <!--<i class='fas fa-times'></i>-->
                <!--<%= link_to 'Full List of Premarin Cream Side Effects', 'https://www.drugs.com/sfx/premarin-vaginal-side-effects.html#for-professionals', target: '_blank'%>-->
                <!--<hr>-->
                <!--Women taking Premarin had an increased risk of heart attack, blood clots and stroke-->
                <!--<%= link_to '- Study', 'https://www.nwhn.org/menopause-hormone-therapy-and-heart-disease/', target: '_blank'%>-->
            <!--</div>-->
        <!--</div>-->
        <div class="alternative-row ">
            <div class="alternative-category ">
                Satisfaction Guarantee
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Policy Details', :anchor => "satisfaction" %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Email Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Phone Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Text Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Live Chat Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Private Facebook Support Group
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Easy to Order Online without Prescription & Free Shipping
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
    </div>
</section>
