<% provide(:title, "A Better RepHresh Alternative") %>
<% provide(:description, "NeuEve is a natural remedy for bacterial vaginosis that's better for you and better for the planet. See why women are switching from RepHresh to NeuEve.") %>
<% provide(:last_modified, 'August 12, 2020') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item">
                <%= link_to 'Comparison', neueve_alternatives_path %>
            </li>
            <li class="breadcrumb-item active">RepHresh vs NeuEve for Bacterial Vaginosis</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">A RepHresh Alternative that Breaks the Cycle of Bacterial Vaginosis</h1>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-text-column">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Your search for a natural RepHresh alternative is finally over</h2>
                    <p class="text-lg text-muted">No kidding.</p>
                    <h5>Introducing NeuEve.</h5>
                    <p class="text-lg text-muted">NeuEve is a natural remedy for vaginal odor, invented by a gynecologist. NeuEve has no synthetic chemicals and
                        is 100% plant-based.</p>
                    <p class="text-lg text-muted">NeuEve uses vitamins and essential oils to naturally rebalance vaginal pH and break the cycle of bad vaginal odor.</p>
                    <p class="text-lg text-muted">Read on for a NeuEve vs RepHresh comparison.</p>
                    <div class="text-center">
                        <%= link_to bv_clear_path, class:'btn btn-large btn-warning add-to-cart rounded' do %>
                            <svg class="svg-icon"><use xlink:href="#label-tag-1"></use></svg>
                            Shop
                        <% end %>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column">
                <%= image_tag 'Dr-Renjie-Chang-Founder-NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 about-text-column order-lg-2">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">The All-Natural Option</h2>

                    <p class="text-lg text-muted">Put down that tube of glycerin (a.k.a. yeast food) and methyl-, ethyl-, propyl-parabens!</p>
                    <p class="text-lg text-muted">Instead try our luxuriously natural vaginal creams and suppositories OB/GYN-formulated
                    with all-natural ingredients you can actually pronounce.</p>
                    <p class="text-lg text-muted">The hardest to pronounce is “sea buckthorn”, seriously! It’s actually quite a tongue-twister.</p>

                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column order-lg-1">
                <%= image_tag 'product/bv_clear/NeuEve_BV_Clear_Bush.jpg', class: 'bg-image' %>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="alternative-row ">
            <div class="alternative-product offset-md-4 ">
                NeuEve
            </div>
            <div class="alternative-product  ">
                RepHresh
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Cost
            </div>
            <div class="alternative-cell  ">
                <p>$43</p>
                <p>$38/mo if you Subscribe</p>
            </div>
            <div class="alternative-cell  ">
                <p>$34</p>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Supports Healthy Vaginal Bacteria
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                45 strains of yeast grow in pure glycerin
                <%= link_to "- Journal of Bioresource Technology",'https://pubmed.ncbi.nlm.nih.gov/22342043/', target: '_blank'%>
                </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Does Not Damage Vaginal Wall
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                Lubricants containing glycerin were associated with marked reduction in barrier properties, tissue
                morphological damage and loss of apical layer.
                <%= link_to "- Journal of Toxicology Reports",'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5977164/', target: '_blank'%>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Ends Recurrent Vaginal Odor for Good
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                94% of NeuEve customers reported relief from fishy vaginal odors after completing 9 days.
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                Lasts 3 days
            </div>
        </div>
        <div class="alternative-row">
            <div class="alternative-category ">
                100% Plant-Based 🌱, Natural Ingredients
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                NeuEve BV Clear Ingredients:
                <div class="text-sm">
                    <%= link_to 'Organic palm oil*', 'https://help.neueve.com/kb/ingredients/please-stop-using-palm-oil' %> , organic coconut oil,
                    organic beeswax, organic tapioca starch,
                    organic potato starch, evening primrose oil, organic sea buckthorn fruit oil, organic lavender essential oil, organic orange
                    oil, organic vitamin
                    E (d-α tocopherol), <%= link_to 'and a proprietary blend of nutrients.',
                                                    'https://help.neueve.com/kb/ingredients/whats-in-the-proprietary-blend' %>
                </div>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                <%= link_to 'RepHresh Ingredients:', 'https://churchdwight.com/ingredient-disclosure/feminine-hygiene/42000249-rephresh-gel.aspx', target: '_blank' %>
                <div class="text-sm">
                    <p>
                        Purified water, Glycerin, Polycarbophil, Carbomer homopolymer type B,
                        <%= link_to 'Ethylparaben sodium, Methylparaben sodium, Propylparaben sodium,','http://www.safecosmetics.org/get-the-facts/chemicals-of-concern/parabens/', target: '_blank'%>
                         Sodium hydroxide (lye)
                    </p>
                </div>

            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Safe for Breastfeeding 🤱
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-question'></i>
                Consult a Doctor
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Cruelty-Free 🐇
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Certified Cruelty Free', 'https://www.neueve.com/blog/cruelty-free-certified/', target: '_blank'%>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                Church & Dwight is NOT cruelty-free or vegan.
                <%= link_to "- Cruelty Free Mom", "https://crueltyfreemom.com/is-church-dwight-cruelty-free/", target: '_blank' %>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Giving Back
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i> NeuEve is a member of
                <%= link_to "1% for the Planet.", 'http://www.onepercentfortheplanet.org/', target: '_blank'%>
                We believe it's the right to do to protect our planet.
                <div class="text-center" >
                        <%= link_to image_tag('OnePercentFTP.png', :class => 'img-fluid seal',
                                              alt: 'One Percent for the Planet', style:'max-height: 250px'), 'http://www.onepercentfortheplanet.org/', target: '_blank' %>
                </div>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Manufactured in USA 🇺🇸
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Satisfaction Guarantee
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Policy Details', :anchor => "satisfaction" %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Email Support 📧
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Phone Support 📞
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Text Support <i class="fas fa-sms"></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                <a href="#" data-reamaze-lightbox="contact" data-reamaze-lightbox-anchored="true">Live Chat Support 💬</a>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Private Facebook Support Group <i class="fas fa-hand-holding-heart"></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Free Shipping & Delivered to your Doorstep 📦
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
    </div>
</section>

<%= render 'layouts/order_now_bv' %>