<% provide(:title, "A Better Summers Eve Alternative") %>
<% provide(:description, "NeuEve is a natural remedy for vaginal odor that's better for you and better for the planet. See why women are switching from Summer's Eve to NeuEve.") %>
<% provide(:last_modified, 'April 24, 2019') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item">
                <%= link_to 'Comparison', comparison_path %>
            </li>
            <li class="breadcrumb-item active">Summer's Eve vs NeuEve for Vaginal Odor</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">A Summer's Eve Alternative that Breaks the Cycle of Vaginal Odor</h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-text-column">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Your search for a Summer's Eve alternative is finally over</h2>
                    <p class="text-lg text-muted">No kidding.</p>
                    <h5>Introducing NeuEve.</h5>
                    <p class="text-lg text-muted">NeuEve is a natural remedy for vaginal odor, invented by a gynecologist. NeuEve has no synthetic chemicals and
                        is 100% plant-based.</p>
                    <p class="text-lg text-muted">NeuEve uses vitamins and essential oils to naturally rebalance vaginal pH and break the cycle of bad vaginal odor.</p>
                    <p class="text-lg text-muted">Read on for a NeuEve vs Summer's Eve comparison.</p>
                    <div class="text-center">
                        <%= link_to bacterial_vaginosis_vaginal_odor_path, class:'btn btn-large btn-warning add-to-cart rounded' do %>
                            <svg class="svg-icon"><use xlink:href="#label-tag-1"></use></svg>
                            Shop
                        <% end %>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column">
                <%= image_tag 'Dr-Renjie-Chang-Founder-NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 about-text-column order-lg-2">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">The All-Natural Option</h2>

                    <p class="text-lg text-muted">Put down that douche! Put down that chemical wash!</p>
                    <p class="text-lg text-muted">Instead try our luxuriously natural vaginal creams and suppositories OB/GYN-formulated
                    with all-natural ingredients you can actually pronounce.</p>
                    <p class="text-lg text-muted">The hardest to pronounce is “sea buckthorn”, seriously! It’s actually quite a tongue-twister.</p>

                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column order-lg-1">
                <%= image_tag 'BV_Clear.jpg', class: 'bg-image' %>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="alternative-row ">
            <div class="alternative-product offset-md-4 ">
                NeuEve
            </div>
            <div class="alternative-product  ">
                Summer's Eve
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Pricing
            </div>
            <div class="alternative-cell  ">
                <p>$43</p>
                <p>$38/mo if you Subscribe</p>
            </div>
            <div class="alternative-cell  ">
                $2 - $5
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Supports Healthy Vaginal Bacteria
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                Don’t douche. Douching destroys the balance of vaginal flora and natural acidity in a healthy vagina.
                <%= link_to "- Office on Women's Health, ",'https://www.womenshealth.gov/files/documents/fact-sheet-douching.pdf', target: '_blank'%>
                <%= link_to "ACOG",'https://www.acog.org/Patients/FAQs/Vulvovaginal-Health', target: '_blank'%>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Ends Recurrent Vaginal Odor for Good
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                94% of NeuEve customers reported relief from fishy vaginal odors after completing 9 days.
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                When your vaginal ecology is disrupted, you can find yourself dealing with discharge,
                vaginal odors, and <strong>recurrent yeast or BV infections.</strong>
                <%= link_to "- Dr. Aviva Romm, MD",'https://avivaromm.com/healthy-vagina-smell/', target: '_blank'%>
            </div>
        </div>
        <div class="alternative-row">
            <div class="alternative-category ">
                100% Plant-Based, Natural Ingredients
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                NeuEve BV Clear Ingredients:
                <div class="text-sm">
                    <%= link_to 'Organic palm oil*', faq_path(:anchor => 'tropicalTraditions') %> , organic coconut oil,
                    beeswax, organic tapioca starch,
                    organic potato starch, evening primrose oil, organic sea buckthorn fruit oil, lavender essential oil, orange
                    oil, vitamin
                    E (d-α tocopherol), <%= link_to 'and a proprietary blend of nutrients.',
                                                    faq_path(:anchor => 'proprietaryBlend') %>
                </div>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                <%= link_to "Summer's Eve Medicated Douche Ingredients:", 'https://dailymed.nlm.nih.gov/dailymed/drugInfo.cfm?setid=46f59721-0d24-4b42-ab3b-b250744da1e3&audience=consumer', target: '_blank' %>
                <div class="text-sm">
                    <%= link_to 'Povidone-Iodine 0.3%','https://en.wikipedia.org/wiki/Povidone-iodine', target: '_blank'%>
                    , citric acid,
                    <%= link_to 'edetate disodium','https://en.wikipedia.org/wiki/Ethylenediaminetetraacetic_acid', target: '_blank'%>
                    , purified water,
                    <%= link_to 'sodium benzoate','https://en.wikipedia.org/wiki/Sodium_benzoate', target: '_blank'%>,
                    <%= link_to 'sodium lauryl sulfate','https://en.wikipedia.org/wiki/Sodium_dodecyl_sulfate', target: '_blank'%>,
                    <%= link_to 'trisodium phosphate','https://en.wikipedia.org/wiki/Trisodium_phosphate', target: '_blank'%>
                </div>
                <hr>
                <i class='fas fa-times'></i>
                <%= link_to "Summer's Eve Cleansing Wash Ingredients:", 'http://www.ewg.org/skindeep/product/690870/Summer%27s_Eve_Cleansing_Wash%2C_Aloe/', target: '_blank' %>
                <div class="text-sm">
                    Purified water,
                    <%= link_to 'propylene glycol','https://draxe.com/propylene-glycol/', target: '_blank'%>,
                    <%= link_to 'polysorbate 20','https://www.annmariegianni.com/ingredient-watch-list-polysorbate-20-it-may-be-contaminated-with-carcinogenic-14-dioxane/', target: '_blank'%>,
                    disodium cocoamphodiacetate,
                    2-bromo-2-nitropropane-1,
                    3-diol,
                    disodium phosphate,
                    <%= link_to 'fragrance','http://www.ewg.org/skindeep/ingredient/702512/FRAGRANCE/', target: '_blank'%>,
                    <%= link_to 'Neutresse® (Odor Synthesis®)','https://www.womensvoices.org/menstrual-care-products/summers-deceive/', target: '_blank'%>,
                    citric acid,
                    <%= link_to 'disodium EDTA','https://en.wikipedia.org/wiki/Ethylenediaminetetraacetic_acid', target: '_blank'%>,
                    iodopropynyl butylcarbamate,
                    <%= link_to 'iodopropynyl butylcarbamate','https://www.annmariegianni.com/ingredient-watch-list-iodopropynyl-butylcarbamate-the-toxic-preservative/', target: '_blank'%>,
                    <%= link_to 'peg-75 lanolin','https://davidsuzuki.org/queen-of-green/dirty-dozen-peg-compounds-contaminants/', target: '_blank'%>,
                    aloe barbadensis leaf juice,
                    tocopheryl acetate,
                    potassium sorbate,
                    <%= link_to 'sodium benzoate','https://en.wikipedia.org/wiki/Sodium_benzoate', target: '_blank'%>
                </div>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Cruelty-Free
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Certified Cruelty Free', 'https://www.neueve.com/blog/cruelty-free-certified/', target: '_blank'%>
                <div class="text-center ">
                    <%= link_to image_tag('LeapingBunny-Logo.png', :class => 'img-fluid seal',
                                          alt: 'Leaping Bunny Seal'), 'https://www.neueve.com/blog/cruelty-free-certified/' %>
                </div>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                    Summer's Eve is not tested on animals
                <hr>
                <i class='fas fa-times'></i>
                    However,
                    <%= link_to "Prestige Brands (parent company of Summer's Eve), does test on animals", 'https://www.thevegetariansite.com/ethics_test.htm', target: '_blank'%>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Giving Back
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i> NeuEve is a member of
                <%= link_to "1% for the Planet.", 'http://www.onepercentfortheplanet.org/', target: '_blank'%>
                We believe it's the right to do to protect our planet.
                <div class="text-center" >
                        <%= link_to image_tag('OnePercentFTP.png', :class => 'img-fluid seal',
                                              alt: 'One Percent for the Planet', style:'max-height: 250px'), 'http://www.onepercentfortheplanet.org/', target: '_blank' %>
                </div>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i> C.B. Fleet (parent company of Summer's Eve) made
                <%= link_to "$250m in revenue last year", 'https://www.owler.com/company/cbfleet', target: '_blank'%>.
                <p>
                    We were unable to find evidence of giving back to the community or any other demonstration of their values.
                </p>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Manufactured in USA
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Satisfaction Guarantee
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Policy Details', :anchor => "satisfaction" %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Email Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Phone Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Text Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Live Chat Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Private Facebook Support Group
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Free Shipping & Delivered to your Doorstep
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
    </div>
</section>

<%= render 'layouts/order_now_bv' %>