<% provide(:title, 'An Affordable ThermiVa Alternative (Without Energy Burns)') %>
<% provide(:description, 'NeuEve is a natural remedy alternative to ThermiVa. See why women are switching from ThermiVa to NeuEve.') %>
<% provide(:last_modified, 'April 4, 2019') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item">
                <%= link_to 'Comparison', comparison_path %>
            </li>
            <li class="breadcrumb-item active">ThermiVa vs NeuEve for Vaginal Rejuvenation</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">A Safe ThermiVa Alternative that's <em>Actually Affordable</em></h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-text-column">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Your search for a ThermiVa alternative is finally over</h2>
                    <p class="text-lg text-muted">No kidding.</p>
                    <p class="text-lg text-muted">NeuEve is a natural remedy, invented by a gynecologist. NeuEve has no hormones, no estrogen, and
                        is 100% plant-based.</p>
                    <p class="text-lg text-muted">NeuEve uses vitamins and essential oils to naturally rebalance vaginal pH and nourish vaginal tissues to relieve vaginal dryness.</p>
                    <p class="text-lg text-muted">Read on for a NeuEve vs ThermiVa comparison.</p>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column">
                <%= image_tag 'Dr-Renjie-Chang-Founder-NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 about-text-column order-lg-2">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">The Non-Invasive, Non-Hormonal Option</h2>

                    <p class="text-lg text-muted">Put down that radio-frequency gun!</p>
                    <p class="text-lg text-muted">Instead try our luxuriously natural, non-hormonal vaginal creams and suppositories OB/GYN-formulated
                    to relieve vaginal dryness and painful sex.</p>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column order-lg-1">
                <%= image_tag 'natural_vaginal_cream_NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="alternative-row ">
            <div class="alternative-product offset-md-4 ">
                NeuEve
            </div>
            <div class="alternative-product  ">
                ThermiVa
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Pricing
            </div>
            <div class="alternative-cell  ">
                <p>Pay as You Go: $60/mo</p>
                <p>Subscribe: $49/mo</p>

                <p>$600 per year</p>
            </div>
            <div class="alternative-cell  ">
                <p>
                    <%=link_to 'Average Cost: $2,650. Range: $1,250 to $3,900', 'https://www.realself.com/monalisa-touch/cost', target: '_blank', rel: 'nofollow'%>
                    for 3 treatments for the first year.
                </p>
                <p>
                    One follow-up appointment per year: $1000-$1500 per year afterwards.
                </p>
                <p>
                    ThermiVa is NOT covered by insurance or Medicare. ThermiVa does not have a patient assistance program.
                </p>
            </div>
        </div>
        <div class="alternative-row">
            <div class="alternative-category">
                No Risk of Burns or Scarring
            </div>
            <div class="alternative-cell">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell">
                <p><i class='fas fa-times'></i>
                    On July 24th, 2018, the FDA issued a
                    <%= link_to 'serious warning letter to Thermigen.', 'https://www.fda.gov/downloads/MedicalDevices/ResourcesforYou/Industry/UCM615123.pdf', target: '_blank' %>
                </p>
                <p>
                    Here is
                    <%= link_to "Thermigen's response to the FDA.", 'http://thermi.com/thermi-statement-fda-inquiry-vaginal-rejuvenation-medical-devices', target: '_blank', rel: 'nofollow' %>
                </p>

                <p>
                    The FDA issued a safety alert that radiofrequency-based therapies have
                    <%= link_to 'burned and scarred women.', 'https://www.fda.gov/MedicalDevices/Safety/AlertsandNotices/ucm615013.htm', target: '_blank' %>
                </p>
                <p>
                    ThermiVa Adverse Events:
                    <%= link_to '1', 'https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfMAUDE/detail.cfm?mdrfoi__id=7818945&pc=GEI', target: '_blank' %>,
                    <%= link_to '2', 'https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfMAUDE/detail.cfm?mdrfoi__id=7805369&pc=GEI', target: '_blank' %>,
                    <%= link_to '3', 'https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfMAUDE/detail.cfm?mdrfoi__id=7784378&pc=GEI', target: '_blank' %>,
                    <%= link_to 'More', 'https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfMAUDE/results.cfm?start_search=1&productcode=&productproblem=&devicename=&modelNumber=&reportNumber=&manufacturer=&brandname=thermiva&eventtype=&reportdatefrom=03%2F01%2F2013&reportdateto=03%2F31%2F2019&pagenum=10', target: '_blank' %>
                </p>
            </div>
        </div>
        <div class="alternative-row">
            <div class="alternative-category ">
                100% Plant-Based, Natural Ingredients
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                NeuEve Cream Ingredients:
                <div class="text-sm">
                    <%= link_to 'Sustainable palm oil*', faq_path(:anchor => 'tropicalTraditions') %>, coconut oil,
                    beeswax,
                    evening primrose oil, sea buckthorn fruit oil, lavender
                    essential oil, orange oil, vitamin E (d-α
                    tocopherol), <%= link_to 'and a proprietary blend of nutrients', faq_path(:anchor => 'proprietaryBlend') %>
                    .
                </div>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Cruelty-Free
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Certified Cruelty Free', 'https://www.neueve.com/blog/cruelty-free-certified/', target: '_blank'%>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                The owner of ThermiVa,
                <%= link_to 'Almirall, is a European pharmaceutical company that does animal testing.', 'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6052048/', target: '_blank'%>
                As of April 5th, 2019, Almirall is in the process of selling Thermigen to Celling Biosciences. It's unknown whether
                Celling conducts animal experimentation.
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Satisfaction Guarantee
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Policy Details', :anchor => "satisfaction" %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Live Chat, Text, Phone & Email Support
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i> We even have a <%= link_to 'private Facebook support group', 'https://www.facebook.com/groups/pelvichealthallies', target: '_blank' %>!
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Free Shipping & Delivered to your Doorstep
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
    </div>
</section>
