<% provide(:title, 'Looking for a Better Vagifem Alternative?') %>
<% provide(:description, 'NeuEve is a non-hormonal natural remedy for vaginal dryness invented by an OB/GYN, for $60/mo. See why women are switching from Vagifem to NeuEve.') %>
<% provide(:last_modified, 'Jan 12, 2020') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item">
                <%= link_to 'Comparison', neueve_alternatives_path %>
            </li>
            <li class="breadcrumb-item active">Vagifem vs NeuEve for Vaginal Dryness</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">A Natural Remedy for Vaginal Dryness with Zero Estrogen</h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-text-column">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Could your search for a Vagifem alternative finally be over?</h2>
                    <p class="text-lg text-muted">NeuEve is natural remedy, invented by a gynecologist. NeuEve
                        has no hormones, no estrogen, and
                        is 100% plant-based.</p>
                    <p class="text-lg text-muted">NeuEve uses vitamins and essential oils to naturally rebalance vaginal pH and nourish vaginal tissues to relieve vaginal dryness.</p>
                    <p class="text-lg text-muted">Read on for a NeuEve vs Vagifem comparison.</p>
                    <div class="text-center">
                        <%= link_to silver_path, class:'btn btn-large btn-warning add-to-cart rounded' do %>
                            <svg class="svg-icon"><use xlink:href="#label-tag-1"></use></svg>
                            Shop
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column">
                <%= image_tag 'Dr-Renjie-Chang-Founder-NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 about-text-column order-lg-2">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Natural, Wholesome Ingredients</h2>
                    <p class="text-lg text-muted">Safe ingredients you can pronounce:</p>
                    <p class="text-muted"><%= link_to 'Organic palm oil*', 'https://help.neueve.com/kb/ingredients/please-stop-using-palm-oil' %>
                        , organic coconut oil, organic beeswax,
                        evening primrose oil, organic sea buckthorn fruit oil, organic lavender
                        essential oil, organic orange oil, organic vitamin E (d-α
                        tocopherol), <%= link_to 'and a proprietary blend of nutrients', 'https://help.neueve.com/kb/ingredients/whats-in-the-proprietary-blend' %>
                        .</p>
                    <p class="text-lg text-muted">The hardest to pronounce is “sea buckthorn”, seriously! It’s actually quite a tongue-twister.</p>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column order-lg-1">
                <%= image_tag 'silver_NeuEve_vaginal_suppository.jpg', class: 'bg-image' %>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="alternative-row ">
            <div class="alternative-product offset-md-4">
                NeuEve
            </div>
            <div class="alternative-product  ">
                Vagifem
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Cost
            </div>
            <div class="alternative-cell  ">
                $60/mo or $49/mo if you Subscribe
            </div>
            <div class="alternative-cell  ">
                <p>
                    Cost without Insurance:
                    <%= link_to '$408 for first month (18-pack) and $186/mo after (8-pack)', 'https://www.drugs.com/price-guide/vagifem', target: '_blank', rel: 'nofollow' %>.
                </p>
                <p>
                    Cost with Insurance:
                    <%= link_to '~$60/mo - ~$77/mo (8-pack)', 'https://www.goodrx.com/vagifem/medicare-coverage?dosage=10mcg&form=tablet&label_override=Vagifem&quantity=8', target: '_blank', rel: 'nofollow' %>.
                </p>
                <p>
                    Apply to
                    <%= link_to "Novo Nordisk's Patient Assistance Program", 'https://www.novonordisk-us.com/patients-and-providers/patient-assistance-programs/hormone-therapy-patient-assistance.html', target: '_blank', rel: 'nofollow' %>
                    with proof of income and you may get a three month's supply for free.
                </p>
                <p>
                    Many major insurance plans
                    <%= link_to 'no longer cover Vagifem', 'https://www.goodrx.com/blog/prescription-medications-dropped-insurance-2019/', target: '_blank' %>
                    as of 2019.
                </p>
                <p>
                    The cost of Vagifem has more than doubled in the past five years
                    <%= link_to '- New York Times', 'https://www.nytimes.com/2018/06/03/health/vagina-womens-health-drug-prices.html', target: '_blank' %>
                </p>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Contains No Hormones 💉
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                Nonhormonal approaches are the first-line for atrophy symptoms experienced by women during or after
                treatment for breast cancer.
                <%= link_to '- ACOG', 'https://www.acog.org/Clinical-Guidance-and-Publications/Committee-Opinions/Committee-on-Gynecologic-Practice/The-Use-of-Vaginal-Estrogen-in-Women-With-a-History-of-Estrogen-Dependent-Breast-Cancer', target: '_blank' %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Contains No Estrogen
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                Ultra Low Dose Vaginal Estrogen Ineffective for Pain with Sex
                <%= link_to '- Study', 'https://drjengunter.wordpress.com/2018/03/27/new-study-says-ultra-low-dose-vaginal-estrogen-ineffective-for-pain-with-sex/', target: '_blank' %>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                100% Plant-Based Ingredients 🌱
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                NeuEve Silver Ingredients:
                <div class="text-sm">
                    <%= link_to 'Organic palm oil*', 'https://help.neueve.com/kb/ingredients/please-stop-using-palm-oil' %>, organic coconut oil,
                    organic beeswax,
                    evening primrose oil, organic sea buckthorn fruit oil, organic lavender
                    essential oil, organic orange oil, organic vitamin E (d-α
                    tocopherol), <%= link_to 'and a proprietary blend of nutrients', 'https://help.neueve.com/kb/ingredients/whats-in-the-proprietary-blend' %>
                    .
                </div>
            </div>
            <div class="alternative-cell ">
                <i class='fas fa-times'></i>
                <%= link_to 'Vagifem Ingredients:', 'https://www.rxlist.com/vagifem-drug.htm', target: '_blank' %>
                <div class="text-sm">
                    Vagifem (estradiol vaginal inserts) are small, white, film-coated tablets containing estradiol.
                    Each tablet also contains hypromellose, lactose monohydrate, maize starch and magnesium stearate.
                    The film coating contains hypromellose and polyethylene glycol.
                </div>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Safe for Male Sexual Partner 💕
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                Your male partner might absorb estrogen during sex.
                <%= link_to "- Mayo Clinic", "https://www.mayoclinic.org/drugs-supplements/estrogen-vaginal-route/precautions/drg-20069459", target: '_blank' %>
            </div>
        </div>

        <div class="alternative-row ">
            <div class="alternative-category ">
                Safe for Breastfeeding 🤱
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>

        <div class="alternative-row ">
            <div class="alternative-category ">
                Cruelty-Free 🐇
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Certified Cruelty Free', 'https://www.neueve.com/blog/cruelty-free-certified/', target: '_blank' %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                <%= link_to 'Novo Nordisk does Animal Testing', 'https://www.novonordisk.com/research-and-development/bioethics/animal-ethics.html', target: '_blank', rel:'nofollow' %>
                <hr>

                "Long-term continuous administration of estrogen in <strong>certain animal species</strong> increases
                the frequency of carcinomas of the breast, uterus, cervix, vagina, testis, and liver."
                <%= link_to '- Vagifem Prescribing Information', 'https://www.rxlist.com/vagifem-drug.htm#warnings', target: '_blank' %>

            </div>
        </div>

        <!--<div class="alternative-row ">-->
            <!--<div class="alternative-category ">-->
                <!--No Side Effects-->
            <!--</div>-->
            <!--<div class="alternative-cell  ">-->
                <!--<i class='fas fa-check'></i>-->
            <!--</div>-->
            <!--<div class="alternative-cell  ">-->
                <!--<i class='fas fa-times'></i>-->
                <!--<%= link_to 'Full List of Vagifem Side Effects', 'https://www.drugs.com/sfx/vagifem-side-effects.html#for-professionals', target: '_blank' %>-->
            <!--</div>-->
        <!--</div>-->
        <div class="alternative-row ">
            <div class="alternative-category ">
                Satisfaction Guarantee
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Policy Details', :anchor => "satisfaction" %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Email Support 📧
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Phone Support 📞
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Text Support <i class="fas fa-sms"></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Live Chat Support 💬
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Private Facebook Support Group <i class="fas fa-hand-holding-heart"></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Easy to Order Online without Prescription & Free Shipping 📦
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
    </div>
</section>
