<% provide(:title, 'Affordable Geneveve by Viveve Alternative (Without Energy Burns)') %>
<% provide(:description, 'NeuEve is a natural remedy for vaginal rejuvenation invented by an OB/GYN, for $60/mo. See why women are switching from Geneveve by Viveve to NeuEve.') %>
<% provide(:last_modified, 'Jan 11, 2020') %>


<section class="hero">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <%= link_to 'Home', root_path %>
            </li>
            <li class="breadcrumb-item">
                <%= link_to 'Comparison', neueve_alternatives_path %>
            </li>
            <li class="breadcrumb-item active">Geneveve by Viveve vs NeuEve for Vaginal Rejuvenation</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">A Safe Viveve Alternative that's <em>Actually Affordable</em></h1>
        </div>
    </div>
</section>


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-text-column">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">Your search for a Geneveve by Viveve alternative is finally over</h2>
                    <p class="text-lg text-muted">No kidding.</p>
                    <p class="text-lg text-muted">NeuEve is a natural remedy, invented by a gynecologist. NeuEve has no hormones, no estrogen, and
                        is 100% plant-based.</p>
                    <p class="text-lg text-muted">NeuEve uses vitamins and essential oils to naturally rebalance vaginal pH and nourish vaginal tissues to relieve vaginal dryness.</p>
                    <p class="text-lg text-muted">Read on for a NeuEve vs Geneveve by Viveve comparison.</p>
                    <div class="text-center">
                        <%= link_to cream_path, class:'btn btn-large btn-warning add-to-cart rounded' do %>
                            <svg class="svg-icon"><use xlink:href="#label-tag-1"></use></svg>
                            Shop
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column">
                <%= image_tag 'Dr-Renjie-Chang-Founder-NeuEve.jpg', class: 'bg-image' %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 about-text-column order-lg-2">
                <div class="about-text">
                    <h2 class="mb-4 hero-heading">The Non-Invasive, Non-Hormonal Option</h2>

                    <p class="text-lg text-muted">Put down that radio-frequency gun!</p>
                    <p class="text-lg text-muted">Instead try our luxuriously natural, non-hormonal vaginal creams and suppositories OB/GYN-formulated
                    to relieve vaginal dryness and painful sex.</p>
                </div>
            </div>
            <div class="col-lg-6 p-lg-0 about-image-column order-lg-1">
                <%= image_tag 'product/cream/NeuEve_Cream_Lavender.jpg', class: 'bg-image' %>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="alternative-row ">
            <div class="alternative-product offset-md-4 ">
                NeuEve
            </div>
            <div class="alternative-product  ">
                Geneveve by Viveve
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Cost
            </div>
            <div class="alternative-cell  ">
                <p>Pay as You Go: $60/mo</p>
                <p>Subscribe: $49/mo</p>

                <p>$600 per year</p>
            </div>
            <div class="alternative-cell  ">
                <p>
                    <%=link_to 'Average Cost: $2,775. Range: $2000 to $3500', 'https://www.realself.com/viveve/cost', target: '_blank', rel: 'nofollow'%>
                    for 1 treatment which lasts one year.
                </p>
                <p>
                    Viveve by Geneveve is NOT covered by insurance or Medicare. Viveve does not have a patient assistance program.
                </p>
            </div>
        </div>
        <div class="alternative-row">
            <div class="alternative-category">
                No Risk of Burns or Scarring 🔥
            </div>
            <div class="alternative-cell">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell">
                <p><i class='fas fa-times'></i>
                <p>
                    The FDA issued a safety alert that radiofrequency-based therapies have
                    <%= link_to 'burned and scarred women.', 'https://www.fda.gov/medical-devices/safety-communications/fda-warns-against-use-energy-based-devices-perform-vaginal-rejuvenation-or-vaginal-cosmetic', target: '_blank' %>
                </p>
                <hr>
                <p>
                    Geneveve by Viveve Injuries:
                    <%= link_to '1', 'https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfMAUDE/detail.cfm?mdrfoi__id=7199857&pc=GEI', target: '_blank' %>,
                    <%= link_to '2', 'https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfMAUDE/detail.cfm?mdrfoi__id=7769568&pc=GEI', target: '_blank' %>,
                    <%= link_to '3', 'https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfMAUDE/detail.cfm?mdrfoi__id=7742801&pc=GEI', target: '_blank' %>,
                    <%= link_to 'More', 'https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfMAUDE/results.cfm', target: '_blank' %>
                </p>
                <hr>
                <p>
                    The
                    <%= link_to "2020 ACOG Committee Opinion", 'https://www.acog.org/clinical/clinical-guidance/committee-opinion/articles/2020/01/elective-female-genital-cosmetic-surgery', target: '_blank' %>
                    concluded that patients should be made aware vaginal rejuvenation surgeries are "not medically indicated, pose substantial risk, and their safety and effectiveness have not been established."

                </p>
            </div>
        </div>
        <div class="alternative-row">
            <div class="alternative-category ">
                100% Plant-Based 🌱, Natural Ingredients
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                NeuEve Cream Ingredients:
                <div class="text-sm">
                    <%= link_to 'Organic palm oil*', faq_path(:anchor => 'tropicalTraditions') %>, organic coconut oil,
                    organic beeswax,
                    evening primrose oil, organic sea buckthorn fruit oil, organic lavender
                    essential oil, organic orange oil, organic vitamin E (d-α
                    tocopherol), <%= link_to 'and a proprietary blend of nutrients', faq_path(:anchor => 'proprietaryBlend') %>
                    .
                </div>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Cruelty-Free 🐇
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Certified Cruelty Free', 'https://www.neueve.com/blog/cruelty-free-certified/', target: '_blank'%>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
                <%= link_to 'Viveve conducts Animal Testing', 'http://crueltyfreeinvesting.org/companies/viveve-medical-inc/', target: '_blank'%>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Manufactured in USA 🇺🇸
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Satisfaction Guarantee
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
                <%= link_to 'Policy Details', :anchor => "satisfaction" %>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Email Support 📧
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i> No email address could be found. You must open a "Support Ticket" to contact Viveve.
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Phone Support 📞
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Text Support <i class="fas fa-sms"></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Live Chat Support 💬
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Private Facebook Support Group <i class="fas fa-hand-holding-heart"></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
        <div class="alternative-row ">
            <div class="alternative-category ">
                Free Shipping & Delivered to your Doorstep 📦
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-check'></i>
            </div>
            <div class="alternative-cell  ">
                <i class='fas fa-times'></i>
            </div>
        </div>
    </div>
</section>
