<!-- Footer-->
<footer class="main-footer">
    <div class="bg-gray-100 text-dark-700 py-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 service-column">
                    <svg class="svg-icon service-icon">
                        <use xlink:href="#delivery-time-1"></use>
                    </svg>
                    <div class="service-text">
                        <h6 class="text-uppercase">Free Shipping Over $70</h6>
                        <p class="text-muted font-weight-light text-sm mb-0">Fulfilled Every Morning at 9am (except Sundays) via USPS from Chicago, IL</p>
                    </div>
                </div>
                <div class="col-lg-4 service-column">
                    <svg class="svg-icon service-icon">
                        <use xlink:href="#money-1"></use>
                    </svg>
                    <div class="service-text">
                        <h6 class="text-uppercase"><%= link_to 'Satisfaction Guarantee', satisfaction_path %></h6>
                        <p class="text-muted font-weight-light text-sm mb-0">Full Refund If No Progress After 30
                            Days</p>
                        <p class="text-muted font-weight-light text-sm mb-0">For Health Reasons, No Returns Accepted</p>
                    </div>
                </div>
                <div class="col-lg-4 service-column">
                    <svg class="svg-icon service-icon">
                        <use xlink:href="#customer-support-1"></use>
                    </svg>
                    <div class="service-text">
                        <h6 class="text-uppercase">We're Here For You</h6>
                        <p class="text-muted font-weight-light text-sm mb-0">We're available M-F, 9-5, CST</p>
                        <p class="text-muted font-weight-light text-sm mb-0">Text:
                            <a href="tel:1-224-578-2854">1-224-578-2854</a>
                        </p>
                        <p class="text-muted font-weight-light text-sm mb-0">Email:
                            <a href="mailto:contact@neueve.com">contact@neueve.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main block - menus, subscribe form-->
    <div class="py-6 bg-gray-300 text-muted">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="font-weight-bold text-lg text-dark mb-3">NeuEve<span class="text-primary"></span></div>
                    <p>Love is Natural.</p>
                    <p>NeuEve LLC<br>
                    965 W. Chicago Ave.<br>
                    Chicago, IL 60642</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/neuevesupp" target="_blank" title="twitter" class="text-muted text-hover-primary">
                                <i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://facebook.com/neuevesuppositories" target="_blank" title="facebook" class="text-muted text-hover-primary">
                                <i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://instagram.com/neuevehealth/" target="_blank" title="instagram" class="text-muted text-hover-primary">
                                <i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.pinterest.com/neuevehealth/" target="_blank" title="pinterest" class="text-muted text-hover-primary">
                                <i class="fab fa-pinterest"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/user/neueve" target="_blank" title="youtube" class="text-muted text-hover-primary">
                                <i class="fab fa-youtube"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/company/neueve" target="_blank" title="linkedin" class="text-muted text-hover-primary">
                                <i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
                    <h6 class="text-uppercase text-dark mb-3">Shop</h6>
                    <ul class="list-unstyled">
                        <li>
                            <%= link_to 'Cream', cream_path, class: 'text-muted' %>
                        </li>
                        <li>
                            <%= link_to 'Silk', silk_path, class: 'text-muted' %>
                        </li>
                        <li>
                            <%= link_to 'Silver', silver_path, class: 'text-muted' %>
                        </li>
                        <li>
                            <%= link_to 'Gold', gold_path, class: 'text-muted' %>
                        </li>
                        <li>
                            <%= link_to 'BV Clear', bacterial_vaginosis_vaginal_odor_path, class: 'text-muted' %>
                        </li>
                        <li>
                            <%= link_to 'Applicator', applicator_path, class: 'text-muted' %>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
                    <h6 class="text-uppercase text-dark mb-3">Company</h6>
                    <ul class="list-unstyled">
                        <li>
                            <%= link_to 'Reviews', reviews_path, class: 'text-muted' %>
                        </li>
                        <li>
                            <a href="https://www.neueve.com/blog/affiliate-program/" class="text-muted">Affiliate Program</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/groups/pelvichealthallies" class="text-muted">Pelvic Health Allies</a>
                        </li>
                        <li>
                            <a href="https://www.neueve.com/blog/where-can-i-buy-neueve/" class="text-muted">Where To Buy</a>
                        </li>
                        <li>
                            <%= link_to 'About Us', about_path, class: 'text-muted' %>
                        </li>
                        <li>
                            <a href="https://www.neueve.com/blog/" class="text-muted">Our Blog</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
                    <h6 class="text-uppercase text-dark mb-3">Compare</h6>
                    <ul class="list-unstyled">
                        <li>
                            <%= link_to 'Premarin Cream', premarin_cream_alternative_path, class: 'text-muted' %>
                        </li>
                        <li>
                            <%= link_to 'Prempro', prempro_alternative_path, class: 'text-muted' %>
                        </li>
                        <li>
                            <%= link_to 'Estrace Cream', estrace_cream_alternative_path, class: 'text-muted' %>
                        </li>
                        <li>
                            <%= link_to 'Vagifem', vagifem_alternative_path, class: 'text-muted' %>
                        </li>
                        <hr>
                        <li>
                            <%= link_to 'All Comparisons', comparison_path, class: 'text-muted' %>
                        </li>
                    </ul>
                </div>


                <!-- todo: add newsletter signup here -->
                <!--<div class="col-lg-4">-->
                    <!--<h6 class="text-uppercase text-dark mb-3">Sign Up For Our Newsletter</h6>-->
                    <!--<form action="#" id="newsletter-form">-->
                        <!--<div class="input-group mb-3">-->
                            <!--<input type="email" placeholder="Your Email Address" aria-label="Your Email Address" class="form-control bg-transparent border-secondary border-right-0">-->
                            <!--<div class="input-group-append">-->
                                <!--<button type="submit" class="btn btn-outline-secondary border-left-0">-->
                                    <!--<i class="fa fa-paper-plane text-lg text-dark"></i></button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
                <!---->

            </div>
        </div>
    </div>

    <!-- Copyright section of the footer-->
    <div class="py-4 font-weight-light bg-gray-800 text-gray-300">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9 text-center text-md-left">
                    <p class="mb-md-0">© 2019 NeuEve. All rights reserved.</p>
                </div>
                <div class="col-md-3 text-center text-md-right">
                    <p class="mb-md-0">
                        <%= link_to 'Disclaimer and Privacy Policy.', disclaimer_path %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>