<footer class="navbar">
  <nav>
    <ul>
      <li><%= link_to "About Us", about_path %></li>
      <li><%= link_to 'Brochure', 'https://dl.dropboxusercontent.com/u/6161224/neueve/NeuEve012516.pdf'%></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to 'Disclaimer', disclaimer_path %></li>
      <li><%= link_to "Google+", 'https://plus.google.com/106392780143419047098/', :rel => 'publisher' %></li>
      <li><%= link_to "YouTube", 'https://www.youtube.com/user/neueve' %></li>
      <li><%= link_to "Facebook", 'https://www.facebook.com/neuevesuppositories' %></li>
      <li><%= link_to "Friends", friends_path %></li>
    </ul>
  </nav>
</footer>