<header class = "navbar">
    <div class = "navbar-inner">
        <div class = "container">
            <%= link_to "NeuEve", root_path, class: "brand" %>
            <nav>
                <ul class = "nav pull-right">
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "About Us", about_path %></li>
                    <li><%= link_to "Product", product_path %></li>
                    <li><%= link_to "FAQ", faq_path %></li>
                    <li><%= link_to "Order Now", buy_path %></li>
                    <li><%= link_to "Background", background_path %></li>
                    <li><%= link_to "Comparison", comparison_path %></li>
                    <li><%= link_to "Testimonials", testimonials_path %></li>
                </ul>
            </nav>
        </div>
    </div>

</header>