<link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
<header class = "navbar">
    <div class = "navbar-inner">
            <%= link_to "NeuEve", root_path, class: "brand" %>
            <nav>
                <ul class = "nav pull-right">
                    <li><%= link_to "Product", product_path %></li>
                    <li><%= link_to "Order Now", buy_path %></li>
                    <li><%= link_to "Background", background_path %></li>
                    <li><%= link_to "Comparison", comparison_path %></li>
                    <li><%= link_to "Testimonials", testimonials_path %></li>
                </ul>
            </nav>
    </div>

</header>