<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">

                    <h3>Recommended use for BV relief<sup>*</sup></h3>
                    <ol>
                        <li>
                            For premenopausal women and early menopausal women (or age younger than 55), NeuEve BV Clear
                            can be directly used for BV relief.
                        </li>
                        <br>
                        <li>
                            For postmenopausal women (or age older than 55), they could be sensitive to BV Clear. It is
                            recommended
                            to start with the milder <%= link_to "NeuEve Silk Formula", silk_path %> for 1 month. If it
                            does not clear BV symptoms completely, BV Clear
                            can be used next.
                        </li>
                        <br>
                        <li>
                            Bacterial vaginosis (BV) has many symptoms, including fishy odor, discharge, burning and
                            itching. Some symptoms can be
                            confused with symptoms of yeast, trichomoniasis, and other sexually transmitted infections.
                            Therefore, BV is often misdiagnosed.
                            After using one box of the NeuEve BV Clear, if symptoms are not improved, your condition
                            might not be BV and it is recommended that you visit a
                            gynecologist for a checkup. If symptoms are improved, but not completely cleared, you may
                            need to use a second pack of BV Clear until symptoms are cleared.
                        </li>
                        <br>
                        <li>
                            For women with recurrent BV, 2 packs of BV Clear are recommended. The first pack clears BV
                            symptoms, and the
                            second pack can help stop BV from coming back.
                        </li>
                    </ol>


                    <h3>
                        Description:
                    </h3>
                    <p>
                        NeuEve BV Clear are natural vaginal suppositories developed by
                        a <%= link_to "gynecologist.", about_path %>
                        One pack of BV Clear has 3 suppositories. If you are premenopausal (or younger than 55), you can
                        use BV Clear directly. If you are
                        postmenopausal (older than 55) or have had hysterectomy or cancer therapy, you may have vaginal
                        atrophy and be sensitive to the BV Clear if used upfront.
                        Please use the milder <%= link_to "NeuEve Silk", silk_path %> for one month to build tolerance.
                        After one month on <%= link_to "NeuEve Silk", silk_path %>, if you still
                        have BV symptoms, you can use BV Clear.
                    </p>

                    <h3>
                        What does BV Clear do?
                    </h3>
                    <p>
                        Each pack has 3 vaginal suppositories. It can clear a single episode of BV and recurrent BV.
                    </p>
                    <p>
                        If you only have a single episode of BV, the first suppository of NeuEve BV Clear often clears
                        the symptoms in
                        less than 24 hours. After 3 days, use the 2nd suppository (even if your symptoms are completely
                        cleared). Use the
                        3rd one either 3 days later, or the 2nd day after your next menstrual period. After BV is
                        cleared, using one or two
                        additional vaginal suppositories will provide more assurance that the odor will not return.
                    </p>
                    <p>
                        If you have recurrent BV, especially after prescription antibiotics, you may need two packs of
                        BV Clear. Use first
                        pack to clear BV and the second pack to stop BV from coming back.
                    </p>
                    <h3>
                        Who's BV Clear For?
                    </h3>
                    <p>
                        BV Clear is designed for women younger than 55.
                    </p>
                    <p>
                        For women <strong>who are over 55</strong> or have been post-menopausal for over 10 years or are
                        experiencing
                        vaginal atrophy, we recommend they order <%= link_to "NeuEve Cream", cream_path %> to use in
                        conjunction with
                        <%= link_to "NeuEve Silk", silk_path %> for 1-4 months before using BV Clear.
                    </p>
                    <p>
                        NeuEve does not contain any estrogen, progesterone, herbs, or drugs. That makes NeuEve perfect
                        for women wanting to
                        avoid hormones, (such as breast and ovarian cancer survivors and previvors), and for women who
                        prefer to live a
                        natural lifestyle.
                    </p>


                    <h3>How do I get rid of recurrent BV?</h3>
                    <p>
                        If you have recurrent BV, good maintenance is important to help stop BV from coming back. After
                        BV is cleared, you
                        can use another pack of NeuEve BV Clear, starting the second day after each menstrual period is
                        cleared.

                        Use once a week even if you do not have any BV symptoms. Continuously using BV Clear for
                        maintenance can help stop BV
                        from coming back. If you do not
                        see BV coming back for 2 months, the recurrent BV may be gone for a long time.
                    </p>

                    <h3>How do I know if what I have is BV?</h3>
                    <p>
                        BV has many forms. Some have a fishy odor, and others have just discharges. NeuEve works well to
                        clear the type with
                        fishy odor because when the odor is cleared you know it is effective. But for the type with just
                        discharge, NeuEve
                        may still work but we cannot guarantee its effect as many other conditions, such as yeast and
                        Trichomoniasis, can also cause
                        discharge.
                    </p>

                    <h3>What about conditions besides BV?</h3>
                    <p>
                        NeuEve cannot clear symptoms caused by other conditions. If symptoms persist, things other than
                        BV may be involved.
                        You need to visit a gynecologist to have a checkup.
                    </p>

                    <h3>
                        Ingredients:
                    </h3>
                    <p>
                        <%= link_to 'Sustainable palm oil*', faq_path(:anchor => 'tropicalTraditions') %> , coconut oil,
                        beeswax, tapioca starch,
                        potato starch, evening primrose oil, sea buckthorn fruit oil, lavender essential oil, orange
                        oil, vitamin
                        E (d-α tocopherol), <%= link_to 'and a proprietary blend of nutrients.',
                                                        faq_path(:anchor => 'proprietaryBlend') %>
                    <p>
                        NeuEve is drug-free, herb-free, and preservative-free. NeuEve does NOT contain any boric acid,
                        petrochemicals,
                        parabens, BHT, T.E.A, M.E.A, urea, glycols, PEG's, etc. NeuEve has
                        <%= link_to 'never been tested on animals', 'https://www.neueve.com/blog/cruelty-free-certified/' %>
                        , and does not
                        contain any animal products.
                    </p>

                    <p>
                        NeuEve is manufactured locally and sustainably in small-batches in Chicago, IL, USA, with care
                        and
                        tenderness.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bg-gray-100 text-dark-700 py-3">
    <div class="container">
        <div class="col-xl-8 col-10 mx-auto">
            <div class="row">
                <div class="col-md-3 col-6 service-column">
                    <%= image_tag("OnePercentFTP.png", :class => 'img-fluid seal',
                                  alt: '1% for the Planet Seal') %>
                </div>
                <div class="col-md-3 col-6 service-column">
                    <%= image_tag("no-chemical-logo-trans.gif", :class => 'img-fluid seal',
                                  alt: 'No Chemical Seal') %>
                </div>
                <div class="col-md-3 col-6 service-column">
                    <%= link_to image_tag('LeapingBunny-Logo.png', :class => 'img-fluid seal',
                                          alt: 'Leaping Bunny Seal'), 'https://www.neueve.com/blog/cruelty-free-certified/' %>
                </div>
                <div class="col-md-3 col-6 service-column">
                    <%= image_tag("made-in-usa-logo-vector-400x400.png", :class => "img-fluid seal",
                                  alt: 'Made in USA Seal') %>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="pb-5 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content text-lg">
                    <h3>
                        Warnings:
                    </h3>
                    <p>
                        For vaginal use only. Stop use and wash thoroughly to remove the suppository if
                        suspected allergy occurs (such as itching and excessive discharges).
                    </p>

                    <p>
                    <BLOCKQUOTE>
                        <strong><em>Stop use and consult with your doctor if:</em></strong>
                        <ul>
                            <li>Symptoms persist after the initial dosage of 8-12 suppositories</li>
                            <li>You have pain or tenderness in the lower part of the abdomen and pelvis</li>
                            <li>You have vaginal discharge or bleeding, chills, nausea, or fever</li>
                            <li>You (or your sexual partner) have sores or ulcers</li>
                            <li>You have an STD (sexually transmitted disease) or PID (pelvic inflammatory disease)</li>
                            <li>Your vaginal discharge is an unusual amount, color, or odor</li>
                            <li>You have frequent and painful urination</li>
                            <li>If use results in pain, soreness, swelling, redness, itching, or irritation.</li>
                        </ul>
                    </BLOCKQUOTE>

                    <h3>
                        Important Notice:
                    </h3>
                    <p>
                        NeuEve suppositories are not contraceptives or drugs of any kind. They do NOT protect against
                        any communicable
                        diseases. There is no data available for compatibility with latex condoms. As a precautionary
                        measure, you should
                        not use NeuEve if you use latex condoms. If you are pregnant or breastfeeding you should ask a
                        health professional
                        before using this product. If the NeuEve is accidentally eaten or swallowed, it is not a
                        problem, because it is
                        fully plant-based and food grade and should be safe even though it may taste bad.
                    </p>

                    <h3>
                        Storage:
                    </h3>
                    <p>
                        Store the product in a cool, dry place (4 – 20°C). Keep it away from heat, direct sunlight, and
                        the reach of
                        children.
                    </p>

                    <h3>
                        Indication:<sup>*</sup>
                    </h3>
                    <p>
                        Vaginal odor, dryness, appearance of atrophy, or painful intercourse (dyspareunia).
                    </p>

                    <a name="directions" id="directions"></a>
                    <h3>
                        Directions for use:
                    </h3>
                    <p>
                        Use 1 NeuEve Suppository every 3-4 days.
                    <ol>
                        <li>Use restroom to empty bowels or the bladder. Wash hands with soap and water.</li>
                        <li>Tear a single suppository apart from the group.</li>
                        <%= image_tag('how-to-open.jpg',
                                      alt: 'Instruction for opening suppository.
    1. Find the bullet point.
    2. Feel two open wings.
    3. Peel it open.
    4. If hard to open, use a nail clipper or scissors to cut along dotted lines.
    5. Peel it again.') %>
                        <li>Find the bullet point of the suppository. It has two opened wings.</li>
                        <li>Peel open the suppository shell.</li>
                        <li>Lie on back, raise knees and gently insert the suppository with a finger and push into the
                            vagina as far as it
                            will
                            comfortably go.
                        </li>
                        <li>Stay in this position for about 15 minutes, or until the suppository melts.</li>
                    </ol>

                    Using at bedtime is desirable. Do not use during menses.

                    <p>
                        For more details of suppository application please see :

                    <div class="youtubevideowrap">
                        <div class="video-container" align="center">
                            <iframe src="https://www.youtube-nocookie.com/embed/YEYheg3AEWY?rel=0" frameborder="0" allowfullscreen>
                            </iframe>
                        </div>
                    </div>


                    <br>
                    <h3>Notes about NeuEve BV Clear<sup>*</sup></h3>

                    <ul>
                        <li>
                            Natural remedy of vaginal odor, foul smell, and other discomforts associated with bacterial
                            vaginosis (BV).
                        </li>
                        <br>
                        <li>
                            All natural, organic, green, and plant-based ingredients. No drugs, no antiseptics, no
                            chemicals, no preservatives,
                            no herbs, and no hormones.
                        </li>
                        <br>
                        <li>
                            Research found that douches and antiseptics (e.g., vinegar, boric acid, borax, hydrogen
                            peroxide, and baking soda)
                            may not clear vaginal odor; they can cause more vaginal odor and BV by disrupting vaginal
                            ecology.
                        </li>
                        <br>
                        <li>
                            As a natural product, NeuEve does not make any claims, but customers say that NeuEve clears
                            vaginal odor rapidly,
                            even recurrent vaginal odor.
                        </li>
                        <br>
                        <li>
                            Tired of vaginal odor? Try NeuEve BV Clear.
                        </li>
                        <br>
                        <li>
                            Say "goodbye" to vaginal odor for good!
                        </li>
                        <br>
                        <li>
                            About 90% customers reported clearance of BV with BV Clear. This is not a bad rate of
                            success
                            because nearly all these women have tried other things under the sun that did not work
                            before trying NeuEve.
                        </li>
                        <br>
                        <li>
                            A product for vaginal odor relief cannot be “one-size fits all.” It is normal that NeuEve
                            works for some but not
                            others. Customers say that the type of BV with a typical fishy odor often responds well. For
                            those do not have the
                            fishy odor, NeuEve may still work but the likelihood of success may be lower.
                        </li>
                        <br>
                        <li>
                            After trying NeuEve BV Clear and the odor persists, please visit a gynecologist for a
                            checkup. Other things, like yeast and trichomoniasis, can also cause
                            odor.
                        </li>
                        <br>
                        <li>
                            For post-menopausal women with itching and burning, combining the use
                            of <%= link_to "NeuEve Cream", cream_path %> helps achieve better relief.
                        </li>
                        <br>
                        <li>
                            Use 1 in every 3 days (or twice a week). In most cases, odor may be cleared with 1-2
                            suppositories. Once odor clears, using one NeuEve
                            suppository after menses may help maintain good vaginal health.
                        </li>
                    </ul>
                    <br>

                    <h3>
                        What is bacterial vaginosis?
                    </h3>
                    <p>
                        Bacterial vaginosis (BV) is a syndrome (a set of signs and symptoms) caused by the over growth
                        of certain bacteria in
                        the vagina. One of the most noticeable symptoms is unpleasant vaginal odor. Some textbooks say
                        BV is an infection, but
                        in reality, BV is not a true infection but an upset of the vaginal normal ecology. Ecology is
                        the interaction between
                        living organisms and their environment. To help you understand the vaginal ecology, let us look
                        at the ecology of a
                        river as an example. Under the normal condition when the river has sufficient water, there are
                        many fish in it. If the
                        water level of the river is running low, the number of fish would decrease and amphibians would
                        thrive. This creates
                        an ecological shift. During an episode of BV the good bacterium, Lactobacillus, decreases and
                        the unwanted harmful
                        bacteria increase. The cause for such an ecological shift is not clear. Suspected factors
                        include antibiotic use,
                        douching, hormone reduction due to menopause or pregnancy, and a change of sexual partner. BV is
                        the most common
                        vaginal discomfort in women of childbearing age.
                    <h3>
                        What are the signs of BV?
                    </h3>
                    <p>
                        Women with BV may have an abnormal vaginal discharge with an unpleasant odor. Some women report
                        a strong fish-like
                        odor, especially after sex. The discharge can be white (milky) or gray. It may also be foamy or
                        watery. Other symptoms
                        may include burning when urinating, itching around the outside of the vagina, and irritation.
                        These symptoms may also
                        be caused by another type of infection, so it is important to see a doctor. Some women with BV
                        have no symptoms at
                        all.
                    <p>
                    <h3>
                        How is BV treated?
                    </h3>
                    <p>
                        BV is often treated with antibiotics, but they do not always work. Continuous use can cause side
                        effects, such as
                        yeast infection.
                    <h3>
                        Why do antibiotics often fail?
                    </h3>
                    <p>
                        Current treatment options for BV are antibiotics. After an initial treatment with antibiotics,
                        BV comes right back
                        afterward. The reason is that the root cause of BV is not a true bacterial infection. Rather, it
                        is an imbalance
                        between “good” and “bad” bacteria. Let us use the river ecology again as an example. Killing the
                        “amphibians” (bad
                        bacteria) does not increase the number of fish (good bacteria) if the water level in the river
                        is low. Therefore, any
                        method that does not address the root cause, the ecological imbalance, is not effective for
                        clearing BV.
                    </p>
                    <h3>
                        Why do common home remedies often fail?
                    </h3>
                    <p>
                        The most common home remedy for BV is douching. Research found that although douching can
                        provide brief relief from odor,
                        often causes severe BV and odor later, because it further disrupts vaginal ecology. This forces
                        women to buy more douches and become trapped in a cycle
                        of douching. Douching is the worst thing for managing vaginal odor. If you want to avoid BV
                        never douche.
                    </p>
                    <p>
                        Another common home remedy for BV is oral or vaginal Lactobacillus capsules (probiotic formula)
                        or yogurt that
                        contains lactobacilli. Theoretically, adding more “good” bacteria into the vagina should help
                        restore the balance
                        between the “good” and “bad” bacteria. Unfortunately, in reality it often does not work. The
                        right vaginal ecology
                        cannot be restored without addressing the most important ecological factor ─ the environment.
                        Let us use the river
                        ecology example again. Putting more live fish (good bacteria) into a dried river to outnumber
                        amphibians (bad
                        bacteria) will result in more dead fish.
                    </p>
                    <p>
                        Other home remedies for BV include apple cider vinegar, hydrogen peroxide, boric acid, borax,
                        garlic, folic acid,
                        vitamin C pills, etc. All these products are fully or partially antiseptic. They may temporarily
                        reduce the number of
                        vaginal bacteria, but once the application stops, the “bad” bacteria grow right back.
                    </p>
                    <p>
                        Some home remedies occasionally show effects. This could be placebo effect because BV sometime
                        recovers by itself.
                        Overall, there are few effective home remedies that can truly clear vaginal odor without
                        addressing its root cause.
                    </p>

                    <h3>
                        How does NeuEve work?
                    </h3>
                    <p>
                        A major reason for vaginal ecological imbalance is caused by the lack of available nutrients for
                        the “good” bacteria.
                        By supplementing the right combination of nutrients (prebiotics) for the “good” bacteria, the
                        dominance of the “good”
                        bacteria can be restored. This may result in the elimination of vaginal odor in some
                        women.<sup>*</sup>
                    </p>

                    <h3>
                        NeuEve BV Clear<sup>*</sup>
                    </h3>

                    <p>
                        Each box of NeuEve BV Clear contains 3 suppositories. Use one in every 3 days. To avoid leakage
                        after
                        application, insert the suppository at the bedtime. After inserting the first suppository, odor
                        clearance may be
                        noticed within the first 24 hours. By using the two additional suppositories, the clearance of
                        vaginal odor can be
                        assured. For women with recurrent BV, once the odor is cleared, using one more pack of NeuEve BV
                        Clear may help stop BV from coming back.

                    </p>

                    <h3>
                        Advantages<sup>*</sup>
                    </h3>

                    <ul>
                        <li>
                            All natural, green, clean and food-grade safe ingredients of plant source.
                        </li>
                        <li>
                            Free of drugs, herbs, chemicals, preservatives and artificial fragrances.
                        </li>
                        <li>
                            Regular use may help maintain good vaginal health.
                        </li>
                        <li>
                            Few side effects.
                        </li>
                        <li>
                            100% satisfaction guarantee or your money back.
                        </li>
                    </ul>

                    <p>
                        <strong>Tip:</strong> About 90% customers reported clearance of vaginal odor with just one pack
                        of BV Clear.
                        For women with recurrent BV, applying a second pack of NeuEve BV Clear helps stop BV from coming
                        back.
                    </p>

                    <p>
                        <strong>Note:</strong> If odor persists, things other than BV such as yeast, may be involved.
                        Please visit a
                        gynecologist to have a checkup.
                    </p>

                    <h3>
                        What customers said about NeuEve:<sup>*</sup>
                    </h3>

                    <p class="testimonial">
                        “I am using your product for BV. The result is absolutely wonderful!!! I seem to
                        be clearing exceptionally well. BV has been a longstanding problem for me and I went
                        from product to product for years. Thanks a million for creating this wonderful product. I
                        will be sharing the information and my success with my primary care physician.”

                        <br><br>

                        “I have had this awful smell for many years and tried everything possible but
                        nothing worked, not even prescription drugs. This product really works.”

                        <br><br>

                        “This thing works. The bad odor is gone and I feel really good.”

                        <br><br>

                        “I have had BV for many years and have seen several OB/GYN doctors and taken
                        different drugs, but nothing worked. Your product is a godsend. Only one suppository
                        and the odor is gone. I thank you, thank you, and thank you!!!”

                    </p>
                    <%= link_to 'Amazon Reviews of NeuEve BV Clear'.html_safe,
                                create_url('https://www.amazon.com/',
                                           ['NeuEve-Suppository-Clear-Starter-Kit',
                                            'product-reviews',
                                            'B00UDHYKAQ'],
                                           {
                                                   ie: 'UTF8',
                                                   reviewerType: 'all_reviews',
                                                   showViewpoints: 0,
                                                   sortBy: 'helpful',
                                                   pageNumber: 1,
                                                   filterByStar: 'positive',
                                                   _encoding: 'UTF8',
                                                   tag: 'neu08-20',
                                                   linkCode: 'll2',
                                                   linkId: '164b5e362a9613f2ba7b6068436f65a9',
                                                   camp: 1789,
                                                   creative: 9325
                                           }, 'R27AT6BW48A8FZ'),
                                :class => 'amazon-review',
                                :id => 'bv-clearing-kit',
                                :target => '_blank'
                    %>
                    <br>
                    <%= link_to 'Read More Reviews', bacterial_vaginosis_testimonials_path %>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>

<%= render 'layouts/testimonial_disclaimer' %>


<section class="pb-5">
    <div class="container">
        <div class="mx-auto">
        <div class="text-center">
            <h2>
                NeuEve BV Clear
            </h2>
        </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <%= image_tag('BV_Clear.jpg', :class => 'img_pair img-fluid',
                                  alt: 'NeuEve BV Clear is a 100% all-natural vaginal suppository. It does not contain any boric acid.'
                        ) %>
                </div>
                <div class="col-md-6 align-middle text-center">
                    <div class="" itemscope itemtype="http://schema.org/Product">
                        <strong>
                            <div itemprop="name">NeuEve BV Clear<br>3 suppositories</div>
                            <meta itemprop="category"
                                  content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                            <meta itemprop="description"
                                  content="Natural suppositories for clearing bacterial vaginosis (BV). Gynecologist-tested."/>
                        </strong>


                        <div class="row">
                            <div class="col-6">
                                    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <span itemprop="price">$42.95</span>
                                        <meta itemprop="priceCurrency" content="USD"/>
                                    </span>
                                <br>
                                <div class="formbutton">
                                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="7RQ4AK4HQGNEU">
                                        <%= button_tag(type: 'submit',
                                                       class: 'btn btn-large btn-warning add-to-cart',
                                                       id: 'bv-clearing-kit',
                                                       name: 'submit') do %>
                                            <svg class="svg-icon"><use xlink:href="#add-to-cart-1"></use></svg>
                                            Add to Cart
                                        <% end %>
                                    </form>
                                </div>
                            </div>
                            <div class="col-6">
                                $39.95/mo
                                <div class="formbutton">
                                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="N2UB5H7CFVVN8">
                                        <%= button_tag(type: 'submit',
                                                       class: 'btn btn-large btn-warning subscribe',
                                                       id: 'bv-clearing-kit',
                                                       name: 'submit') do %>
                                            <i class="fas fa-sync-alt svg-icon"></i>
                                            Subscribe
                                        <% end %>
                                    </form>
                                </div>

                            </div>
                        </div>

                        <span class="stamped-product-reviews-badge stamped-main-badge" data-id="5000"></span>
                        <hr>

                        3.3 Stars on <%= link_to image_tag('amazon-4-stars.png', :size => "95x42"),
                                                 create_url('https://www.amazon.com/',
                                                            ['NeuEve-Suppository-Clear-Starter-Kit',
                                                             'product-reviews',
                                                             'B00UDHYKAQ'],
                                                            {
                                                                    ie: 'UTF8',
                                                                    reviewerType: 'all_reviews',
                                                                    showViewpoints: 0,
                                                                    sortBy: 'helpful',
                                                                    pageNumber: 1,
                                                                    filterByStar: 'positive',
                                                                    _encoding: 'UTF8',
                                                                    tag: 'neu08-20',
                                                                    linkCode: 'll2',
                                                                    linkId: '164b5e362a9613f2ba7b6068436f65a9',
                                                                    camp: 1789,
                                                                    creative: 9325
                                                            }, 'R27AT6BW48A8FZ'),
                                                 :class => 'amazon-review',
                                                 :id => 'bv-clearing-kit',
                                                 :target => '_blank' %><br>


                        <%= link_to 'Amazon Reviews of NeuEve BV Clear'.html_safe,
                                    create_url('https://www.amazon.com/',
                                               ['NeuEve-Suppository-Clear-Starter-Kit',
                                                'product-reviews',
                                                'B00UDHYKAQ'],
                                               {
                                                       ie: 'UTF8',
                                                       reviewerType: 'all_reviews',
                                                       showViewpoints: 0,
                                                       sortBy: 'helpful',
                                                       pageNumber: 1,
                                                       filterByStar: 'positive',
                                                       _encoding: 'UTF8',
                                                       tag: 'neu08-20',
                                                       linkCode: 'll2',
                                                       linkId: '164b5e362a9613f2ba7b6068436f65a9',
                                                       camp: 1789,
                                                       creative: 9325
                                               }, 'R27AT6BW48A8FZ'),
                                    :class => 'amazon-review',
                                    :id => 'bv-clearing-kit',
                                    :target => '_blank'
                        %>
                    </div>
                </div>
            </div>

            <div class="py-3 mx-auto col-lg-8 justify-content-center">
                <p>
                    Shipping to Canada and Mexico is $5 USD.<br>
                    Shipping internationally is $9 USD<br><br>
                    Note: Please check your PayPal account to make sure your shipping address is up to date.<br>
                    We always ship in discreet packaging.
                </p>
            </div>
        </div>
    </div>
</section>

<%= render 'layouts/satisfaction_snippet' %>

<section class="pb-5">
    <div class="container">
        <div class="py-4">
            <div class="text-content text-lg">
                <%= link_to '', {}, name: 'reviews' %>
                <div id="stamped-main-widget"
                     data-product-id="5000"
                     data-name="NeuEve BV Clear Kit"
                     data-url="https://www.neueve.com/bacterial_vaginosis_vaginal_odor"
                     data-image-url="https://d3ilh7i74k3q3i.cloudfront.net/assets/bv_clearing_kit_NeuEve-a6c89f3b4abed3b92442f16f7280e5522ae9a265d5256ab6cd2f17f67e3c945b.jpg"
                     data-description="Natural vaginal suppositories developed by a gynecologist, for balancing the natural pH and ending recurrent BV. The BV Clear Starter Kit has 3 Silver suppositories plus 1 bonus Gold suppository."
                     data-product-sku="bv-clear-kit">
                </div>
            </div>
        </div>
    </div>
</section>


<%= render 'layouts/disclaimer' %>


<section class="bg-gray-100 text-dark-700 py-3">
    <div class="container">
        <div class="col-xl-8 col-10 mx-auto">
            <div class="row">
                <div class="col-md-3 col-6 service-column">
                    <%= image_tag("OnePercentFTP.png", :class => 'img-fluid seal',
                                  alt: '1% for the Planet Seal') %>
                </div>
                <div class="col-md-3 col-6 service-column">
                    <%= image_tag("no-chemical-logo-trans.gif", :class => 'img-fluid seal',
                                  alt: 'No Chemical Seal') %>
                </div>
                <div class="col-md-3 col-6 service-column">
                    <%= link_to image_tag('LeapingBunny-Logo.png', :class => 'img-fluid seal',
                                          alt: 'Leaping Bunny Seal'), 'https://www.neueve.com/blog/cruelty-free-certified/' %>
                </div>
                <div class="col-md-3 col-6 service-column">
                    <%= image_tag("made-in-usa-logo-vector-400x400.png", :class => "img-fluid seal",
                                  alt: 'Made in USA Seal') %>
                </div>

            </div>
        </div>
    </div>
</section>