
<br>
<h3>Recommended use for BV relief<sup>*</sup></h3>
<ol>
    <li>
        For premenopausal women (age younger than 40), the stronger NeuEve Gold formula can be directly used for more
        effective BV relief.
    </li>
    <br>
    <li>
        For perimenopausal women (age older than 40 but younger than 55), they could be sensitive to the stronger NeuEve
        Gold formula. It is recommended to start with the BV Clear Starter Kit first. If it does not clear BV symptoms
        completely, the NeuEve Gold formula can be used next.
    </li>
    <br>
    <li>
        For postmenopausal women (age older than 55), they could be sensitive to the BV Clear Starter Kit. It is recommended
        to start with the milder NeuEve Silk formula for 1 month. If it does not clear BV symptoms completely, the BV Clear
        Starter Kit can be used next. If BV symptoms still persist, use the Gold formula as a last resort.
    </li>
    <br>
    <li>
        Bacterial vaginosis (BV) has many symptoms, including fishy odor, discharge, burning and itching, which can be
        confused with yeast, trichomoniasis, and other sexually transmitted infections. Therefore, BV is often misdiagnosed.
        After using one box of the NeuEve Gold
        formula, if these symptoms are not improved, your condition might not be BV and it is recommended that you visit a
        gyn for a checkup.
    </li>
</ol>


<br>
<h3>Notes about NeuEve BV Clear<sup>*</sup></h3>

<ul>
    <li>
        Natural remedy of vaginal odor, foul smell, and other discomforts associated with bacterial vaginosis (BV).
    </li>
    <br>
    <li>
        All natural, organic, green, and food-grade ingredients. No drugs, no antiseptics, no chemicals, no preservatives,
        no herbs, and no hormones.
    </li>
    <br>
    <li>
        Research found that douches and antiseptics (e.g., vinegar, boric acid, borax, hydrogen peroxide, and baking soda)
        may not clear vaginal odor; they can cause more vaginal odor and BV by disrupting vaginal ecology.
    </li>
    <br>
    <li>
        As a natural product, NeuEve does not make any claims, but customers say that NeuEve clears vaginal odor rapidly,
        even recurrent vaginal odor.
    </li>
    <br>
    <li>
        Tired of vaginal odor? Try NeuEve BV Clear Starter Kit.
    </li>
    <br>
    <li>
        Say "goodbye" to vaginal odor for good!
    </li>
    <br>
    <li>
        Gold formula is stronger than the BV Clear Starter Kit. However, some women may be sensitive to it. If you are a
        first-time user of NeuEve, please try the milder NeuEve BV Clear Starter Kit first.
    </li>
    <br>
    <li>
        About 50% customers reported clearance of BV with the BV Clear Starter Kit. This is not a bad rate of success
        because nearly all these women have tried other things under the sun that did not work before trying NeuEve. Among
        the remaining 50% women who did not respond to the BV Clear Starter Kit, about one half reported relief with the
        stronger Gold formula.
    </li>
    <br>
    <li>
        A product for vaginal odor relief cannot be “one-size fits all.” It is normal that NeuEve works for some but not
        others. Customers say that the type of BV with a typical fishy odor often responds well. For those do not have the
        fishy odor, NeuEve may still work but the likelihood of success may be lower.
    </li>
    <br>
    <li>
        After trying the NeuEve BV Clear Starter Kit and the odor persists, you can try this Gold formula. If odor still
        persists, please visit a gynecologist for a checkup. Other things, like yeast and trichomoniasis, can also cause
        odor.
    </li>
    <br>
    <li>
        For post-menopausal women with itching and burning, combining the use of NeuEve cream helps achieve better relief.
    </li>
    <br>
    <li>
        Use 1-in-3 days. In most cases, odor may be cleared with 1-2 suppositories. Once odor clears, using one NeuEve
        suppository after menses may help maintain good vaginal health.
    </li>
</ul>
<br>

<h3>
    What is bacterial vaginosis?
</h3>
<p>
    Bacterial vaginosis (BV) is a syndrome (a set of signs and symptoms) caused by the over growth of certain bacteria in
    the vagina. One of the most noticeable symptoms is unpleasant vaginal odor. Some textbooks say BV is an infection, but
    in reality, BV is not a true infection but an upset of the vaginal normal ecology. Ecology is the interaction between
    living organisms and their environment. To help you understand the vaginal ecology, let us look at the ecology of a
    river as an example. Under the normal condition when the river has sufficient water, there are many fish in it. If the
    water level of the river is running low, the number of fish would decrease and amphibians would thrive. This creates
    an ecological shift. During an episode of BV the good bacterium, Lactobacillus, decreases and the unwanted harmful
    bacteria increase. The cause for such an ecological shift is not clear. Suspected factors include antibiotic use,
    douching, hormone reduction due to menopause or pregnancy, and a change of sexual partner. BV is the most common
    vaginal discomfort in women of childbearing age.
<h3>
    What are the signs of BV?
</h3>
<p>
    Women with BV may have an abnormal vaginal discharge with an unpleasant odor. Some women report a strong fish-like
    odor, especially after sex. The discharge can be white (milky) or gray. It may also be foamy or watery. Other symptoms
    may include burning when urinating, itching around the outside of the vagina, and irritation. These symptoms may also
    be caused by another type of infection, so it is important to see a doctor. Some women with BV have no symptoms at
    all.
<p>
<h3>
    How is BV treated?
</h3>
<p>
    BV is often treated with antibiotics, but they do not always work. Continuous use can cause side effects, such as
    yeast infection.
<h3>
    Why do antibiotics often fail?
</h3>
<p>
    Current treatment options for BV are antibiotics. They often do not clear the odor or the odor comes right back
    afterward. The reason is that the root cause of BV is not a true bacterial infection. Rather, it is an imbalance
    between “good” and “bad” bacteria. Let us use the river ecology again as an example. Killing the “amphibians” (bad
    bacteria) does not increase the number of fish (good bacteria) if the water level in the river is low. Therefore, any
    method that does not address the root cause, the ecological imbalance, is not effective for clearing BV.
</p>
<h3>
    Why do common home remedies often fail?
</h3>
<p>
    The most common home remedy for BV is douching. Research found that douching often causes severe BV with more vaginal
    odor because it further disrupts vaginal ecology. This forces women to buy more douches and become trapped in a cycle
    of douching. Douching is the worst thing for managing vaginal odor. If you want to avoid BV never douche.
</p>
<p>
    Another common home remedy for BV is oral or vaginal Lactobacillus capsules (probiotic formula) or yogurt that
    contains lactobacilli. Theoretically, adding more “good” bacteria into the vagina should help restore the balance
    between the “good” and “bad” bacteria. Unfortunately, in reality it often does not work. The right vaginal ecology
    cannot be restored without addressing the most important ecological factor ─ the environment. Let us use the river
    ecology example again. Putting more live fish (good bacteria) into a dried river to outnumber amphibians (bad
    bacteria) will result in more dead fish.
</p>
<p>
    Other home remedies for BV include apple cider vinegar, hydrogen peroxide, boric acid, borax, garlic, folic acid,
    vitamin C pills, etc. All these products are fully or partially antiseptic. They may temporarily reduce the number of
    vaginal bacteria, but once the application stops, the “bad” bacteria grow right back.
</p>
<p>
    Some home remedies occasionally show effects. This could be placebo effect because BV sometime recovers by itself.
    Overall, there are few effective home remedies that can truly clear vaginal odor without addressing its root cause.
</p>

<h3>
    How does NeuEve work?
</h3>
<p>
    A major reason for vaginal ecological imbalance is caused by the lack of available nutrients for the “good” bacteria.
    By supplementing the right combination of nutrients (prebiotics) for the “good” bacteria, the dominance of the “good”
    bacteria can be restored. This may result in the elimination of vaginal odor in some women.<sup>*</sup>
</p>

<h3>
    The NeuEve BV Clear Starter Kit<sup>*</sup>
</h3>

<p>
    Each NeuEve BV Clear Starter Kit contains 3 suppositories. Use one in every 3 days. To avoid leakage after
    application, insert the suppository at the bedtime. After inserting the first suppository, odor clearance may be
    noticed within the first 24 hours. By using the two additional suppositories, the clearance of vaginal odor can be
    assured. If the odor persists after using the BV Clear Starter Kit, the Gold formula can be used. Once the odor is
    cleared, use one NeuEve suppository regularly after each menses may help maintain good vaginal health.
</p>

<h3>
    Advantages<sup>*</sup>
</h3>

<ul>
    <li>
        All natural, organic, green and food-grade safe ingredients of plant source.
    </li>
    <li>
        Free of drugs, herbs, chemicals, preservatives and artificial fragrances.
    </li>
    <li>
        Regular use may help maintain good vaginal health.
    </li>
    <li>
        Few side effects.
    </li>
    <li>
        100% satisfaction guarantee or your money back.
    </li>
</ul>

<p>
    <strong>Tip:</strong> About 50% customers reported clearance of vaginal odor with the BV Clear Starter Kit. For those
    not cleared by the Starter Kit, the NeuEve Gold formula can be used. After the odor clears, applying the NeuEve Gold
    formula once a month helps maintain good vaginal health.
</p>

<p>
    <strong>Note:</strong> If odor persists, things other than BV such as yeast, may be involved. Please visit a
    gynecologist to have a checkup.
</p>

<h3>
    What customers said about NeuEve:<sup>*</sup>
</h3>

<p class="testimonial">
    “I am using your product for BV. The result is absolutely wonderful!!! I seem to
    be clearing exceptionally well. BV has been a longstanding problem for me and I went
    from product to product for years. Thanks a million for creating this wonderful product. I
    will be sharing the information and my success with my primary care physician.”

    <br><br>

    “I have had this awful smell for many years and tried everything possible but
    nothing worked, not even prescription drugs. This product really works.”

    <br><br>

    “This thing works. The bad odor is gone and I feel really good.”

    <br><br>

    “I have had BV for many years and have seen several OB/GYN doctors and taken
    different drugs, but nothing worked. Your product is a godsend. Only one suppository
    and the odor is gone. I thank you, thank you, and thank you!!!”

</p>
<%= link_to 'Amazon Reviews of NeuEve BV Clear Starter Kit'.html_safe,
            create_url('https://www.amazon.com/',
                       ['NeuEve-Suppository-Clear-Starter-Kit',
                        'product-reviews',
                        'B00UDHYKAQ'],
                       {
                               ie:'UTF8',
                               reviewerType:'all_reviews',
                               showViewpoints:0,
                               sortBy:'helpful',
                               pageNumber:1,
                               filterByStar:'positive',
                               _encoding:'UTF8',
                               tag:'neu08-20',
                               linkCode:'ll2',
                               linkId:'164b5e362a9613f2ba7b6068436f65a9',
                               camp:1789,
                               creative: 9325
                       }, 'R27AT6BW48A8FZ'),
            :class => 'amazon-review',
            :id => 'bv-clearing-kit',
            :target => '_blank'
%>
<br>
<%= link_to 'Read More Reviews', bacterial_vaginosis_testimonials_path %>
<br>

<%= render 'layouts/testimonial_disclaimer' %>

<table class='table table-bordered table-striped'>


    <thead>
    <tr>
        <th colspan="2" style="font-size:23px;">
            NeuEve BV Clear Starter Kit
        </th>
    </tr>
    </thead>
    <tr align="center">
        <td style="background-color: #ffffff">
            <div align="center">
                <%= image_tag('bv-clear-starter-kit-image.jpg', :class => 'img_pair') %>
            </div>
        </td>
        <td style="vertical-align:middle">
            <div itemscope itemtype="http://schema.org/Product" align="center">
                <strong>
                    <div itemprop="name">NeuEve BV Clear Starter Kit<br>3 suppositories / pack</div>
                    <meta itemprop="category"
                          content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                    <meta itemprop="description"
                          content="Natural suppositories for clearing bacterial vaginosis (BV). Gynecologist-tested."/>
                </strong>
                <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="price">$34.95</span>
                    <meta itemprop="priceCurrency" content="USD"/>
                </span>

                <br>


                <div class="formbutton">
                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="7RQ4AK4HQGNEU">
                        <%= submit_tag 'Add to Cart',
                                       :class => 'btn btn-large btn-warning add-to-cart',
                                       :id => 'bv-clearing-kit',
                                       :name => 'submit' %>
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                             height="1">
                    </form>
                </div>

                <br>

                3.3 Stars on <%= link_to image_tag('amazon-4-stars.png', :size => "95x42"),
                                         create_url('https://www.amazon.com/',
                                                    ['NeuEve-Suppository-Clear-Starter-Kit',
                                                     'product-reviews',
                                                     'B00UDHYKAQ'],
                                                    {
                                                            ie:'UTF8',
                                                            reviewerType:'all_reviews',
                                                            showViewpoints:0,
                                                            sortBy:'helpful',
                                                            pageNumber:1,
                                                            filterByStar:'positive',
                                                            _encoding:'UTF8',
                                                            tag:'neu08-20',
                                                            linkCode:'ll2',
                                                            linkId:'164b5e362a9613f2ba7b6068436f65a9',
                                                            camp:1789,
                                                            creative: 9325
                                                    }, 'R27AT6BW48A8FZ'),
                                         :class => 'amazon-review',
                                         :id => 'bv-clearing-kit',
                                         :target => '_blank' %><br>

                <%= link_to 'Amazon Reviews of NeuEve BV Clear Starter Kit'.html_safe,
                            create_url('https://www.amazon.com/',
                                       ['NeuEve-Suppository-Clear-Starter-Kit',
                                        'product-reviews',
                                        'B00UDHYKAQ'],
                                       {
                                               ie:'UTF8',
                                               reviewerType:'all_reviews',
                                               showViewpoints:0,
                                               sortBy:'helpful',
                                               pageNumber:1,
                                               filterByStar:'positive',
                                               _encoding:'UTF8',
                                               tag:'neu08-20',
                                               linkCode:'ll2',
                                               linkId:'164b5e362a9613f2ba7b6068436f65a9',
                                               camp:1789,
                                               creative: 9325
                                       }, 'R27AT6BW48A8FZ'),
                            :class => 'amazon-review',
                            :id => 'bv-clearing-kit',
                            :target => '_blank'
                %>
            </div>
        </td>
    </tr>

    <thead>
    <tr>
        <th colspan="2" style="font-size:23px;">
            NeuEve Gold Formula for Advanced BV Care
        </th>
    </tr>
    </thead>
    <tr align="center">
        <td style="background-color: #ffffff">
            <div align="center">
                <%= image_tag('gold-formula-for-bv.jpg', :class => 'img_pair') %>
            </div>
        </td>
        <td style="vertical-align:middle">
            <div itemscope itemtype="http://schema.org/Product" align="center">
                <strong>
                    <div itemprop="name">NeuEve Gold Formula for Advanced BV Care<br>4 suppositories / pack</div>
                    <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
                    <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
                </strong>
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">$51.95</span>
          <meta itemprop="priceCurrency" content="USD"/>
        </span>
                <br>

                <div class="formbutton">
                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="BW3C5YD36UAS8">
                        <%= submit_tag 'Add to Cart',
                                       :class => 'btn btn-large btn-warning add-to-cart',
                                       :id => 'gold-formula',
                                       :name => 'submit' %>
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>

                <br>

                3.5 Stars on <%= link_to image_tag('amazon-4-stars.png', :size => "95x42"),
                                         create_url('https://www.amazon.com/',
                                                    ['NeuEve-Suppository-Gold-formula-6',
                                                     'product-reviews',
                                                     'B00CM1T35I'],
                                                    {
                                                            ie:'UTF8',
                                                            reviewerType:'all_reviews',
                                                            showViewpoints:0,
                                                            sortBy:'helpful',
                                                            pageNumber:1,
                                                            filterByStar:'positive',
                                                            _encoding:'UTF8',
                                                            tag:'neu08-20',
                                                            linkCode:'ur2',
                                                            linkId:'HSNLHLCPIAWK6RZM',
                                                            camp:1789,
                                                            creative: 9325
                                                    }, 'R34NC759R1IWN8'),
                                         :class => 'amazon-review',
                                         :id => 'gold-formula',
                                         :target => '_blank' %><br>


                <%= link_to 'Amazon Reviews of NeuEve Gold'.html_safe,
                            create_url('https://www.amazon.com/',
                                       ['NeuEve-Suppository-Gold-formula-6',
                                        'product-reviews',
                                        'B00CM1T35I'],
                                       {
                                               ie:'UTF8',
                                               reviewerType:'all_reviews',
                                               showViewpoints:0,
                                               sortBy:'helpful',
                                               pageNumber:1,
                                               filterByStar:'positive',
                                               _encoding:'UTF8',
                                               tag:'neu08-20',
                                               linkCode:'ur2',
                                               linkId:'HSNLHLCPIAWK6RZM',
                                               camp:1789,
                                               creative: 9325
                                       }, 'R34NC759R1IWN8'),
                            :class => 'amazon-review',
                            :id => 'gold-formula',
                            :target => '_blank' %>

            </div>
        </td>
    </tr>

    <tr>
        <th colspan="4">
            Shipping is $5.95. Free shipping on all orders over $70!<br><br>
            Shipping to Canada and Mexico is $8.95 USD, and only $3 USD for orders over $70.<br>
            Shipping internationally is $15 USD, and only $9 USD for orders over $70.<br><br>
            Note:  Please check your PayPal account to make sure your shipping address is up to date.
        </th>
    </tr>

    <tr>
        <td colspan="4">
            <div align="center">
                <%= image_tag("100-guarantee-tiny.png", :size => "300x300", :class => "applicator") %>
                <br>

                We offer a 100% customer satisfaction guarantee on all of our products.
                <br>
                We are so confident our products will make a noticeable difference in your wellness that if any product
                <br>
                does not meet your highest expectations, return the product within 30 days for a full credit or
                exchange.
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIG1QYJKoZIhvcNAQcEoIIGxjCCBsICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCNQO19e7zmuCo3HnXXWJA5JVqigmiwdLTAf7NTDGxHean0xO0aAB+aRUZLySr74Aboij9+eyfyMYrGchLRNn46sS+qUdLqIZjHeGOkjZ/9Wy1tLUm8jdbpyF7xwRafRL+QCsw43RD7/CGmp6DV38m3GuweE9WkhC+KPAz8E+1poDELMAkGBSsOAwIaBQAwUwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAjD5FE/JprhLYAwijyzIAUj7bvH2yqeTnC7Y2tbGxgrRAC8wg/obPOD9E5lTMpWT6lpaEkasbjA2TV7oIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTQwNDA2MTY0MjE2WjAjBgkqhkiG9w0BCQQxFgQUcA4WEKohTDQDLhYo0noKzOsJLo4wDQYJKoZIhvcNAQEBBQAEgYAq2tAYAimkXzzmVHa+lxuzo4LBSwoD8Xx+x0OtgZJBv1dYfr76Bco/H58PJSH1vaMCviT9c5q+gQOpxZz6M+XmypPsFtH2jV5eKE/WU1YADwld96YvS9r+fVLptBVYGYTIeI1lDiSV6PJM/JIBfa7EVLeK6aWa0nkmi5ThXbEmoA==-----END PKCS7-----
">
                    <%= submit_tag 'View Your Shopping Cart', :class => 'btn btn-large btn-info view-cart', :name =>
                            'submit' %>
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                         height="1">
                </form>
            </div>
        </td>
    </tr>
</table>


<br>

<%= render 'layouts/disclaimer' %>

<div>
    <em>NeuEve has never been tested on animals, and does not contain any animal products.</em><br>
</div>
<div align="center">
    <%= image_tag("hormone-free-trans.gif", :size => "160x160", :class => "seal") %>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <%= image_tag("no-chemical-logo-trans.gif", :size => "160x160", :class => "seal") %>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <%= image_tag("not-tested-on-animals.gif", :size => "160x160", :class => "seal") %>
</div>


<img src="https://ir-na.amazon-adsystem.com/e/ir?t=neu06-20&l=ur2&o=1" width="1" height="1" border="0" alt=""
     style="border:none !important; margin:0px !important;"/>