<br>
<br>

<div align="center">
  <h3>
    Which formula is right for me?
  </h3>
  <br>
  <%= image_tag("http://i.imgur.com/W0JQU03.png", size: "500x400") %>
  <br>
  <%= link_to 'More details', faq_path(:anchor => 'selectingFormula') %>
</div>

<br>


<table class='table table-bordered table-striped table-hover table-condensed'>
  <thead>
  <tr>
    <th colspan="4" rowspan="1" style="font-size:23px;">Difference between Silk, Silver, and Gold Formulas</th>
  </tr>
  <tr>
    <th>Suppository</th>
    <th>Silk</th>
    <th>Silver</th>
    <th>Gold</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><strong>Effect</strong></td>
    <td>Mild</td>
    <td>Moderate</td>
    <td>Strong</td>
  </tr>
  <tr>
    <td><strong>Suitable for</strong></td>
    <td>Recovery</td>
    <td>Recovery & Maintenance</td>
    <td>Maintenance</td>
  </tr>
  <tr>
    <td><strong>Each lasts</strong></td>
    <td>3-4 days</td>
    <td>5-6 days</td>
    <td>7-8 days</td>
  </tr>
  <tr>
    <td><strong>Supplies per Month</strong></td>
    <td>8</td>
    <td>6</td>
    <td>4</td>
  </tr>
  </tbody>
</table>
<div align="center">
  <%= link_to 'More details on Silk vs. Silver vs. Gold', faq_path(:anchor => 'silkSilverGoldDifferences') %>
</div>
<br>



<br>
<h3>
  Try it for yourself, order NeuEve today!
</h3>

<table class='table table-bordered table-striped'>
  <thead>
  <tr>
    <th colspan="2">
      <strong>Purchase NeuEve</strong>
    </th>
  </tr>
  </thead>

  <tr align="center">
    <td>
      <div class="span1"></div>
      <div class="span4" style="margin-left: 0">
        <%= image_tag 'neueve box image.png' %>
      </div>
      <div class="span1"></div>
    </td>
    <td style="background-color: black">
      <div class="span1"></div>
      <div class="span4" style="margin-left: 0">
        <%= image_tag 'http://i.imgur.com/QcozLid.png' %>
      </div>
      <div class="span1"></div>
    </td>
  </tr>

  <tr>
    <th colspan="2">
      Free shipping on all orders >$70
    </th>
  </tr>

  <tr>
    <td colspan="1">
      <div itemscope itemtype="http://schema.org/Product" align="center">
        <strong>
          <div itemprop="name">NeuEve Silk (1 month supply)<br>8 suppositories / pack</div>
          <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
          <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
        </strong>
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">$49.95</span>
          <meta itemprop="priceCurrency" content="USD"/> +
          <span itemprop="priceSpecification" itemscope itemtype="http://schema.org/DeliveryChargeSpecification">
            <span itemprop="price">
                $5.95
            </span>
          </span> shipping
        </span>
        <br>

        <div class="formbutton">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="79GCYJ5SYFK64">
            <%= submit_tag 'Buy Now', :class => 'btn btn-large btn-warning', :name => 'submit' %>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>

        <div class="formbutton">
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="QV8HRKJ34BXML">
            <%= submit_tag 'Add to Cart', :class => 'btn btn-large btn-warning', :name => 'submit' %>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      </div>


    </td>

    <td colspan="1" rowspan="3" style="vertical-align:middle">
      <div itemscope itemtype="http://schema.org/Product" align="center">
        <strong>
          <div itemprop="name">NeuEve Cream<br>0.6 oz</div>
          <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
          <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
        </strong>
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">$29.95</span>
          <meta itemprop="priceCurrency" content="USD"/> +
          <span itemprop="priceSpecification" itemscope itemtype="http://schema.org/DeliveryChargeSpecification">
            <span itemprop="price">
                $5.95
            </span>
          </span> shipping
        </span>
        <br>

        <div class="formbutton">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="M6V3JNY2R2J4A">
            <%= submit_tag 'Buy Now', :class => 'btn btn-large btn-warning', :name => 'submit' %>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>

        <div class="formbutton">
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="MGMFZHE4QB2LW">
            <%= submit_tag 'Add to Cart', :class => 'btn btn-large btn-warning', :name => 'submit' %>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>

      </div>
    </td>
  </tr>
  <tr>
    <td colspan="1">
      <div itemscope itemtype="http://schema.org/Product" align="center">
        <strong>
          <div itemprop="name">NeuEve Silver (1 month supply)<br>6 suppositories / pack</div>
          <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
          <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
        </strong>
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">$49.95</span>
          <meta itemprop="priceCurrency" content="USD"/> +
          <span itemprop="priceSpecification" itemscope itemtype="http://schema.org/DeliveryChargeSpecification">
            <span itemprop="price">
                $5.95
            </span>
          </span> shipping
        </span>

        <br>

        <div class="formbutton">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="L6YQBVK5GDKKY">
            <%= submit_tag 'Buy Now', :class => 'btn btn-large btn-warning', :name => 'submit' %>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>

        <div class="formbutton">
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="YBLLFZFMYNVT8">
            <%= submit_tag 'Add to Cart', :class => 'btn btn-large btn-warning', :name => 'submit' %>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      </div>
  </tr>

  </td>

  <tr>
    <td colspan="1">
      <div itemscope itemtype="http://schema.org/Product" align="center">
        <strong>
          <div itemprop="name">NeuEve Gold (1 month supply)<br>4 suppositories / pack</div>
          <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
          <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
        </strong>
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">$49.95</span>
          <meta itemprop="priceCurrency" content="USD"/> +
          <span itemprop="priceSpecification" itemscope itemtype="http://schema.org/DeliveryChargeSpecification">
            <span itemprop="price">
                $5.95
            </span>
          </span> shipping
        </span>
        <br>

        <div class="formbutton">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="5CZATKNAZBQAY">
            <%= submit_tag 'Buy Now', :class => 'btn btn-large btn-warning', :name => 'submit' %>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>

        <div class="formbutton">
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="BW3C5YD36UAS8">
            <%= submit_tag 'Add to Cart', :class => 'btn btn-large btn-warning', :name => 'submit' %>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      </div>
    </td>
  </tr>
</table>


<br>

<br>

<table class='table table-bordered table-striped'>

  <thead>
  <tr>
    <th colspan="2">
      Subscribe to NeuEve and save!
    </th>
  </tr>
  </thead>

  <tr>
    <td style="vertical-align: middle">
      <br>
      Why subscribe to NeuEve?<br><br>
      <ul>
        <li>Save 10% when you subscribe!</li>
        <br>
        <li>Regular monthly shipments, hassle-free</li>
        <br>
        <li>Convenient automatic payment via PayPal</li>
      </ul>
      <br>
      <br><br><br>


      <p>
        Our goal is to make a positive impact on the world.<br>
        We've chosen to accomplish that goal by <strong><em>saving marriages.</em></strong>
      </p>
    </td>
    <td>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="QZJH87LLDYFCY">
        <input type="hidden" name="on0" value="">
        <!--<select name="os0">
          <option value="NeuEve Silver">NeuEve Silver : $36 USD - monthly</option>
          <option value="NeuEve Gold">NeuEve Gold : $99 USD - monthly</option>
        </select> -->
        Select your option:
        <br>
        <br>

        <div itemscope itemtype="http://schema.org/Product">
          <label class="radio">
            <input type="radio" name="os0" value="NeuEve Silk">
            <strong><span itemprop="name">NeuEve Silk</span></strong><br>
            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
            <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              8 suppositories / pack<br>
            <span itemprop="price">$44.95 per month + $5.95 shipping</span><br>
            <meta itemprop="priceCurrency" content="USD"/>
            </span>
          </label>
        </div>
        <br>

        <div itemscope itemtype="http://schema.org/Product">
          <label class="radio">
            <input type="radio" name="os0" value="NeuEve Silver" checked="checked">
            <strong><span itemprop="name">NeuEve Silver</span></strong><br>
            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
            <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              6 suppositories / pack<br>
            <span itemprop="price">$44.95 per month + $5.95 shipping</span><br>
            <meta itemprop="priceCurrency" content="USD"/>
            </span>
          </label>
        </div>
        <br>

        <div itemscope itemtype="http://schema.org/Product">
          <label class="radio">
            <input type="radio" name="os0" value="NeuEve Gold">
            <strong><span itemprop="name">NeuEve Gold</span></strong><br>
            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
            <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              4 suppositories / pack<br>
            <span itemprop="price">$44.95 per month + $5.95 shipping</span><br>

            <meta itemprop="priceCurrency" content="USD"/>
            </span>
          </label>
        </div>
        <br>

        <div itemscope itemtype="http://schema.org/Product">
          <label class="radio">
            <input type="radio" name="os0" value="NeuEve Cream">
            <strong><span itemprop="name">NeuEve Cream</span></strong><br>
            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
            <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              0.6 oz<br>
            <span itemprop="price">$26.95 per month + $5.95 shipping</span><br>

            <meta itemprop="priceCurrency" content="USD"/>
            </span>
          </label>
        </div>
        <br>

        <input type="hidden" name="currency_code" value="USD">

        <div align="center">
          <%= submit_tag 'Subscribe', :class => 'btn btn-large btn-warning', :name => 'submit' %>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </div>
      </form>
    </td>
  </tr>
</table>

<em>
  *These statements have not been evaluated by the FDA. The product is not intended to diagnose, treat, cure, or prevent
  any diseases.
</em>
