<br>
<br>

<div align="center">
  <h3>
    Which formula is right for me?
  </h3>
    NeuEve Silver is the right choice for <em>most</em> women to start with.
    <br>NeuEve Silk is milder than NeuEve Silver, and is
    designed for women with severe dryness and atrophy.
  <br>
  <%= image_tag("http://i.imgur.com/W0JQU03l.png", size: "500x400") %>
  <br>
  <%= link_to 'Frequently Asked Questions: How do I select the right NeuEve suppository formula?', faq_path(:anchor => 'selectingFormula') %>
</div>

<br>
<h3>
  Try it for yourself, order NeuEve today!
</h3>

<table class='table table-bordered table-striped table-condensed'>

  <tr align="center">
    <td style="background-color: #fafaf6" colspan="2">
      <div align="center">
        <%= image_tag('http://i.imgur.com/qTYV3bKl.png', :class=>'img_pair') %>
      </div>
    </td>
    <td style="background-color: #fdfdfa" colspan="2">
      <div align="center">
        <%= link_to image_tag('http://i.imgur.com/Qd2uoFal.jpg', :class=>'img_pair'), cream_path %>
      </div>
    </td>
  </tr>
  <tr>
    <th colspan="4" rowspan="1" style="font-size:19px;">Difference between Silk, Silver, and Gold Formulas</th>
  </tr>
  <tr>
    <th></th>
    <th>Silk (Mild)</th>
    <th>Silver (Advanced)</th>
    <th>Gold (Expert)</th>
  </tr>
  <tr>
    <td><strong>Effect</strong></td>
    <td>Mild</td>
    <td>Moderate</td>
    <td>Strong</td>
  </tr>
  <tr>
    <td><strong>Suitable for</strong></td>
    <td>Recovery</td>
    <td>Recovery & Maintenance</td>
    <td>Maintenance</td>
  </tr>
  <tr>
    <td><strong>Each lasts</strong></td>
    <td>3-4 days</td>
    <td>5-6 days</td>
    <td>7-8 days</td>
  </tr>
  <tr>
    <td><strong>Supplies per Month</strong></td>
    <td>8</td>
    <td>6</td>
    <td>4</td>
  </tr>
  <tr>
    <td colspan="2">
      <div align="center">
        <%= link_to 'More details on Silk vs. Silver vs. Gold', faq_path(:anchor => 'silkSilverGoldDifferences') %>
      </div>
    </td>
    <td colspan="2">
      <div align="center">
        <%= link_to 'More details on Cream', cream_path %>
      </div>
    </td>
  </tr>
</table>

<table class='table table-bordered table-striped'>
  <thead>
  <tr class="mobile-only">
    <th colspan="4" style="font-size:23px;" class="mobile-only">
      Subscribe to NeuEve
    </th>
  </tr>
  <tr>
    <th colspan="2" style="font-size:23px;" class="non-mobile-only">
      Subscribe to NeuEve
    </th>
    <th colspan="2" style="font-size:23px;">
      USA
    </th>
    <th colspan="2" style="font-size:23px;">
      Canada or Mexico
    </th>
  </tr>
  </thead>

  <tr>
    <td style="vertical-align: middle" colspan="2" class="non-mobile-only" rowspan="2">
      <br>
      Why subscribe to NeuEve?<br><br>
      <ul>
        <li>Free Shipping!</li>
        <br>
        <li>Save 10% for USA addresses!</li>
        <br>
        <li>Regular monthly shipments, hassle-free</li>
        <br>
        <li>Convenient automatic payment via PayPal</li>
        <br>
        <li>Easy change of subscription by sending us an email</li>
        <br>
        <li>You're free to cancel at any time</li>
      </ul>
      <br>
      <br><br><br>


      <p>
        Our goal is to make a positive impact on the world.<br>
        We've chosen to accomplish that goal by <strong><em>saving marriages.</em></strong>
      </p>
    </td>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <td colspan="2">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="QZJH87LLDYFCY">
        <input type="hidden" name="on0" value="Formula">
        Select your option:
        <br>
        <br>

        <div itemscope itemtype="http://schema.org/Product">
          <label class="radio">
            <input type="radio" name="os0" value="NeuEve Silk (USA)">
            <strong><span itemprop="name">NeuEve Silk Formula</span></strong><br>
            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
            <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              8 suppositories / pack<br>
            <span itemprop="price">$44.95 per month + <del>$5.95</del> FREE shipping</span><br>
            <meta itemprop="priceCurrency" content="USD"/>
            </span>
          </label>
        </div>
        <br>

        <div itemscope itemtype="http://schema.org/Product">
          <label class="radio">
            <input type="radio" name="os0" value="NeuEve Silver (USA)" checked="checked">
            <strong><span itemprop="name">NeuEve Silver Formula</span></strong><br>
            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
            <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              6 suppositories / pack<br>
            <span itemprop="price">$44.95 per month + <del>$5.95</del> FREE shipping</span><br>
            <meta itemprop="priceCurrency" content="USD"/>
            </span>
          </label>
        </div>
        <br>

        <div itemscope itemtype="http://schema.org/Product">
          <label class="radio">
            <input type="radio" name="os0" value="NeuEve Gold (USA)">
            <strong><span itemprop="name">NeuEve Gold Formula</span></strong><br>
            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
            <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              4 suppositories / pack<br>
            <span itemprop="price">$44.95 per month + <del>$5.95</del> FREE shipping</span><br>

            <meta itemprop="priceCurrency" content="USD"/>
            </span>
          </label>
        </div>
        <br>

        <div itemscope itemtype="http://schema.org/Product">
          <label class="radio">
            <input type="radio" name="os0" value="NeuEve Cream (USA)">
            <strong><span itemprop="name">NeuEve Cream</span></strong><br>
            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
            <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              0.7 oz<br>
            <span itemprop="price">$29.75 per month + <del>$5.95</del> FREE shipping</span><br>

            <meta itemprop="priceCurrency" content="USD"/>
            </span>
          </label>
        </div>
        <br>
    </td>

    <td colspan="2">
        Subscribers get free shipping!
        <br>
        <br>

        <div itemscope itemtype="http://schema.org/Product">
          <label class="radio">
            <input type="radio" name="os0" value="NeuEve Silk (Canada)">
            <strong><span itemprop="name">NeuEve Silk Formula</span></strong><br>
            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
            <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              8 suppositories / pack<br>
            <span itemprop="price">$49.95 per month + <del>$8.95</del> FREE shipping</span><br>
            <meta itemprop="priceCurrency" content="USD"/>
            </span>
          </label>
        </div>
        <br>

        <div itemscope itemtype="http://schema.org/Product">
          <label class="radio">
            <input type="radio" name="os0" value="NeuEve Silver (Canada)">
            <strong><span itemprop="name">NeuEve Silver Formula</span></strong><br>
            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
            <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              6 suppositories / pack<br>
            <span itemprop="price">$49.95 per month + <del>$8.95</del> FREE shipping</span><br>
            <meta itemprop="priceCurrency" content="USD"/>
            </span>
          </label>
        </div>
        <br>

        <div itemscope itemtype="http://schema.org/Product">
          <label class="radio">
            <input type="radio" name="os0" value="NeuEve Gold (Canada)">
            <strong><span itemprop="name">NeuEve Gold Formula</span></strong><br>
            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
            <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              4 suppositories / pack<br>
            <span itemprop="price">$49.95 per month + <del>$8.95</del> FREE shipping</span><br>

            <meta itemprop="priceCurrency" content="USD"/>
            </span>
          </label>
        </div>
        <br>

        <div itemscope itemtype="http://schema.org/Product">
          <label class="radio">
            <input type="radio" name="os0" value="NeuEve Cream (Canada)">
            <strong><span itemprop="name">NeuEve Cream</span></strong><br>
            <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
            <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              0.7 oz<br>
            <span itemprop="price">$32.95 per month + <del>$8.95</del> FREE shipping</span><br>

            <meta itemprop="priceCurrency" content="USD"/>
            </span>
          </label>
        </div>
        <br>
    </td>
  </tr>
  <tr>
    <td colspan="4">
        <input type="hidden" name="currency_code" value="USD">
        <div align="center">
          <%= submit_tag 'Subscribe', :class => 'btn btn-large btn-warning subscribe-button', :name => 'submit' %>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </div>
        </form>
    </td>
  </tr>
  <tr>
    <th colspan="6">
      Subscribers get free shipping + 10% savings for USA addresses!
    </th>
  </tr>

</table>





<table class='table table-bordered table-striped'>

<thead>
<tr>
  <th colspan="4" style="font-size:23px;">
    Ordering à la carte
  </th>
</tr>
</thead>

<tr>
  <td colspan="2" style="vertical-align:middle">
    <div itemscope itemtype="http://schema.org/Product" align="center">
      <strong>
        <div itemprop="name">NeuEve Silk Formula (1 month supply)<br>8 suppositories / pack</div>
        <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
        <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
      </strong>
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">$49.95</span>
          <meta itemprop="priceCurrency" content="USD"/>
        </span>
      <br>

      <div class="formbutton">
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="QV8HRKJ34BXML">
          <%= submit_tag 'Add to Cart', :class => 'btn btn-large btn-warning add-to-cart',
                  :id                          => 'silk-formula',
                  :name                        => 'submit' %>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>

      <br>

      <%= link_to 'Amazon Reviews of NeuEve Silk'.html_safe,
              'http://www.amazon.com/NeuEve-Suppository-Silk-Formula-8/product-reviews/B00K8K4JHM/',
              :class => 'amazon-review',
              :id     => 'silk-formula',
              :target => '_blank'
      %>

    </div>
  </td>

  <td colspan="2">
    <div itemscope itemtype="http://schema.org/Product" align="center">
      <strong>
        <div itemprop="name">NeuEve Assorted Formulas (1 month supply)<br>7 suppositories / pack<br>(4 Silks, 2 Silvers, 1
          Gold)
        </div>
        <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
        <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
      </strong>
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">$52.95</span>
          <meta itemprop="priceCurrency" content="USD"/>
        </span>
      <br>

      <div class="formbutton">
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="NU5SQ9KGHKCLG">
          <%= submit_tag 'Add to Cart',
                  :class => 'btn btn-large btn-warning add-to-cart',
                  :id    => 'assorted-formulas',
                  :name  => 'submit' %>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>

      <br>

      <%= link_to 'Amazon Reviews of NeuEve Assorted Formulas'.html_safe,
              'http://www.amazon.com/NeuEve-Suppository-Assorted-Formulas-7/product-reviews/B00NN2Y04E',
              :class  => 'amazon-review',
              :id     => 'assorted-formulas',
              :target => '_blank' %>
    </div>
  </td>
</tr>
<tr>
  <td colspan="2">
    <div itemscope itemtype="http://schema.org/Product" align="center">
      <strong>
        <div itemprop="name">NeuEve Silver Formula (1 month supply)<br>6 suppositories / pack</div>
        <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
        <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
      </strong>
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">$49.95</span>
          <meta itemprop="priceCurrency" content="USD"/>
        </span>

      <br>

      <div class="formbutton">
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="YBLLFZFMYNVT8">
          <%= submit_tag 'Add to Cart',
                  :class => 'btn btn-large btn-warning add-to-cart',
                  :id    => 'silver-formula',
                  :name  => 'submit' %>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>

      <br>
      4.7 Stars on <%= link_to image_tag('http://i.imgur.com/KqOIgAJl.png', :size => "95x42"),
              'http://www.amazon.com/NeuEve-Suppository-Silver-formula-6/product-reviews/B00CMIC35I/',
              :class => 'amazon-review',
              :id     => 'silver-formula',
              :target => '_blank' %><br>

      <%= link_to 'Amazon Reviews of NeuEve Silver'.html_safe,
              'http://www.amazon.com/NeuEve-Suppository-Silver-formula-6/product-reviews/B00CMIC35I/',
              :class => 'amazon-review',
              :id     => 'silver-formula',
              :target => '_blank' %>

    </div>
  </td>
  <td colspan="2" style="vertical-align:middle">
  <div itemscope itemtype="http://schema.org/Product" align="center">
      <strong>
        <div itemprop="name">NeuEve Cream<br>0.7 oz</div>
        <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
        <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
      </strong>
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">$32.95</span>
          <meta itemprop="priceCurrency" content="USD"/>
        </span>
      <br>

      <div class="formbutton">
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="MGMFZHE4QB2LW">
          <%= submit_tag 'Add to Cart',
                  :class => 'btn btn-large btn-warning add-to-cart',
                  :id    => 'neueve-cream',
                  :name  => 'submit' %>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>

      <br>

      5.0 Stars on <%= link_to image_tag('http://i.imgur.com/JEp6f2al.jpg', :size => "95x42"),
              'http://www.amazon.com/NeuEve-Cream/product-reviews/B00CHY132G/',
              :class => 'amazon-review',
              :id     => 'neueve-cream',
              :target => '_blank' %><br>

      <%= link_to 'Amazon Reviews of NeuEve Cream'.html_safe,
              'http://www.amazon.com/NeuEve-Cream/product-reviews/B00CHY132G/',
              :class => 'amazon-review',
              :id     => 'neueve-cream',
              :target => '_blank' %>

    </div>
  </td>
</tr>


<tr>
  <td colspan="2" style="vertical-align:middle">
    <div itemscope itemtype="http://schema.org/Product" align="center">
      <strong>
        <div itemprop="name">NeuEve Gold Formula (1 month supply)<br>4 suppositories / pack</div>
        <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
        <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
      </strong>
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">$49.95</span>
          <meta itemprop="priceCurrency" content="USD"/>
        </span>
      <br>

      <div class="formbutton">
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="BW3C5YD36UAS8">
          <%= submit_tag 'Add to Cart',
                  :class => 'btn btn-large btn-warning add-to-cart',
                  :id    => 'gold-formula',
                  :name  => 'submit' %>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>

      <br>

      <%= link_to 'Amazon Reviews of NeuEve Gold'.html_safe,
              'http://www.amazon.com/NeuEve-Suppository-Gold-formula-6/product-reviews/B00CM1T35I/',
              :class => 'amazon-review',
              :id     => 'gold-formula',
              :target => '_blank' %>

      <br>
      Please read this before ordering Gold formula:
      <br>
      If you have severe dryness, you <br>should order the mild Silk formula first.
    </div>
  </td>

  <td colspan="2" style="vertical-align:middle">
    <div itemscope itemtype="http://schema.org/Product" align="center">

      <strong>
        <div itemprop="name">Suppository Applicator, Reusable</div>
        <%= image_tag('http://i.imgur.com/1heUxx7.png', :size => "240x240", :class=>'applicator') %><br>

        <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
        <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>
      </strong>
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">$4.95</span>
          <meta itemprop="priceCurrency" content="USD"/>
        </span>
      <br>

      <div class="formbutton">
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="2R7PRXENKU33G">
          <%= submit_tag 'Add to Cart',
                  :class => 'btn btn-large btn-warning add-to-cart',
                  :id    => 'suppository-applicator',
                  :name  => 'submit' %>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>

      <ul>
        <li>Makes the use of suppositories easier</li>
        <li>Made of plastic</li>
        <li>Rinse after each use</li>
      </ul>
    </div>
  </td>
</tr>

<tr>
<th colspan="4">
    Shipping is $5.95. Free shipping on all orders over $70!<br><br>
    Shipping to Canada and Mexico is $8.95 USD, and only $3 USD for orders over $70.<br>
    Shipping internationally is $15 USD, and only $9 USD for orders over $70.
  </th>
</tr>

<tr>
  <th colspan="4" class="breast_cancer" style="background-color: hotpink">
    Special Offer for Breast Cancer Survivors
  </th>
</tr>

<tr>
  <td colspan="4">
    <div itemscope itemtype="http://schema.org/Product" align="center">

      <div itemprop="name"><strong>Breast Cancer Survivor Starter Kit</strong> (for First-time Buyers)
        <br> Breast cancer survivors love NeuEve!
        <br> (1 month supply of Silk + ½ month supply of Silver)
        <br>11 suppositories total
      </div>
      <meta itemprop="category" content="Health & Beauty > Personal Care > Feminine Sanitary Supplies > Feminine Deodorant"/>
      <meta itemprop="description" content="Natural suppository for fighting odor, dryness, dyspareunia, and bacterial vaginosis (BV). Gynecologist-tested."/>

        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span itemprop="price">$49.95</span>
          <meta itemprop="priceCurrency" content="USD"/>
        </span>
      <br>

      <div class="formbutton">
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="SGVU3EEST93EW">
          <%= submit_tag 'Add to Cart',
                  :class => 'btn btn-large btn-warning add-to-cart',
                  :id    => 'breast-cancer-kit',
                  :name  => 'submit' %>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>
  </td>
</tr>

<tr>
  <th colspan="4" class="breast_cancer" style="background-color: hotpink">
    Special Offer for Breast Cancer Survivors
  </th>
</tr>

<tr>
  <td colspan="4">
    <div align="center">
      <%= image_tag("http://i.imgur.com/N4n6UyF.png", :size => "300x300", :class => "applicator") %>
      <br>

      We offer a 100% customer satisfaction guarantee on all of our products.
      <br>
      We are so confident our products will make a noticeable difference in your wellness that if any product
      <br>
      does not meet your highest expectations, return the product within 30 days for a full credit or exchange.
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIG1QYJKoZIhvcNAQcEoIIGxjCCBsICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCNQO19e7zmuCo3HnXXWJA5JVqigmiwdLTAf7NTDGxHean0xO0aAB+aRUZLySr74Aboij9+eyfyMYrGchLRNn46sS+qUdLqIZjHeGOkjZ/9Wy1tLUm8jdbpyF7xwRafRL+QCsw43RD7/CGmp6DV38m3GuweE9WkhC+KPAz8E+1poDELMAkGBSsOAwIaBQAwUwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAjD5FE/JprhLYAwijyzIAUj7bvH2yqeTnC7Y2tbGxgrRAC8wg/obPOD9E5lTMpWT6lpaEkasbjA2TV7oIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTQwNDA2MTY0MjE2WjAjBgkqhkiG9w0BCQQxFgQUcA4WEKohTDQDLhYo0noKzOsJLo4wDQYJKoZIhvcNAQEBBQAEgYAq2tAYAimkXzzmVHa+lxuzo4LBSwoD8Xx+x0OtgZJBv1dYfr76Bco/H58PJSH1vaMCviT9c5q+gQOpxZz6M+XmypPsFtH2jV5eKE/WU1YADwld96YvS9r+fVLptBVYGYTIeI1lDiSV6PJM/JIBfa7EVLeK6aWa0nkmi5ThXbEmoA==-----END PKCS7-----
">
        <%= submit_tag 'View Your Shopping Cart', :class => 'btn btn-large btn-info view-cart', :name => 'submit' %>
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </td>
</tr>
</table>


<br>

<br>

<em>
  Disclaimer: The statements and products referred to throughout this site have not been evaluated by the FDA. They are
  not intended to diagnose, treat, cure or prevent any disease.
</em>
<br><br>

<div>
    <em>NeuEve has never been tested on animals, and does not contain any animal products.</em><br>
</div>
<div align="center">
    <%= image_tag("http://i.imgur.com/xzAb4mA.png", :size => "160x160", :class => "seal") %>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <%= image_tag("http://i.imgur.com/DioMTQHl.gif", :size => "160x160", :class => "seal") %>
</div>

