<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css", :media => "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Serif",
          "http://fonts.googleapis.com/css?family=Droid+Sans",
          "http://fonts.googleapis.com/css?family=Quintessential" %>
  <%= javascript_include_tag "application", :async => true %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", :async => true %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shim" %>
  <%= render "layouts/googleanalytics" %>
</head>
<body>
<div class="container">
  <%= render "layouts/header" %>
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
  <%= render "layouts/order_now" if !yield(:title).include? 'rder' %>
  <%= render "layouts/footer" %>
</div>
<%= render "layouts/remarketingtag" %>
</body>

</html>
