<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render "layouts/googleanalytics" %>
    <%= javascript_include_tag "jquery.js" %>
    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Droid+Serif",
                            "https://fonts.googleapis.com/css?family=Droid+Sans",
                            "https://fonts.googleapis.com/css?family=Quintessential" %>
    <%= javascript_include_tag "application", :async => true %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", :async => true %>
    <%= javascript_include_tag "fontawesome-all.js", :async => true %>
    <!--<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>

    <%= render "layouts/shim" %>
    <%= render "layouts/googletag" %>
    <%= render "layouts/bingconversions" %>
    <%= render "layouts/facebookpixel" %>
    <%= render "layouts/favicon" %>
    <%= render "layouts/tidiochat" %>
    <!-- Pinterest Domain Verification -->
    <meta name="p:domain_verify" content="fbd4f0ba8a75ae5ad8a92473521f80dd"/>
    <%= tag(:link, rel: 'manifest', href: asset_path('pwa_manifest.json')) %>
    <meta name=viewport content="width=device-width, initial-scale=1"/>
    <meta name="description" content="<%= full_description(yield(:description)) %>">
    <%= canonical_tag -%>
    <!--<meta name="description" content="NeuEve Suppositories and Cream are a natural remedy for vaginal dryness, atrophy, odor, itching, burning, painful sex and other discomforts of menopause. NeuEve is hormone-free and estrogen-free, and works by restoring and re-balancing your vaginal ecology.">-->
</head>
<body>
<div class="container-fluid">
  <%= render "layouts/header" %>
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
  <%= render "layouts/order_now" if (!yield(:title).include?('rder') &&
          !yield(:title).include?('Bacterial Vaginosis') &&
          !yield(:title).include?('Vaginal Odor') &&
          !yield(:title).include?('BV') &&
          !yield(:title).include?('Scholarship')) %>

    <p>
        Last modified: <%= yield(:last_modified) %>
    </p>
  <%= render "layouts/footer" %>
</div>
<%= render "layouts/remarketingtag" %>
<%= render "layouts/refersion" %>
</body>

<%= render "layouts/googleanalyticspageview" %>
</html>
